[2015-03-17 18:52] GianlucaGuarini commented on #513
Related to https://github.com/muut/riotjs/issues/339

[2015-03-17 19:21] GianlucaGuarini commented on #509
[This commit](https://github.com/muut/riotjs/commit/82c40c3b491b73db30e13efacb78d1b0614347c5) broke the riot each and it's the cause also of these other issues:

https://github.com/muut/riotjs/issues/513
https://github.com/muut/riotjs/issues/511

I will write some tests to avoid this issue in the future. Two are the solutions at moment:
- @tipiirai reverts back each.js making as soon as possible a

[2015-03-17 21:25] GianlucaGuarini commented on #509
I have created the tests to check and solve the #339 #513 #511 #509 issues. Now of course our unit test fails because riotjs 2.0.13 is broken
@tipiirai @aurri @baer could you please have a look at it?

[2015-03-18 07:14] nns2009 commented on #513
Seems that controls added before loop are rendered at proper locations.
But for some reason after each two loop iterations next control from the below renders.
http://jsfiddle.net/qLase5nx/6/

[2015-03-18 07:38] nns2009 opened #514 "Static checking / error alerts needed"
Let's say we have: http://jsfiddle.net/mp43dcc5/
Why isn't 'Control 2' appear?
In real applications it might take much more time to figure it out.

There definetly needs to be 'compile time checking' so you cannot run application having just one such an error (like in C#, Java 'compilation') and of course you are notified about an error occurred.
(At least this is the best behaviour for the 'devel

[2015-03-18 07:56] nns2009 opened #515 "Stop parameters and tags name from lowercasing"
Why can't I have parameters and tags names with uppercase letters?
[code]
http://jsfiddle.net/nns2009/bejgtk83/1/

In such a case the properly named parameter (opts.longParamName) is ignored while the lowercased one (opts.longparamname) is rendered. After lowercasization longparametername became much less readable.

Tags that have at least one uppercase letter aren't rendered at all: http://jsfidd

[2015-03-18 09:57] blissland opened #516 "Function.prototype.bind() not supported"
The javascript fn.bind() method, which is used extensively in riot, is not supported on some older browsers. Specifically I had my application fail on the iphone 4 and an old macbook both using safari v5.
The fix is to include the polyfill described on this page:

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/bind

Once the polyfill was included my appli

[2015-03-18 14:45] clocklear commented on #427
Any further progress on this?  I have a few components I'd like to share with the world. :smile:

[2015-03-19 00:23] uchoaaa commented on #462
I have to be honest with you @tipiirai, is a bit frustrating after dedicated a considerable part of my time to learn and support a new technology and in some shiny day - *puff* - it's gone!
I definitely can understand the reasons to the upgrade it and stop the version 1 development, but keep a documentation link alive wont hurt. ;)

What If I upgrade to 2.0 and after some time you guys decide to u

[2015-03-19 12:07] fabricionaweb commented on #501
+1
Documentation for Route is so poor

[2015-03-19 15:00] emehrkay opened #518 "Update riot.mount documentation"
When you mount a single element an instance of the tag is returned. If not a collection (array) of tags are returned. The documentation doesn't say this and I feel that it is an important and useful distinction.

    //mounting a single element
    var instance = riot.mount(document.querySelector('.log'));
    //mounting many
    var all = riot.mount('log');

Thanks

[2015-03-19 15:04] emehrkay opened #519 "riot.mount is broken when using document.querySelectorAll"
The check in mount method only assumes that you're either passing in a single selection via `document.querySelector` or an actual selector (that is later passed into document.querySelectorAll). This can probably be fixed by checking if the selector is a nodeList before passing it through to the push function.

[2015-03-19 17:52] GianlucaGuarini commented on #516
You should provide a HTML5 shim to let riot work on IE8 check how we do it in our tests https://github.com/muut/riotjs/blob/master/test/runner.html#L8-L9

[2015-03-19 19:13] blissland commented on #516
Fair enough - will do this.

[2015-03-19 19:13] #516 closed

[2015-03-19 21:19] andynemzek commented on #511
Same bug here.  When adding and removing elements from an array, the 'each' that's rendering the array appears to not clean up the old dom entries correctly.

[2015-03-20 07:01] vhain commented on #509
I also noticed this problem and found what was the problem and created PR https://github.com/muut/riotjs/pull/522
Hope this merge soon.

[2015-03-20 11:19] GianlucaGuarini commented on #509
this issue got solved by @vhain here there is example using the fixed riot release https://jsfiddle.net/gianlucaguarini/w8e08txz/embedded/result/

[2015-03-20 11:19] #509 closed

[2015-03-20 11:42] GianlucaGuarini commented on #480
This issue got fixed again by the following pull request https://github.com/muut/riotjs/pull/523

[2015-03-20 11:42] #480 closed

[2015-03-20 15:18] cognitom commented on #514
:+1:
Yeah, agreed. We NEED a tag-file syntax checker. Actually we were talking about it, too. https://github.com/muut/riotjs/pull/487#issuecomment-78422788

I wanted to make a PR or an external stand-alone checker, but currently too busy for client works... ><
If someone has an interest, pls go ahead! :)

[2015-03-20 15:57] cognitom opened #524 "Bootstrap-like components [WIP]"
I'm on the way to rebuild [Bootstrap](http://getbootstrap.com/components/) on Riot.js.

- Demo: http://cognitom.github.io/riot-bootstrap/
- Repo: https://github.com/cognitom/riot-bootstrap

[![bootstrap-like components for riot js](https://cloud.githubusercontent.com/assets/16032/6755023/b4e02ac2-cf63-11e4-9f96-36b8b5c3584b.png)](http://cognitom.github.io/riot-bootstrap/)

## Help needed!

Already

[2015-03-21 21:53] rudinandrey opened #526 "onkeydown doesn't work"
http://jsfiddle.net/rudinandrey/6uwdyzs1/

that is code... when I press button inside input text I will have nothing to input ( but event is work, i get keyCodes . What is wrong ?

[2015-03-21 22:31] rudinandrey opened #527 "try change version of riot"
http://jsfiddle.net/rudinandrey/akLxkLtL/

this works with 2.0.9 version, but dosn't more then 2.0.10 and higher.
but if move h1 element with TAB to the right side, it's work!

http://jsfiddle.net/rudinandrey/akLxkLtL/1/  this works!

[2015-03-22 00:48] rsbondi commented on #526
`return true` after the update, not sure why,

[2015-03-22 01:57] cognitom commented on #526
@rudinandrey `.bind(this)` is needed.
http://jsfiddle.net/cognitom/j2p8vu4s/

Or ES6 method is also OK: `press (e) { ... }`
http://jsfiddle.net/cognitom/32xbcc9p/

See [Custom tag example](https://muut.com/riotjs/guide/).

[2015-03-22 03:40] seogrady opened #528 "Dynamic child tag"
Just recently tried out Riot and enjoying the minimalist approach.  One thing I couldn't see in the docs was rendering dynamic child tags.  For example...
[code]
Is this possible? If so, what would be the best approach?

[2015-03-22 04:47] xieyu33333 opened #529 "dom not in the order"
I am on version 2.0.13,  My code is:
[code]
but the dom is not in the order :

[code]

[2015-03-22 12:45] Avnerus opened #530 "Tag compilation without using .tag files"
Hi!
First of all I wanted to thank you for your work on Riot. I really like the philosophy behind it and I find it very suitable for clean and simple next generation web development.
I wanted to ask something about tag files. After reading the tutorial on http://blog.srackham.com/posts/riot-es6-webpack-apps/ I've decided to try and not use .tag files and instead use plain ES6 .js files that create

[2015-03-22 14:15] Avnerus commented on #145
+1 for server side rendering! We're looking at using Riot for a fairly large project and the lack of this feature (for indexing, facebook sharing etc.) is our main concern. Would love to know if there is a time-frame for this, and anything we can do to help.

[2015-03-22 14:18] speier commented on #145
@Avnerus see https://github.com/muut/riotjs/pull/512

[2015-03-22 14:37] Avnerus commented on #145
@speier Thanks! Looks great. Will give it a shot.

[2015-03-22 15:41] rsbondi commented on #526
@cognitom neither of those work for me, the input is always empty.

[2015-03-22 15:42] rsbondi commented on #529
this is a duplicate of #513

[2015-03-22 15:51] rsbondi commented on #528
Something like http://plnkr.co/edit/n5hLpG?p=preview ?

This stopped working in v2.0.12, see #471

So I am also interested in how to do this in  2.0.12 or if this is a valid bug that will be fixed.

[2015-03-22 15:52] GianlucaGuarini commented on #526
Please check the riot documentation https://muut.com/riotjs/guide/#event-handlers

[2015-03-22 15:52] #526 closed

[2015-03-22 16:07] cognitom commented on #526
@rsbondi sorry, you're right. I've misread the question.
I've slightly updated my jsFiddle to work fine by adding an attribute `value={ name }` to the tag. It's another solution.

But I agree that `return false` is suitable in this situation.

[2015-03-22 21:14] rudinandrey commented on #526
@GianlucaGuarini thank you. This is very useful comment for me.

[2015-03-23 02:42] seogrady commented on #528
Thanks. That's exactly what I was looking for. I've been experiencing issues with v2.0.13.  Working on v2.0.11 for now.

[2015-03-23 02:45] #528 closed

[2015-03-23 20:50] dotnetchris commented on #528
This issue probably shouldn't be closed, going down in versions isn't a valid work around.

[2015-03-23 21:31] rsbondi commented on #528
This issue is how to do it.  #471 is why you can't do in current version, it is still open and labeled as critical

[2015-03-24 08:07] tipiirai commented on #462
I didn't pay enough attention to v1.0 users.  It gained a lot of attention initially but soon realized that not too many sites were actually using that on production. I'm sorry!

Looks like it's a different thing with 2.0. I'm not planning to turn my back to such widespread production use.

[2015-03-24 08:13] tipiirai commented on #509
@vhain @GianlucaGuarini thank you for the critical work! Will make a fix release next.

[2015-03-24 08:31] tipiirai commented on #509
Was about to release a fix but [this test](https://github.com/muut/riotjs/blob/dev/test/specs/compiler-browser.js#L231) failed. Any idea?

[2015-03-24 08:34] GianlucaGuarini commented on #509
Because riot each method does not work properly It does not render the DOM elements in the right order. It must be fixed before you make a new release see also https://github.com/muut/riotjs/issues/509#issuecomment-82550823

[2015-03-24 08:39] tipiirai commented on #509
Cool. Thanks!

[2015-03-24 08:41] tipiirai commented on #509
@pakastin, do you have any time to check out this [test](https://github.com/muut/riotjs/blob/dev/test/specs/compiler-browser.js#L231)? Looped items are not correctly ordered. T

Thanks!

[2015-03-24 09:19] pakastin commented on #509
No worries, I already have a fix for it. Just have had my hands full, since we got our first child less than two weeks ago..

[2015-03-24 09:23] pakastin commented on #509
Actually just change this line:
https://github.com/muut/riotjs/blob/master/lib/tag/each.js#L128

..to splice accordingly and it should work. I can make a PR late this evening if still needed.

[2015-03-24 09:24] pakastin commented on #509
Will do.

[2015-03-24 09:25] tipiirai commented on #509
Awesome! Thank you so much.

[2015-03-24 09:50] pakastin commented on #509
It's here:
https://github.com/muut/riotjs/pull/533

[2015-03-24 14:39] dotnetchris commented on #528
Got it, it wasn't clear that this effectively duplicates 471 not merely being related.

[2015-03-24 14:57] eyy opened #534 "Two bugs: dynamic named elements, and strange compilation error"
I wanted to report a bug related to named elements and loops, but then the example i've put on fiddle didn't work for a very different reason: http://jsfiddle.net/1sk25a1v/2/
`Uncaught SyntaxError: Unexpected token ;` happens because this
[code]
is being compiled into this:
[code]
I think the original bug is pretty obvious from the code.

[2015-03-24 22:11] AndreasHeintze commented on #145
How stable is this? Will this be included into the official Riot.js anytime soon?

[2015-03-25 02:07] raymondbutcher opened #535 "Rendering issue with nested tags for table rows"
I want to have `tr` elements handled with a custom tag, but am having issues with rendering. It seems like it is having the same DOM issues that #168 did.

This demonstrates the problem: https://jsfiddle.net/4z6eqwxh/6/

[2015-03-25 04:40] emehrkay opened #536 "Mixins. This could be an easy thing to implement"
I was playing around with the idea of having mixins with the tags because I found myself need that kind of functionality. I took a look at the compiler and it would only take a few changes to make it happen.

In the compiler we simply return this in the mktag function

[code]

[2015-03-25 07:11] GianlucaGuarini commented on #536
You have access ti the window properties inside your tags so you can just use it to share your mixins accross several views
[code]

[2015-03-25 07:25] speier commented on #145
@AndreasHeintze well, the implementation is using [simple-dom](https://github.com/krisselden/simple-dom) which is a lightweight DOM implementation created for Ember's new [FastBoot](http://emberjs.com/blog/2015/01/08/inside-fastboot-faking-the-dom-in-node.html) feature, so basically we are relying on one of their core module, which is pretty stable and will be maintained and improeved in the futur

[2015-03-25 10:35] emehrkay commented on #536
That doesn't solve the problem. In my example the mixin's members becomes members of the Tag instance.

I modified the source and put it up as an example. If you click "second mixin" you'll see that it has access to the tag's methods. Those methods are also passed around with the tag instance, whereas the global ones are not.

http://jsfiddle.net/8tqfn0rn/

[2015-03-25 13:43] ThatGuyFromFinland commented on #427
I am building crud-forms component for RiotJS, my current stack works like this:
-I have Apigility back-end (REST API), which generates documentation of the API and has annotations about the properties...
-... of which I parse JSON Schema and other metadata
-... which I consume to create the tables (read) and the forms (create, update)

In a sense I would have fully declarative method for generati

[2015-03-25 14:35] emehrkay commented on #535
There are two issues here:

* If you look at the resulting markup, it looks like the problem stems from not replacing the <custom-row></custom-row> block with what you defined in it (a <tr>).
* And it is placing the <custom-row> definitions out of order (this seems to be an issue with the latest release and may have been fixed by now).

A possible solution to the first problem would be for the lib

[2015-03-25 17:34] mneil commented on #513
This bug also produces a white-space character after the first element http://jsfiddle.net/x17yvdmx/. If the last element ( "z" in the example ) is removed then the white-space disappears.

[2015-03-25 18:09] GianlucaGuarini commented on #535
It got fixed with the new riot version in the dev branch https://jsfiddle.net/djbv1a2d/2/

[2015-03-25 18:19] jgaerke commented on #475
The commit for this (ca3a33a19ecba592db6b7dbf17d5daa02113e71e) seems to break the nested &lt;inner-html&gt; capability described on the riot tag overview page. I can't "transclude" dom content any more unless I comment out the dom.innerHTML = '' change that was done in parseNamedElements

[2015-03-25 18:52] enteropositivo opened #538 "Easy to use Riot Table component"
I've developed an easy to use riot.js table component.

Please se the examples
(in the readme.md ,  soon i'll upload functional examples with sources)

https://github.com/enteropositivo/riotable

[2015-03-25 20:21] GianlucaGuarini opened #539 "the unmount event does not get triggered on the children tags"
When we trigger the unmount event on a parent tag this event does not propagate to all its children. Please check how the tick event https://github.com/muut/riotjs/blob/dev/test/tag/timer.tag#L8 is still logged in our tests even if the timers get removed from the DOM

[2015-03-25 21:46] #539 closed

[2015-03-25 22:09] dotnetchris commented on #145
If you need to take a dependency on simple-dom or any other library i would hope you can keep it out of riot core and have a riot.serverside or whatever

[2015-03-25 23:36] raymondbutcher commented on #535
Thank link is still incorrectly rendering the nested `tr` elements outside of the table. So it seems only half fixed to me.

[2015-03-25 23:57] pakastin commented on #484
I also updated my little framework:
http://pakastin.github.io/frzr

[2015-03-26 00:30] pakastin commented on #484
I also updated ```frzr``` even faster:
http://pakastin.github.io/frzr/

[2015-03-26 02:47] emehrkay commented on #536
Here is a better example:

http://jsfiddle.net/8tqfn0rn/4/

[2015-03-26 06:52] paldepind commented on #484
http://pakastin.github.io/frzr/

Nice :)

I've tested in both Firefox and Chrome though, and for reversing yours is several times slower than the demo I linked above. I took a brief look at your code, and it looks like you're not taking the parent offline?

[2015-03-26 07:20] GianlucaGuarini commented on #535
I think the main problem is that you cannot include custom tags inside a table, it's not valid markup. These is the list of tags allowed in a table element according to the html5 specs https://html.spec.whatwg.org/multipage/tables.html#the-table-element:concept-element-content-model

[2015-03-26 09:06] speier commented on #145
@dotnetchris it's only extending riot in node/io.js, not affecting the browser builds

[2015-03-26 10:16] pakastin commented on #484
I wanted a one good all-around method and decided to leave that out, because I think that's fast enough without. And it's hard to know when it's faster to take offline and when to keep on dom. Could add that back later if necessary.

One thing I noticed is that unshifting / removing can also be quite slow if not done properly (might trigger lots of reorderings). That's the main issue I worked on.

[2015-03-26 10:26] pakastin commented on #484
Another thing to notice is that frzr works in Safari as well. Even in iPhone 6 I get under 300ms reversing which I think is quite good. Flyview throws errors in Safari..

[2015-03-26 10:57] GianlucaGuarini commented on #484
I will try to get a better rock solid unit test on the riot each rendering and as soon as this will be completed we could work also on this in order to avoid to break the existing features

[2015-03-26 11:16] eyy commented on #538
Nice idea. You should probably upload the code, though.
I think a simple `data` attribute, which is updated using the normal riot flow, is better than a function returning the data. Something like this:
[code]
and some `this.on('update', function() {})` within the rtable code.

[2015-03-26 11:19] eyy commented on #536
What about `Object.assign(this, mixin, mixin)`?

[2015-03-26 12:38] enteropositivo commented on #538
Yes,  i am a bussy  but i'll try to upload code and samples this week.

Perhaps i didn't make a clear example of that.
That code is **NOT** inside the rtable.tag,  that code is directly inside the user HTML page,  so your suggestion won't work with my idea.

Take a look, i've prepared a full code for you:

[code]

hope this code help you understand better my  idea ;)

[2015-03-26 12:51] enteropositivo commented on #535
I have solved a similar problem, take a look at  #538

Soon i'll upload samples and sources (i'm a bit bussy)

[2015-03-26 13:37] gut4 opened #540 "60fps large lists scrolling"
In polymer there is a core-list component ( https://www.polymer-project.org/0.5/docs/elements/core-list.html ) which can render only small subset of actual template elements (enough to fill the viewport) and reuse them as the user scrolls. In result there is 60fps large lists scrolling.

Is it possible to make something like this with riot? (render small subset of tags to fill viewport & reuse the

[2015-03-26 14:17] eyy commented on #515
It seems that attributes are lowercased by the browser, and it's part of the spec.
You can use dash-separated attributes: `<p>{ opts['long-param-name'] }</p>`, or maybe camelize them on update:
[code]
[code]

[2015-03-26 14:34] jenmontes commented on #334
I'm also getting bitten by `if` life cycle issues, and I boiled it down to a much simpler example:

[code]
http://jsfiddle.net/jov9zyeL/

Despite the fact that the `if` statement is `false`, `alertOnExecute()` always runs. I can work around it, but it *feels* wrong.

[2015-03-26 15:06] luffs opened #541 "Suggestion: Make .trigger() available on domNodes of custom tags by default"
I wanted to call a method defined in a custom tag, from its parent.

I think a neat way to achieve this is to make the tags .trigger() function available on its domNode with ```this.root.trigger = this.trigger;```

Then you can call methods of children with ```this.tags.child.trigger('some-event', 'optional')```

An example of how you can do it currently:

[code]

If there isn't already a better w

[2015-03-26 17:54] pakastin commented on #484
@paldepind Somehow I'm getting worse results dropping parent offline. I think results depend also on which DOM elements used. I'm using ```<p>``` because ```<li>``` is, for whatever reason, slower in Safari. Also I have event listeners bound in every item – maybe should propagate events. Let's see.

[2015-03-26 18:08] emehrkay commented on #541
I bet you can do this without trigger. If you were to inspect your tag instances,  you'd see that the methods and members that you define in the <script> section are public. So from your parent tag's submit method you simply call

[code]

[2015-03-26 18:16] emehrkay commented on #536
Object.assign isnt widely supported, you'd need a shim. Whereas what I did to Tag.mount is clone the mixin and add its members to the Tag instance.

Your second approach would require a lot from the developer. Im not saying that is a bad thing, but Riot is simple, which is what I love about it, but your approach has given me an idea. What if the tag simply supplies a mixin method that takes an arr

[2015-03-26 19:16] enteropositivo commented on #538
@muut @eyy  I've just  updated my [repository](https://github.com/enteropositivo/riotable) with a working [demo](http://enteropositivo.github.io/riotable/demo/)

[2015-03-26 20:01] pakastin commented on #484
Mine is slower i.e. because of reverse iteration, pushes etc..:
https://gamealchemist.wordpress.com/2013/05/01/lets-get-those-javascript-arrays-to-work-fast/

..there's a lot of interesting optimizations. Doesn't matter that much when dealing with small arrays, but boy they add up when you have 10 000 items.

Really interesting stuff.

[2015-03-27 08:53] ariesjia opened #543 "each compile error"
i use coffee to write tag file .
[code]
is ok ,

[code]
it will compile  error  : Warning: unexpected , Used --force, continuing.

[2015-03-27 09:25] SneakyBobito opened #544 "issue with update and each when replacing the array"
Actually I have a list of items (an array) in the tag : ``this.items = []``

I also have a list of items :

``<li each={ item in this.items }><a href="{ item.url }">{ item.name }</a></li>``

When I add items to the array and update, everything is ok. The html list is the same as the array.

Now when I empty the array, or replace already existing items, then the list doesnt represent the array anym

[2015-03-27 09:35] mulhoon commented on #544
Woah, I was just about to post the same issue.
Here's my fiddle anyway... https://jsfiddle.net/3e7opL81/
As you can see, I reverse the array after 1.5sec and strange things start to happen.

[2015-03-27 10:52] SneakyBobito commented on #544
Actually it looks like the team is already aware of that : #339 #511

[2015-03-27 12:20] gsouf opened #545 "Cant mount a tag to a container if it was not unmounted"
Mounting a tag in a container makes the property ``root.riot`` set to ``true``.

This line : http://git.io/jWuJ makes that we cant mount a tag to a container if there is already a mounted tag inside because the mount method checked here : http://git.io/jWuh doesnt exist on the instancied tag (and in my opinion this is a **very** bad practice, but it's another story).

I can understand that it is t

[2015-03-27 12:22] #544 closed

[2015-03-27 12:28] GianlucaGuarini commented on #544
yeah right tnx

[2015-03-27 12:51] luffs commented on #541
Aaah, noticed now that ```this.child``` refers to the child's domNode, but ```this.tags.child``` refers to the Riot tag! So:
[code]
Thanks for leading me in the right direction. Closing this issue.

[2015-03-27 12:51] #541 closed

[2015-03-27 13:18] paldepind commented on #484
@pakastin, I see no reason why my library shouldn't work in Safari. I'll see what my options are with regards to debugging in Safari on Linux.

I find it odd that you're getting worse results when taking the parent offline. I consistently got better performance with that approach. Which makes sense to me.

The indexOf does a linear search so its performance grows proportional to the length of the

[2015-03-27 13:44] SneakyBobito commented on #295
An other clue to get rid of custom root elements :

Each mounted tag would be identified by an internal Id that would be globally auto incremented. We could use html tag attributes to identify them :

[code]

Could become

[code]

We could also use the autoincrement for each tagname :

[code]

[2015-03-28 11:16] pakastin commented on #484
@paldepind My first quess was right: it depends on the wanted DOM structure – check out:
http://pakastin.github.io/frzr/test3.html – with ```<li>```
http://pakastin.github.io/frzr/test2.html – with ```<li>``` and ```<a>Remove</a>```
http://pakastin.github.io/frzr/test.html – with ```<p>``` and ```<a>Remove</a>```

Small changes but a huge difference in DOM rendering speed..

[2015-03-28 11:28] pakastin commented on #540
Everything is possible. Adding the feature to the core of Riot – I don't think so. Maybe someone will write a plugin..

[2015-03-28 13:56] prateekbh opened #547 "how to get index in each loop?"
&lt;hp-cardlist&gt;
    &lt;hp-card each={card in cards}&gt;
        &lt;div class=&quot;author&quot;&gt;
            {card.author} -{i need index here}
        &lt;/div&gt;
    &lt;/hp-card&gt;
    &lt;script&gt;
        this.cards=[{author: &quot;Prateek&quot;},{author: &quot;Prateek1&quot;},{author: &quot;Prateek2&quot;}];
    &lt;/script&gt;
&lt;/hp-cardlist&gt;

[2015-03-28 16:09] timuric commented on #145
Riot + virtualdom would be a great thing!

[2015-03-28 16:18] GianlucaGuarini commented on #547
https://muut.com/riotjs/guide/#non-object-arrays
reading the doc could be a good hint!

[2015-03-28 16:18] #547 closed

[2015-03-28 16:32] guilhermeaiolfi commented on #540
This component is great. One of the best I've seem.I wish that it would be available directly in the browser. I remember chrome was trying to create something like that. But we are far away from using it without the need of frameworks. So, a plugin would be nice.

[2015-03-28 16:57] GianlucaGuarini commented on #145
@timuric riot uses already virtualdom https://github.com/muut/riotjs#custom-tags--concise-syntax--virtual-dom--full-stack--ie8

[2015-03-28 17:09] pakastin commented on #540
One possibility would be positioning all the elements absolutely and show/hide the ones that are visible in the viewport or not. Could speed things up quite a bit,

[2015-03-28 17:13] GianlucaGuarini opened #548 "Each loop does not render the DOM children in the right order if one or more items have the same html"
If in a each loop a child item has exactly the same html of another one present in the same list the DOM does not get updated correctly

[2015-03-28 17:17] GianlucaGuarini commented on #548
@pakastin could you check this bug please? It seems to be related to what you've done in each.js

[2015-03-28 17:24] GianlucaGuarini opened #549 "the unmount event does not remove the tags from the DOM"
According to the doc the [unmount](https://muut.com/riotjs/api/#tag-unmount) method should remove the custom tags from the DOM but at moment it does not

[2015-03-28 17:35] timuric commented on #145
@GianlucaGuarini According to this "String based vs DOM based" https://muut.com/riotjs/compare.html templates rather similar to reactive templating (such as Blaze) than vdom. Virtual dom would give you ability to render server side templates, as well making more more flexible templates structures.

[2015-03-28 17:36] devmondo opened #550 "html5 push state without hash-tag ?"
this is like mind blowing library :)
i have noticed in all example the use of hash-tag, is it possible to avoid that and user html 5 push state standard Url like instead of
mysite.com/#users/10
do this
mysite.com/users/10?

thanks in advanced.

[2015-03-28 17:43] GianlucaGuarini commented on #550
duplicate https://github.com/muut/riotjs/issues/376

[2015-03-28 17:43] #550 closed

[2015-03-28 17:46] devmondo opened #552 "can i separate js and css in different files"
hi, sorry for fast questions, but i am trying to really get into this,

i have noticed that all samples put js and css in same file, i am writing in ES6 and i am maybe old school, so i want to put my js and css in separate files, another reason for that is that also IDEs like webstorm loose syntax highlighting and autocomplete.

thanks in advanced.

[2015-03-28 17:46] GianlucaGuarini commented on #145
I am not sure adding a dependency to riotjs would be a good idea. @tipiirai what do you think?

[2015-03-28 18:03] timuric commented on #145
@GianlucaGuarini Btw virtual dom is used by many frameworks https://github.com/Matt-Esch/virtual-dom/wiki
It is very minimal and modular. Basically collection of 3 pure functions – vtree, diff and patch. You can easily swap any of those.
Also it much faster than React http://vdom-benchmark.github.io/vdom-benchmark/ and as community grows around it there is a chance that it would be leading in perf

[2015-03-28 18:50] lalop commented on #552
Hello,
I think you can do that by using that https://muut.com/riotjs/api/#tag but you have to load css and js manually.

[2015-03-28 18:55] GianlucaGuarini commented on #145
@timuric Would you like to try making a pull request? Maybe I could check it out and see if it's worth it. Currently I am still fixing some other core bugs and I have no time for fancy requests :smile_cat:

[2015-03-28 18:56] GianlucaGuarini commented on #552
Yes you can please check https://github.com/muut/riotjs/issues/452

[2015-03-28 18:56] #552 closed

[2015-03-28 19:15] txchen commented on #524
This is cool! I hope the issue can be fixed then we can implement other UI library/control like this.

[2015-03-28 19:23] devmondo commented on #552
thanks, but what if i am not using requirejs AMD?
i am gonna use browserify or jspm and systemjs

[2015-03-28 20:05] GianlucaGuarini commented on #552
It's the same thing:
[code]

[2015-03-29 06:09] devmondo commented on #552
thank you

[2015-03-29 10:53] timuric commented on #145
@GianlucaGuarini I can replace Riot's with VD however it would not be useful enough, since it would be necessary to rewrite template compiler to keep familiar syntax. However I can create a speed benchmark to compare the two :)

[2015-03-29 15:25] GianlucaGuarini commented on #145
@timuric ok 4 the benchmark!

[2015-03-29 22:13] rsbondi commented on #471
It broke [here](https://github.com/muut/riotjs/commit/450ba67cbf87098847625fb16dc20221a7eff37e#diff-2646b47d015886b169436b5fd36c9720R15).

so this hack works with the latest release:

[code]

I am not sure I like this hack and would like to see this fixed, in #437, @tipiirai mentions that he does not like the use of the `root.riot` so I expect at some point my hack will cease to function

[2015-03-30 12:29] yckart commented on #548
Same here...

2.0.12 http://fiddle.jshell.net/4pxLunuh/
2.0.13 http://fiddle.jshell.net/4pxLunuh/1/

[2015-03-30 12:40] lanwin commented on #300
It seems that the current inner-html approaches stopped working with 2.0.10 when there is markup used inside.

2.0.10. http://jsfiddle.net/kreynfcc/ - works
2.0.11 http://jsfiddle.net/ag683bjg/ - broken
2.0.13 http://jsfiddle.net/cqL7y6yj/ - nothing is rendered

[2015-03-30 14:13] pakastin commented on #548
I already fixed this, but there was an older version pulled, here the final fix again:
https://github.com/muut/riotjs/pull/553

[2015-03-30 14:34] GianlucaGuarini commented on #548
Thanks @pakastin your previous fix was not really working so I had to revert it back. I am going to test it and hopefully close this issue

[2015-03-30 14:43] pakastin commented on #548
I'm pretty sure it was identical to this – maybe something else have changed since?

[2015-03-30 17:05] GianlucaGuarini commented on #548
@pakastin awesome! precious as always ;)

[2015-03-30 17:05] #548 closed

[2015-03-30 17:32] #549 closed

[2015-03-30 18:01] GianlucaGuarini commented on #540
I also do not think this will ever be part of the riot core. I will close this issue for now

[2015-03-30 18:01] #540 closed

[2015-03-30 18:02] GianlucaGuarini commented on #535
Please use this riotjs plugin https://github.com/enteropositivo/riotable instead

[2015-03-30 18:02] #535 closed

[2015-03-30 22:04] raymondbutcher commented on #535
I will look into it. Thanks!

[2015-03-31 08:29] paldepind commented on #484
@pakastin Interesting. I'll have to take a closer look at that. What is your current conclusion. Is taking the parent offline generally worth it? To me it still seems to bring significant performance improvements, at least in some cases.

[2015-03-31 10:14] pakastin commented on #484
It does seem to improve performance when reordering/removing high number of items - I'm not that sure about adding, if made with documentFragment.

[2015-03-31 16:27] warnerandy commented on #513
I just dug into this. kinda a big problem with the each attribute. it can only add to the "end" as things stand AND its relying on the blank text node to keep its position. Honestly there needs to be a bit more brains behind the each code when deciding where things go.

[2015-03-31 19:16] GianlucaGuarini commented on #513
@warnerandy It's fixed in the current `dev` branch hopefully @tipiirai will make a new release soon

[2015-03-31 19:29] warnerandy commented on #513
yea just saw that, thanks for the correction

[2015-03-31 19:29] warnerandy commented on #513
@GianlucaGuarini question: why is root.childNodes being used over root.children

[2015-03-31 20:58] GianlucaGuarini commented on #513
childNodes is a bit faster http://jsperf.com/children-vs-childnodes

[2015-04-01 06:23] GianlucaGuarini commented on #513
This issue got fixed http://jsfiddle.net/gianlucaguarini/6jnts1j5/

[2015-04-01 06:23] #513 closed

[2015-04-01 09:23] devmondo opened #555 "How to create Filters like Angularsjs"
how can we do this in Riot?
https://docs.angularjs.org/tutorial/step_09

thanks in advanced.

[2015-04-01 09:26] devmondo opened #556 "Suggestion: having a gitter channel"
hi,
some of the javascript  libraries i use have gitter channel, and i saw a great benefit of it as it allowed the community to share experience, have input, bug fixing, etc...

it would be really great for Riotjs to have a gitter channel to engage community and help to increase the adaption and improvement of the library.

thanks in Advanced.

[2015-04-01 09:54] tipiirai commented on #145
I don't clearly see the benefits of using Matt-Esch virtual dom implementation. I poked around it before I started with Riot 2.0 and it seemed overly complex. Riot does not need "full" diff / patch operations.

The performance bottlenecks are being worked on.

... unless you can prove us all wrong

[2015-04-01 10:01] tipiirai commented on #427
Awesome!

[2015-04-01 10:06] cognitom commented on #556
hi,
duplicate of #394 ?

there's a chat room already on muut's own service.
https://muut.com/riotjs/forum/

[2015-04-01 10:11] tipiirai commented on #513
@GianlucaGuarini I still get errors on `make test` command:

[code]

[2015-04-01 10:52] devmondo commented on #556
Riot forums a re cool, but is really different from gitter, with gitter you have better realtime form discussion, you can link github issues, gists, plus the whole experience is different, i hope i am not pushing it, but again i really think gitter is the ultimate choice for now a days developers communication.

[2015-04-01 11:02] sgnatonski opened #557 "riotjs (v2.0.13) does not work under IE8"
I was trying to run [example](http://muut.github.io/riotjs/demo/) in Internet Explorer 8 only to find that it fails with error:

**Array.prototype.slice - 'this' is not a Javascript object**

that leads to line 469 in riot+compiler.js:

var nodes = [].slice.call(root.childNodes),
        prev_index = nodes.indexOf(prev)

This error exists only under IE 8

[2015-04-01 11:42] GianlucaGuarini commented on #513
@tipiirai probably you forgot to compile riot again. Try `make riot` instead

[2015-04-01 14:34] cognitom commented on #555
:+1: How nice if we can use `filter` in Riot.js. I think it would be related to the upcoming plugin system #416 .

At this moment, we have some workaround.

#### 1. Just a function

The most simple way. In some cases, it would be enough.

[code]
[code]

#### 2. With coffee

Little bit nicer in the bracket. (but not perfect)

[code]

#### 3. Replace it before compilation

Far from perfect, but it w

[2015-04-01 14:59] devmondo commented on #555
thanks a lot for the great reply, but i have some extra questions,
- how will order handled with this if you update the model, in other words the way it should work is that filter should not kick until the model update is done.
-i know that you guys are against two way data binding, but i really think you should reconsider as object.observe is the future and no performance issues will happen, also

[2015-04-01 15:13] timuric commented on #145
@tipiirai Is it possible to conditionally render parts of the html? Let say we have two div blocks and one of them conditionally appears in the final DOM tree?

[2015-04-01 18:04] devmondo opened #559 "using class style of coding instead of "this" when using es6"
is there a way to use the standard way of writing ES6 , so instead of this,

[code]

i would want to write it

[code]

[2015-04-01 22:38] jenmontes commented on #511
Chiming in with a 'me too!' so I can keep an eye on this.

[2015-04-01 22:46] magwo opened #560 "Subtle observable bug when using same function for on and one"
Hi,

I'm trying to make a faster and more memory efficient version of the observable, to be more suitable for games at high framerate. And I stumbled upon a bug.

https://github.com/magwo/unobservable/blob/master/test/tests.js#L136

Basically it happens when you use the same function object for on() and one(), with more than one call on the on() case.
The "one" propery will be set on the function

[2015-04-02 02:40] rsbondi commented on #560
in observable.js

[code]

would like feedback on this solution, not sure if I am missing something

see [plunk](http://plnkr.co/edit/noehxh?p=preview)

[2015-04-02 06:11] GianlucaGuarini commented on #559
Your code is not even valid es6. Please do not pollute our issues with invalid requests thanks

[2015-04-02 06:11] #559 closed

[2015-04-02 06:14] GianlucaGuarini commented on #560
This looks like a bug but it's also an edge case.. I will mark it as critical anyway

[2015-04-02 06:16] GianlucaGuarini commented on #511
It got solved. You will not see it anymore in the next riot release

[2015-04-02 08:10] magwo commented on #560
@rsbondi I don't think that will work. That will cause another bug - giving "one" behavior for all handlers of a give event name. I think.

[2015-04-02 11:43] rsbondi commented on #560
@magwo I have confirmed that you are correct

[2015-04-02 11:52] rsbondi commented on #560
How about now: http://plnkr.co/edit/0FjGwb?p=preview

added check for both `if (fn) fn.one =callbacks[name].one = 1`

and `if (fns.one && fn.one) { fns.splice(i, 1); i-- }`

[2015-04-02 11:58] GianlucaGuarini commented on #560
@rsbondi what about making a pull request and a small test?

[2015-04-02 12:02] hiscodeness commented on #210
+1

Looking at
https://github.com/muut/riotjs/blob/c72718075c19963f60d3b465b962579ab7f66793/lib/tag/parse.js#L12

Shouldn't that line
`var tag = new Tag(child, { root: dom, parent: parent })`
read
`var tag = new Tag(child, { root: dom, parent: parent, opts: parent.opts })`?

[2015-04-02 12:12] GianlucaGuarini commented on #210
@hiscodeness Technically it's possible like you suggest the question is more do we want implement this? cc @tipiirai

[2015-04-02 12:21] hiscodeness commented on #210
Looking at this example, I thought opts in nested tags were supposed to have identical content to the parent's opts:
https://muut.com/riotjs/guide/#nested-tags

I'm not using tag files but using riot.tag(...) manually, maybe that makes it somehow different? Also, I haven't played with Riot enough to really assess the implications of adding or not adding the parent opts the the call. Up to you, of

[2015-04-02 13:22] magwo commented on #560
@rsbondi Does not solve the problem completely.
You can still cause bugs when if you do for example:

handler1, handler2 = ...
o = observable({})

o.one("foo", handler1)
o.on("foo", handler2)
o.one("foo2", handler2)
o.on("foo2", handler1)

[2015-04-02 13:42] ThatGuyFromFinland commented on #427
Unfortunately the company I am working for decided to go switch for React, since the RiotJS each-feature seems to be  broken / behaves in unexpected ways (the data set provided for the each-feature does not match what gets parsed after updates).

I personally prefer the Riot development philosophy over React, so I might be contributing outside of work instead. We will build something ready and wor

[2015-04-02 16:34] jimknight commented on #291
Thanks for the plunker. I was doing this.parent.parent... knowing it was not right.

[2015-04-02 17:47] lan3jur commented on #559
Hmm,
I was wondering the same thing, and even if that person's code may not be "valid" ES6, I'm sure you're getting the point he's trying to make. But if this is the level of 'support' and the attitude around riotjs, I'm gonna find myself another framework, because I'm far from javascript-guru and these things make people who want to learn afraid to ask questions..
So byebye

[2015-04-02 20:44] GianlucaGuarini commented on #560
We got some tests.. It's a bit harder than I thought

[2015-04-02 23:49] jimknight opened #561 "Error in display of each= items when they are a child array"
It looks like I'm getting a bug in the each= property where the switching of the parent email correctly counts the tasks but displays them wrong. You can see the data in the emails.json and click the back/forward buttons to cycle.

Plunker here shows the issue
http://plnkr.co/edit/4tbzuH?p=preview

Please let me know if I'm doing something wrong. This is the only thing stopping me from going produ

[2015-04-03 00:33] rsbondi commented on #560
Always increment _id in `on`

`fn._id = _id++`

in `one`, send a clone so a unique instance with unique id gets pushed, and reference that

[code]

in `trigger` check the unique id

`if (fn.one==fn._id) { fns.splice(i, 1); i-- }`

updated: http://plnkr.co/edit/0FjGwb?p=preview

@magwo latest scenario: http://plnkr.co/edit/opVM35?p=preview

I think this will be PR worthy, just need to look at @Gian

[2015-04-03 01:40] Avnerus commented on #145
Hi,
I wrote a small attempt for an isomorphic web app using Riot. The entire app code is shared and rendered between the client and the server, including the routing code using Page.js and also SystemJS/JSPM package management. Would be happy if you can check it out here:
https://github.com/ListnPlay/riot-isomorphic/
and suggest improvements so it can be published as an official example.
Thanks!
/

[2015-04-03 03:57] turingou commented on #291
@jimknight
Another approach, mounting tags by manual:

[code]

And using a eventEmitter to communicate between components

[2015-04-03 08:37] speier commented on #145
@Avnerus looking really cool, maybe replacing cheerio with a template engine in express would be better, just a suggestion.

[2015-04-03 09:37] newlux opened #562 "Is there a bug with riot+compiler.js ?"
Below is my test code:

riot.tag('index_showTips','title:{opts.title}')
riot.mount('#main', 'index_showTips', {"title":"test"});

if I run with riot+compiler.js,the code won't be exec.
But if I run with riot.js,it runs well.

cause in my page,there is no script type="riot/tag"
I load my tag by requireJS.

I read the sourcecode and find bug is here:

riot.mount = function(a, b, c) {
      var ret

[2015-04-03 09:55] Avnerus commented on #145
@speier Thanks! Yeah that's a good idea. Also I probably don't need to do html parsing and can just replace the string "<main></main>" with the view.

[2015-04-03 10:08] GianlucaGuarini commented on #560
Awesome @rsbondi could you pull request on the `bug/560` branch please?

[2015-04-03 10:16] GianlucaGuarini commented on #562
I have tried with riot+compiler of the dev branch and it seems to work fine. http://plnkr.co/edit/1TvQpAYoqflkYaxebvJo?p=preview could you check it please?

[2015-04-03 10:23] GianlucaGuarini commented on #561
This issue got fixed and that's your example using the riot version in the `dev` branch http://plnkr.co/edit/1TvQpAYoqflkYaxebvJo?p=preview
Please wait the new release and downgrade to the 2.0.12 for now

[2015-04-03 10:23] #561 closed

[2015-04-03 10:54] Avnerus commented on #145
@speier I've updated the example to use a template engine. Another thing I'm not sure about is my 'hack' to avoid the main tag being rendered twice (once by the server and once by the client). On the main tag's 'premount' event I clear any html rendered by the server.

[2015-04-03 11:01] speier commented on #145
@Avnerus yes, i'm aware of that, it gets rendered on the client even if the server already rendered. ideally we can have some kind of checksum on the tag(s) to avoid re-rendering. at least that was my first thought about this. i can take a look into this when #512 finally gets merged.

[2015-04-03 11:28] Avnerus commented on #145
@speier Ok! Cool. So I guess my solution will sufifice for now. I guess the tricky part is that the tags do need to mount in the client so that the virtual dom and everything will be updated, but only the actual insertion to the real dom should be skipped.

[2015-04-03 11:54] tempestwood commented on #557
IE8 doesn't support Array.prototype.slice on host objects, you can polyfill it https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/slice#Streamlining_cross-browser_behavior

[2015-04-03 13:03] rsbondi commented on #560
Not quite there yet

[code]
the clone has a different id than the handler, so can't turn it off explicitly.

[2015-04-03 14:45] SneakyBobito commented on #545
@GianlucaGuarini @tipiirai  ?

[2015-04-03 15:06] magwo commented on #560
I can't help but think that the observable implemenetation has grown quite convoluted due to bug fixes and feature additions. Maybe a different approach is the way forward?

[2015-04-03 15:12] jimknight commented on #561
thanks!

On Fri, Apr 3, 2015 at 6:23 AM, Gianluca Guarini <notifications@github.com>
wrote:

[2015-04-03 15:42] assertnotnull opened #564 "Looping is at the wrong level"
I think looping through element is at the wrong tag level. Specially when you have this case you need to write twice the each to get it work as expected.

    <dl class="dl-horizontal" >
		<dt each={name in opts.data.metrics}>{name}</dt>
		<dd each={name, value in opts.data.metrics}>{value}</dd>
	</dl>

It iterates the same list twice right?

Shouldn't that be like this? And more efficient.

    <

[2015-04-03 17:17] rsbondi commented on #564
or support knockout style virtual elements
[code]

[2015-04-03 18:37] GianlucaGuarini commented on #560
@magwo pull requests are always welcome ;)

[2015-04-03 18:39] GianlucaGuarini commented on #557
Please use polyfills to support IE8 https://github.com/muut/riotjs/blob/master/test/runner.html#L7-L13

[2015-04-03 18:43] GianlucaGuarini commented on #564
@rsbondi I like the virtual elements loop solution. Could you try implementing it in a pull request?

[2015-04-03 18:48] GianlucaGuarini commented on #545
Why would you like to mount the a tag more than once in the same container? Why do you think that checking if a tag was already mounted is a bad practice? I think probably a console.warn could be the best option even if I think we cannot protect developers from them self anyway

[2015-04-03 19:09] rsbondi commented on #564
I will have to look, It seems like it would be simple, but the tag module is a bit delicate, so not sure when I will have time to dig that deep into it.

[2015-04-03 19:13] magwo commented on #560
In my opionion, one approach could be to deprecate the "one" feature of the API, and then remove it. The observable supports self-removal from handlers due to a pull request I made some time ago, which kind of reduces the need for the "one" API functionality.

[2015-04-03 19:29] GianlucaGuarini commented on #564
try it adding also a couple of tests as well. If it does not work I will try to check it ASAP no prob

[2015-04-03 21:00] painter2 commented on #555
sorry if i was wrong. i think filters kicked after the model update since the template is rendered after the model update.
you can nest function calls like a(b(arg)).
downside of 2 way binding is not performance but its' wrong data flow.
1 way binding forces proper data flow architecture.

[2015-04-03 21:15] rsbondi commented on #564
Ok, looked at it, should not be as deep as I thought, just treat the comment element like any dom element and hand parse the 'virtual attributes'.  I looked at the ko code and it gives me a head start.  I will see if I can do it this weekend.

[2015-04-04 19:05] rsbondi commented on #564
Ok, so I looked into adding the ko style virtual elements, and got it to work, I parsed from the comment start to end tag and created an in memory element, that was mounted in place of the comment.  But I realized that it was additional clutter in the code, and the same thing can be accomplished by just by wrapping the dt/dd inside an element

What is really needed here is to mount the contents of

[2015-04-04 23:36] jimknight opened #565 "Why isn't refreshing the page a router hash trigger?"
Riotjs router from the help:

The hash can change in the following ways:
A new hash is typed into the location bar
When the back/forward buttons are pressed
When riot.route(to) is called

It's a pain for me when I'm at a nested route in the application and make an html or javascript change and refreshing the page doesn't trigger the route. Is there a workaround? I'm trying to do things with exec b

[2015-04-05 03:53] txchen opened #566 "Support babel transform options"
Currently, to transform es6, riotjs is using:
[code]

If we want to use some features like ES7 async, we need to add option, for example, like:
[code]

I am not sure what's best and most elegant way to make riot compiler support this, hard code seems ugly.
Any hints or thoughts?

[2015-04-05 22:42] chris-vaszauskas opened #567 "Leftover DOM elements when rendering an empty array"
When I render elements using a function inside each (ex: `<p each={ t in filtered() }...`), if `filtered` returns an empty array, sometimes DOM elements are leftover.

jsFiddle demo: http://jsfiddle.net/chrisvaszauskas/6mqkLrbt/1/

[2015-04-06 00:53] yckart opened #568 "Pass/assign opts as parent attributes"
Had just an idea how we could assign passed `opts` (or any other data) to components by simply assigning those needed "items" as customizable attributes. Looks interesting to me, since we don't have to write one line of javascript, to get data in our module/widget/component/element/tag/whateverthefuckingthingiscalledtoday.

[code]

[code]

Any thoughts about this?

## Update

I just modified the [

[2015-04-06 12:12] u-nikos commented on #295
Another (maybe simpler?) option:

[code]

[code]

[code]

[2015-04-06 12:25] SneakyBobito commented on #295
@u-nikos option looks nice too

[2015-04-06 20:09] rsbondi commented on #295
@u-nikos 's solution has potential, a quick 3 line change to the code [here](http://plnkr.co/edit/8Od61vsv7UvIuJjU9jVZ?p=preview), will check deeper when time permits

[2015-04-07 07:37] sgnatonski commented on #557
[Demo app](http://muut.github.io/riotjs/demo/) already includes IE8 polyfills, except the one for Array.prototype.slice - that's why it doesn't work. I'm already including them for my test purposes, but it would be nice to see a proof that riot is able to work under IE8 (as stated) just by running the online demo.
Currently, it doesn't raise the confidence that the statement about IE8 support is t

[2015-04-07 07:44] SneakyBobito commented on #545
I have something like that :

[code]

and I use riot tags to store full page content, and I update the container when a route changes by mounting a riot tag inside

[2015-04-07 09:00] pakastin commented on #567
Related to #533

[2015-04-07 11:15] skandasoft commented on #466
each is broken when using 'in' option. it loops it that many times as the no of items on the object/array...any idea when this will be taken care...

[2015-04-07 11:18] skandasoft commented on #568
+1

[2015-04-07 11:35] skandasoft opened #570 "could not get the custom tag loop to work"
based on the documentation
https://muut.com/riotjs/guide/#looping-custom-tags
the custom tag has to be called. it doesn't and  I am able not able debug it aswell(how to debug when something is called /not called). but the console.log is not shown..but if I try without the each the consol.log display.

[2015-04-07 11:37] #570 closed

[2015-04-07 13:01] assertnotnull commented on #564
A virtual attribute looks like a good idea and it is consistent with the rest without introducing commented virtual tags just for that

[2015-04-07 17:29] #560 closed

[2015-04-07 17:34] GianlucaGuarini commented on #567
Right it's a duplicate and already fixed thanks anyway

[2015-04-07 17:34] #567 closed

[2015-04-07 17:46] GianlucaGuarini commented on #568
This is actually possible http://jsfiddle.net/gianlucaguarini/gojtax81/1/ is that what you meant?

[2015-04-07 17:47] magwo commented on #560
Nicely done! I like it.

[2015-04-07 17:51] GianlucaGuarini commented on #566
I would avoid to add the compiler options directly in riot. In your case I would use just babel to compile your logic and include your templates later as string.

[code]

[2015-04-07 17:53] #566 closed

[2015-04-07 17:54] GianlucaGuarini commented on #565
Ok It seems you made it! Closing this for now

[2015-04-07 17:54] #565 closed

[2015-04-07 18:08] AndreasHeintze commented on #509
When will there be a new release that fixes this problem?

[2015-04-07 18:29] skandasoft commented on #568
I think the idea was to get rid of opts or long chain of the object and pass just the object you needed..adjusting the context

[2015-04-07 18:39] GianlucaGuarini commented on #509
@AndreasHeintze I hope ASAP
@tipiirai could you please review the riot updates and make a new release? Riot 2.0.13 is broken

[2015-04-07 18:44] samuelmesq commented on #507
:+1:

[2015-04-07 19:14] GianlucaGuarini opened #571 "Riot faster release cycles"
As member of the core riotjs team I am working hard to fix and move riot forward but I let always @tipiirai the responsibility of making new riot official releases
The problem is that the latest release (2.0.13) was broken and while in the latest 18 days I was the only one of the whole riot team pushing patches and fixing bug trying to get a new release as soon as possible the 2.0.13 is still the

[2015-04-07 19:22] jimknight commented on #571
We gotta beat react!
On Apr 7, 2015 3:14 PM, "Gianluca Guarini" <notifications@github.com> wrote:

[2015-04-07 19:30] yckart commented on #568
@GianlucaGuarini @skandasoft is on the right track.

Using the `opts`-iife-argument is always possible, for sure. I updated the issue, just take a look at the filter part, this is an important thing. I expect that it would re-assign the filtered items to `items` on update.

[2015-04-07 21:32] AndreasHeintze commented on #509
Also... why do I explicitly have to call this.update() in my event handler?

Excerpt from the documentation about event handlers:
"In the function this refers to the current tag instance. After the handler is called this.update() is automatically called reflecting all the possible changes to the UI."

[2015-04-07 22:52] skandasoft opened #572 "custom tag - using parent.parent."
Hi,

I have tried to put up some code to check the custom tag. But I am not comfortable with the way that came up for custom tag..wondering if there is a better way to do... and you have to call the update for the custom tag after removing item, otherwise screen doesn't show update

[code]

tag

[code]

[2015-04-07 22:53] pakastin commented on #509
Can you show an example (jsfiddle, maybe)?

[2015-04-08 02:32] antonheryanto commented on #571
+1 agree

[2015-04-08 03:17] txchen commented on #571
It will be better to have faster release cycles!
As a js rookie, I may not be able to help on core feature development. But if there are some easy side tasks, happy to take.

[2015-04-08 04:17] AndreasHeintze commented on #509
You have it in my first post.
https://jsfiddle.net/AndreasHeintze/67nznL8p/7/

[2015-04-08 08:36] ariesjia commented on #511
+1

[2015-04-08 08:38] ariesjia commented on #509
+1

[2015-04-08 09:01] tipiirai commented on #513
Worked. Thanks. Will do a release soonish.

[2015-04-08 09:06] tipiirai commented on #210
My feeling is that this is not a good idea and leads to more confusion than clarity.

Unless there is a *great* use case that clearly highlights the benefits.

[2015-04-08 09:08] tipiirai commented on #427
Hoping to stabilize Riot soon and make it more performant.

Thank you for the nudge!

[2015-04-08 09:48] tipiirai commented on #145
@timuric yes, using `if` attribute:

[code]

[2015-04-08 10:04] tipiirai commented on #571
I couldn't agree more @GianlucaGuarini!

I'll try to push the next one out ASAP and then give you the instructions for making a new release.

[2015-04-08 12:23] tipiirai commented on #571
@GianlucaGuarini I gave you access to [riot-tasks](https://github.com/muut/riot-tasks) repository. Here you can see [the steps](https://github.com/muut/riot-tasks/blob/master/Makefile#L12) for making a new release.

Before you do that please ping me so I can update the website. Unfortunately this step is still manual.

Happy to skype and chat about Riot anytime!

[2015-04-08 12:27] GianlucaGuarini commented on #571
Awesome thank you we will rock it :guitar:

[2015-04-08 15:35] lalop opened #574 "can't get nested tags by name in loop"
Hello,

I add nested tag in a loop, giving them a name dynamicly.
I can't retrieve them in `this.tags`.

For exemple :
[code]

If I log `this.tags` in `toggleFocus` I get an object with one tag : `Object {te{ this.post.id }: Tag}`

[2015-04-08 16:54] txchen commented on #339
This is fixed in 2.0.14, thanks a lot!

[2015-04-08 16:54] #339 closed

[2015-04-08 17:39] #571 closed

[2015-04-08 18:13] assertnotnull opened #575 "Precompiled tags do not mount more than once"
With tags precompiled through browserify in a file like:

    var riot = require('riot');
    require('./timer.tag');
    timertags = []
    timertags = riot.mount('timer');

And then after in browser console - with one timer tag in the html - you do:

    timertags[0].unmount();
    timertags = riot.mount('timer');

The tag doesn't appear, timertags is empty and there is no error printed

[2015-04-08 18:34] GianlucaGuarini commented on #575
[here](https://github.com/muut/riotjs/blob/master/package.json#L69) is the problem, the tags required via node will be automatically compiled https://github.com/muut/riotjs/blob/master/lib/node.js#L9-L12
What if you try to load riot in this way:
[code]

[2015-04-08 18:51] assertnotnull commented on #575
No it still doesn't re-mount the tag

[2015-04-08 19:02] GianlucaGuarini commented on #575
Ah I got it! https://muut.com/riotjs/api/#tag-unmount the unmount event removes the tags from the DOM so you cannot mount it twice

[2015-04-08 19:30] #575 closed

[2015-04-08 23:57] pakastin commented on #484
@tipiirai Would it be possible to attach tag to the DOM inside each.js and not inside tag.js?

Because effective adding would require documentFragment and that's not possible if tag.js adds to the DOM, and not each.js.

Should we create a dedicated branch for this new rendering logic and work together? I don't want to break anything I don't know for sure.

[2015-04-09 01:18] e-jigsaw commented on #339
:+1:

[2015-04-09 01:33] pakastin commented on #574
Are you using the latest version of Riot?

[2015-04-09 01:38] pakastin commented on #564
Ractive.js does it like this:

<ul>
  {{#each items}}
  <li>{{title}}</li>
  {{/each}}
</ul>

..just another style. Maybe:

<ul>
  {each items}
  <li>{title}</li>
  {/each}
</ul>

[2015-04-09 05:25] lalop commented on #574
Yes 2.0.14
Le 9 avr. 2015 03:33, "Juha Lindstedt" <notifications@github.com> a écrit :

[2015-04-09 06:03] prateekbh commented on #524
just came across the same issue "works on index.html, but doesn't work on app.tag"..
any progress on this at all???

[2015-04-09 13:10] appelgriebsch opened #576 "unmount a tag in 2.0.14 also removes the parent node"
lets say I have something like this:

[code]
and:

[code]

This works fine the first time, but when doing a
[code]
later it will also remove the
[code]
from the html, so the next call to
[code]
will no longer work.
When going back to 2.0.13 it works as expected.

[2015-04-09 13:33] GianlucaGuarini commented on #576
This is actually a riot fix, before it was buggy!
https://muut.com/riotjs/api/#tag-unmount
the unmount event according to the riot specs removes the tag from the DOM

[2015-04-09 13:55] appelgriebsch commented on #576
It says:
"Detaches the tag and it’s children from the page".

So the parent (the div container above) should be still in place, isn't it?

Be aware that I use a special variant of riot.mount(), which is documented as:
"Mount a custom tag named tagName on a given domNode..."

[2015-04-09 13:57] assertnotnull commented on #574
I have been facing this problem too. `this.tags` only contains tags that weren't used with a `each` loop
such as `<accounts each={affiliate.accounts}></accounts>`

[2015-04-09 14:05] assertnotnull commented on #575
This is something that should be brought into light, in fact you can mount again a tag but only if they aren't pre-compiled server side. Which means, if you are building a large application, you are forced to compile on client side either with many `<script>` tags or with below

from: https://github.com/txchen/feplay/blob/gh-pages/riot_vue/app.tag

    if (!self.loadedTags[example]) {
      riot.c

[2015-04-09 14:32] assertnotnull commented on #545
@SneakyBobito related to this? https://github.com/muut/riotjs/issues/575#issuecomment-91242620

[2015-04-09 14:36] SneakyBobito commented on #545
Not really, if I unmount, then i can mount again without problem ! I'm also using serverside precompiled tags

[2015-04-09 14:39] GianlucaGuarini commented on #576
It seems you are not the only one having the same issue https://github.com/muut/riotjs/issues/575#issuecomment-91242620

What about this?
[code]

ping @tipiirai

[2015-04-09 17:36] appelgriebsch commented on #576
@tipiirai: sorry, but result is the same, even when trying the argument (false). As mentioned above when going back to 2.0.13 it does work as one might expect (doesnt remove the parent).

[2015-04-09 18:02] jenmontes commented on #576
I'm also having this issue in 2.0.14. Adding `false` to the `unmount` method doesn't seem to help. I've put together a [JS Fiddle](http://jsfiddle.net/9bex0zdc/) that shows the behavior. In the fiddle I'm relying on an API object to communicate between child and parent instead of saving the child tag in a variable, and it still doesn't work.

I also made [a different fiddle](http://jsfiddle.net/g5

[2015-04-09 18:33] jenmontes commented on #576
@GianlucaGuarini Your comment about the parent being unmounted actually pointed me in the right direction. I've created a [revised fiddle](http://jsfiddle.net/z8youcfr/) where remounting works. I just create a placeholder element dynamically and attach it to `self.root`.

[2015-04-09 19:20] GianlucaGuarini commented on #519
this should be fixed in the newest riot 2.0.14

[2015-04-09 19:20] #519 closed

[2015-04-09 19:24] GianlucaGuarini commented on #576
@jenmontes the `tag.unmount(false)` was just an idea for the next riot releases.
I think I know already how to solve this issue and I will work on it ASAP and probably the patch will solve also this issue https://github.com/muut/riotjs/issues/545

[2015-04-09 20:11] pakastin commented on #574
try this.parent.tags or this.parent.parent.tags

[2015-04-10 06:50] phifnn opened #580 "No compiler error message when including class in custom tag"
I am new to riot and tried adding the class to a tag.
Say for example the tag is "nav-bar"
[code]

Precompile (riot nav.tag nav.js) and the js file doesn't have the compiled tag.
And no error message shown that the compile failed.

[2015-04-10 08:07] hiscodeness opened #582 "Nested tag 'mount' too early"
Inside a nested tag, the DOM objects aren't available when 'mount' event of the nested tag is triggered. Because of this I have to listen to the top level parent tag's 'mount' to do any binding or attach handlers to DOM objects.

For example, I have to do this in a nested tag:

![image](https://cloud.githubusercontent.com/assets/8625258/7083971/a8ca0f2e-df70-11e4-907d-89c83e173b2f.png)

Notice the

[2015-04-10 08:50] lalop commented on #574
Hello @pakastin,

I test with that

[code]

I get :
`this` => `Tag {_id: 1271200961, parent: undefined, root: timeline, opts: Child, tags: Object…}`
`tags` => `Object {te{ this.post.id }: Tag}`
`this.parent` => `undefined`

I will be happy to help with a pr but I'm just discovering this library and I haven't so much free time for the moment to really put my self on it but I can try with some light

[2015-04-10 08:57] marciojcoelho opened #583 "option each i9 and i8"
On ie8 and ie9 i try to do each to option tag of select, but riot only output de innerHTML not the option tag.

http://jsfiddle.net/oyLaubzs/5/

[2015-04-10 09:10] tipiirai commented on #484
I think that's possible. Cannot figure out any reasons why not so feel free to fool around on a different branch. I'm happy to merge all kinds of performance improvements as long as the tests pass.

[2015-04-10 09:34] pakastin commented on #574
Could you make a jsfiddle, so I can take a better look..

[2015-04-10 10:14] lalop commented on #574
You can find that here https://jsfiddle.net/hw9hvbws/

[2015-04-10 13:13] jenmontes commented on #574
I updated your fiddle to use Riot 2.0.14 and the problem persists: https://jsfiddle.net/o55c7get/

[2015-04-10 16:43] GianlucaGuarini commented on #529
This got fixed with riot 2.0.14

[2015-04-10 16:43] #529 closed

[2015-04-10 16:47] GianlucaGuarini commented on #511
fixed with riot 2.0.14 http://jsfiddle.net/gianlucaguarini/m16gxv7n/

[2015-04-10 16:47] #511 closed

[2015-04-10 16:50] GianlucaGuarini commented on #145
with riot 2.0.14 thanks to https://github.com/muut/riotjs/pull/512 we finally got server side rendering
I am closing this bug for now

[2015-04-10 16:50] #145 closed

[2015-04-10 16:52] GianlucaGuarini commented on #462
The position of @tipiirai on this topic it's pretty clear I am closing this bug 4 now

[2015-04-10 16:52] #462 closed

[2015-04-10 17:05] GianlucaGuarini opened #584 "Riot wishlist"
Personal reminder list of the things I would like to optimize and fix in riot.
_be aware this list could change at any time because it was not yet discussed with the other muut riot contributors I am totally open for any further debate_

## Riot (2.0.15)
List of the issues/features we should solve before making a new riot release (2.0.15)
- bugs
  - [x] fix https://github.com/muut/riotjs/issues/47

[2015-04-10 21:33] dotnetchris commented on #557
So what actually needs done here, just add the array.slice polyfil to the demo page? Is the demo page in this repo?

[2015-04-10 21:34] dotnetchris commented on #518
I would think the better solution is to return an array of tags even if the array is 1 element long.

Consistency is worth more IMO.

[2015-04-10 21:37] dotnetchris commented on #584
"split the browser compiler from the browser compiler" did you mean to say from the node compiler or something?

I strongly support having IE8 included or in a upsert package. If there are new features that can't support IE8 could they be done as addins instead?

[2015-04-10 21:43] dotnetchris commented on #564
[code]

[2015-04-10 22:09] emehrkay commented on #518
I agree with this

Sent from my iPhone

[2015-04-10 23:17] viernullvier opened #585 "Suggestion: Easier way to execute router callback on page load"
At the moment there are two ways to handle routing: `riot.route(callback)` to observe route changes and `riot.route.exec(callback)` for in-place routing. Let's say I want to use both with the same callback to inspect the current hash on page load and every time it is changed.

Here is one way to do this:
[code]

This gets messy as soon as there are multiple callback functions for differently struc

[2015-04-11 07:22] iamliqiang commented on #571
++1，awesome working, aeesome guys

[2015-04-11 15:17] GianlucaGuarini commented on #518
Ok now riot will return always an array also when just one tag gets detected. Now the API is much more consistent.

[2015-04-11 15:18] #518 closed

[2015-04-11 15:20] GianlucaGuarini opened #586 "some tests fail on ie9 and ie8"

[2015-04-11 16:36] rsbondi commented on #574
The parent is a different div tag each tme. Need to introduce the notion of a parent custom tag in the code and push there. Are you working on this @lalop?  If not i can explore further.

[2015-04-11 16:41] lalop commented on #574
Hi Richard,

No I didn’t start any thing

[2015-04-11 19:33] GianlucaGuarini commented on #557
The problem was fixed with riot 2.0.14.
The online demo relies on a cdn that is still serving the old cached riot release. As soon as they will serve the 2.0.14 release it will work on ie8 again
Check the two links to see the 2 riot release served using the same path
https://cdn.jsdelivr.net/g/riot@2.0(riot.min.js+compiler.min.js)
https://cdn.jsdelivr.net/g/riot@2.0(riot.min.js+compiler.min.js)?no

[2015-04-11 19:36] GianlucaGuarini commented on #576
With new riot release you will be able to keep the parent and also mount multiple times the same tag.
I have just released this patch https://github.com/muut/riotjs/commit/d9e0563afd314a49c9c3e5bcf2dba57b1da5beb1#diff-2646b47d015886b169436b5fd36c9720R79

[2015-04-11 20:05] magwo opened #587 "Riot is not usable from inside web workers"
I've discovered that riot can't be used from inside web workers due to init logic on the window object.
It seems to be solved by changing the initializing closure call to use self instead of undefined, like this:

    })(typeof window != 'undefined' ? window : self);

But I'm not sure if that breaks something else. The web worker's global scope is always called "self", as far as I'm aware.

[2015-04-11 22:45] rsbondi commented on #574
ok, so what is the spec here for the tags attribute?

re. above fiddle:

`this.tags['my-child'] = [Tag, Tag, Tag]`
simple but does not seem consistent with the intention inferred from the code

or

`this.tags['child-{ this.id }'] = [Tag, Tag, Tag]`
I hope not but this is what I currently get with the simple addition of custom parent tag search instead of parent,  the evaluation does not appear to

[2015-04-12 12:10] GianlucaGuarini commented on #574
I think the first the most consistent

[2015-04-12 15:43] GianlucaGuarini commented on #587
could you post an example please?

[2015-04-12 18:37] GianlucaGuarini commented on #471
@rsbondi With the current riot in the dev branch your example seems to work fine http://plnkr.co/edit/sTjltrAfL0JYifATiUEl?p=preview
Now I would like to fix also the @francescoagati use case that is not yet covered

[2015-04-12 18:58] francescoagati commented on #471
Hi Gianluca,
My use case is rendering componente in a dom element.
For example intialize components after an ajax html load.
This is the jsfiddle example http://jsfiddle.net/frragsvn/19/

[2015-04-12 19:27] GianlucaGuarini commented on #445
@cognitom any progress on this?

[2015-04-12 20:25] rsbondi commented on #471
Not working here: http://plnkr.co/edit/4yxc06?p=preview

this maybe related to the other use case issue since it is nested in the app tag, but also in a loop so maybe wait and see

working 2.0.11 version: http://plnkr.co/edit/n5hLpG?p=preview

[2015-04-13 03:48] txchen commented on #584
Can we also evaluate #524 ? @cognitom
It would be nice to have some UI component sets for riotjs, should be quite useful IMHO.

[2015-04-13 12:05] ttamminen opened #594 "Docs/Question: How to update existing tag"
I wish there would be more examples how to update existing tag.

For example, I am re-using a DOM element and I would like re-mount / send updated opts.

First time:
riot.mount('#detail-view-datatable', opts);

When I call that second time with updated opts. Nothing happens. Not even the mount-event doesn't get triggered.

First time it returns the instance, but on second time it's empty array. Th

[2015-04-13 12:28] GianlucaGuarini commented on #594
We have just implemented the possibility to mount multiple times the same element. Right now it's not possible with riot 2.0.14 but it will be possible with the next riot release hold on
You may find this interesting https://github.com/muut/riotjs/issues/576

[2015-04-13 12:28] #594 closed

[2015-04-13 12:31] ttamminen commented on #594
Great! Thank you for the information. I think that's the same problem.

[2015-04-13 18:17] GianlucaGuarini commented on #583
@marciojcoelho Your fix does not work properly when I try to set the property `option selected="selected"` do you want to dig it a little bit more?

[2015-04-13 19:28] GianlucaGuarini commented on #471
@francescoagati With my patch it finally works fine http://jsfiddle.net/gianlucaguarini/k21h1aan/1/

[2015-04-13 19:30] GianlucaGuarini commented on #471
@rsbondi could you make a smaller test to let me fix also your mounting issue (https://github.com/muut/riotjs/issues/471#issuecomment-92120595) please?

[2015-04-13 19:35] GianlucaGuarini commented on #584
@txchen added to the list thanks

[2015-04-13 19:55] francescoagati commented on #471
Really thanks Gianluca

[2015-04-13 21:43] marciojcoelho commented on #583
Can you send me a jsfiddle where the fix doesnt work? i am testing and the selected work.

[2015-04-13 21:48] rsbondi commented on #471
simplified test case works with latest wip: http://plnkr.co/edit/Jzb7HiPExs4p7MhHsVVj?p=preview

updated wip [here](http://plnkr.co/edit/ldX5dD?p=preview) and still not working, I do not see a whole lot of difference, maybe someone can see something I don't

[2015-04-14 03:17] cognitom commented on #584
@txchen Thanks for mention about #524. I really hope this feature.
@GianlucaGuarini Great job! I'm back from vacation now, I'll catch them up soon.

[2015-04-14 03:39] cognitom commented on #445
Hi, I think this issue won't fix. @GianlucaGuarini

Because we need a real parser for fixing this issue perfectory, not just regex. I made [patch](https://github.com/cognitom/riotjs/commit/582ae5e7cdd5f7c12f2f84c54f72b475c72131a5) in #487 by just regex, but I felt it was little bit fragile. Finally I gave up this approach.

After some discussion, @tipiirai said...

BTW, we got to add some warning

[2015-04-14 06:25] GianlucaGuarini commented on #445
So could you please make a patch using `console.warn`?

[2015-04-14 06:34] GianlucaGuarini commented on #583
Just run the riot tests on ie9

[2015-04-14 14:33] emehrkay commented on #416
I didn't see this before I wrote up issue #536

I think that having the mixins separated from the tags is a mistake. The mixin itself provides a sort of polymorphism or interface for the tag -- you know what the tag instance has available to it. And most importantly, since sub-tags are automatically mounted. they do not get the plugin initialization that you described. This would also allow you to

[2015-04-14 22:04] marciojcoelho commented on #583
Are you talk runnig the test/tags.html on ie9?

[2015-04-14 22:46] rsbondi commented on #583
make riot, then test/runner.html

[2015-04-15 01:06] rsbondi commented on #473
appears fixed with wip version https://jsfiddle.net/yktp0xcw/

[2015-04-15 01:17] rsbondi commented on #574
with my latest build https://jsfiddle.net/opub3h52/

[2015-04-15 06:31] nigel-sirisomphone commented on #580
You'll need to ensure that you're adding the class name in your markup, not your component.

Component declaration:
[code]

Markup:
`<nav-bar class="row"></nav-bar>`

[2015-04-15 07:39] GianlucaGuarini commented on #473
Probably we can close this @johngeorgewright  right?

[2015-04-15 08:22] johngeorgewright commented on #473
Yarp. Looks better. Cheers.

[2015-04-15 08:22] #473 closed

[2015-04-15 10:51] AndreasHeintze opened #600 "Each-loops doesn't work if rendering on the server side"
If you have a nested tag that uses an each-loop, then that does not work if rendering on the server side.

[2015-04-15 10:53] GianlucaGuarini commented on #600
Could you drill down a simple example please?

[2015-04-15 10:57] cognitom commented on #445
Sure! I'll make it this night, maybe ;)

[2015-04-15 11:18] AndreasHeintze commented on #600
I'm not sure how to do this since a jsfiddle is only client side, but I'll see what I can do.

[2015-04-15 11:23] GianlucaGuarini commented on #300
With my patch you can use the `<yield>` tag directly in the riotjs core to handle html transclusion.
Usage:
my-tag.tag
[code]
Usage
[code]
Result
[code]

[2015-04-15 12:40] lalop commented on #574
Just to be sure, is this a bc ?

[2015-04-15 15:35] AndreasHeintze commented on #600
Now I have made a small example of it here:
https://github.com/AndreasHeintze/riot-test

First I thought it was just when pos is a number, since it works fine if I change pos to be a string instead, but it's just if I show the TABLE it can't be a number. If I change the list.tag to just show the UL-list it works whatever type pos is. Strange...

[2015-04-15 16:12] rstuven commented on #484
Regarding performance in general, I found this comparison where Riot happens to be the slowest one :(
http://jsperf.com/angular-vs-knockout-vs-ember/585

[2015-04-15 16:33] AndreasHeintze commented on #600
One note to make about this is that is has nothing to do with the bug being a nested tag.

[2015-04-15 17:15] pakastin commented on #484
That's just a stupid test – you should always add elements in bunch, not one by one.

It should be:
[code]

[2015-04-15 17:55] rsbondi commented on #574
It is work in progress, not sure what a bc is.

[2015-04-15 18:00] lalop commented on #574
I mean a breaking change :)

[2015-04-15 18:34] rsbondi commented on #469
my [latest build](http://jsfiddle.net/rvnb1Lzu/) appears to fix this

#599

[2015-04-15 18:59] pakastin commented on #556
(+)

[2015-04-15 19:24] GianlucaGuarini commented on #484
@pakastin Wow riot seems to be one of the fastest :laughing:

[2015-04-15 19:25] GianlucaGuarini commented on #600
Thank you soo much for your feedback I will try to check it ASAP

[2015-04-15 20:15] GianlucaGuarini commented on #471
@rsbondi you have used `opts.contents` instead of `opts.content` in your `raw` tag that's why it did not work http://plnkr.co/edit/3IbJEkWw3wqbJALAnxCu?p=preview
I think this bug could be considered closed

[2015-04-15 21:00] GianlucaGuarini commented on #300
@johngeorgewright here is one of your jsfiddle using the yield tag http://jsfiddle.net/gianlucaguarini/cf0nqL7m/1/

[2015-04-15 21:04] rsbondi commented on #471
Another pair of eyes always helps, thanks

[2015-04-15 21:04] #471 closed

[2015-04-15 21:23] GianlucaGuarini commented on #574
@rsbondi Can we close this? It seems you've fixed all the issues

[2015-04-15 21:26] GianlucaGuarini commented on #583
@marciojcoelho any progress on this issue? Have you understood how to run the tests on ie9?

[2015-04-15 21:30] GianlucaGuarini commented on #580
@nigel-sirisomphone thanks for your answer. I will close this bug

[2015-04-15 21:30] #580 closed

[2015-04-15 21:46] GianlucaGuarini commented on #574
@lalop your jsfiddle is working with our riot WIP https://jsfiddle.net/gianlucaguarini/t9x9pqot/ :)

[2015-04-15 21:51] GianlucaGuarini commented on #469
right issue could be closed

[2015-04-15 21:52] rsbondi commented on #574
I think so

[2015-04-15 21:53] #574 closed

[2015-04-15 21:54] #469 closed

[2015-04-15 21:54] #576 closed

[2015-04-15 21:57] rstuven commented on #484
@pakastin Of course. Updating in batches (as in the updated test, that uses a throttling of 16 ms ,~60 fps) is better for sure. I haven't examined how the other frameworks implement the update, but maybe the stupid test is just reflecting the fact that Riot does not have the throttling built-in and others have.

[2015-04-15 21:58] #295 closed

[2015-04-15 22:37] pakastin commented on #484
Angular also have forced update, which was not in use in the old revision of the test. So it's not fair to compare without pushing updates in other frameworks as well.

Throttling is something many frameworks lack, but you can't always blame framework when user does basic things wrong. Sometimes it's harder to work with asynchronous framework, because then you lose the control and things become un

[2015-04-15 22:43] pakastin commented on #484
I remember having implement throttling in at least Knockout, Angular and Ractive.js. It's just that some frameworks have automatic updating and some don't. I prefer having control.

Having said that, if you update by user action, you will have auto update in Riot as well. Then it uses throttling in sense that everything goes like it should be! So case closed :)

I will try to merge frzr's good par

[2015-04-15 23:16] marciojcoelho commented on #583
@GianlucaGuarini  i should see that on weekend.
On windows i do make riot, but i see some errors not related with the tests.

[2015-04-16 01:26] dotnetchris opened #603 "RiotJS tag file from IIS web server"
I'm trying to use riotjs in an ASP.NET application hosted on IIS. I'm attempting to use the most basic todo sample http://muut.github.io/riotjs/demo/

RiotJs will work as expected when i use

[code]

However when I read it from my server

[code]

I get Uncaught SyntaxError: Unexpected token < which points to the < in **<**todo> of the first line of the todo.tag file.

I am using the exact same tod

[2015-04-16 05:50] lalop commented on #574
Thank you for all your active work on riot
Le 15 avr. 2015 23:53, "Gianluca Guarini" <notifications@github.com> a
écrit :

[2015-04-16 06:28] GianlucaGuarini commented on #484
@pakastin take your time and go for it! Looking forward to seeing your work on riot

[2015-04-16 08:26] AndreasHeintze opened #604 "Update API documentation"
In the API documentation here: https://muut.com/riotjs/api/ under riot.tag it says:
"This method is on the edge of being deprecated."
From what I understand, this is not the case anymore.

Also, under riot.compile(url, callback) the example code looks like this:
[code]

..but shouldn't it be like this instead:
[code]

[2015-04-16 08:35] johngeorgewright commented on #300
Nice! Been gagging for this feature.

[2015-04-16 10:58] AndreasHeintze opened #605 "Full editor syntax highlighting support"
This is a minor issue, but since there are support for an optional script-tags inside the tag definitions, I thought there should be support for it outside of the tag definitions too.

This works, but my editor syntax highlight doesn't get it.
[code]

This does not work:
[code]

[2015-04-16 13:54] rsbondi commented on #584
Will babel fit in with the minimalist philosophy?  I don't know what the compiled code looks like, I am sure it is no dart, but want to be sure it will not be bloating the code to severely.

[2015-04-16 16:35] tinchox5 opened #607 "Each loop doesn´t show nested json data"
In this example riotjs doesn't show nested data. Any suggestion?
http://plnkr.co/edit/vpeKJV?p=info

[2015-04-16 17:04] AndreasHeintze commented on #607
Try this instead:
---
<listado>
  <table border=1>
    <tr each={ contactos }>
      <td>{ nombre }</td>
      <td><span>{ organismos[0].nombre }</span></td>
    </tr>
  </table>

  self=this
  self.contactos=[{nombre:"Peter", organismos:[{nombre:"Club"},{nombre:"Presidencia"}]},
  {nombre:"Alex", organismos:[{nombre:"Presidencia"}]}]

</listado>
---

[2015-04-16 17:11] tinchox5 commented on #607
Thank you! Adding this code works ok : <span each={ organismos }>{ nombre }</span>
If I put 'organismos[0].nombre' only first data is shown

[2015-04-16 17:48] eyy commented on #300
Great to see it working again. As I said [above](https://github.com/muut/riotjs/issues/300#issuecomment-76917159), I really think `<yield>` should be parsed in the parent context, as it is in React and others.

[2015-04-16 18:35] GianlucaGuarini commented on #300
@eyy actually with the `yeld` tag the content is parsed in the parent. I think I will include it in the next riot release

[2015-04-16 19:02] dotnetchris commented on #604
It took me winmerge to figure out what was different between the code samples for future readers it's

vs

[2015-04-16 19:40] AndreasHeintze commented on #604
Just for clarity. :)

[2015-04-16 19:43] eyy commented on #300
@GianlucaGuarini but in your comment and fiddle above it is parsed in the child context: http://jsfiddle.net/cf0nqL7m/2/

[2015-04-16 19:54] GianlucaGuarini commented on #583
Fixed thanks @marciojcoelho

[2015-04-16 19:54] #583 closed

[2015-04-16 20:04] rsbondi commented on #607
`<td><span each={ organismos }>{ nombre }</span> </td>`

[2015-04-16 20:07] GianlucaGuarini commented on #300
@eyy Could you please provide an example in React or vue please? thanks

[2015-04-16 21:22] zelid opened #608 "Tag double mount problem in isomorphic environment"
Is there a way to avoid double mount of a tag in isomorphic environment?

I render a root tag on a server using:
[code]
and then return a full HTML page with renderResult  result injected that shows rendered on the server page to the user.

The same time there is a regular mount  of the root tag in the client-side JavaScript that is needed for non-serverside Riotjs usage:
[code]

Is there a way fo

[2015-04-16 21:45] AndreasHeintze commented on #608
I'm looking into this myself right now. I have succeded in preventing the client side to render by modifying the tag.render function, but that's not enough. When the client side mount the tags, I must get any event handlers to be setup to the already rendered tags instead. So that's what I'm working on now.

[2015-04-16 22:10] eyy commented on #300
@GianlucaGuarini Sure: [Vue](http://jsfiddle.net/seh070fw/1/), [React](http://jsfiddle.net/gqe4dydd/1/).

[2015-04-17 04:11] txchen commented on #603
encoding issue? just guessing.

If you put the .tag content into the <script> like

<script type="riot/tag">
  <todo>
   ....
  </todo>
</script>

what will happen?

[2015-04-17 04:13] txchen commented on #603
Or I think maybe you can change 'application/octet-stream' to something else and try.

[2015-04-17 06:09] GianlucaGuarini commented on #300
@eyy awesome I will update the `yield` feature ASAP to behave exactly like this. It makes sense. Thanks for your feedback

[2015-04-17 07:04] mmanneva opened #609 "Unable to focus() an input field that is shown on update()"
I would like to make an editable element, where pressing an edit button replaces the element with a form allowing to modify its contents. My problem is that I cannot focus() the first element of the form because it has to be done after the DOM has updated and there is no lifecycle event that fires after each element is updated.

Below is a riot-tag that reproduces the problem. If I call `this.upda

[2015-04-17 07:19] tipiirai commented on #462
[Riot 1.0 docs](https://muut.com/riotjs/v1.0.html) are back.

Thank you for pushing!

[2015-04-17 07:20] tipiirai commented on #190
[Riot 1.0 docs](https://muut.com/riotjs/v1.0.html) are back.

[2015-04-17 08:05] AndreasHeintze commented on #609
Try this:
[code]

[2015-04-17 08:22] tipiirai commented on #416
Another alternative is to just expose the tag prototype to the outer world. For example:

[code]

That would be the simpliest possible extension mechanism (which is usually preferred in Riot land).

Thoughts about that? Would mixins be better and why?

[2015-04-17 08:25] troyk commented on #609
This issue is not specific to riot, I've always handled it with setTimout

[code]

might be a hack, but it's never failed me

[2015-04-17 08:47] GianlucaGuarini commented on #584
Probably the next riot release will be called riot 2.1.0
@tipiirai what do you think?

[2015-04-17 09:46] tipiirai commented on #469
Nice job @rsbondi !

[2015-04-17 09:56] tipiirai commented on #484
Can you just use a DOM property, such as `my_dom_elem.riot_id = 'abc'` so the property will not shown as an attribute? I'm not a fan of those `react-id` attributes.

[2015-04-17 10:10] pakastin commented on #484
Me neither.. There is an id in tag already (someone added it there), but I think there should be one hidden in original array as well - otherwise have to keep on using indexOf. I used non-enumerable value in frzr, I think that would be ok in Riot as well? It works IE9 and up..

[2015-04-17 10:30] tipiirai commented on #584
Looks like a great list.

I'd like to keep all "nice to have" features to minimum so I'd like to hear if you have real use cases for
 `el.on(/ev-/gi, fn)`, `riot.route.start()` and `riot.route.stop()`?

I personally seem to enter a situation where I want to render HTML inside an `{ expression }` so I'm proposing a `{{ unescaped_html }}` syntax. Thoughts about that?

Regarding to Browserify, @speie

[2015-04-17 10:39] emehrkay commented on #416
Yeah. I agree. I got to this particular issue via another asking the same thing, it was declined.

Sent from my iPhone

[2015-04-17 12:08] steelbrain opened #610 "A Changelog would be nice"
Just like the title says

[2015-04-17 12:09] AndreasHeintze commented on #564
My vote on this one:
[code]

[2015-04-17 12:10] steelbrain commented on #610
Nevermind, found it here https://muut.com/riotjs/release-notes.html

[2015-04-17 12:10] #610 closed

[2015-04-17 12:23] zelid commented on #609
I've found some hack in ES7 riot-isomorphic repo - https://github.com/ListnPlay/riot-isomorphic/blob/master/src/client/index.js the gulpfile there is also able to parse <style></style> tag inside riot tags and concat them to one file that is also usable for isomorphic riot usage.

[2015-04-17 12:28] zelid commented on #608
I've found some hack in ES7 riot-isomorphic repo - https://github.com/ListnPlay/riot-isomorphic/blob/master/src/client/index.js the gulpfile there is also able to parse `<style></style>` tag inside riot tags and concat them to one file that is also usable for isomorphic riot usage.

[2015-04-17 14:13] lbineau opened #611 "Routing"
Hello,

First, thanks a lot for this beautiful framework. I was quite fan of the first version, but this one is amazing powerfull with incredibily small size.
I would like to know how I should create localized router. I mean multiple routes should go to the same page.
Ex : ```#en/homepage , #fr/accueil should referer to the same action```
What is the best approach : to override the router parser h

[2015-04-17 14:49] #607 closed

[2015-04-17 14:53] speier commented on #584
@tipiirai yes that was the case with browserify, maybe we could look around for different tools or dig into browserify docs on how we can create smaller bundles?

[2015-04-17 15:07] GianlucaGuarini commented on #584
@tipiirai @speier We could try https://github.com/mbostock/smash

[2015-04-17 17:17] positlabs opened #612 "Update npm to 2.x"
Why is the npm package so out of date? 7 months!

![screen shot 2015-04-17 at 10 12 41 am](https://cloud.githubusercontent.com/assets/1918844/7206936/a5a94416-e4ea-11e4-92d9-8f172bb80cec.png)

[2015-04-17 17:24] tinchox5 opened #613 "[Question] I can´t delete data"
I'm trying to delete data using "onclick ", but isn´t working. I don't know what I'm doing wrong

http://plnkr.co/edit/vpeKJV

[2015-04-17 17:40] AndreasHeintze commented on #613
You have to use parent.remove instead of just remove since you are inside an each-loop.

[2015-04-17 17:44] AndreasHeintze commented on #612
Try:
[code]

[2015-04-17 17:49] positlabs commented on #612
The more you know! Thanks!

[2015-04-17 17:49] #612 closed

[2015-04-17 18:08] tinchox5 commented on #613
Thank you Andreas, I tried that but isn't working

[2015-04-17 18:13] AndreasHeintze commented on #613
Yes it works, but there's another error too.
[code]
Remove that space so it becomes:
[code]

[2015-04-17 18:29] tinchox5 commented on #613
Thank you very much Andreas for your time! Now is working

[2015-04-17 18:29] #613 closed

[2015-04-17 18:52] dotnetchris commented on #603
Same result when embedding the <todo> tag inside the script element.

I also tried it as a direct html file on disk opened in chrome and got the same error.

In all cases I can only get riot to work when it loads the todo.tag from the github.io src

Does riot choke on windows line endings or something?

[2015-04-17 18:55] dotnetchris opened #614 "Does RiotJS work in Windows?"
This question is spawned from my other open issue https://github.com/muut/riotjs/issues/603

I can't get riot to work at all on my local windows machine. It works when i use the todo.tag hosted on github.io with whatever line endings that has there. Does the Riot compiler choke on windows line endings or something similar to environment encoding differences?

[2015-04-17 18:59] rsbondi commented on #614
I have no problem with apache or static files running from windows, created on windows.

[2015-04-17 19:00] dotnetchris commented on #603
https://onedrive.live.com/redir?resid=BCC39E32FCE8CB10!3507&authkey=!APY0Yr4d-ZHmj2c&ithint=file%2chtml html file doesn't work

https://onedrive.live.com/redir?resid=BCC39E32FCE8CB10!3512&authkey=!AMKcxl0H6QmdXPk&ithint=folder%2c does work

[2015-04-17 19:01] dotnetchris commented on #614
https://onedrive.live.com/redir?resid=BCC39E32FCE8CB10!3507&authkey=!APY0Yr4d-ZHmj2c&ithint=file%2chtml html file doesn't work

https://onedrive.live.com/redir?resid=BCC39E32FCE8CB10!3512&authkey=!AMKcxl0H6QmdXPk&ithint=folder%2c does work

[2015-04-17 19:05] dotnetchris commented on #614
@rsbondi does the first linked html file work for you?

[2015-04-17 19:11] rsbondi commented on #614
Not sure how to launch,

[2015-04-17 19:15] dotnetchris commented on #614
@rsbondi click download on the top nav bar to save it to your local machine. You might have to change the path to the riot compiler (or put the riot compiler in ./Riot_files)

[2015-04-17 19:18] rsbondi commented on #614
ok, I downloaded and pointed to cdn, I get your error, unexpected token

[2015-04-17 19:48] AndreasHeintze commented on #614
It seems to work if you remove the optional script tags inside your riot/tag definition. Not sure why though.

[2015-04-17 19:54] rsbondi commented on #614
I just discovered the same, should not make a difference

[2015-04-17 20:06] rsbondi commented on #614
Also, the documentation says 'Tag definition always starts on the beginning of the line:'

I think that applies to the closing tag also, I had to adjust that.

But I get the 'riot.tag('h3', 'I want to behave!', function(opts) );' printing on my page

[2015-04-17 20:12] rsbondi commented on #614
It behaves the same in linux, I say we close this and the other iis issue and open a compiler bug ticket

[2015-04-17 20:13] dotnetchris commented on #603
Seems unrelated to hosting server

[2015-04-17 20:13] #603 closed

[2015-04-17 20:14] dotnetchris commented on #614
Can someone open the new issue and i'll close this one? I'm not very sure what to put in the new issue since it seems to work from the github file but not locally.

[2015-04-17 20:17] rsbondi commented on #614
I will do it, but might not get to it for a while, I will reference this issue and you should get notification, then you can close.

[2015-04-17 21:17] GianlucaGuarini commented on #584
@tipiirai

 `el.on(/ev-/gi, fn)`, `riot.route.start()` and `riot.route.stop()`?

 `riot.route.start()` and `riot.route.stop()` are already included in riot WIP and these methods allow the use of different routers in the same application avoiding to overlap the callbacks ( check also https://github.com/muut/riotjs/issues/611 )
Regarding the regex in the observable class it's something that could be

[2015-04-17 21:24] rsbondi opened #615 "Browser compile inline tag issues"
Optional script tag issue, throws an error if script tag used inline
http://plnkr.co/edit/YokYfsteY781UFitHfjS?p=info

but is fine without the script tag
http://plnkr.co/edit/pXINh2zatGdBhvw6QzMD?p=preview

not sure how to describe, but I think there may be a general compiler issue with inline tags, but seems fine in the test cases
http://plnkr.co/edit/iZKR65JnNAw3fYcoYXVD?p=preview

further conve

[2015-04-17 21:26] #614 closed

[2015-04-17 22:00] speier commented on #584
thanks @GianlucaGuarini i will definitely take a look into [mbostock/smash](https://github.com/mbostock/smash)

also according to ES6, i think the module system itself could be an advantage, with [esnext/es6-module-transpiler](https://github.com/esnext/es6-module-transpiler) we can bundle without big overhead

[2015-04-17 22:57] rsbondi commented on #615
It looks like the script tag issue inline is an issue with innerHTML and not riot, it seems to return up to the closing script tag.  So maybe the answer is to document that script tag is not permitted in inline tags.  I get the same with outerHTML so that as a hack is off the table.

[2015-04-17 22:59] dotnetchris commented on #615
maybe there needs to be an <eval> tag or similar?

[2015-04-17 23:02] rsbondi commented on #615
Is there a reason you need the script tag inline and can not load an external tag file?

[2015-04-18 00:03] rsbondi commented on #615
Looks like the other is a documentation issue also, the `Tag definition always starts on the beginning of the line:` in the documentation applies to tag files, inline tag definitions actually are expected to be [indented](https://github.com/muut/riotjs/blob/master/lib/compiler.js#L324).  I will update the docs and PR

[2015-04-18 01:03] rsbondi commented on #615
looks like @cognitom is already working on this https://github.com/muut/riotjs/issues/445#issuecomment-93323893

[2015-04-18 05:42] txchen opened #616 "mountTo and then unmount will remove the root element"
Suppose I have an html element and I mount tag to it:

[code]

[code]

Then if I unmount, the tag's root html element will be removed from DOM tree

[code]

In 2.0.11, the parent element will not be removed, but now in 2.0.14 it will.

To have a container and mount tag to it and unmount to switch another tag, can be a useful pattern to build a multi-view app, now it cannot be used, what's the work

[2015-04-18 05:46] txchen commented on #616
Is this same as #576 ?

I see unmount(keepTheParent) in https://muut.com/riotjs/api/#mount-to  So I am confused, is this already in 2.0.14, or not?

[2015-04-18 06:24] xieyu33333 commented on #584
I think IE9 should be compatible, if we use ES6, I think we need an extra adapter to let it run.

[2015-04-18 11:48] GianlucaGuarini commented on #616
It will be available with the next riot release https://github.com/muut/riotjs/issues/576#issuecomment-91911707

[2015-04-18 11:48] #616 closed

[2015-04-18 22:34] zephraph commented on #564
If this was thought of at the beginning of the design, something good to do would be to have two keys. ```repeat``` and ```each```. ```each``` iterates over all the entries and provides it to the inner scope, whereas ```repeat``` repeats the element like ```each``` does now.

_each example_
[code]

_repeat example_
[code]
Can anyone think of a new entry that describes this 'repeating body' functio

[2015-04-18 23:39] GianlucaGuarini commented on #300
@eyy @johngeorgewright here there's the new jsfiddle with the brand new `yield` tag http://jsfiddle.net/gianlucaguarini/cf0nqL7m/3/ parsed with the parent attributes like React and Vue do

[2015-04-18 23:50] GianlucaGuarini commented on #586
They work on ie9 no way to fix them on ie8

[2015-04-18 23:50] #586 closed

[2015-04-19 02:53] rsbondi commented on #564
loop?

[2015-04-19 06:04] txchen opened #618 "drag and drop, order issue"
I created this project to see how to implement drag and drop with riotjs: https://github.com/txchen/feplay/tree/gh-pages/riot_dragdrop

It is using https://github.com/RubaXa/Sortable

Main logic: https://github.com/txchen/feplay/blob/gh-pages/riot_dragdrop/src/app.html

Demo: http://txchen.github.io/feplay/riot_dragdrop/

Current issue:
After move the values in the array, the render order is not c

[2015-04-19 06:23] txchen commented on #618
I found a workaround:
https://github.com/txchen/feplay/commit/1bec2743902acde2f6bb087e67165be719c5ee94

When dragging is finished, set the array to null, update(), then set the array to correct data, update().

Looks like it is the vdom diff/compare issue.

[2015-04-19 07:21] AndreasHeintze commented on #556
I do also prefer a gitter channel instead of the normal Riot Forum.

[2015-04-19 08:44] ashleybrener commented on #556
+1

[2015-04-19 13:18] GianlucaGuarini commented on #618
The question is: do you really need a plugin for the native drag and drop API? Could you not just use simple javascript and on drop trigger the `tag.update` event?
I think It should not be that hard

[2015-04-19 15:06] johngeorgewright commented on #300
:+1:

[2015-04-19 16:02] zephraph commented on #564
Maybe just having a complimentary attribute would suffice.

Something like

[code]

Where do defaults to repeat... I'm not sure that's a better suggestion, but it's something. Does anyone else have ideas that doesn't change the core syntax?

[2015-04-19 16:57] txchen commented on #618
@GianlucaGuarini thanks for the reply. Actually I don't know how to implement drag and drop with native api, is there any simple tutorial or sample that I can follow?

On the other hand, I assume only handling drop event is not enough, since during the dragging, drawing some preview state is also important, then maybe to implement it requires a lot of code, or even similar to use a plugin?

[2015-04-19 17:17] GianlucaGuarini commented on #618
Here it's what I've found just googling in 2 min:
  - http://php.quicoto.com/html5-drag-drop-demo/
  - http://www.w3schools.com/html/tryit.asp?filename=tryhtml5_draganddrop
  - http://www.html5rocks.com/en/tutorials/dnd/basics/

[2015-04-19 21:37] AndreasHeintze commented on #564
I do buy the concept of consistency and in that case I think we should have two kinds of loops, each and repeat. Let each be as it is now, not to break anything and then add the repeat attribute, which could work by looping just the innerHtml.
[code]

[2015-04-20 01:33] zephraph commented on #564
My only concern with that is that it's not clear with repeat that you actually want the body of the specified element to repeat as opposed to repeating the whole tag. I don't think repeat is a good attribute to use in this case.

[2015-04-20 01:49] frzrjs commented on #564
What if we would support both of the following:

[code]
[code]

..case closed?

[2015-04-20 01:50] pakastin commented on #564
What if we would support both of the following:

[code]
[code]

..case closed?

[2015-04-20 02:15] iamliqiang commented on #582
yes, i have the same issue, when tag  "on mount", the tag' dom element is not exist,   so , you can't do a lot of things,  the issue can be fixed?

[2015-04-20 02:29] iamliqiang commented on #582
hi @hiscodeness , your method will work?  the parent.parent mount event will tirggered erarly than child mount event , if when child tag on mount , child tag's dom element is not available, why  parent tag' on mounted the child tag's dom is abailable?

[2015-04-20 03:28] mmanneva commented on #609
Thanks for the tips! The 'updated' event AndreasHeintze describes is exactly what I was looking for. Case closed from my point of view.

[2015-04-20 03:28] #609 closed

[2015-04-20 05:55] hiscodeness commented on #582
@iamliqiang Yes, the workaround I mention works. If I listen to 'mount' on the top-level tag, the event will arrive after DOM is ready.

[2015-04-20 06:53] AndreasHeintze commented on #564
@zephraph No, it's not obvious and clear what differs repeat from each, but it's hard to make it obvious. You have to read the docs. :)

@pakastin It's short and clean, but it's not consistent and I guess it would be more code to implement support for that syntax too.

[2015-04-20 08:42] ariesjia commented on #300
+1

[2015-04-20 09:06] ricardobeat commented on #564
Just hit this on a project (need `<dd> + <dt>` elements).

@zephraph `repeat` would repeat the tag it belongs to, where `each` would loop over the contents only.

[2015-04-20 09:32] freetitelu commented on #462
just great! thank you!

[2015-04-20 09:45] freetitelu commented on #462
(thoughts aside) why not combine the two branches for use riot.js not only "like reaсt.js"? (thought to himself - is not always advisable to create custom tags. But reliable friend will always help in web adventures)

[2015-04-20 09:47] pakastin commented on #564
How it's not consistent? Each always repeats itself.  In the second example there's just a pseudo element which repeats..

On the code side, if you create a document fragment as this "pseudo element", it should work.

[2015-04-20 09:48] AndreasHeintze commented on #564
"repeat would repeat the tag it belongs to, where each would loop over the contents only."
Maybe that is easier to understand, but if we change how each works, it would break existing code.

[2015-04-20 10:03] AndreasHeintze commented on #564
@pakastin It's not consistent by it's syntax. It's not a javascript expression.

[2015-04-20 10:43] pakastin commented on #564
..but it's the exact same syntax as in attribute?

[2015-04-20 11:27] tipiirai commented on #564
We mimiced the original syntax from Angular because we wanted this to be possible:

[code]

I still like this approach, and clarity sake there there should be only one way to define loops. I really dont't want to introduce new ways to define loops.

Are there any other use cases than the `dl` tag where this issue occurrs? Cannot think of any right now.

Maybe you can tolerate an extra `span`?

[co

[2015-04-20 11:29] pakastin commented on #564
+1 for <for>

[2015-04-20 11:41] AndreasHeintze commented on #564
The for-tag will be great and so will the possibility to let custom tags be replaced with it's inner contents.

[2015-04-20 12:24] tipiirai commented on #564
With the upcoming [yield](https://github.com/muut/riotjs/pull/617) the `for` implementation is just this:

[code]

[2015-04-20 12:28] AndreasHeintze commented on #564
How will we indicate to custom tags that the tag should be replaced?

[2015-04-20 13:47] rsbondi commented on #564
I think you mis-interpreted the link @tipiirai  in [this](https://github.com/muut/riotjs/issues/564#issuecomment-94428257) comment,  That was a bug fix where an extra tag was created in loops, maybe you meant #569 ?  Not sure I follow the for/yield version

I think the handlebars style is definitely out of the question, it would require special parsing that would break away from minimalism, where

[2015-04-20 13:52] pakastin commented on #564
for tag is just brilliant!

[2015-04-20 14:01] GianlucaGuarini commented on #564
I think my fork does not work yet with loops but I will update it to support the `for` tag as well :v:

[2015-04-20 14:28] dotnetchris commented on #615
I was getting the unexpected character error even with a separate .tags file. I think that was triggered by the inclusion or exclusion of a UTF BOM at the start of the file.

I really think the Riot parser needs to ignore leading (and probably trailing) white space.

[2015-04-20 14:31] zephraph commented on #564
I'm okay with the ```for``` tag. I'd much rather than than requiring a repeated element like the above example with ```span```.

[2015-04-20 14:38] dotnetchris commented on #564
for tag is fine :heavy_plus_sign:1

[2015-04-20 15:38] emehrkay commented on #416
What is different about what you just wrote vs what you originally proposed?

I think that the potential failure point in the `fn.behavior` approach is that the mount function does not know how to call that chain of initialization methods for any sub tags.

[code]

If the tag knew about its dependencies, the mount function wouldn't have to do any extra work when mounting any sub tags

[code]

[2015-04-20 16:02] ricardo-nog commented on #530
@cognitom +1

[2015-04-20 17:45] ricardobeat commented on #564
No elements other than `dt, dd` are allowed inside a definition list, so the span doesn't work. `<for>` looks like a proper solution without changing current behaviour. +1

—
Sent from Mailbox

On Mon, Apr 20, 2015 at 4:38 PM, Chris Marisic <notifications@github.com>
wrote:

[2015-04-20 20:07] AndreasHeintze opened #620 "Tag.update() is called too many times"
While debugging the Riot code just to see how everything works I discovered that Tag.update is called multiple times on the same tag on the first page load, which seems like a waste. Especially if you have each loops in your tags. The problem is the self.update() call in the Tag.mount() method. I removed it and bootstrapped my app by manually calling Riot.update() and the execution flow was much b

[2015-04-20 20:16] geordee commented on #620
I too faced this issue, and ended up writing custom events to workaround.

[2015-04-20 20:51] GianlucaGuarini commented on #620
If you want to check if your change to riot breaks something. Try to pull our repo and trigger the tests and see what happens

[2015-04-20 20:56] AndreasHeintze commented on #620
I did change the file ./dist/riot/riot.js and the nom test and all seems good.

[2015-04-20 20:58] GianlucaGuarini commented on #620
make a pull request please so we could check it thanks

[2015-04-20 21:28] AndreasHeintze commented on #620
If I mount a new tag in my app after the initial page load and that tag isn't under a previously mounted tag, then I will need to manually call update on that tag, that's the only other "problem" I can think of.

Ok, I'll try to make a PR.

[2015-04-20 23:10] rsbondi commented on #620
Sounds like it might be just another symptom of an extra tag being created that was fixed with #599 and #602

[2015-04-21 04:12] AndreasHeintze commented on #620
What branch should I checkout to see if the problem is gone? Is it bug/599?

[2015-04-21 04:42] cognitom commented on #530
Hi.
We thought `Scoped CSS` as a kind of CSS variation like `LESS`, `Sass`. And there was a need to keep backward-compatibility. c.f. https://github.com/muut/riotjs/issues/381#issuecomment-74615726

You can access `Scoped CSS` compiler via [riot.style()](https://github.com/muut/riotjs/blob/v2.0.14/lib/compiler.js#L271), or make your own, too. It's just [a few lines](https://github.com/muut/riotjs/

[2015-04-21 04:55] iamliqiang commented on #582
good tricks， helps me a lot

发送自我的HTC Phone

----- Reply message -----
发件人： "Jussi Mattila" <notifications@github.com>
收件人： "muut/riotjs" <riotjs@noreply.github.com>
抄送： "max" <iamliqiang@gmail.com>
主题： [riotjs] Nested tag 'mount' too early (#582)
日期： 周一, 4月 20 日, 2015 年 13:56

@iamliqiang Yes, the workaround I mention works. If I listen to 'mount' on the top-level tag, the event will arrive after

[2015-04-21 06:39] AndreasHeintze commented on #620
I checked out the dev branch and took ./dist/riot/riot.js and used that file and it still has the same problem, so no... it's another issue.

[2015-04-21 08:54] jonrandydd opened #622 "Nested tags created using 'each' are not added to parent's 'tags' property"
[code]

[2015-04-21 09:00] jonrandydd commented on #622
Also, is there a less convoluted way to do a numeric 'for' loop than the way I did it above?

[2015-04-21 13:50] rsbondi commented on #622
Seems like a duplicate of #574.  Take a look [here](http://jsfiddle.net/opub3h52/1/), maybe update with your code to see if that will solve it.

[2015-04-21 13:52] rsbondi commented on #615
@dotnetchris can I close this?  I know it may not have been the answer you were looking for but at least it shed some light on the issue.

[2015-04-21 14:36] jonrandydd commented on #622
They definitely get mounted. They render successfully and their mount events fire, and if I add event handlers on them, everything works. Only the guess tags mounted outside of the each loop appear in the mounted game tag's tags property though, which seems like a definite problem

[2015-04-21 14:58] rsbondi commented on #622
what is the link to your update?

[2015-04-21 16:21] dotnetchris commented on #615
@rsbondi is this covered by the 619 ticket?

[2015-04-21 16:40] rsbondi commented on #615
I suppose, just the doc update

[2015-04-21 16:44] jonrandydd commented on #622
Sorry - I misunderstood what you wanted me to do. Worked it out now...

...and it seems to work correctly!

https://jsfiddle.net/ga1v9hde/6/

[2015-04-21 17:02] rsbondi commented on #622
Great, not sure when the fix will be released but look for it hopefully soon.

[2015-04-21 17:14] dotnetchris commented on #615
@rsbondi i think there's still an issue in the parser related to a BOM or similar character

[2015-04-21 17:55] mmanneva commented on #618
I am facing a similar issue, and I don't think HTML5 drag and drop fixes the problem described by txchen, since HTML5 drag and drop also rearranges the DOM, thus setting riot's each logic out of sync. (HTML5 drag and drop is also very limited, so it's not always a solution.)

I'm using txchen's workaround for now, but I would also appreciate a proper solution.

For what it's worth, this code simul

[2015-04-21 18:22] rsbondi commented on #615
do you have an example to illustrate the issue?

[2015-04-21 21:23] valan commented on #300
I have a question. I believe something like the below would be possible if yield was evaluated in the child context, but I'm not sure how to go about it or if it would be possible if it's evaluated in the parent context. How would you guys approach it?
[code]
[code]

[2015-04-21 21:45] GianlucaGuarini commented on #300
@valan You are right at moment it's not possible I just wrote the documentation https://github.com/muut/riotjs/blob/feature/yield/doc/api/tags.md#html-transclusion-using-the-yield-tag--yield

Maybe in future we could think about it

[2015-04-21 22:09] valan commented on #300
so I guess the workaround for that would be putting the template in the tag definition rather than in the page, then maybe make a conditional if a different layout is needed
[code]
[code]

[2015-04-21 23:10] aheinze opened #625 "Riot views - inline auto-compiled and mounted views"
This is something I'm really missing for quick views without the need to create a custom tag every time. maybe it is also useful for somebody:

[code]

[2015-04-22 02:33] mingliangfeng commented on #169
See if this can give you some idea to organize your code: https://github.com/muut/riotjs/pull/621.

BTW, it is based on flux architecture.

[2015-04-22 02:44] mingliangfeng commented on #508
Do you mean testing riot tags? It is an important but missing part.

[2015-04-22 05:41] atian25 commented on #508
any guide for testing `riot` project, just like `angular` unit-test example

[2015-04-22 06:17] GianlucaGuarini commented on #300
Now that the `yield` tag will land in the new riot release https://github.com/muut/riotjs/pull/617 I think I will remove the compiling at the parent level like suggested from @eyy and like Vue and React do.
The reasons I want remove this behavior are these:
 - having two different ways of compiling the `yield` tag makes it de facto it inconsistent and it could generate other confusion to our users

[2015-04-22 16:57] dotnetchris commented on #615
No, only thing i have to do on is i got the unexpected character < from the todo.tag sample even when it was in a separate file, but looking to the github.io file allowed it to work

[2015-04-22 17:22] rsbondi commented on #615
OK, so I am closing, if you come up with an example, we can re-evaluate.

[2015-04-22 17:22] #615 closed

[2015-04-22 19:18] valan commented on #300
Yeah, child context makes way more sense intuitively, at least for me. And you can always access the parent if you need to anyway.

[2015-04-22 19:25] rsbondi commented on #620
Hey @AndreasHeintze , your update fixed my mystery `if` statement issue, in previous versions I did not need the if statement [here] (http://plnkr.co/edit/yKDcy0Tn3mLVdZNu2oC3?p=preview) (now commented out in the raw tag thanks to your update).

Awesome find!  I think this can be closed now?

[2015-04-22 21:36] AndreasHeintze commented on #620
Good to hear, I'm closing it now.

[2015-04-22 21:36] #620 closed

[2015-04-22 21:38] GianlucaGuarini commented on #584
Ok @tipiirai I think we should be ready for a new release.. riot 2.1.0

[2015-04-22 21:48] AndreasHeintze commented on #584
Will my #624 be in this release too?

[2015-04-23 04:10] txchen commented on #584
@GianlucaGuarini thank you so much! Looking forward to a new release.

[2015-04-23 06:07] GianlucaGuarini commented on #584
@AndreasHeintze yes
@txchen you are welcome

[2015-04-23 07:36] tipiirai commented on #584
Awesome. I'll start working on a release. I'll add some initial documentation for `yield` as well as release notes based on this issue.

[2015-04-23 08:35] GianlucaGuarini commented on #584
@tipiirai Watch out I have already started https://github.com/muut/riotjs/blob/dev/doc/api/tags.md#html-transclusion-using-the-yield-tag--yield

[2015-04-23 08:38] tipiirai commented on #584
Nice!

I just added an overview to the user guide. Luckily no overlaps.

[2015-04-23 09:03] tipiirai commented on #584
[2.0.15](https://muut.com/riotjs/release-notes.html) is now public.

Thank you guys! Another huge community effort without my participation. And very special thanks to @GianlucaGuarini again.

[2015-04-23 09:07] GianlucaGuarini commented on #584
Awesome thanks to you @tipiirai :v:

[2015-04-23 09:08] geordee commented on #584
Thank you! You guys are amazing!

[2015-04-23 10:54] #584 closed

[2015-04-23 18:19] GianlucaGuarini commented on #572
Could you try with the new release 2.0.15 please?

[2015-04-23 18:21] GianlucaGuarini commented on #557
Fixed!

[2015-04-23 18:21] #557 closed

[2015-04-23 18:32] GianlucaGuarini commented on #524
This should be fixed with riot 2.0.15 @cognitom can we close it?

[2015-04-23 21:04] GianlucaGuarini commented on #625
Why don't you make your own github repo extending riot. I do not think we need to add this feature to the riot core but having your riot extension anyone is free to use it whenever they need it. Thanks anyway

[2015-04-23 21:38] eyy commented on #300
Well, I'll give one last advocation for parent-context compiling:
* **Only one way to compile yield**: I can't see why should there be two different ways of yield compiling. Code should be understood only in its context: when we pass arguments to a function (`var a = 1, b = 2; func(a + b)`) they are evaluated before the function runs. This is the same case here.
* **Maybe it's not that complex**:

[2015-04-23 22:16] txchen commented on #413
@GianlucaGuarini with 2.0.15's riot-tag feature, this is no longer an issue.
I have updated the todomvc example, and ping the reviewers again.

Thanks for making this change! I am closing this issue.

[2015-04-23 22:16] #413 closed

[2015-04-23 22:30] rsbondi commented on #622
Can this be closed now?

[2015-04-23 22:49] jmas opened #629 "Can't pass array through attribute (to tag options)"
Hello, guys.
I have list of items (image-list). Each item (image-item) have palette that should render as list of colors.
Have a problem with pass palette to image-item tag. I have one base array called items:
[code]
Then I pass this array to image-list tag:
[code]
image-list tag:
[code]
And image-item tag:
[code]
You see that I added console.log to image-item tag. In console I have weird log:
[co

[2015-04-23 23:01] rsbondi commented on #629
What is the riot version? 2.0.15 was just released today, there were several fixes to extra calls, maybe fixed with this #620/ #624 or #473

[2015-04-24 03:37] brandonbuttars commented on #168
You can also use CSS to emulate tables if you need to.
display: table
display: table-row
display: table-cell

All are supported by IE8+

[2015-04-24 06:49] jmas commented on #629
Riot version is 2.0.15 (I use next link https://cdn.jsdelivr.net/g/riot@2.0.15(riot.min.js+compiler.min.js) for include it).

[2015-04-24 07:44] jmas commented on #629
Here example of code: https://github.com/jmas/riot-issue-629-example

[2015-04-24 08:05] AndreasHeintze commented on #629
I have not yet tried your code, just looked at it and one thing I think is wrong is the mounting. If you try and change from:
[code]

to:
[code]

[2015-04-24 08:05] jonrandy commented on #622
I guess so, although I also noticed that dynamic naming of elements mounted this way does not seem to work. If you put, for example:

name="g{k}"

into the example above, you do not get many different named tags in the parent, only one tag named 'g{k}'. Is this another bug, or something that just isn't possible?

[2015-04-24 08:09] jmas commented on #629
Prefect, thank you! But still can't understand why Riot convert `src` attribute to `riot-src`?

[2015-04-24 09:16] AndreasHeintze commented on #608
I've succeeded on this by just removing the server rendered content on the client side and then re-render it all again on the client side. This works and keeps search engine crawlers happy, but I hope it can be done without removing and re-rendering.

[2015-04-24 09:40] zelid commented on #608
A hack but if it's the only way for now it should work. Andreas, do you have a repository with a short example how you implemented the isomorphic riotjs app?

[2015-04-24 09:52] rsbondi commented on #622
Not sure I follow, I updated https://jsfiddle.net/ga1v9hde/11/ and I get 12 guess tags and in the dom I get tags with name="g1" etc.

also updated with release https://jsfiddle.net/ga1v9hde/12/

[2015-04-24 09:57] jonrandy commented on #622
They are in the DOM, yes, but I expected them to be available as .g1, .g2 etc. in the parent tag - as mentioned here - https://muut.com/riotjs/guide/#named-elements

[2015-04-24 10:16] AndreasHeintze commented on #608
I'm building a rather complex platform with sails.js on the server side, but I*ll try to make an easy isomorphic js example.

[2015-04-24 10:21] rsbondi commented on #629
The reason is to prevent illegal server request for `src="{src}"` before tag expressions are evaluated.

[2015-04-24 10:26] jmas commented on #629
@rsbondi Thank you for explain.
You, guys are very help me. I closed issue because all issues are solved.

[2015-04-24 10:26] #629 closed

[2015-04-24 10:26] rsbondi commented on #622
ok, now I understand the issue, will check into it, thanks for clarifying

[2015-04-24 10:36] rsbondi commented on #622
so, why don't we close this and create a new issue with a title describing the issue, maybe 'Dynamically named elements not bound to context'?  This may not be easily fixed but at least we could update the docs to clarify

[2015-04-24 10:38] jonrandy commented on #622
I'm happy with that

[2015-04-24 12:25] hvdklauw opened #632 "Using class selector on inputs to add component"
To quickly test Riot I wrote a quick and simple datepicker using moment.
However it would be nice to be able to add it to a input field by using a simple class:

[code]

However then the riot element html is placed *inside* the input tag, which is not valid.

Would be nice if I could tell riot to put the component *after* the element.

[2015-04-24 15:59] mef opened #633 "typo on muut website"
hi guys,

I don't know whether it's the right place to report this:

There's a typo in these pages: "tansclusion' instread of "t**r**ansclusion":

* https://muut.com/riotjs/
* https://muut.com/riotjs/release-notes.html

[2015-04-24 16:57] rsbondi commented on #633
Already updated [here](https://github.com/muut/riotjs/pull/631/files), please close this issue

[2015-04-24 17:01] #633 closed

[2015-04-24 19:18] jmas opened #634 "Access to child tags through tags property"
Have a question about access to child tags.
If I add one tag, like `<dialog>` as child - I can access to this tag through `self.tags.dialog` from parent.
But when I add second `<dialog>` - now `self.tags.dialog` is array of tags objects of type `<dialog>`.
Now I want to call some method of child `<dialog>` from parent. But how to identify `<dialog>` that I want to call? (We have 2 or more dialogs

[2015-04-24 19:35] GianlucaGuarini commented on #634
You could try something like this:
[code]

[2015-04-24 19:44] GianlucaGuarini commented on #611
With riot 2.0.15 you can start/stop/create new routers as you prefer https://muut.com/riotjs/api/#route-start

[2015-04-24 19:46] jmas commented on #634
Yep. Right. I can each time access to tag by filtering children and comparing id's. And do this again and again in different part of app where I need to access child with id.
But I want more short way for do this. Like: `self.get('dialog')`, `self.get('dialog', 'my-dialog-id-2')`.
And another problem is - if child tag count is 1 in `self.tags.dialog` I have an object, but if child tag count is mor

[2015-04-24 19:48] GianlucaGuarini commented on #634
We have it already https://muut.com/riotjs/guide/#named-elements

[2015-04-24 20:00] GianlucaGuarini commented on #600
@speier could you check it? It seems to be a simple-dom issue

[2015-04-24 20:04] jmas commented on #634
@GianlucaGuarini Yep, right. I saw that we have named elements and I can access to DOM element by id.
Do we able to access to *Riot Tag object* (not to DOM element, with all Riot Tag methods) by this way?

[2015-04-24 20:16] GianlucaGuarini commented on #634
The things are simpler than you think. If you have multiple child tags inside the same component they will be available as an array `this.tags['my-awesome-child']`, If your tag is unique your riot component will just return it under `this.tags['my-awesome-child']`. I do not think adding other riot api methods for such simple things is a good idea, we are trying to keep riot simple and dry. You can

[2015-04-24 20:23] GianlucaGuarini commented on #556
@tipiirai has already answered to this question https://github.com/muut/riotjs/issues/394
I respect his opinion and I will close this issue for now. Even if I like gitter as well we have already enough ways to support our users. Maybe in future we could think again about this

[2015-04-24 20:23] #556 closed

[2015-04-24 20:29] GianlucaGuarini commented on #515
@eyy Thanks for your explanation. This is not really a riot issue

[2015-04-24 20:29] #515 closed

[2015-04-24 20:37] GianlucaGuarini commented on #562
Could you post a jsfiddle example please?

[2015-04-24 20:40] GianlucaGuarini commented on #536
@emehrkay why don't you make a pull request with some tests?

[2015-04-24 20:43] GianlucaGuarini commented on #463
with the yield feature we can close this issue https://muut.com/riotjs/api/#yield

[2015-04-24 20:43] #463 closed

[2015-04-24 20:46] GianlucaGuarini commented on #446
I have fixed this in riot 2.0.14

[2015-04-24 20:46] #446 closed

[2015-04-24 20:49] GianlucaGuarini commented on #432
closed with this https://github.com/muut/riotjs/pull/430

[2015-04-24 20:49] #432 closed

[2015-04-24 20:54] GianlucaGuarini commented on #376
We will keep using hash tags in our router because we support ie8 and ie9. We will think about switching to the html5 push navigation maybe in future. Closing this issue for now

[2015-04-24 20:54] #376 closed

[2015-04-24 21:09] GianlucaGuarini commented on #300
@eyy thanks for your complete answer. The thing is much more complicate than what you think. What happens to the content of the nested loops? .. And of the nested loops of other internal loops? If we start handling all this cases we will end up writing angularjs. __We need to keep riot dry__ using the yield tag we can cover the most of transclusion cases in a clear and simple way, without expectin

[2015-04-24 21:09] #300 closed

[2015-04-24 21:11] emehrkay commented on #536
I'll do it this weekend

Sent from my iPhone

[2015-04-24 21:16] GianlucaGuarini commented on #634
I am closing this issue hoping I my answer was clear. Thanks for raising it up

[2015-04-24 21:16] #634 closed

[2015-04-24 21:19] jmas commented on #634
@GianlucaGuarini, Can you advice how to extend (or write plugin for) Riot that update object that we access as `this` (`self`)?

And about second problem when we get object or get array of child tags. I explain what I mean.
For example I wrote code that working with one child tag named `<dialog>` than I add another one tag of `<dialog>`. Now `self.tags.dialog` is array. But my code that I wrote be

[2015-04-24 21:21] GianlucaGuarini commented on #632
You could try something like:
[code]

[2015-04-24 21:30] GianlucaGuarini commented on #634
[code]

[2015-04-24 21:47] jmas commented on #634
Thanks a lot for your fast reply and for usable example!
I guessed that Riot have some special API for plugins, but it seems this is not true. No metter.

And sorry that I ask again, I just want to know your opinion about (maybe) issue that we get object or array of tags by `self.tags.tag_type`. Maybe this behavior should be more precise.

[2015-04-24 22:26] rsbondi commented on #634
fwiw, the named elements does not work with dynamically named elements, see #622 discussion.  Named elements are created when parsed, and the expressions are not evaluated until later in the each loop.  I don't think it would be a good idea to do this in the each loop, but it would have to be done there.  I think that maybe the original intention may have not been for dynamically named elements.

[2015-04-24 23:04] jmas commented on #634
Not sure that I understand clearly what you want to say about named elements that built by `each`. I think my idea is different and do not related to #622. I do not use `each` for create elements in this case.
Here is an example:
[code]
In `<app>` I can access dialogs by `this.tags.dialog`. I just ask for way to open dialog from `<app>` like: `this.dialogs.auth_dialog.open()` and `this.dialogs.reg

[2015-04-25 01:13] valan opened #636 "html elements as tags not mounting"
trying out the standard html elements as tags feature in 2.0.15, I tried to mount like the [docs](https://muut.com/riotjs/guide/#riot-tag) described, but it was not picking up the tag if you mount it directly. It was still working with `riot.mount('*')` though

doesn't work:
[code]
http://jsfiddle.net/wzzd2hyy/1/

works:
[code]
http://jsfiddle.net/wzzd2hyy/2/

[2015-04-25 02:37] linyupark commented on #632
The page will print out [object HTMLUnknownElement]

[2015-04-25 04:37] rsbondi commented on #636
updated with PR code: http://jsfiddle.net/wzzd2hyy/3/

[2015-04-25 08:00] speier commented on #600
@GianlucaGuarini sure, i will take a look into this..

[2015-04-25 09:41] hvdklauw commented on #632
You couldn't have to make it a calendar element, you could do:
[code]

Still it would be nice not to need this.

[2015-04-25 10:56] jmas opened #639 "Event afterupdate?"
Hello, guys.
I trying to do some work after `update` event, but I found that Riot tag support only `mount`, `unmount`, `update` and no event to handle DOM structure after `update`.

Here is example what I trying to do:
[code]
This div showed only if `fileName` have not empty value. I do not want to add `style="background-image: url(/images/{ fileName })"` because browser send wrong request when `f

[2015-04-25 11:23] AndreasHeintze commented on #639
Could someone update the documentation since there is a trigger event called 'updated', it's just not in the docs.

In your tag definition you can do:
[code]

[2015-04-25 11:26] GianlucaGuarini commented on #639
@AndreasHeintze you are right we need to update the doc. Would you be interested in making a new pull request?

[2015-04-25 11:29] GianlucaGuarini commented on #632
Wrap it in a function and you have your riot extended. Or you can even make your own riot plugin. I do not think we will implement this kind of behavior directly in the riot core, it seems more your personal need

[2015-04-25 11:40] jmas commented on #639
Cool, guys! You are stars! I can help with update docs, but I'm Riot beginner and have low skills in English. So I can prepare Pull request with one change to this doc https://github.com/muut/riotjs/edit/master/doc/api/tags.md:

[2015-04-25 11:41] GianlucaGuarini commented on #639
Thanks @jails

[2015-04-25 12:16] speier commented on #600
@GianlucaGuarini @AndreasHeintze please take a look into #641

[2015-04-25 12:36] AndreasHeintze commented on #600
Seems to work, thanks! I'm closing this.

[2015-04-25 12:36] #600 closed

[2015-04-25 16:12] anakinjay opened #644 "getting handled element from click with children?"
Sorry for the awkward title, wasn't sure how to word it.

untested short version for simplicity sake:
[code]

So using this example, if I click on any "parent" tag the clicktest handler fires as expected, but in the event object, I can't find any way to reference the "parent" tag that the onclick handler was assigned to. The toElement property references the child that was clicked, not the "parent

[2015-04-25 17:03] jmas commented on #644
So you want get `<parent>` tag, when user click on something inside this tag?
You can use simple function:
[code]
Use it in following way:
[code]

Sorry, I do not test this function. Only want to give main idea.

[2015-04-25 17:18] AndreasHeintze opened #645 "How to use the yield-tag with riot.render()?"
How can I use the yield-tag with rendering on the server side with riot.render()?

[2015-04-25 18:11] jmas commented on #639
I sent pull request (https://github.com/muut/riotjs/pull/642) to dev branch.

[2015-04-25 21:44] Avnerus commented on #608
That's also what I did in my project: https://github.com/ListnPlay/riot-isomorphic/blob/master/src/app/components/main.js#L33
In https://github.com/muut/riotjs/issues/145 a sort of checksum check was suggested.

[2015-04-25 22:09] eyy commented on #300
:v:

[2015-04-26 00:36] anakinjay commented on #644
Thanks!    works just fine!    I guess I just assumed there would be a more elegant way to do it since the onclick is being assigned to one specific element.

Still, this works perfectly, thanks again!

[2015-04-26 00:36] #644 closed

[2015-04-26 00:40] jmas commented on #644
Yep, but `riotjs` have minimalistic philosophy. So for different manipulations with DOM you should include some other libraries like jQuery. Buy the way if you use jQuery you can find parent in more short way. ;)
Good luck!

[2015-04-26 00:44] anakinjay commented on #644
Thanks! it's crazy how Riot can be so minimalist, but still do everything I was using react + react-router +react-templates + webcomponents for.

If the trade off for ditching 5 libraries is having to loop through a dom once in a while, I'll survive ;)

[2015-04-26 00:53] jmas commented on #644
Riot like magic :crystal_ball:

[2015-04-26 02:21] rsbondi commented on #644
https://jsfiddle.net/05yao3hd/3/

`item` is what you clicked, `self`(parent) is the tag, `self.root` is the element

[2015-04-26 06:18] kelvinlee opened #646 "How to give a parameter for onclick"
[code]

[2015-04-26 06:28] cognitom commented on #646
Wrap the function. Also take care about the indentation inside the tag ;)

[code]

[2015-04-26 07:38] kelvinlee commented on #646
@cognitom Thank you.

[2015-04-26 07:57] cognitom commented on #524
@GianlucaGuarini Special thanks! Greeeeat. It works perfectly in 2.0.15 ;)
http://cognitom.github.io/riot-bootstrap/

I'm closing this issue. If someone has interest in `riot-bootstrap`, [join the discussion on its issue page](https://github.com/cognitom/riot-bootstrap/issues). Thanks.

[2015-04-26 07:57] #524 closed

[2015-04-26 08:06] AndreasHeintze commented on #608
@Avnerus I know, that's why I tried it. :) Have you solved the problem of rendering tags that is using the new yield-tag? It does not seem to work rendering it on the server side.

[2015-04-26 08:25] Avnerus commented on #608
@AndreasHeintze Ah ok :)
I haven't tried ```<yield>``` on the server side yet.

[2015-04-26 09:40] GianlucaGuarini commented on #524
@cognitom You are welcome ;) You can add a link to it on our readme file

[2015-04-26 09:41] #646 closed

[2015-04-26 10:10] AndreasHeintze commented on #608
As far as I can see, the problem is two things.
1. When setting innerHTML with simple-dom, innerHTML is parsed, but el.innerHTML itself is undefined after. Not sure why this is so and what we can do about it. Any ideas?
2. We need to supply the innerHTML in the call to riot.render() like below.

[code]

[2015-04-26 11:08] hvdklauw commented on #632
Fiddled a bit with it, insertAdjacentHTML expects a position and text:

[code]

[2015-04-26 15:16] oswaldomilet opened #647 "This need marketing"
I just found this framework while thinking in which use in a production project. I know this is new, but when we are in a new era for web development, emerging Angular, Polymer, React and others you guys did the best work making ease to develop using existing technologies and discarding reinventing the wheel. So, congratulations, but I would like to suggest you make more noise in the web, cause th

[2015-04-26 16:54] GianlucaGuarini commented on #632
Awesome can we close this issue for now?

[2015-04-26 17:25] GianlucaGuarini opened #648 "Riot next"
Here I am proposing my personal list of the features/bugs we may include/fix in the next riot release:

### Bugs
- [x] https://github.com/muut/riotjs/issues/608
- [x] https://github.com/muut/riotjs/issues/604
- [x] https://github.com/muut/riotjs/issues/534
- [x] https://github.com/muut/riotjs/pull/581 https://github.com/muut/riotjs/issues/448
- [x] https://github.com/muut/riotjs/issues/514
- [x] h

[2015-04-26 17:46] hvdklauw commented on #632
Sure !

[2015-04-26 17:46] #632 closed

[2015-04-26 17:48] rsbondi commented on #534
the compilation is due to indentation
http://jsfiddle.net/1sk25a1v/3/
https://muut.com/riotjs/guide/#tag-syntax

Not the perfect answer but keeps it is inline with the minimalist philosophy: https://github.com/muut/riotjs/pull/487#issuecomment-78422788

the other issue is due to the fact that named elements are created at parse time, there are no values available, the name attribute is the string,

[2015-04-26 18:47] GianlucaGuarini commented on #648
@tipiirai Could you set up a riot account on https://coveralls.io/ and https://saucelabs.com/opensauce/
with including their github hooks please? ( It's free )

[2015-04-26 19:07] AndreasHeintze commented on #648
Can we include this one too?
Added possibility to change compiled file extension #643

[2015-04-26 19:10] GianlucaGuarini commented on #648
@AndreasHeintze I am not yet sure if it's just your personal need or It's really widely needed maybe another opinion on that'd be helpful

[2015-04-26 19:28] AndreasHeintze commented on #648
It's not much code and it's just a feature you can use or leave it as it is and it is not code that is sent to the client, but I don't know if someone else needs it right now.

[2015-04-26 20:57] rsbondi commented on #534
updated: http://jsfiddle.net/1sk25a1v/4/

[2015-04-26 21:02] rsbondi commented on #622
check updated: https://jsfiddle.net/ga1v9hde/13/

[2015-04-26 21:18] rsbondi commented on #648
Could you not just call your tag file `filename.tag.tag`?

[2015-04-27 02:18] emehrkay opened #653 "I may be wrong here, but riot.mount doesn't work with riot+compiler.js when manually defining tags via riot.tag"
I am adding mixin support per issue #536 and I noticed some strange behavior while writing the tests. I am adding a test to the runner.html since I want to test the complied tag. My test case is very simple and when I go to log x it is undefined

[code]

It looks like the `riot.mount` is overwritten to use `riot.compile` which eventually calls the `compleScripts` function. That function loops over

[2015-04-27 04:29] jonrandy commented on #622
Yes - that seems to work!

[2015-04-27 05:22] AndreasHeintze commented on #648
Probably, but it looks really bad.

[2015-04-27 06:22] tipiirai commented on #413
Thank you @txchen. Just need some patience from tastejs guys. Especially with Riot.

[2015-04-27 06:23] tipiirai commented on #168
Good point @brandonbuttars

[2015-04-27 07:20] tipiirai commented on #648
@GianlucaGuarini tried to find how to add a webhook from sauce labs profile but I found it impossible. Their UI is totally unclear at least for me.

[2015-04-27 07:22] GianlucaGuarini commented on #648
If I can have the admin rights I could set up everything, saucelabs and coveralls

[2015-04-27 07:24] tipiirai commented on #648
Nice. Added!

[2015-04-27 07:27] GianlucaGuarini commented on #648
So we got both coveralls and saucelabs? Could please add somewhere the saucelabs keys? https://github.com/GianlucaGuarini/es6-project-starter-kit/blob/master/tasks/test/index.js#L23-L24

[2015-04-27 07:29] tipiirai commented on #648
I'm not familiar with those tool. I'll let you decide and play with them.

Don't you now have access to the keys?

[2015-04-27 07:32] derkan commented on #647
+1

[2015-04-27 07:35] GianlucaGuarini commented on #648
We need to register the riotjs on saucelabs project using a mail https://saucelabs.com/signup (use the free plan). Once you have done you can send me the access via mail gianluca.guarini@gmail.com Thank you

[2015-04-27 07:39] tipiirai commented on #648
I cannot get riotjs listed on saucelabs admin panel. I can only login as "moot" or "tipiirai", but not as "muut" since that is an organization. Not sure what to do.

[2015-04-27 07:40] GianlucaGuarini commented on #648
Ok i will make a new mail for riot sometimes tonight. I will send you the access to this mail as well.

[2015-04-27 07:47] tipiirai commented on #648
cool. thank you

[2015-04-27 10:00] jmas commented on #647
:+1:

[2015-04-27 13:29] mhelvens opened #654 "Scoped CSS does not work with 'riot-tag' based mounting"
If my custom tag definition contains a `<style scoped>` block, those styles won't apply when I mount my tag through a [`riot-tag` attribute](https://muut.com/riotjs/guide/#riot-tag).

I assume this will also be the case for [`mount(selector, tagName)`](https://muut.com/riotjs/api/#mount-tag) and [`mount(domNode, tagName)`](https://muut.com/riotjs/api/#mount-dom), but I have not actually tested thi

[2015-04-27 13:37] OEvgeny opened #655 "Event name splits on chars and adds as fields to tag after trigger"
See fiddle. Event name adds as ``'0' '1'...`` object fields.
http://jsfiddle.net/wf7bkvur/19/
Push change button. You will see ``c h a n g e`` in right of it. Now look to tag template.

[2015-04-27 13:45] OEvgeny commented on #655
Ugh depending on documentation ``this.update(data)`` function exists. And when I call ``this.update('somestring')`` it splits string to characters and adds they to ``this``.

[2015-04-27 15:03] anakinjay opened #656 "Data binding element attributes for raw html?"
I'm having trouble working around the "no rendering of html" functionality of Riot. Here's what I'm trying to do (untested simplified code for explanation purposes):
[code]

the { htmltest } outside of the raw tag changes, the one as a content attribute of the raw tag does not.

This spits out the "raw tag is updating" on click, so I know the on update event of the raw tag is firing, but the opts.

[2015-04-27 15:20] AndreasHeintze commented on #656
Can you make a jsfiddle example?

[2015-04-27 15:20] anakinjay commented on #656
sure give me a min

[2015-04-27 15:24] jmas commented on #656
Please, try `updated` event.

[2015-04-27 15:39] jmas opened #657 "Tags compiler: export tags CSS to file"
Hello, guys. I have an propose to export collected CSS from tags to file.
Example:
[code]
[code]
What you think?

I interest in this because I want to do minification and optimizations for tags CSS after build. Also I want control including CSS to `<header>`.

I need to know your opinion in this. I can do work for this task and then make PR, but I want to be sure that this make sense for developer

[2015-04-27 16:25] anakinjay commented on #656
Well I feel stupid.  The JSfiddle I made worked, and somehow in the process of trying to figure out the differences between my code and the jsfiddle I made, my code started working.

I literally have no idea was was wrong, but it works so I'll take it. haha.

Sorry for wasting your time!

[2015-04-27 16:25] #656 closed

[2015-04-27 17:44] rsbondi commented on #654
Please provide a fiddle or similar.

[2015-04-27 17:48] mhelvens commented on #654
[Here you go.](http://jsfiddle.net/Leredjn8/1/)

[2015-04-27 17:57] rsbondi commented on #655
You are triggering an event that does not exist.  When you say `this.plain.trigger('change')` there needs to be a `this.plain.on('change', function() {...})` handler

[2015-04-27 18:09] rsbondi commented on #654
ok, thanks, looks like it compiles to `my-tag p { border: solid 1px black }`, need to update compiler to include `[riot-tag="my-tag"] p`

[2015-04-27 18:12] mhelvens commented on #654
Yep. But that won't work for those two special `mount` functions: [fiddle](http://jsfiddle.net/Leredjn8/2/)

Not sure if there's an easy fix for those.

[2015-04-27 18:14] speier commented on #608
@AndreasHeintze yes currently the `innerHTML` property is only implements a setter.
i will take a look into this, trying to get `yield` working on server-side first..

[2015-04-27 18:57] rsbondi commented on #654
ok, thanks, you are right, a bit more complex.  Maybe the answer is to document that scoped css not available with those mount cases?

Are you suggesting to have the mount function add the riot-tag in those mount cases?  Might not be a bad idea, not sure if I like it or not, would simplify the compilation but needs more discussion.  Other suggestions welcome.

[2015-04-27 18:59] bucaran opened #658 "ES6 Demo + Problems with `-t es6`"
I would like to make a basic port of the demo found [here](https://github.com/muut/riotjs/tree/gh-pages/demo) to ES6, but I am unable to compile `todo.tag` to `todo.js` using the `-t es6` option correctly.

## One

The first problem was functions declared like:

[code]

needed to be in the following form so that `riot` didn't break (or rather Babel for the looks of the stack trace)

[code]

But ac

[2015-04-27 19:07] speier commented on #608
@AndreasHeintze `yield` should be ok with #659
/cc @GianlucaGuarini could you please take a look as well? thanks

[2015-04-27 19:08] mhelvens commented on #654
Yes, that's what I'm suggesting. Seems like the most elegant solution to me.

But if you must preserve backwards compatibility for people who are counting on the current behavior (seems like an extreme corner-case, but still), you could come up with a new attribute name, e.g., `riot-mount`.

[2015-04-27 19:16] rsbondi commented on #654
@GianlucaGuarini your thoughts?

[2015-04-27 20:14] GianlucaGuarini commented on #654
Now I am busy on other stuff I will come back to the topic ASAP

[2015-04-27 20:14] GianlucaGuarini commented on #608
I am currently busy on other things I will check it ASAP

[2015-04-27 20:59] emehrkay commented on #653
If we rewrite `complleScripts` as such, it will work

[code]

[2015-04-27 23:03] jmas commented on #657
Bump. :mega:

[2015-04-28 00:36] mark-hahn opened #661 "newbie: can't compile from src folder to lib folder"
I can compile single files but I can't get it to work by specifying folders.  Note that nothing is created in the lib folder ...

[code]

[2015-04-28 00:41] rsbondi commented on #654
@mhelvens , your [proposal](http://plnkr.co/edit/aWjLQR?p=preview) does not seem very difficult, or require a lot of code.

I will make a PR as soon as I figure out how to create a reasonable test case.  Thanks for your input on this issue.

[2015-04-28 00:45] jmas commented on #661
Hello, I'm using follow code for build everything in `public/tags/` folder.
[code]
Note that `public/tags.js` is `*.js` file where should be all compiled tags definitions.
Maybe this help you.

[2015-04-28 00:50] mark-hahn commented on #661
Thanks for the example.  I have found though that if I remove the `--expr`
option it works correctly compiling all tag files in src into js files in
lib.

Now I need to find out how to make `--expr` work.

On Mon, Apr 27, 2015 at 5:46 PM, jmas <notifications@github.com> wrote:

[2015-04-28 00:57] jmas commented on #661
I think `riot --help` can help you. ;)
[code]

[2015-04-28 01:00] mark-hahn commented on #661
`riot help` has `--expr` listed as an option.

I just discovered that --expr needs a parameter although it doesn't say
this in help.  This compiles.

[code]

I hope --expr works correctly.

On Mon, Apr 27, 2015 at 5:57 PM, jmas <notifications@github.com> wrote:

[2015-04-28 01:03] mark-hahn commented on #661
Aha!  You have to have the options after the src and lib args.

[code]

That is crazy.  I'd call it a bug.

On Mon, Apr 27, 2015 at 6:00 PM, Mark Hahn <mark@hahnca.com> wrote:

[2015-04-28 02:12] mark-hahn commented on #661
I got everything to work.  I did end up compiling all src files to one file, `with-tags.js`.  Otherwise I had to load all the js files individually.  So this is what I'm using ...

[code]

But the `--expr` still seems broken to me.  I'll close this since I got it working.

[2015-04-28 02:12] #661 closed

[2015-04-28 02:40] cognitom commented on #657
Hi @jmas, I have the same interest.

As you said, we need some APIs for HTML/JS/CSS compilation on RIot.js to work together with gulp or something. But this time it's not so simple because we should consider the browser compilation at the same time. Fortunately GianlucaGuarini is now working on separating the browser compiler and the node compiler #649 :)

FYI, here is my workaround with browserif

[2015-04-28 02:46] iamliqiang commented on #582
2.15 broken the parent.parent.on(mount,...) tricks,   now ,i have to use setTimeout(foo,5) make sure foo() is executed after the element is avabled on dom

[2015-04-28 02:52] cognitom commented on #658
Hi @bucaran !

[Here's an answer](https://github.com/txchen/feplay/tree/gh-pages/riot_babel#to-write-es6-in-tag-script) for 'One' by @txchen. In short:
[code]

[2015-04-28 02:54] cognitom commented on #658
How about this for 'Two' ?

[code]

[2015-04-28 02:54] iamliqiang commented on #582
in fact i think maybe we need a real 'mounted' event , to ensure the  'mounted' event is triggered after the tag is already available on DOM.

[2015-04-28 03:05] rsbondi commented on #582
how about `this.one('updated',...`

[2015-04-28 03:14] bucaran commented on #658
@cognitom Thanks!

+ __(1)__

Sure, ES6 syntax works without problems, but  :open_mouth:  I didn't know that Riot had a _mini-ES6 method syntax_ (by default) which, of course, will not work with Babel

[code]

Nothing wrong with it, but without further explanation @tipiirai @cognitom @all, it begs the question, _why?_

+ __(2)__

`riot --type es6 --expr source.tag` works just as well as `riot sour

[2015-04-28 03:41] txchen commented on #658
@bucaran  ES6 string inside the tag cannot work, https://github.com/txchen/feplay/tree/gh-pages/riot_babel here I have an work around.

Like:
[code]

[2015-04-28 04:14] bucaran commented on #658
@txchen Thanks! Case solved.

As for __(1)__:

AFAIK there is no such thing as ES6 method syntax. There is a method shorthand syntax inside object literals and classes, as described [here](http://ariya.ofilabs.com/2013/02/es6-and-object-literal-property-value-shorthand.html), but not dangling

[code]

[2015-04-28 05:13] cognitom opened #662 "Wrong reference in transclusion"
There seems something wrong.

- **expected**:  "I am APP."
- **actual**: "I am PARTIAL."

It means that references point `yield`ed component, not where the code is written.

[code]
http://jsfiddle.net/cognitom/5cvo0694/

I'm looking into it more deeply.

**UPDATE**: I've just simplified the example.

[2015-04-28 05:34] tipiirai commented on #658
I personally enjoy the brevity of the default shorthand syntax.

But I realize here that this produces some inconsistencies with ES6 but looks like there are workarounds. Can someone describe the core problem and a proposed syntax to fix that? Thanks!

[2015-04-28 05:38] hiscodeness commented on #582
I didn't know about the ```'upated'``` event.

Nevertheless, :+1: for a separate ```'mounted'``` event. I'd rather have an explicit event notifying the one time occurrence of a tag having been mounted when everything is ready than having to reimplement the logic wherever this type of initialization is necessary.

[2015-04-28 05:41] bucaran commented on #658
Me too, of course.

As for __(2)__, it would be nice if you could simply use ES6 inside tags and that would compile correctly when using the `-t es6` transform.

[2015-04-28 05:52] tipiirai commented on #658
My thinking does not result anything from above. Can you help a ES6 newbie?

(2) is the goal so this needs to be fixed.

[2015-04-28 05:54] bucaran opened #663 "Comments inside tags before JavaScript code"
This is fine

[code]

but the following

[code]

causes a stack overflow

[code]

[2015-04-28 06:00] bucaran commented on #658
@tipiirai

Riot's mini method syntax is akin to shorthand method definitions inside ES6 classes:

[code]

So if I think of `<script>` as a `class`, it helps me remember that ES6 class method shorthand works inside `<script>` tags.

[2015-04-28 06:03] bucaran opened #664 "Allow ES6 inside HTML tags inside tag files using the -t es6 transform"
Using the `-t es6` transform should correctly transpile ES6 code inside HTML tags inside Riot _tag_ files.

For example:

[code]

transpiles to:

[code]

which is not what we want: `"** " + opts.title + " **"`.

[2015-04-28 06:03] #658 closed

[2015-04-28 06:14] OEvgeny commented on #655
Yep. I do it. See my fiddle, line 16: ``this.plain.on('data remove change', this.update)``.
And now i figured out my mistake (see second post).
In this case ``this.update()`` will called on event with event name, like ``this.update('change')``.
Update function will split string into chars and add as keys to ``this``.
And ``this`` will looks like

``
{ '0': 'c', '1': 'h', '2': 'a', '3': 'n', '4': '

[2015-04-28 06:18] tipiirai commented on #658
gotcha. thank you for the clarification

[2015-04-28 07:48] Avnerus commented on #582
+1 for ```mounted``` (or maybe ```render``` ?) event, or  maybe just fix the ```mount``` event? I'm not sure if there is any need to perform actions after the real DOM elements are inserted but before they are actually displayed.
Anyway maybe this function could be used: https://github.com/yyx990803/vue/blob/master/dist/vue.js#L4913

[2015-04-28 08:03] speier commented on #608
@Avnerus @AndreasHeintze i can take a look into the double mount issue..
can you guys help me out with a really basic/tiny isomorphic example to work on the issue? thanks!

[2015-04-28 08:18] Avnerus commented on #608
@speier oddly enough in my example the hack doesn't seem to be required any more. The tag is replaced normally on browser render.
Is it possible that 2.0.15 changed something about the way tags are rendered?

[2015-04-28 08:43] speier commented on #608
@Avnerus ok, thanks

[2015-04-28 09:00] jmas commented on #657
Very nice. :+1: Thanks for link to task example, maybe currently I'll use this approach.
I close task for now.

[2015-04-28 09:00] #657 closed

[2015-04-28 09:06] jmas commented on #662
I already current "problem", it seems if you wrap code into another tag - you get vars scope of wrapper.
You can user `{ parent.hello }` to access parent level scope.

[2015-04-28 10:22] lixiaoyan commented on #564
+1 for <for>

[2015-04-28 12:41] cognitom commented on #662
@jmas Thanks a lot! I hadn't been aware that.
`{ parent.hello }` works and it's enough as a temporary workaround.

But still I feel inconsistency compared to this example... hmm

[code]

[2015-04-28 12:48] jmas commented on #662
Yep. But in component/tag you can do following work:
[code]
[code]
How about this?

[2015-04-28 14:40] nehz opened #665 "Allow object literals to bind attributes"
Currently if I do something like this

    <my-tag myvar={test: 1}></my-tab>

it will bind the evaluated *string* expression to `opts.myvar` is there some way to bind the literal directly without using

     riot.mount('my-tag', {myvar: {test: 1}) ?

[2015-04-28 17:48] rsbondi opened #666 "CSS injection in IE8"
[This](https://github.com/muut/riotjs/blob/dev/lib/tag/vdom.js#L18) is giving me an error.

ie8 equivalent = `node.styleSheet.cssText = css` see [here](http://stackoverflow.com/questions/6631871/modifying-the-innerhtml-of-a-style-element-in-ie8)

I have the included shim/shiv, not sure if this can be an additional include, really don't want to muddy up the code with browser specific checks if at a

[2015-04-28 18:28] jmas commented on #665
Hello. How about: http://jsfiddle.net/a0oq3zdv/ ?

[2015-04-28 18:30] GianlucaGuarini commented on #662
@cognitom please check our doc about the `yield` tag https://muut.com/riotjs/api/#loops-and-children-using-co

We have deeply discussed about this here https://github.com/muut/riotjs/issues/300 In the end I decided for the simplest solution https://github.com/muut/riotjs/issues/300#issuecomment-96066358 because the riot source code was growing too much just to support the compiling at parent level

[2015-04-28 19:07] rsbondi commented on #663
[code]

[2015-04-28 20:53] AndreasHeintze commented on #608
I made a small isomorphic example and yes, it just works!
https://github.com/AndreasHeintze/riot-iso

Next I'll try it with the yield tag...

[2015-04-28 21:57] Avnerus commented on #608
Seems  it works by chance thanks to this ```<yield>``` feature:
https://github.com/muut/riotjs/commit/0d4f67b0c498227e1ea0af139a77bf19404f6b02#diff-20b0a21b18235c3e0672985082598221R25

Removing the newly added  ```root.innerHTML = ''``` reintroduces the problem

[2015-04-29 00:31] bucaran commented on #663
@rsbondi Probably, didn't check that one, but

[code]

causes a stack overflow, so that's probably a bug.

[2015-04-29 01:40] cognitom commented on #662
@GianlucaGuarini Thanks for your comment. I had missed the last part of that issue.
I've got the situation and I want to support your decision. Just I'm afraid that every beginner stumbles over it, and this makes it difficult to create component libraries.

Anyway, I'm closing this issue. Thanks @jmas, too!

[2015-04-29 01:40] #662 closed

[2015-04-29 02:27] cognitom commented on #663
@bucaran this is a spec. But we can use HTML comment here.

[code]

[2015-04-29 02:33] bucaran commented on #663
`//` style comments do work after the closing `</hey>` tag.

[2015-04-29 02:36] cognitom commented on #663
Yeah, we can js code outside the tag.

[code]

[2015-04-29 02:38] bucaran commented on #663
I guess this is an implementation detail, so I should look it up in the code, but do you know why it throws a stack overflow error if you put a comment in the `//bad` place?

[2015-04-29 05:34] cognitom commented on #663
@bucaran I couldn't get the error. This is my fiddle. Could you check it?
http://jsfiddle.net/cognitom/s6k5w9rL/

[2015-04-29 06:13] baer commented on #648
@GianlucaGuarini @tipiirai - Why did you chose to pull in SMASH? This seems like a step backwards for the Riot project. SMASH was created when other tools were less viable or simply not available. It was developed along side D3 and was fully extracted in 2015. Since then development has been nearly non-existant with a total of [35 commits](https://github.com/mbostock/smash/commits/master) from [5

[2015-04-29 06:20] tipiirai commented on #648
The reasoning is best expressed [here](https://github.com/muut/riotjs/issues/380#issuecomment-74493344).

Smash is just dummy imports with checks for circular dependencies. I love the simplicity.

I'm happy to use a better tool if the resulting file size doesn't grow too much.

[2015-04-29 06:27] hiscodeness commented on #582
The ```'updated'``` event doesn't help. It also comes too early, when the DOM elemens are not yet visible. Seems like the (really ugly) workaround with 2.0.15 is to use a timeout. :-(

There really should be an event for when a tag has been mounted with the DOM elements visible, i.e. fix the ```'mount'``` event or add a ```'mounted'``` event.

[2015-04-29 06:27] tipiirai commented on #648
We could also do something like this for Riot only:

**index.js** (template)

[code]

The index file would describe the dependencies and their order. And we don't even need circular dependency check.

[2015-04-29 06:28] GianlucaGuarini commented on #648
We chose smash because I am working on a branch to split the riot browser compiler form the node compiler https://github.com/muut/riotjs/tree/feature/split-compiler
Smash allows us to compile riot __without adding extra code to resolve the common js__ (like webpack and browserify do)
BTW. other tools like https://github.com/baconjs/bacon.js use the same strategy to compile the dist file check http

[2015-04-29 07:06] nehz commented on #665
This produces a string expression, I have updated your jsfiddle with an example:
http://jsfiddle.net/a0oq3zdv/2/

[2015-04-29 07:14] nehz opened #667 "Compiler generates wrong code for multilined nested object literals"
With the following:
[code]

Produces (on Chrome):
[code]

`Uncaught SyntaxError: Unexpected token ;`

[2015-04-29 10:53] cognitom commented on #648
Are we going to use Smash for everything? Or just browser-side code?

[2015-04-29 11:32] hiscodeness commented on #582
I'd also like to add that ```'unmount'``` event arrives late, after the DOM elements have already been removed from the page. For example, if I want to unmount nested tags from inside the parent tag, I have to use some signaling system to have the nested tags finalize and then unmount themselves instead of just calling ```this.activeTag.unmount(true)``` and then reacting to the ```'unmount'``` eve

[2015-04-29 12:25] GianlucaGuarini commented on #648
Just riot.js

[2015-04-29 12:44] cognitom commented on #648
I see. Browser compiler, too? Just for clarification.

target | packager
:-- | :--
riot.js | Smash
browser compiler | Smash
node compiler | CommonJS
test code ...etc | CommonJS

[2015-04-29 12:48] frzrjs commented on #484
@paldepind Have you thought about both of the following cases (I'm not sure if your library already does this):

[code]

My suggestion is following:
[code]
..so:

1) first __group items__ which are __next to each other in both cases__ (start, end)
2) then if:
  - current group has __more__ items than next group, __add first__
  - current group has __less__ items than next group, __remove first__

[2015-04-29 12:49] pakastin commented on #484
@paldepind Have you thought about both of the following cases (I'm not sure if your library already does this):

[code]

My suggestion is following:
[code]
..so:

1) first __group items__ which are __next to each other in both cases__ (start, end)
2) then if:
  - current group has __more__ items than next group, __add first__
  - current group has __less__ items than next group, __remove first__

[2015-04-29 12:50] GianlucaGuarini commented on #648
Right thanks @cognitom

[2015-04-29 14:49] baer commented on #648
I'm not sure if you've looked into ES6 modules but that may be an option. If there is too much overhead associated with a full blown module system you might want to consider just using a namespaced variable on window + concat. The concern is that you're tying this project to a deprecated/obscure tech.

[2015-04-29 15:38] emehrkay commented on #653
Example:

http://jsfiddle.net/8oum5cgt/

[2015-04-29 15:57] GianlucaGuarini commented on #653
Ok I got it thanks for your example I will merge your pull request soon

[2015-04-29 17:31] rsbondi commented on #665
[code]

http://jsfiddle.net/a0oq3zdv/3/

[2015-04-29 18:36] Avnerus opened #668 "HTML5 video with a dynamic <source> generates a warning on Firefox."
Hi,
Check out the following JSFiddle:
http://jsfiddle.net/hxzakq7t/1/
I guess this happens because of the ```riot-src``` conversion.
Firefox tries to load the video even before the tag updated and generates the following warnings:
[code]
Once the true ```src``` is update, the video loads fine.

[2015-04-29 19:45] GianlucaGuarini commented on #668
It's because the tag gets generated before riot sets its src, this happens also with the img tags, it's not really a problem

[2015-04-29 19:56] GianlucaGuarini commented on #648
@baer I was easily able to split the riot compiler just by using smash without reinventing the wheel, it acts exactly like `$ cat` but in a more elegant way. I have tried many module systems and I am pretty expert about this theme indeed I can not imagine any simpler solution than smash without increasing the size of riot. If you got some other fresh ideas or you would like to contribute proposing

[2015-04-29 22:20] iamliqiang commented on #582
@Avnerus  nextTick() not work here!

[2015-04-29 23:05] Avnerus commented on #668
Yeah, It's probably more of an aesthetic issue since the log can get quite cluttered when many videos are dispalyed simultaneously.
Not sure about the impact on performance for this redundant video load.
Would be nice to have a way to have the tag added only once the the src is really resolved, but if it's too complicated it's not critical.

[2015-04-29 23:07] Avnerus commented on #582
@iamliqiang Why not? It should work the same as ```setTimeout(0)``` which so far worked for me in all of the cases.

[2015-04-30 01:58] nehz commented on #665
Awesome thanks

[2015-04-30 01:58] #665 closed

[2015-04-30 19:18] lukescott commented on #289
Any workaround for this?
[code]

I have to setup two-way binding with a library and this issue is preventing me from doing so. I think `this.root.addEventListener` is probably not cross-browser as the `onchange` event is in Riot.

[2015-05-01 00:39] emehrkay commented on #667
Is it this line in compiler.js (156)?

if (m && !/^(if|while|switch|for)$/.test(m[2]))

I think "with" and ":" need to be added.

[2015-05-01 14:43] tito commented on #585
Same question, i just stumbed accross this, and it doesn't seems right to do the double call.

[2015-05-01 15:33] TehShrike opened #677 "Stop breaking semantic versioning"
Between 2.0.11 and 2.0.15, two breaking changes were made to the API that broke the relatively tiny [riot-state-renderer](https://github.com/TehShrike/riot-state-renderer):

1. the mount function was changed to return an array of tags instead of a single tag. *[issue](https://github.com/TehShrike/riot-state-renderer/pull/3)*
2. calling `unmount()` no longer leaves the parent dom element. *[issue](

[2015-05-02 07:53] pid commented on #677
+1

[2015-05-02 12:22] GianlucaGuarini commented on #677
@TehShrike I agree you are right.

[2015-05-03 06:54] ashleybrener commented on #152
I have a use case where I need to generate static html pages from riot tags on the server. Is riot._tmpl() the only way to accomplish this?

[2015-05-03 07:17] ashleybrener commented on #152
I see the tmpl() which does not seem publicly exposed.

[2015-05-03 10:47] GianlucaGuarini commented on #152
@ashleybrener https://muut.com/riotjs/guide/#server-side

[2015-05-05 06:35] tipiirai commented on #289
Try following:

[code]

[2015-05-05 06:47] tipiirai commented on #484
@pakastin: I'm curious – what are your plans around loops and riot?

[2015-05-05 08:41] pakastin commented on #484
You are free to copy the ideas from [frzr](https://github.com/pakastin/frzr/blob/master/lib/mountAll.js) and from this conversation. I'm really busy at the moment and I have to try this new better grouped reordering idea with my own library first, since it's easier not to break anything there. There's also many edge cases in Riot which will have to think about (arrays of numbers or objects not hav

[2015-05-05 10:19] tipiirai commented on #484
Cool. Thank you for the update.

[2015-05-05 13:41] TJKoury opened #683 "Observables create bad patterns"
In the examples I've seen, it looks like you create an observable:

var data = {};
var thing = riot.observable();

thing.trigger('event', data);

then, you have to pass in 'thing' to another tag if you want to share data:

riot.mount('tag-name', thing);

Correct me if I'm wrong, but this is assuming the following:

1.  'thing' is in scope during mounting
2.  Synchronous mount order must be maintai

[2015-05-05 16:48] yieme commented on #677
Love the potential of Riot. I agree with @TehShrike, following semantic versioning will make using Riot easier to use both now and over time. Not just with the library itself for your own components but more importantly for using 3rd party components. Imagine Component-A requiring 2.x.7 and Component-B requiring 2.x.8 but they can't work together. You could easily end up with components being pegg

[2015-05-05 18:16] GianlucaGuarini commented on #683
Have you also checked our examples?
- https://github.com/srackham/riot-todo
- https://github.com/jimsparkman/RiotControl

Observables like any other kind of programming pattern could be bad or good depending on how you use it. I often use an events cluster to dispatch events/data to all the components and I never had problems with this approach. Probably checking the examples above you will unders

[2015-05-05 18:25] TJKoury commented on #683
Got it, looks like people are instancing observables connected to an object
instanciated at the 'root scope' ( forgive the Angular talk) that is passed
to each scope, which makes  more sense.

I'm working on updating that adminpanel demo to 2.0 as a way of learning
riot.  Thanks for bearing with me.
On May 5, 2015 2:16 PM, "Gianluca Guarini" <notifications@github.com> wrote:

[2015-05-05 18:32] GianlucaGuarini commented on #683
I am happy you got it. If you have any other question do not hesitate open other issues. I will close this for now

[2015-05-05 18:32] #683 closed

[2015-05-05 20:32] mhelvens opened #685 "Support the HTML5 history API"
From [this old issue](https://github.com/muut/riotjs/issues/95), I infer that Riot once supported the HTML5 history API. But reading the [Riot 2.0 Router docs](https://muut.com/riotjs/api/#router) now, do I understand correctly that you *dropped support* for it ("[the router] only listens to changes on the URL hash")? I understand the need to support older browsers, but why not have the Router use

[2015-05-05 20:55] ippa commented on #685
I'm interested in this as well. The History-API and non-hash-urls also seems to be a perfect match with the recent advancements in server side rendering.

[2015-05-06 00:58] fabricionaweb commented on #685
+1
I'm currently using third library...

[2015-05-06 03:56] geordee commented on #685
I too support this feature. In fact, I am trying to fit in an alternate router just for this feature. In our app we consider URLs as shareable addresses, and the hash spoils it a bit.

[2015-05-06 06:11] #604 closed

[2015-05-06 06:11] #289 closed

[2015-05-06 13:38] steelbrain opened #687 "Riot's compiler never fires onload script event."
Just like the title says.
#### How to reproduce this behaviour:
- Include `riot+compiler` in a page.
- Add a `riot/tag` script.
- Attach an onload event on it
- Et Viola! It'll never fire.

[2015-05-06 14:10] steelbrain commented on #103
The `new Function()` thingy is back in master, and I am unable to use riot in my `atom/atom`'s package because of this.
https://github.com/muut/riotjs/blob/master/riot.js#L237

[2015-05-06 17:28] AndreasHeintze commented on #687
Can you make a jsfiddle please?

[2015-05-06 18:34] lalop opened #688 "dbmonster app"
Is there a dbmonster app using riot ?

[2015-05-06 18:50] GianlucaGuarini commented on #688
I do not think so.. feel free to create one

[2015-05-07 02:54] samuelmesq commented on #664
@bucaran why not do that way:
[code]

[2015-05-07 02:59] bucaran commented on #664
Hey @samuelmesq! Thanks for your input. The issue is not about that _particular_ task, but being able to run ES6 inside any tags if the `-es6` flag is used.

[2015-05-07 13:14] emehrkay commented on #687
I believe this is the same as an issue that I reported (https://github.com/muut/riotjs/issues/653). If it is, it has been fixed.

[2015-05-07 13:21] steelbrain commented on #687
This is from master, http://jsfiddle.net/6qtrr10f/ the onload event is triggered for the RiotJS's own script, but the `riot/tag`'s onload is never triggered.

[2015-05-07 13:26] emehrkay commented on #687
Oh this is different than 653. I would suggest taking a look through the complier itself. Im not sure if that kind of action is supported.

Depending on what you wanted to do, you could always just execute a function as soon as the tag is mounted:

[code]

[2015-05-07 13:28] steelbrain commented on #687
I know that we could execute a function as soon as the tag is mounted, but wouldn't it be cool to support the standard `onload` event.

[2015-05-07 13:30] emehrkay commented on #687
In the riot world, you may be looking for a `tag complied` event to be fired.

[2015-05-07 14:32] GianlucaGuarini commented on #687
@steelbrain check this http://jsfiddle.net/gianlucaguarini/6qtrr10f/2/

[2015-05-07 14:32] #687 closed

[2015-05-07 15:11] sgentle opened #689 "Adding different child tags at runtime from Javascript"
Hi! I really like riotjs but I'm struggling to figure out how to do something. I want to dynamically create a list of *different* custom child elements at runtime.

So I have this data:
[code]

And I'd like this markup:
[code]

I understand that something like `<{ type }>X is { x }</{ type }>` isn't possible at the moment, and might make riot too complex to implement. So I'm happy to drop down int

[2015-05-07 16:00] dubrowgn opened #690 "Throwing exception in observable handler permanently disables it"
Throwing an exception inside an observable handler function prevents the handler's busy flag from being cleared. This effectively disables the handler permanently.

[2015-05-07 17:03] rsbondi commented on #689
this approach might help
http://plnkr.co/edit/n5hLpG?p=preview

[2015-05-07 20:10] Scritik opened #691 "Problem with yield and select"
Hi!

There is a problem when we try to insert a yield inside a select . As you can see in this fiddle (https://jsfiddle.net/6ay7nwwc/1/), when we write the complete select in the 'good' tag, everything is ok, but when we want to split the select and only write the option tag inside the 'bad' tag, the option tag disappears.

[2015-05-08 07:29] cognitom commented on #691
Oh..., it seems interesting bug. At this time we need to use `<yield />` outside of `<select>` as you mentioned.
Chrome ignores the [invalid element](http://www.w3.org/TR/html-markup/select.html) in `<select>`. `<yield />` never appear in `innerHTML`, so [this line](https://github.com/muut/riotjs/blob/d9f82a19a0e527331106763e6ec06d189e139d24/lib/tag/tag.js#L37) may not work.

cc @GianlucaGuarini

[2015-05-08 10:01] cognitom commented on #536
I've started to use mixin in `riot-bootstrap` and realized it's useful :+1:
https://github.com/cognitom/riot-bootstrap/tree/dev

It seems more convenient if Riot.js has the way to share the mixins in the application. For example:

[code]

[code]

@tipiirai How about?

[2015-05-08 10:11] Centaur opened #692 "riot.compile should accept options such as 'type'"
We are using in-browser compiler and want to use standard javascript as script language but riot.compile currently can only accept es6 style scripts.

[2015-05-08 12:43] sahanDissanayake opened #693 "sluggish behaviour and sometimes browser crashes"
http://jsfiddle.net/h9kuozp5/129/

[2015-05-08 12:56] TeeKz commented on #689
@rsbondi :+1: - Just happened to need to do the same thing. Something is telling me this can now be done with yield... investigating.

[2015-05-08 14:11] rsbondi commented on #693
10,000 timer tags?  Good stress test but I suspect not a valid use case.  Do you have an example of this performing with other libraries?

[2015-05-08 14:37] GianlucaGuarini commented on #693
@sahanDissanayake you are a genius :smile_cat:

[2015-05-08 15:17] Scritik commented on #691
Yes, I made some tests yesterday and the only solution I found is to replace the select tag by a custom tag, intern to riot (<riot-select-temp> for example) and then replace it again after yield replacement.
I don't know if it's a good idea to do this and if it can be integrated in Riot.

[2015-05-08 18:54] GianlucaGuarini commented on #691
I see the problem but I don't understand why should someone ever do that. Any real life example?

[2015-05-08 18:56] GianlucaGuarini commented on #685
@tipiirai this request comes again and again on any riot release maybe we could enhance the riot router. I am not sure if this should come already in the next release https://github.com/muut/riotjs/issues/648

[2015-05-08 19:09] GianlucaGuarini commented on #334
@cfenzo with the latest riot release the `fish` tag gets mounted only once and the unmount event never gets fired. I think we could close this but

[2015-05-08 19:14] GianlucaGuarini commented on #534
Thanks @rsbondi we can close this issue

[2015-05-08 19:14] #534 closed

[2015-05-08 19:14] Scritik commented on #691
Yes :)

I'm working on components based on riots for PrestaShop, to create forms. Every input is wrapped into some divs. So I want to do something like that:

<ps-select>
  <option></option>
</ps-select>

[2015-05-08 19:47] GianlucaGuarini commented on #692
You could still use the default `riot.tag` method using plain javascript:
http://plnkr.co/edit/ivssDAve8nxX68V0WltZ?p=preview

[2015-05-08 19:47] #692 closed

[2015-05-08 19:51] GianlucaGuarini commented on #691
@Scritik I can't see anything

[2015-05-08 19:52] GianlucaGuarini commented on #514
@cognitom may you have a look at this issue thanks?

[2015-05-08 19:54] #666 closed

[2015-05-08 19:56] GianlucaGuarini commented on #648
I think we are pretty close to a new riot release what do you think about this https://github.com/muut/riotjs/issues/677 ? In the next release there should be any breaking change so I would go for 2.0.16

[2015-05-08 20:11] #654 closed

[2015-05-08 20:12] #625 closed

[2015-05-08 20:13] #608 closed

[2015-05-08 20:15] #572 closed

[2015-05-08 20:16] #562 closed

[2015-05-08 20:34] sahanDissanayake commented on #693
https://jsfiddle.net/69z2wepo/7886/

Not really sure if this is the best way to use ReactJS, as this is my first time using it

[2015-05-08 20:38] GianlucaGuarini commented on #693
Your example with react runs slow exactly like riot in my firefox 39.0a2 please check also https://github.com/muut/riotjs/issues/484

[2015-05-08 20:42] sahanDissanayake commented on #693
yep, that was a good read.
Thank you

[2015-05-08 20:42] #693 closed

[2015-05-08 21:36] AndreasHeintze commented on #608
Just want to say that I am working on a solution to make RiotJs support rendering (with or without yield tags) on the server side without double mounting, just connecting any needed event handlers on the client side.

[2015-05-08 23:08] Scritik commented on #691
Sorry, I was on my phone :)

    <ps-select>
        <option></option>
    </ps-select>

Because my select needs to be wrapped like this:

	<ps-select>
		<div style="clear: both; padding-top:15px;">
			<label class="conf_title">{ opts.label }</label>
			<div class="margin-form">
				<select>
					<yield/>
				</select>
				<p class="preference_description" if={ help }>{ opts.help }</p>
			</div>

[2015-05-09 01:19] rsbondi commented on #691
[this hack](http://plnkr.co/edit/zURirN?p=preview) works with wip version, which I think will be released shortly, I could not get it to work with the current version, I think there were mount event issues?

[2015-05-09 03:21] tipiirai commented on #677
We all agree with this.

This was a mistake from our end and not intentional. We simply didn't have tests for those two breaking changes.

[2015-05-09 04:36] cognitom commented on #514
Yeah, I've been struggling on the parser today... Little bit new for me.
http://zaach.github.io/jison/docs/

[2015-05-09 08:19] GianlucaGuarini commented on #514
@cognitom it looks a great idea.. looking forward to seeing it applied to riot

[2015-05-09 12:31] Scritik commented on #691
This is a good idea :) But it should be handled natively, no?
In the current version, your hack is not working because the yield is not yet replaced with the options when the event is fired.

[2015-05-09 12:56] rsbondi commented on #691
I don't believe it can be handled natively, if the browser removes non option elements from the dom, it is not available to be parsed.  Look [here](http://jsfiddle.net/cLcvxhku/) and inspect the dom.

That line is irrelevant since the tag is not in the dom, it is only there to prevent errors in ie.

[2015-05-09 13:08] Scritik commented on #691
I'm not sure to follow, the yield is not replaced in tags named with select because of IE?

[2015-05-09 13:20] rsbondi commented on #691
The tag DOES NOT EXIST in the dom, there is nothing to replace for a select tag when you get to that line.  IE is quirky with innerHTML of various elements, so it is ignored in this case

[2015-05-09 13:28] Scritik commented on #691
Yes, the tag does not exists because it's not a valid tag inside the select. So why can't we rename the select, temporally, and then rename it again in the innerHTML, when the yield is replaced with good data. This way, the browser don't do anything since it's not a real select yet.

[2015-05-09 13:33] ippa commented on #691
Doesn't RiotJS have some way of specifying tags with ordinary divs? something like ```<div tag="my-tag" />```. Would a ```<div tag="yield" />``` (or ``` <div data-tag="yield" />``` get removed in IE too? Maybe a ```<option tag="yield" />``` in a desperate case where IE removes all kinds of non-valid tags inside option a select :). Just brainstorming.

[2015-05-09 13:36] rsbondi commented on #691
should be `if (dom.innerHTML && !(tagName == 'select'))`

[2015-05-09 13:39] Scritik commented on #691
Yes it should be :)

[2015-05-09 13:41] rsbondi commented on #691
Why don't you make a PR with this change.

[2015-05-09 13:44] Scritik commented on #691
@rsbondi Because I think it's related to my first bug and a fix for both of them would be better no?

@ippa [this?](https://muut.com/riotjs/guide/#riot-tag)

[2015-05-09 13:49] rsbondi commented on #691
@ippa the yield tag is a special internal tag, more of a placehoder and not a tag in the sense of the others, so that will not work

[2015-05-09 14:07] rsbondi commented on #691
"It's deja vu all over again"

[2015-05-09 23:21] louy2 commented on #647
Let's share this to our social profiles.

[2015-05-10 02:46] cognitom commented on #691
In the sight of writing valid HTML, it feels a little strange for me to use `<option>` not inside the `<select>`. I think it's OK to keep this as a limitation of `<yield>`. How about just adding a documentation about it?

[2015-05-10 05:17] geordee commented on #648
Please include #698 in the next release.

[2015-05-10 05:44] AndreasHeintze commented on #648
It's really #699 you want, since I closed #698.

[2015-05-10 07:27] speier commented on #608
@AndreasHeintze sounds great :+1:

[2015-05-10 07:38] paldepind commented on #484
@pakastin

Sorry, about the late reply.

Yes, I have thought about those cases. And you're right that my library does not generate an optimal amount of moves in those cases. It will however [group all of the moves](https://github.com/paldepind/flyview/blob/master/flyview.js#L91-L96) together in a fragment so that the active DOM is still touched _only once_. Look at this example of yours:

[code]

[2015-05-10 09:40] nztomas opened #700 "Mounts only first tag on the page"
Seems like it mounts only when the mount command runs for first time - ignores the second run (doesn't matter on the order of the tags at the page)

http://jsfiddle.net/uqn56pLw/1/

[2015-05-10 10:31] nztomas commented on #700
Okay, I've tried to do a bit of debugging...

Works fine when using proper closing tags: http://jsfiddle.net/mcm68zLp/

The 'problem' is in riot.js around line #1013

function mountTo(root, tagName, opts) {
...
  // clear the inner html
  root.innerHTML = ''

For some reason (faulty parser?) the root object contains all the following tags and not just it's own inner path...

[2015-05-10 10:48] cognitom commented on #514
After some tries, I've realized that it's impractical to make parser for whole tag file. A tag file is mixture of templates, scripts and styles. This makes it difficult to create the parser. At least for me :-P
Anyway, I've sent a PR of the syntax checker, but a really simple one ;)

[2015-05-10 11:21] dbkaplun opened #702 "riot.route() without arguments should return the current route"

[2015-05-10 11:43] lc60005457 opened #703 "I wish riotjs like commonjs"
A_module.tag
[code]
A_module.js
[code]
Another_module.js
[code]
example.html
[code]

[2015-05-10 12:29] secrettriangle commented on #209
`502 Bad Gateway`

Part of the reason why IRC > forums.

[2015-05-10 14:02] rsbondi commented on #700
This is a known issue fixed for upcoming release, #636

http://jsfiddle.net/uqn56pLw/2/

thanks,

[2015-05-10 14:57] Scritik commented on #691
It can be strange if your select tag's name is weird :) In my case, I want to do that:

[code]

It's not that strange, right? I think it's more strange (and dirty) to use a hack to do this and they are a lot of cases where we want to create a custom select, wrapped into some html to design it, no?

I'm ready to make a PR with my solution, but only if Riot team is OK :)

[2015-05-10 15:13] defel commented on #703
Actually you do this with browserify and riotify.

- https://www.npmjs.com/package/riotify

[2015-05-10 15:26] cognitom commented on #691
@Scritik I think PR is always welcome :)

[2015-05-10 15:43] defel opened #704 "riot-tag not working with mount"
Hi,

I want to use standard html-elements together with riot.mount. But it dont work as expected.

When I use my component `my-tag`:

[code]

It is not possible to mount it:

[code]

The only way I found is, by *-selector:

[code]

See this jsfiddle:
https://jsfiddle.net/wf7bkvur/20/

[2015-05-10 16:15] rsbondi commented on #704
The `riot-tag` applies in the dom, not in the tag definition like your fiddle, but yes it is a known issue #636

thanks

[2015-05-10 16:38] aMarCruz opened #705 "each infinite loop"
Do you test each() in https://github.com/muut/riotjs/blob/dev/lib/browser/tag/util.js#L6 of dev branch?
Its give me infinite loop with this test in node.js:
[code]
i-- is the guilty, it is not removing the current element. You need els.slice too.
However, it is documented behavior?

[2015-05-10 16:43] Newsome6996 commented on #705
I want to invite yes so

[2015-05-10 16:48] defel commented on #704
all right, i will close this then. thank you.

[2015-05-10 16:48] #704 closed

[2015-05-10 17:05] aMarCruz commented on #705
sorry, its splice:
[code]

[2015-05-10 19:09] GianlucaGuarini commented on #691
@Scritik try making a pull request avoiding to add to much code for such a small feature

[2015-05-10 19:18] GianlucaGuarini commented on #484
It would be great if you guys @pakastin & @paldepind could join your skills and help us enhancing this riot feature honestly I don't know whether I will have soon time for this improvement. Let us know if you'd be interested

[2015-05-10 19:40] GianlucaGuarini commented on #705
The each loop it's heavily tested on node and on any supported browser (https://github.com/muut/riotjs/blob/master/test/specs/node.js#L30-L39 and https://github.com/muut/riotjs/blob/master/test/specs/compiler-browser.js#L356-L399). Could show us a test case where it does not work please?

[2015-05-10 19:55] tomberek opened #706 "Monaca Debugger"
I am trying to figure out why Monaca Debugger is unable to use Riot. Everything works perfectly in the online preview, online build, local build. It just doesn't work in the debugger running on a phone. There is probably some interaction/interference from the debugger application running on top of the app.

[2015-05-10 20:31] nztomas commented on #700
Hi, I meant this:

http://jsfiddle.net/fxean71r/

<test-a/>
<test-b/>

Only the first one is processed - what's happening is that when mounting <test-a/> the root.innerHtml is cleaned which deletes all following tags from dom...

[2015-05-10 20:44] secrettriangle opened #707 "Child data doesn't update when parent is updated"
See [here](http://codepen.io/anon/pen/PqZEOM) for an example.

[2015-05-10 20:51] secrettriangle opened #708 "Named elements don't seem to work"
See [here](http://codepen.io/anon/pen/doGJJg), which is supposed to work according to [this](https://muut.com/riotjs/guide/#named-elements).

[2015-05-10 21:06] secrettriangle opened #709 "Named child elements don't work"
http://codepen.io/anon/pen/zGrpWp

[2015-05-10 22:12] samuelmesq commented on #664
@bucaran, _that_ or any other code logic inside the template, i think is not the better way to do it.
have you more examples? By now i dont get the need.

[2015-05-10 23:03] rsbondi commented on #708
It shows a value of zero, it will not update without an event, but it seems to work fine.  Also from the docs

`Inline tag definitions(in document body) must be properly indented, with all custom tags equally indented at the lowest indent level, mixing of tabs and spaces is discouraged.` ie. your `foo` can not be at the same level as your `script`

[updated](http://codepen.io/anon/pen/LVGeoM)

[2015-05-10 23:15] bucaran commented on #664
@samuelmesq You are missing the point. If the `-es6` flag is used, you would expect to be able to run ES6 everywhere.

[2015-05-10 23:23] rsbondi commented on #709
`this.tags` is by tagname, so what you have commented out is the correct behavior.
`this.tags.c` is not valid, the 'named element' feature is for naming elements, not tags.  `this.c.innerHTML` is valid, it shows the content of the `child` element(not tag)

[2015-05-11 01:17] secrettriangle commented on #709
According to [this](https://github.com/muut/riotjs/blob/master/doc/api/tags.md#nested-tags) I should be able to use `this.tags.c`?

[2015-05-11 01:23] emehrkay commented on #709
This tripped me up too. when you set the name attribute,you're setting that name on the parent tag instance to be the markup of the child tag (actually any html), not the child tag instance. Tag instances go under the tags property. If it were a single child tag instance, you'd get `this.tags.childTagName = ChildTagInstance' if it were multiple, it would be an array of child tag instances.

[2015-05-11 01:25] secrettriangle commented on #708
Aha, thanks!

[2015-05-11 01:25] #708 closed

[2015-05-11 01:29] secrettriangle commented on #709
I'm not following? How do I access a specific child tag when I have multiple of the same child tags?

[2015-05-11 01:40] emehrkay commented on #709
I don't know if its possible. You'd have to know the order in which they were mounted. Say you have this situation

[code]

The only way to get to a specific child-tag, would be through my_tag.tags[$INDEX] because my_tag.first would give you the html for `first` not the tag instance.

My suggestion for a fix would be to store the instance in the markup, like how you can do with jquery's .data() or

[2015-05-11 01:45] emehrkay commented on #709
Actually, I think name="first" will be apart of the tag now. So you could loop over tags and stop at the name you're looking for

[code]

that may work

[2015-05-11 03:40] lc60005457 commented on #703
@defel I mean the `module_name` can be named by `Another_module`，that's like reactjs：
a.js
[code]
b.js
[code]
c.js
[code]

[2015-05-11 03:42] rsbondi commented on #709
I updated #710, and [codepen update](http://codepen.io/anon/pen/ZGQrPw)

[2015-05-11 05:10] aMarCruz commented on #705
copy the code above and run it with node in the command line.
it is testing your implementation of each() with [a,b,c] and deleting 'b', I add console.log only.
You will see multiple 'b', the loop don't stop.

[2015-05-11 06:15] GianlucaGuarini commented on #707
check this http://codepen.io/GianlucaGuarini/pen/OVMvjE

[2015-05-11 06:18] GianlucaGuarini commented on #707
You are right! That's a bug

[2015-05-11 06:27] GianlucaGuarini commented on #707
Oups sorry, it's not a bug, you just misunderstood the `opts` object http://codepen.io/GianlucaGuarini/pen/xGZWPO

[2015-05-11 06:27] #707 closed

[2015-05-11 06:37] tipiirai commented on #685
I think the we should do is to make a completely new repository called `muut/riot-router` and extract routing from (polluting) the core.

[2015-05-11 06:43] tipiirai commented on #209
Okay guys :) Here you go: https://gitter.im/muut/riotjs

[2015-05-11 08:28] mhelvens commented on #685
That seems sensible. But following that line of thought: Why provide a Riot router at all? Does it offer something useful that all the other router implementations don't? Is it especially integrated with the rest of Riot? If not, get rid of it. Do one thing, and do it well.

[2015-05-11 11:45] ippa commented on #685
An isomorphic router would be cool and complement the newly added isomorphic rendering.
I've dabbled some with this before but it's tricky and naturally the problem of supporting different nodejs backends comes up. A start could be making it work with Express.

[2015-05-11 14:15] GianlucaGuarini opened #712 "Children tags do not update their data"
- Updating a child tag data using the riot event handlers has no effect
check http://jsfiddle.net/gianlucaguarini/wf7bkvur/22/

- Updating the child data is not in sync with the parent
check http://jsfiddle.net/gianlucaguarini/ac6wn21q/1/

[2015-05-11 15:19] iamliqiang commented on #582
Nexttick() almost trigger right now, because it was inserted eventloop at first,  so, when it is triggered, the target element may be not exist on Dom

[2015-05-11 15:32] Avnerus commented on #582
I'm not sure I understand.. I thought that on ``'mount``` the element is always in the DOM.
https://github.com/muut/riotjs/blob/master/lib/tag/tag.js#L73
Do you mean that MutationObserver won't work?

[2015-05-11 19:35] AndreasHeintze commented on #582
I have not looked deeper into this yet, but I think I know why it's not in the DOM when the mount event is triggered. The problem is just with nested tags and tags that have the each loop on them. Since a nested tag is mounted before the parent tag and the child tag is is mounted first on the parent tag which is not yet mounted in the DOM. So the child tag mount event is triggered before the paren

[2015-05-11 19:50] GianlucaGuarini commented on #712
It turns out that the `opts` keyword is reserved in riot https://muut.com/riotjs/api/#reserved-words and also that you can not sync a nested data structure just using riot nested components components.
The best way to achieve this is to use a "top down" data flow:

[code]
closing this issue for now hoping that could be useful to someone else as well

[2015-05-11 19:50] #712 closed

[2015-05-11 21:44] aMarCruz commented on #703
@defel you're right, and anyone can do that with webpack too.

[2015-05-11 21:51] aMarCruz commented on #685
+1
html5 history is a must.
even more, please break compatibility with old non-ES5 browsers (i.e. IE8)

[2015-05-11 23:53] secrettriangle commented on #707
Ah interesting. Is there a suggested way to keep `self.foo` and `self.opts.foo` synchronized?

[2015-05-12 00:09] dbkaplun opened #715 "No way to override name attribute on e.g. <input>s to prevent overriding existing properties on `this`"

[2015-05-12 00:18] secrettriangle commented on #707
Currently using this, which is quite beautiful (in opposite world):

    self.on('mount updated', function () {
      if (self.opts.hole) {
        self.update({hole: self.opts.hole});
        self.opts.hole = null;
      }
    });

[2015-05-12 01:55] iamliqiang commented on #582
thanks @Andreas Heintze

2015-05-12 3:35 GMT+08:00 Andreas Heintze <notifications@github.com>:

--
Best regards/li.qiang

e-mail  : iamliqiang@gmail.com
mobile : 15811244506
msn    :  iamliqiang@hotmail.com

[2015-05-12 05:53] hiscodeness commented on #582
@AndreasHeintze, you are absolutely correct. Nested tag mount occurs before parent tag mount and before the parent is in the DOM.

[2015-05-12 06:23] GianlucaGuarini commented on #707
At moment its not possible It seems to be a riot limit check also this https://github.com/muut/riotjs/issues/712

[2015-05-12 06:32] GianlucaGuarini commented on #685
@tipiirai the problem with a new `riot-router` is that we will try to reinvent the wheel. I would recommend more a https://github.com/visionmedia/page.js adapter riot-pagejs

[2015-05-12 06:51] tipiirai commented on #685
That works too. No problems on removing the router from Riot completely and leave out the "full stack" - thing. There are tons of good routers available, including `page.js`.

I'll just keep using the the current one on my own personal projects.

[2015-05-12 07:09] brandonbuttars commented on #255
I'm a fan of underscores.  You can double click and highlight the whole attribute name.  I use underscores a lot in CSS.  Not sure if my comment helps but I thought I'd throw that out there.

[2015-05-12 10:22] ezzatron commented on #508
I'm interested in the suggested approach to testing also. I really *want( to use Riot (mostly for the custom tags), but the lack of information on how to test a Riot project makes it hard to justify investing the time to learn it.

[2015-05-12 14:04] oderwat opened #717 "Index of "each" item needed"
Technically I need access to the "previous" array element in a tag which is updated in an "each" loop.

Originally I just wanted to keep the "last" one as state in the parent tag to compared it with the current one but that failed with strange results when the array gets resorted and riot does its updates.

I found that updates for tags using "each" are not necessarily in order of the underlaying

[2015-05-12 14:23] rsbondi commented on #717
from the docs:

### Non-object arrays

The array elements need not be objects. They can be strings or numbers as well. In this case you need to use the `{ name, i in items }` construct as follows:

[code]

The `name` is the name of the element and `i` is the index number. Both of these labels can be anything that's best suited for the situation.

[2015-05-12 14:49] SteveALee opened #718 "riot compiler results in mixed line endings"
running npm -g installed riot on windows to compile a tag file gives a mixture of \r\n and \n line endings which is likely to cause problems in git

riot.tag('comment-box', '<h1>Comments</h1> <comment-list comments="{ comments }"></comment-list> <comment-form ></comment-form>', function(opts) {\r\n
\r\n
  this.comments = []\r\n
\n
});\r\n