[2015-09-23 12:58] weepy commented on #1118
Did you need to write a riot version of react-redux bindings ?

[2015-09-23 13:00] oderwat commented on #990
I just want to thank anybody working on that issue! We are stuck with a pretty slow application right now and I hope if this gets fixed we get up to the former speed!

[2015-09-23 16:24] sntran opened #1235 "Failed to parse $ (dollar sign) within <yield/>"
## How to reproduce:

### Define the tags

[code]

[code]

### Mount the tag

[code]

## Expected result
[code]

## Actual result
[code]

I have made a demo here: http://plnkr.co/edit/9C4kxkikWt2HTmU8SQrr?p=preview

[2015-09-23 19:50] whitelynx commented on #1218
As far as Vue.js's approach, I found this issue, where they switched from the `<content select="selector"></content>` syntax over to `<slot name="slotname"></slot>`: https://github.com/yyx990803/vue/issues/1167

Looks like web components could likely be making the same change soon.

[2015-09-23 20:15] GianlucaGuarini commented on #990
@tipiirai I have fixed the issue. You were using the wrong DOM nodes for the loop children: [the root gets replaced during the mount event](https://github.com/riot/riot/blob/loops/lib/browser/tag/tag.js#L146)

Btw I have checked your code and it looks nicer than the old one but I think it's also a lot slower ( due to the massive usage of DOM manipulations ) probably you can use `document.createDoc

[2015-09-23 20:24] oderwat commented on #990
If reordering only works with slower code I vote for getting two different routine: one with reodering and one without.

[2015-09-24 00:27] shrunyan commented on #1118
@weepy no I just passed the store through `opts` to each child component. A module similar to `react-redux` which binds the store to each component would be highly desirable. It's something I'm looking into. Need to get more familiar with redux first.

[2015-09-24 06:40] pakastin commented on #990
Performance depends on the situation. Moving couple of items from tail to head is a lot faster with reordering, because with content replace you need to switch every item's content.

Sometimes it's also compulsory to keep references.

Of course reordering should be optional: need depends on the project / task in hand.

[2015-09-24 06:50] pakastin commented on #990
Sometimes you don't want reordering or content replacing at all. For example with Deck of Cards I just switch z-indexes to keep things fast: https://deck-of-cards.js.org

Also with flexbox there's a way to reorder by just changing the order value in CSS.

[2015-09-24 06:57] tipiirai commented on #990
Thank you for the fix @GianlucaGuarini! I was a bit frustrated and I'm glad the fix was that simple.

So the performance issue is only present on reordering? And there is a way to avoid that by using `documentFragment`?

[2015-09-24 06:58] tipiirai commented on #990
@pakastin, I saw your deck of cards the day it was announced. Impressive indeed!

[2015-09-24 07:21] pakastin commented on #990
With documentFragment you'd need to find out sequent (peräkkäiset) items first and group them. Usually you don't even get any benefit.

[2015-09-24 07:41] tipiirai commented on #990
hmmm.. doesn't sound like a thing to do then. And the performance penalty with the new version is only when reordering?

Anyway - I'm still seeing many issues with the new each.js. damn..

[2015-09-24 07:43] pakastin commented on #990
Where can I test the new ```each.js``` out?

[2015-09-24 07:46] tipiirai commented on #990
It's on the `loops` branch. Run `make watch` (watch for edits) and riot will be build to `dist/riot/riot.js`.

[2015-09-24 07:50] pakastin commented on #990
```make watch``` throws: ```Error: Cannot find module '../../dist/riot/riot'```

[2015-09-24 07:50] tipiirai commented on #990
Try `npm install` first

[2015-09-24 07:51] pakastin commented on #990
I did that already..

[2015-09-24 07:52] tipiirai commented on #990
Damn. Really no idea then. Haven't touched that area recently

[2015-09-24 07:53] pakastin commented on #990
There must be some layout trashing going on – shouldn't be that slow:
http://frzr.js.org/example/with_reordering.html
http://frzr.js.org/example/without_reordering.html

[2015-09-24 07:55] tipiirai commented on #990
I'm just trying to get the tests passed first. For example object loop isn't there yet.

[2015-09-24 07:59] pakastin commented on #990
If you open Chrome dev tools and "timeline" tab there's A LOT ```innerHTML``` calls going on ([mkdom.js line 37](https://github.com/riot/riot/blob/master/lib/browser/tag/mkdom.js#L37)), no wonder it's slow.

![issue..](http://pakastin.fi/issue.png)

[2015-09-24 08:00] pakastin commented on #990
Reproduce:

• start recording
• hit "reverse list"
• end recording

[2015-09-24 08:00] tipiirai commented on #990
Okay, thanks.

I try to focus on performance after I get things working.

[2015-09-24 08:08] tipiirai commented on #990
Unfortunately I cannot. Too many issues with the new loop. I'll revert back to dev version.

@GianlucaGuarini – my next call is to wait for you to [try this out](https://github.com/riot/riot/issues/990#issuecomment-142203696)

[2015-09-24 08:14] pakastin commented on #990
Reordering was not the issue here - triggering innerHTML change for every item is what makes it slow.

[2015-09-24 09:30] tipiirai commented on #990
Thank you for the performance analysis, @pakastin

[2015-09-24 11:09] GianlucaGuarini commented on #990
@tipiirai I also would start from the current code as well. I think It just needs to be cleaned up and with a few changes it should update/move the DOM nodes in the right order
Let me know if I must to be involved in this refactor because I would avoid that we work in two on the same thing.

p.s.
__hint__: keep always an eye on the runner.html page while you are changing the riot source code so yo

[2015-09-24 14:27] rsbondi commented on #990
by replacing [here](https://github.com/riot/riot/blob/dev/lib/browser/tag/each.js#L65) `items.length` with `-1` this fixes the issue, it is takes about half the time as the loops branch but 1.5 times as long as the dev branch, so maybe just optimize that a little, or maybe it is acceptable

[2015-09-24 16:54] rsbondi commented on #990
Actually it is closer to a 15% time increase over current dev which should be reasonable

http://plnkr.co/edit/LB1uaImENzAASGcVYMlW?p=preview

line 939 of the wip file you can change between `-1` and `items.length` to see the difference

for some reason, either way, the first reversal is slow but after that it is fine

[2015-09-24 20:03] Havunen commented on #1142
I spent some time investigating this issue and found reason why it happens (but I'm not sure if the fix is correct):

in riot.js line: 567 where riot is inserting fragment before placeholder node there is already option element (the one we are looping) with property selected true so I assume Firefox thinks first node is selected ( index:0 ).  then We insert new options (3 of them) so that second o

[2015-09-24 22:12] fishermand46 opened #1236 "Method for clearing compiler state"
It would be nice, for testing sake, to have a way to clear out the stored riot tag implementations which are set [here](https://github.com/riot/riot/blob/28802c6ebecb01e76d86457593ef4abd4a178781/lib/browser/tag/vdom.js#L8).

[2015-09-25 00:55] rsbondi commented on #990
Minor tweaks, previous was no good for the color example
[code]
http://jsfiddle.net/xqte53n8/

there is still work to be done, riot should be able to do [this](http://plnkr.co/edit/W5mtUB?p=preview) as it did in previous versions.

Not sure how to get there, and keep performance.

[2015-09-25 05:58] tipiirai commented on #990
Unfortunately the above didn't fix the issue on [this fiddle](http://jsfiddle.net/ef7an9kz/8/). I simply `unshift` a new item to the top of the array and it doesn't render correctly.

[2015-09-25 06:16] GianlucaGuarini commented on #990
@tipiirai @rsbondi I have cleaned up the each function in the `dev` branch, trying to bring the best I could get from the `loops` branch. I will see whether during the weekend I could work on the loops again fixing the `unshift` reordering issue and also #1142

[2015-09-25 07:27] tipiirai commented on #990
Thank you so much.

[2015-09-25 09:31] AndreasHeintze opened #1237 "Render unescaped HTML"
In the docs it says we can define a raw tag to render unescaped HTML, but that isn't good enough.
What if I want to render something like this:
[code]

In my case I am generating it like this:
[code]

I have made a json method that takes a json object and displays it in HTML, but since since the HTML does have both the chars " and ' in it, I can't make it work with the raw tag above.

I would like

[2015-09-25 18:01] tipiirai opened #1238 "A Riot book"
Hey all,

I just had a call with [Manning publishing](https://www.manning.com/). They are interested in writing a book about Riot. They wanted to know if anyone on the community is willing to help with the content. General introduction, examples, feature intros -- anything. Contributor name is stamped on the book. Please reply on this issue – I'm sure they are following this thread.

Thanks!

[2015-09-25 20:09] gdub22 opened #1239 "Merging instance class names"
Say I have a custom tag that defines some class names based on state
x-image.tag:
[code]
Then when I create instances of it, I want to apply some contextual class names
[code]

It'd be great if the resulting tags showed:
[code]
In this case, the resulting class name is just `"loaded"`

Is this possible now somehow, or is this a new feature request?
Here's a live example: http://plnkr.co/edit/lR93i

[2015-09-25 21:16] dp-lewis commented on #1238
I'm happy to help out where I can :)

[2015-09-25 22:39] rsbondi commented on #1239
simple [alternative](http://plnkr.co/edit/9STx4E?p=preview)

more control of class names with a [mixin](http://plnkr.co/edit/FCcS40?p=preview)

[2015-09-26 07:03] gregorypratt commented on #1238
I don't mind lending a helping hand :+1:

[2015-09-26 13:58] GianlucaGuarini commented on #1237
Probably we need to move this feature request [here](https://github.com/riot/tmpl)

[2015-09-26 15:46] GianlucaGuarini commented on #1190
This issue should got solved http://jsfiddle.net/h9Ldbcww/

[2015-09-26 15:46] #1190 closed

[2015-09-26 15:51] GianlucaGuarini commented on #1181
with [this](https://github.com/riot/riot/commit/2aa1215c66047ba507e87be2fd8a039404e47fdc) commit some internal properties can not be overridden anymore. This means that the internal `_id` property gets protected as well.

[2015-09-26 15:51] #1181 closed

[2015-09-26 15:56] sylvainpolletvillard commented on #1190
It is a somewhat brutal way to solve the problem with all these reserved properties, but I guess its okay since it solves the 'unexpected' part. Although, please consider my PR for not exposing "_id" as many people need this property to be available in their models (for MongoDB and PouchDB)

[2015-09-26 16:02] sylvainpolletvillard commented on #1181
While I can admit that you do not want to use Symbols for some reason, you could at least rename _id in _riot_id to ensure compatibility between riot tags and MongoDB / CouchDB / PouchDB documents

[2015-09-26 16:07] GianlucaGuarini commented on #1190
Ok I will rename _id to _riot_id so everyone will be happy :smile:

[2015-09-26 16:08] sylvainpolletvillard commented on #1190
Thank you :+1:

[2015-09-26 16:14] #1233 closed

[2015-09-26 16:52] rsbondi commented on #990
My latest brainstorm. Start with the each loop from 2.0.15, which worked but was slow. Clone the root and swap into the dom. Then run the loop on the actual root which is now in memory. Then swap back. Only 2 dom updates.

[2015-09-26 19:57] weepy commented on #1001
`handler.bind(this, arg1, arg2)` is awesome

[2015-09-26 20:59] andynemzek commented on #1181
@GianlucaGuarini thank you for renaming _id in #1190 ...appreciate it!

[2015-09-27 00:34] Ldiab commented on #1238
I have developed an almost entire website frontend in Riot, but my methods are not... standard... XD and I use a lot of coffeescript jajaja But yeah, If they need some help, here I am... I want Riot to have success :)

[2015-09-27 01:18] brauliobo opened #1240 "Don't remove comments by default (`//@ souceURL` being removed)"
Is there any reason to remove code comments? They can be useful for debugging or source maps

[2015-09-27 08:17] ipeisong commented on #1076
Same issue here. Any update for a version that can work?

[2015-09-27 14:22] brauliobo opened #1241 "Nested components and objects format"
For example:
[code]
I would send this as the object for mounting:
[code]

But I have read somewhere that dealing with array of objects in riot is slow, but I can't figure out a simpler solution. What do you recommend?

[2015-09-27 15:20] GianlucaGuarini commented on #1241
It your data structure looks perfect. I would do the same

[2015-09-27 18:00] tipiirai commented on #990
Sounds like a sane approach. Are you giving a try?

[2015-09-27 18:03] tipiirai commented on #1238
@dp-lewis, @gregorypratt, @Ldiab:  Not sure what or how much help they need in order to make the book real, but I'm so happy to hear about your interest.

[2015-09-27 18:29] GianlucaGuarini commented on #990
I am still working on this but it's more complicated than I thought I need a bit more time ( all my tests failed somehow ) but I would also be happy if someone else could help me on this. BTW I have cleaned up the `each.js` file adding some comments hoping it will smoother working on it

[2015-09-27 18:38] gdub22 commented on #1239
Thanks for the ideas @rsbondi

[2015-09-27 19:10] rsbondi commented on #990
I tried my brainstorm approach, it was simple enough to try just modifying the release, but it seems the loops were slow, not the dom updates so it was good for maybe a 5% increase tops.  I think moving forward with the new code and adding an efficient way to determine when and where to move nodes is what is needed.

I would be glad to take over this task, since I am also working on virtual tags,

[2015-09-27 19:15] GianlucaGuarini commented on #990
@rsbondi I would be glad to let you working on this issue because I've wasted too much time without getting any efficient solution. My last approach is available in the branch `feature/reorder` maybe you can take something good from it. Good luck

[2015-09-27 19:16] rsbondi commented on #990
ok, I will look at the reorder branch and take over this task for now

[2015-09-27 21:39] brauliobo commented on #1241
thanks @GianlucaGuarini :)

[2015-09-27 21:39] #1241 closed

[2015-09-28 02:02] brauliobo opened #1242 "Riot can't deal with concatenated script tag"
I use Slim template to code Riot components.
Take this example:
[code]
The default behaviour on Slim is to produce the html:
[code]

So, here comes the problem: Riot will ignore that `script` tag probably because there is no newline separator after the last `my-tag`.

As a workaround, I had to apply the `pretty: true` option to slim, but that results in performance drawbacks :(

Using riot 2.2.4.

[2015-09-28 06:24] tipiirai commented on #990
Thank you @rsbondi. This is a tricky one!

[2015-09-28 06:57] wintercounter commented on #891
I'm having the same issue, i would like to pass JSON data in the tag and parse and it's values in the tag's JS.

[2015-09-28 13:40] buwon opened #1243 "jade and coffeescript issue"
[code]
to
[code]

[2015-09-29 07:31] AndreasHeintze commented on #1237
Should I move it there?

[2015-09-29 07:33] GianlucaGuarini commented on #1237
Yes please @aMarCruz is working on `riot-tmpl` and `riot-compiler`

[2015-09-29 13:51] clems71 commented on #1020
Hi have the same problem as @swese44  on 2.2.4 and it seems pretty serious. I get the 'mount' event fired even if the 'if' attribute evaluates to 'false'.

[2015-09-29 14:00] crisward commented on #1243
Just to let you know, I've also had this problem. This quick fix is to obviously avoid string interpolation. But I'm guessing jade is rewriting your variables as `#[variable}` as this syntax is shared
<http://jade-lang.com/reference/interpolation/>

[code]

[2015-09-29 14:04] crisward commented on #1243
There is an old issue here highlighting this within jade, with a fairly ugly workaround
https://github.com/jadejs/jade/issues/1100

[2015-09-29 14:10] crisward opened #1244 "Each Attribute"
There are times when I just want to output a tag 'n' number of times. It would be nice if each could take an integer and repeat over it. ie

[code]
to output
[code]
I don't mind creating a pull request for this, if the code is small and tested would it be accepted?

[2015-09-29 14:27] GianlucaGuarini commented on #1244
[this should be enough](http://localhost:8080/riot/examples/live-editor/#%3Csample%3E%0A%20%20%3Cul%3E%0A%20%20%20%20%3Cli%20each={%20null,%20i%20in%20Array%285%29%20}%3E%0A%20%20%20%20%20%20{%20i%20}%0A%20%20%20%20%3C/li%3E%0A%20%20%3C/ul%3E%0A%20%20%3Cscript%3E%0A%20%20%20%0A%20%20%3C/script%3E%0A%0A%20%20%3Cstyle%20scoped%3E%0A%20%20%20%20:scope%20{%0A%20%20%20%20%20%20font-size:%204rem;%0A%20%

[2015-09-29 14:33] crisward commented on #1244
localhost?

[2015-09-29 14:35] GianlucaGuarini commented on #1244
Oups sorry, I have fixed the link

[2015-09-29 14:38] crisward commented on #1244
Never thought of doing that, used to the coffeescript way of [0..10], thanks.

[2015-09-29 14:38] #1244 closed

[2015-09-29 23:10] syropian opened #1245 "riot.route.base is not a function"
Does the current stable build of Riot not have support for `route.base()` yet? I have `"riot": "^2.2.4"` in my deps.

[2015-09-30 07:15] ninjacms opened #1246 "Custom tag/root tag replacement in proper way"
I am new with riot. Just going through the implementation. The problem i found is -
Case 1 : &lt;cust-tag&gt; &lt;p&gt;{opts.text}&lt;/p&gt;&lt;/cust-tag&gt;
              use: &lt;cust-tag text=&quot;ok&quot;&gt;&lt;/cust-tag&gt;
              render: &lt;cust-tag text=&quot;ok&quot;&gt;&lt;p&gt;ok&lt;/p&gt;&lt;/cust-tag&gt;
Case 2:  &lt;cust-tag&gt; &lt;p&gt;{opts.text}&lt;/p&gt;&lt;/cust-tag&gt

[2015-09-30 07:31] gregorypratt commented on #1245
Think its coming in v2.3 and will be a separate install (not bundled with Riot)

[2015-09-30 07:58] GianlucaGuarini commented on #1245
It will be used in riot 2.3 and it will be included in the core https://github.com/riot/riot/blob/dev/lib/riot.js#L6

[2015-09-30 08:01] gregorypratt commented on #1245
Oh that's cool!

[2015-09-30 12:25] syropian commented on #1245
Gotcha, thanks for clarifying!

[2015-09-30 12:25] #1245 closed

[2015-09-30 13:00] rsbondi commented on #1246
We are looking into displaying only the contents of a tag, but it will not pass down the `riot-tag` attribute. See #564 and [this `virtual` tag example](http://plnkr.co/edit/GaA6nq?p=preview) (probably will be attribute and not tag), which is a looping version, I think the non-looping version is several releases away.

[2015-09-30 13:04] buwon commented on #1243
@crisward Thank you!

[2015-09-30 13:18] MartinMuzatko opened #1247 "get item-parent in nested each event"
I couldn't find anything related in the existing issues.

When I go through an array of objects, I don't get information of the parent-each in the child-each.
I'm not really sure if this is by design or a bug, but I'd love to get information of the parent-each when firing an event (in this example: onclick)

See this plunker:
http://plnkr.co/edit/MfGXzydECWfcYgTAG6BZ?p=preview

**There are two exa

[2015-09-30 16:55] gregorypratt opened #1248 "visible attribute treated as boolean HTML attribute"
Would appear to be treated as a Boolean attribute, but I don't think it is a valid HTML attribute. Is it?

[2015-09-30 17:34] nippur72 commented on #1247
IMO, when mounting a `each` tag, riot could mix the `item` object with any eventual existing one coming from parent.

This way `e.item` would contain all the necessary keys (in your example `e.item = { employee: ..., attribute: ... }`).

[2015-09-30 17:39] GianlucaGuarini commented on #1248
could you make a small jsfiddle where you see the issue please?

[2015-09-30 17:44] gregorypratt commented on #1248
Can do. In the meantime I think this is the culprit.

https://github.com/riot/riot/blob/7133e953a37ca44d574b39c25527ab7ccb1d50e3/compiler.js#L40

[2015-09-30 18:01] gregorypratt commented on #1248
http://plnkr.co/edit/W6HtJOWImKLlm5SmUt3e?p=preview

The `thisistrue` attribute gets set to true, but the `visible` attribute gets set to "visible"

[2015-09-30 18:11] GianlucaGuarini commented on #1247
The `item` attribute received by any riot event preserves always the original element looped. This is a design decision because it allows developers to work with raw data without any magic behind the scenes. Imagine for example that you want to get the index of an [item in an array](http://riotjs.com/examples/live-editor/#%3Csample%3E%0A%20%20%3Ch3%3E{%20message%20}%3C%2Fh3%3E%0A%20%20%3Cul%3E%0A%

[2015-09-30 18:15] GianlucaGuarini commented on #1248
Yeah you are right! @tipiirai @aMarCruz is there a reason the `visible` attribute is considered a flag value?

[2015-09-30 20:37] gregorypratt commented on #1248
OMG! After changing all my `visible` attributes to `open` that's a Boolean attribute too!

What other word could I use to describe something being displayed on the page?! 😃

[2015-09-30 21:21] GianlucaGuarini commented on #1248
Normally I use always `isProperty`, so in your case `isVisible` should be enough. ( `isVisible` will be available as `isvisible` inside the tags )

[2015-10-01 04:05] ernestorocha opened #1249 "Server riot.render omits value attribute of inputs"
After suspecting that my issue was this one #1143, and after cloning the repository I detected another issue.

I'm trying to replicate the same behavior using `riot.render` and `riot.mount`, so when I disable JS I should get the same html. But, `riot.render` is omitting input value attribute.

https://github.com/ernestorocha/riot-test, just doing a `node index.js` you can detect that the attribute

[2015-10-01 06:43] MartinMuzatko commented on #1247
my current workaround is to use data-attributes with the key of the parent.

[2015-10-01 06:49] GianlucaGuarini commented on #1247
@MartinMuzatko that's the right way!

[2015-10-01 06:52] MartinMuzatko commented on #1238
I'd be glad to help, more information would be appreciated.

[2015-10-01 07:11] MartinMuzatko commented on #1247
Alright, thanks for the quick info!

[2015-10-01 07:11] #1247 closed

[2015-10-01 07:39] MartinMuzatko commented on #1238
I decided to write down a few ideas and a book outline.

[code]

[2015-10-01 12:19] emilebosch opened #1250 "Styles with server side rendering?"
Hi guys, when rendering riot tags server on v2.2.4 side i can't seem to get the style output as well.
Am i missing something?

Tag
[code]
Server

[code]

Output:
[code]

[2015-10-01 12:53] MartinMuzatko commented on #186
I think they finally did it :)

[2015-10-01 21:56] dcorb commented on #1118
+1

[2015-10-02 00:22] brauliobo commented on #1001
@cognitom @swese44 yeah, looped items are a very good usage example, thanks @cognitom

[2015-10-02 00:54] cognitom commented on #1001
@brauliobo oops, document was moved to the new repo. I've updated the link above. Thank for letting me know.

[2015-10-02 02:49] ak5 opened #1251 "Riot Library Size"
Hi

First off, this looks really great! Thanks a lot.

I am a bit confused about the size of the library - can I get it down to 3.5kb (the size in the README)? I am getting more than twice that after gzipping riot.min.js.

[2015-10-02 07:00] GianlucaGuarini commented on #1251
It will change in future check the readme file in the `dev` branch https://github.com/riot/riot/tree/dev Riot is no more 3.5kb

[2015-10-02 07:00] #1251 closed

[2015-10-02 07:31] cognitom commented on #1250
I think Riot hasn't support styles in server-side rendering yet. In browser Riot inserts a `style` tag into `head` when loaded.

[2015-10-02 07:32] emilebosch commented on #1250
I know but the render could for instance, return an array with the styles in the first item, and the html in the second.

[2015-10-02 18:55] whogood commented on #1024
@crisward thank for sharing! I'm use webpack with riotjs-loader for render Jade templates. Your solution works too.

[2015-10-02 23:20] brauliobo opened #1252 "Documentation on riot attributes"
I see on documentation many references for custom attributes (like `if`, `each`, `show`), but there is no place to list and describe them. I've just found `show` by using google, but I can't find any detail for it.

[2015-10-02 23:21] brauliobo commented on #1252
`show` is not updating on `this.update()`, anybody knows why?

[2015-10-03 01:56] aMarCruz commented on #1248
@gregorypratt you are right, visible is not an html5 attribute.
I do not know where the list came from, but I will check

[2015-10-03 07:40] gregorypratt commented on #1196
Having a special  `opts` HTML attribute would be nice....

So

    <alerts opts="{ alerts }">
    mount('alerts', alerts)
    opts.alerts[0]

Instead of

    <alerts alerts="{ alerts }">
    mount('alerts', { alerts: alerts })
    opts.alerts.alerts[0]

[2015-10-03 08:04] nippur72 commented on #1252
It's all documented, see for example [http://riotjs.com/guide/#conditionals](http://riotjs.com/guide/#conditionals)

[2015-10-03 10:56] brauliobo commented on #1252
oh, sorry for this then. thanks @nippur72
sometimes I get lost in these long single page documents

[2015-10-03 10:56] #1252 closed

[2015-10-03 13:56] GianlucaGuarini commented on #990
I checked how React renders the loops and it seems they also update just the expressions without reordering the DOM nodes: please check how the class names stay the same http://jsfiddle.net/72wjyyus/
With the new riot loop reordering, our library will become again a lot slower in updating the DOM nodes position in runtime but at this point it seems to be the only solution we have to handle all our

[2015-10-03 14:51] pakastin commented on #990
It shouldn't be any slower – instead in many cases it should be faster (because of it's doing less work if only few items moved)! If it's slower, there's something wrong elsewhere. For example:
https://camo.githubusercontent.com/996f695a762a7a62c3210ce8929071fabab08ba5/687474703a2f2f70616b617374696e2e66692f69737375652e706e67

[2015-10-03 15:39] andynemzek commented on #990
@GianlucaGuarini just fyi - I don't think this is a 'wild need'.  We have a sizable app built with riot where I work and similar to @oderwat we found that riot's current loop implementation leads to very non-sensical results and ultimately made our app appear radically broken is certain scenarios.

Specifically, our app has lists that contain child-tags that load and store data onto themselves (as

[2015-10-03 16:12] oderwat commented on #990
Please don't forget that you are also doing microbenchmarks with certain tests. It may be slower to reverse 100.000.000 items or even update simple values. But we only have about 30 Items and it is much slower to re-render all their (sub) content because the already rendered results don't get moved to the right place. We now have to internally cache all this data in a "pre-rendered" state and also

[2015-10-03 18:19] GianlucaGuarini commented on #990
@oderwat I understand it, We are working also for you :) But it does not mean that we should ignore the riot performances. @rsbondi I think I could fix the single test that is failing, give me a bit more time please.

[2015-10-03 22:57] brauliobo commented on #1242
Related issue with Slim workaround: https://github.com/slim-template/slim/issues/649

[2015-10-04 19:51] GianlucaGuarini commented on #990
This issue got solved thanks to @rsbondi and the patch is now available in the `feature/reorder` branch.
@tipiirai please test it and let me know if we can merge it into the `dev` branch. With this fix riot becomes 4x slower than the previous release!

[2015-10-04 20:19] oderwat commented on #990
Well I personally lost $$$ and time for that useless (from our point of view) iteration of functionality. But that way my fault because I said that we go with the newest release even if it breaks our code. Not knowing how bad that becomes. Still I thank you for your time and effort. We will also check out how the new code affects our project when it lands in dev.

[2015-10-05 06:15] GianlucaGuarini commented on #990
I think that before merging it in the `dev` branch I will implement also the possibility to render faster loops using the DOM attribute `reorder="false"` on the loop node

[2015-10-05 07:07] tipiirai commented on #1248
If I remember correctly I took the list from [this comment](https://github.com/kangax/html-minifier/issues/63#issuecomment-37763316). I ended there by searching Google.

[2015-10-05 07:20] tipiirai commented on #990
I think `reorder: false` could be the default, unless `unshift` or `splice` methods require it.

[2015-10-05 07:38] GianlucaGuarini commented on #990
@tipiirai ok I will add some tests as well

[2015-10-05 07:49] pakastin commented on #990
I profiled JS performance during reorder (10 000 reverse) – most of the time wastes because try/catch is being used (V8 cannot optimize try/catch -code):
![profiling](https://cloud.githubusercontent.com/assets/1475902/10275239/96657354-6b4e-11e5-8a73-98d7d8db9ab4.png)

Every try/catch should be removed!

[2015-10-05 07:51] pakastin commented on #990
If you see any exclamation mark warning sign in profiler (Profiles - Collect Javascript CPU Profile), there's unoptimizable code.

[2015-10-05 07:52] pakastin commented on #990
See: https://github.com/petkaantonov/bluebird/wiki/Optimization-killers#2-unsupported-syntax

[2015-10-05 07:56] GianlucaGuarini commented on #990
@pakastin now I can't test it, but what if you try to remove all the try and catch? Does it run faster? This does not explain why it is 4/5 times faster ( also faster than React ) without reordering the DOM nodes

[2015-10-05 08:00] pakastin commented on #990
If I remove try/catch, it hits an error (Uncaught TypeError: Cannot set property currentTarget of #<Event> which has only a getter). Seems it catches errors all the time. Should be fixed first.

[2015-10-05 08:01] pakastin commented on #990
type checking, checking for null/undefined should be used instead of try/catch

[2015-10-05 08:51] tipiirai commented on #990
@pakastin you can ditch the `try` block by replacing [this block](https://github.com/riot/riot/blob/master/lib/browser/tag/update.js#L21)

[code]

with this:

[code]

Would love to see the results with the change.

[2015-10-05 08:57] GianlucaGuarini commented on #990
@tipiirai I think we need to use `getOwnPropertyDescriptor` on the event object https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Object/getOwnPropertyDescriptor to understand if the properties are writable

[2015-10-05 09:12] tipiirai commented on #990
Actually we don't need that code at all! Those properties are there for IE8 only. Just checked for browser support. Just need to check whether the `currentTarget` points to the indented element.

[2015-10-05 09:13] tipiirai commented on #1238
@MartinMuzatko – thank you so much for the thoughtful response. I'll point the Manning guys to this thread and let them give their input next.

[2015-10-05 09:14] GianlucaGuarini commented on #990
So let's delete them ;)

[2015-10-05 12:35] pakastin commented on #990
I made an example with a draft version of the upcoming frzr.js.

Try add multiple bunch of items without reordering first and compare that to adding them with reorder on:
http://jsfiddle.net/hxvrbfvg/

Good example of that reordering isn't slow, and that it's even faster than replacing contents in some cases.

[2015-10-05 12:38] weepy commented on #990
@pakastin I get that reordering is always faster than not reordering,

[2015-10-05 12:44] pakastin commented on #990
Not always, when you move all items, it can be faster without - but otherwise should be..

[2015-10-05 13:20] imakei opened #1253 "Memory leak with Riot#render()"
Hi, there seems to be a bug with memory leak.

This is the code I got memory leak.
[code]

sample project
https://github.com/imakei/riotleaksample

[2015-10-05 13:37] pakastin commented on #990
Those test results should be pretty accurate, since I'm using batched DOM updates inside one requestAnimationFrame and that render time tells only the rendering and nothing else.

[2015-10-05 13:56] pakastin commented on #990
What's happening there:

• with reordering: add 1000 items to head
• without: add 1000 items to tail and update every items' content

That's why without reordering render time also grows and grows when more and more items are added.

[2015-10-05 14:14] pakastin commented on #990
I added the "legendary" reverse test, even that seems to run faster now!
http://jsfiddle.net/hxvrbfvg/3/

I was doing it wrong in the previous frzr..

[2015-10-05 14:28] oderwat commented on #990
@pakastin reverse without reordering does just update the fields "at once" for me. While doing it with reodering the view gets empty in between (just showing the top element and then the remaining appear a bit later. Why does this happen? This could make a huge difference in an actual application.

[2015-10-05 14:30] GianlucaGuarini commented on #990
@pakastin I really appreciate you interest in this topic but your posts regarding "your way" of looping in frzr.js does not help me a lot improving the riot code. I would like you could help us contributing on the riot source code if you have enough time otherwise we need to handle the improvements by ourselves.
I appreciate a lot more the help coming from @tipiirai and @rsbondi that helped me ref

[2015-10-05 14:36] pakastin commented on #990
I'm just proving what the performance would be in the optimal conditions, because you keep repeating that reordering is slower which simply isn't true.

I have also profiled Riot and given the results, there are lots of warnings in the profiler. I have also given an example how to reorder really simply. I just don't understand the details in Riot source anymore and don't know what to keep and what

[2015-10-05 14:37] pakastin commented on #990
@oderwat: which browser? This is really preliminary test and optimized just for Chrome/webkit.

[2015-10-05 14:43] oderwat commented on #990
@pakastin that was safari os x 10.11 but is the same with firefox on osx too.

[2015-10-05 14:44] pakastin commented on #990
Ok, thanks for letting me know!

[2015-10-05 14:53] GianlucaGuarini commented on #990
BTW this is the "performance improvement" I get removing all the `try {} catch(e) {}` from the riot code
![screen shot](https://cloud.githubusercontent.com/assets/879612/10283787/7eeb8f82-6b81-11e5-99c0-adb7d83406da.png)

[2015-10-05 14:56] pakastin commented on #990
Fixed now: http://jsfiddle.net/hxvrbfvg/5/

@GianlucaGuarini: Show me what profiler says (Dev tools - Profiles - Collect JavaScript CPU Profile - hit Start, press Reverse). Is there any warning signs?

[2015-10-05 14:59] GianlucaGuarini commented on #990
Here you got it
![screen shot 1](https://cloud.githubusercontent.com/assets/879612/10284051/5f9b1fb6-6b82-11e5-82ec-43e112d4a138.png)

[2015-10-05 15:08] pakastin commented on #990
Seems there are still lots of optimization errors. Where I can try that?

[2015-10-05 15:35] GianlucaGuarini commented on #990
[here](http://jsfiddle.net/5pL5jg2z/)

[2015-10-05 17:39] pakastin commented on #990
Ok thanks, I'll check that out.

[2015-10-05 19:50] GianlucaGuarini commented on #990
this issue now is fixed and the patch is available in the `dev` branch. To enable the dom reordering you should set `reorder=true` on dom node you want to loop. The issues with `unshift` and the wrong children removal were solved also without enabling the `reorder` attribute. I have added some tests to avoid this issue in future. The riot loops became a bit slower but more reliable.

[2015-10-05 19:53] GianlucaGuarini commented on #1104
this issue was fixed please check #990

[2015-10-05 19:53] #1104 closed

[2015-10-05 19:55] GianlucaGuarini commented on #1082
this issue was fixed #990

[2015-10-05 19:55] #1082 closed

[2015-10-05 19:58] GianlucaGuarini commented on #729
this issue was fixed and it could will be solved with the option `reorder=true` in riot 2.3.0

[2015-10-05 19:58] #729 closed

[2015-10-05 20:07] GianlucaGuarini commented on #1142
thank you @Havunen your suggestion fixes the issue. I am closing this

[2015-10-05 20:07] #1142 closed

[2015-10-05 23:35] ernestorocha commented on #1253
Just discovered that! I'm comparing two essentially equal apps, one written in React and the other one written in Riot. Although, when trying to stress test both app, the Riot one is increasing in memory until is killed.

Just tested your repo, but using express and sending requests. Same result.

[2015-10-06 06:30] tipiirai commented on #990
Holy crap.

I haven't tried this yet, but looks like you did a fantastic job. This was certainly a pain in the ass. Thank you for the hard push!

[2015-10-06 07:33] GianlucaGuarini commented on #990
@tipiirai yeah it was but without @rsbondi I could not fix this issue. Thank you guys for your help

[2015-10-06 16:55] ravihara commented on #497
Riot looks really promising... with all the points above, duly said.
Long live Riot :+1:

[2015-10-06 17:21] ilblog opened #1255 "Riot loads images that are not part of a DOM"
[code]

This part in code works as it should. DIV and IMG is not part of a DOM. What is strange, that browser loads specified image.

[2015-10-06 21:49] tupy commented on #1253
+1
I got the same problem.

[2015-10-06 21:57] CezaryDanielNowak commented on #497
In my opinion ReactJS is created for code purity, and maintainability in large-scale apps. That may be pain in the ass, when prototyping etc - You have to think in React to work with it properly.

I didn't use RiotJS a lot - so it's a bit wish-thinking: It is focusing on rapid development and making developer life easier.

[2015-10-07 02:07] pakastin commented on #990
@GianlucaGuarini: still saying DOM reorder is slow?
https://twitter.com/pakastin/status/651578961261133824

Thanks for challenging me! ;)

[2015-10-07 02:09] tipiirai commented on #497
Quite the contrary. Riot is specifically created for *code purity*, maintainability and large-scale apps. It takes away the pain points of React (boilerplate, syntax clutter, unneeded internal complexity) so that it's not a pain in the ass to use.

And since complexity tends to increase, the benefits become larger the bigger the application comes. So yes – Riot focuses on making development life e

[2015-10-07 02:20] pakastin commented on #1238
Count me in! :)

[2015-10-07 02:26] tipiirai commented on #990
Awesome performance there on [frzr](https://frzr.js.org/example/index.html). Congrats!

We obviously hope to get to the same speed level, but it's much harder when you need to support unlimited nesting of custom tags, which can also have nested loops and conditionals.

This is an ongoing process. Maybe profiling tools can help.

[2015-10-07 02:36] tipiirai commented on #1238
@MartinMuzatko I really liked your intro. Exactly what Riot aims for. Any chance for you to polish that so we can put it on our home page or as the first chapter of our documentation?

[2015-10-07 02:37] tipiirai commented on #1238
And @pakastin, really glad to see you here!

[2015-10-07 02:37] pakastin commented on #990
I know, and still I'm not comparing - just trying to push the browser limits and show what could be done. And FRZR wouldn't exist without Riot: I didn't understand anything about this stuff before I fell in love with the simplicity of Riot.

Profiling helped a lot. I will try profile Riot also when I figure out how to use this new reorder parameter.

[2015-10-07 03:06] pakastin commented on #1238
Before Riot I only knew how to use big frameworks like Angular. When something was wrong, I had to search Google what's going on and usually not even then figure out what to do.

With Riot I finally understood what frameworks does under the hood. I even contributed and wrote the first simple DOM reorder script for Riot 2.0. Turned out it didn't have that great performance but did the job and was r

[2015-10-07 04:05] katopz commented on #497
Would be nice if some riot expert contribute to this http://todomvc.com/
So we can compare real life use case, I'm also looking forward to use Riot with Meteor btw.

Thanks

[2015-10-07 04:10] gihrig commented on #497
Did you see http://todomvc.com/examples/riotjs/

[2015-10-07 04:13] katopz commented on #497
@gihrig Oh! Snap! Thanks! :ghost:

[2015-10-07 06:19] GianlucaGuarini commented on #990
I close this bug it got fixed we can move forward

[2015-10-07 06:19] #990 closed

[2015-10-07 06:21] GianlucaGuarini commented on #1255
this issue is a duplicate of #1020 thanks for your example we have planned to fix it in riot 2.3.0

[2015-10-07 06:21] #1255 closed

[2015-10-07 06:54] MartinMuzatko commented on #1238
I'll do a PR about that on https://github.com/riot/riot.github.io @tipiirai :) I feel so honored right now. :blush:

[2015-10-07 06:57] martineboh commented on #497
I think RiotJS shines in terms of code portability and maintainability in
large scale apps in the long run compare to ReactJS. Also fast for
prototyping too.
On Oct 6, 2015 5:56 PM, "Ravishankar Haranath" <notifications@github.com>
wrote:

[2015-10-07 07:21] tipiirai commented on #1238
Glad to see all these kind words here!

Martin, one thing that should be pointed out is the importance of components. And how important the coupling of HTML and JS is, and how these components can be nested to form more complex user interfaces. And after all the code looks clean and readable like a book.

[2015-10-07 09:44] klen commented on #1076
Any updates here?

[2015-10-07 09:51] gregorypratt commented on #1238
If you'd like to give me a topic/chapter/section to write once you've got an idea of the structure of the book just let me know

[2015-10-07 11:59] pakastin commented on #990
@tipiirai: FRZR does those also http://pakastin.github.io/frzr-todo/ ;)

[2015-10-07 12:33] GianlucaGuarini commented on #990
so definitely frzr.js is better than riot maybe I should start using it! :joy_cat:

[2015-10-07 12:35] pakastin commented on #990
Well, FRZR is mainly for my personal use, but I just want to share the research. Of course Riot is much easier to use because of the templating, that's something I intentionally left out. FRZR is more javascript-first view engine.

[2015-10-07 12:39] GianlucaGuarini commented on #990
I use to call it spam

[2015-10-07 12:45] pakastin commented on #990
Hey, you're now using the new efficient reorder method in Riot as well, which came out as a product from my FRZR tests. Show some respect. Also the only reason I shared the tests here was you not believing me that reorder is not slow.

Sometimes it's easier to iterate (& benchmark) ideas with a fresh project.

FRZR is not competing with Riot, you should already know that.

[2015-10-07 12:51] pakastin commented on #990
This logic:
https://github.com/riot/riot/blob/dev/lib/browser/tag/each.js#L73-L108

Was here first:
https://github.com/pakastin/frzr/blob/master/lib/views.js#L62-L76

..and I shared it here:
https://github.com/riot/riot/issues/990#issuecomment-142216140

[2015-10-07 13:09] oderwat commented on #990
@GianlucaGuarini Why don't you realize that: https://github.com/riot/riot/issues/484#issuecomment-113805214 was simply a wrong decision. That broke projects and in the end cost people a lot of time and money. @pakastin already took part of the conversation at that time and even if you would not use any of his ideas hey saw the weight of the problem you didn't. You even wrote "Riot 2.2.0 is finally

[2015-10-07 13:13] oderwat commented on #990
To make it clear: I think that Riot with the new optional optimized "reordering" is much cooler that "being as fast as anyone else without reordering". And that was (imho) the spirit @pakastin wanted to bring to the project. Thanks @all btw...

[2015-10-07 13:24] pakastin commented on #990
I even tried to say back then many times that dropping reordering will cause problems, i.e.:
https://github.com/riot/riot/issues/484#issuecomment-109757765

That's a breaking change and might cause problems for some. At least for me reordering is a required feature.

and:
https://github.com/riot/riot/issues/484#issuecomment-109890032

[2015-10-07 13:40] oderwat commented on #990
Let's not beat the dead horse :)

I take the "I close this bug it got fixed we can move forward" as the essence. After all I am happy that we can use such a mature project basically for free!

[2015-10-07 14:00] pakastin commented on #990
I agree :)

[2015-10-07 14:27] syropian opened #1257 "Physically sorting rendered elements has weird behaviour when calling `update()`"
Ran in to this interesting little problem last night. Here's the case:

_Normally_, when we want to change the DOM in a Riot tag, we should update our model and call `this.update()`. However, what happens when we want to introduce drag and drop reordering?

To tackle this, I created a mixin that uses [RubaXa/Sortable](https://github.com/RubaXa/Sortable). The problem here is we're physically re-ord

[2015-10-07 15:05] rsbondi commented on #1257
A demo would help, if you would make a simplified example that illustrates the issue, you can use [this template](http://plnkr.co/edit/NlXWuHDqFyLDy2U0GmZY?p=preview), thanks.

[2015-10-07 15:17] rsbondi commented on #1020
have a look at [this example](http://plnkr.co/edit/ktJOiN?p=preview) and see if it resolves the issue, you can fork to test other scenarios, this uses a wip version of riot attempting to resolve the issue.

cc: @ilblog

[2015-10-07 15:37] syropian commented on #1257
@rsbondi Here's a demo: http://plnkr.co/edit/X3gKOusPdfUBmxpyaJmn?p=preview

[2015-10-07 15:56] rsbondi commented on #1257
This has been fixed with the latest code iteration, wip version [here](http://plnkr.co/edit/p6LWCt?p=preview), note the addition of the `reorder='true'` attribute

[2015-10-07 15:59] syropian commented on #1257
@rsbondi Awesome! That's good to know. Thanks for looking in to it.

[2015-10-07 15:59] #1257 closed

[2015-10-07 16:12] rsbondi commented on #990
I tend to think that the default should be the reorder mode, that works in all cases, but is slower, and if you don't need reordering but need speed, then you should set an attribute `no-reorder` or something.  Also, I would be happy not having any attribute and living with the slower speed, which is not an issue unless there is an unreasonable amount of tags mounted(I am a pagination fan but that

[2015-10-07 16:45] marvinroger commented on #219
Is there anything new? This is a pretty important feature.

[2015-10-07 16:57] oderwat commented on #990
I go with @rsbondi but would like an opt-in to an optional faster version (noreoder). It could also be `each` and `fasteach` or `noreach` or `raweach` instead of an option. Which would make it possible to track usage more easily.

[2015-10-07 17:12] GianlucaGuarini commented on #990
@rsbondi @oderwat could you please open a new issue/discussion about the `reorder` attribute?

[2015-10-07 17:25] rsbondi opened #1258 "Reordering"
Currently in development we have dom reordering working by specifying a `reorder='true'` attribute on the tag performing the `each`.  I am of the opinion that the default should be to reorder the dom and opt-in to using the faster `no-reorder`.  Reason being that the reordering although slower, will work in all occasions.  Also, speed is not an issue unless you have an unreasonable amount of tags

[2015-10-07 17:53] n1313 opened #1259 "How to access looped standard tag instances from a parent?"
I have an array of items which I display as `<ul><li each="{ items }">{ data }</li></ul>`. From what I understand, each `<li>` is a "tag instance" here with its own context and `_id` which I can manipulate and have some kind of "local" variables. How do I access those instances (and those variables) from "outside" of the loop? I don't see those `<li>`s in `tags` of the parent tag (although if I re

[2015-10-07 18:36] marciovicente commented on #1253
+1. Same problem! :(

[2015-10-07 18:47] GianlucaGuarini commented on #1253
Probably we need to provide a way to render the html and unmount the tag right after the first mount event https://github.com/riot/riot/blob/master/lib/server/index.js#L19 It should be easy like a pie

[2015-10-07 18:48] GianlucaGuarini commented on #1253
For the guys that can wait for the next release this should be enough:
[code]
Could you test it please?

[2015-10-07 19:02] GianlucaGuarini commented on #1253
I have tested the trick but it does not fix the issue.. I need to dig it

[2015-10-07 19:05] caio-nas commented on #1253
+1 same problem here

[2015-10-07 19:06] victormartinez commented on #1253
+1

[2015-10-07 19:06] shankarcabus commented on #1253
+1

[2015-10-07 19:07] andersonba commented on #1253
+1

[2015-10-07 19:11] isabelabel commented on #1253
+1

[2015-10-07 19:15] helielson commented on #1253
+1 :octocat:

[2015-10-07 19:19] GianlucaGuarini commented on #1253
fixed! Riot 2.3.0 is on its way hold on

[2015-10-07 19:19] #1253 closed

[2015-10-07 19:24] GianlucaGuarini commented on #1259
It's a design decision. We keep store in the `tags` attribute only the custom children tags instances. It does not make any sense to store all the children tags that do not contain any custom logic

[2015-10-07 19:38] marciovicente commented on #1253
:clap:

[2015-10-07 19:39] tupy commented on #1253
:clap: :clap: :clap: :clap: :clap: :clap: :clap: :clap: :clap: :clap: :clap: :clap:

[2015-10-07 19:40] rafaelverger commented on #1253
:clap: :clap: :clap:

[2015-10-07 19:45] ernestorocha commented on #1253
@GianlucaGuarini thanks! I'm going to test it right away!

[2015-10-07 20:08] ernestorocha commented on #1253
Just to confirm, it's fixed!

[2015-10-07 20:11] GianlucaGuarini commented on #1253
@ernestorocha thanks awesome!

[2015-10-07 21:09] syropian commented on #1258
Hm, I think explicitly setting `reorder="true"` makes a little more sense to me, as it's (imo) the less common case.

[2015-10-07 21:15] syropian commented on #1238
Happy to help if needed!

[2015-10-07 22:30] anaibol commented on #1118
++1!

[2015-10-07 23:12] Mouvedia commented on #990
:+1:  @rsbondi

[2015-10-08 01:27] fkei commented on #1253
:+1:

[2015-10-08 01:29] imakei commented on #1253
It was fixed. awesome:)

[2015-10-08 02:17] n1313 commented on #1259
@GianlucaGuarini thank you for your reply. I understand _why_ this happens. I want and advice on how to work with this limitation. A tag might contain a "custom" logic even though it's not a "custom" tag. For example, in my case I have an `onclick` handler that sends an AJAX request. I set a `this.loading = true` flag to indicate that the request is in progress and to display a spinner. This flag

[2015-10-08 06:19] GianlucaGuarini commented on #1259
@n1313 could you write a dry example on jsfiddle please? So I will try to help you directly on your source code

[2015-10-08 10:28] maciejjankowski opened #1261 "<pre> tag does not preserve neither \n nor \t"
[code]

http://jsbin.com/yeyoro/edit?html,output

[2015-10-08 10:48] aMarCruz commented on #1076
Hi all, I'm pushing the beta version of the compiler and tmpl.
Unfortunately, I was unable to integrate support for precompiled expressions (not using eval), due to the difficulty in implementing, at compile time, the spec "in templates, falsy values returns the empty string, except zero."

Unlike ASP, using the equal sign to indicate text (`<%=`), riot is using the same syntax for both templates

[2015-10-08 11:15] GianlucaGuarini commented on #1076
@aMarCruz this means that we can release riot 2.3.0 without implementing this feature. Take your time and let's focus on the next release. Please close the issues in this repo that you have solved with the new compiler release

[2015-10-08 14:40] nippur72 commented on #1259
During the `onclick` event `this` points to the `<li>` tag, so just use save `this`, e.g:
[code]

Anyway I would move the `loading` flag out of the `<li>`.

[2015-10-08 17:47] rsbondi commented on #1261
@aMarCruz will this be handled with your compiler updates?

compiled to
[code]

[2015-10-08 19:19] wrschneider opened #1262 "bind.this breaks nested function with syntax error"
http://jsfiddle.net/6dy60v70/

bind.this gets added with semicolon  resulting in something like

[code]

and that breaks syntax

Note that adding a space on line 12 of the jsfiddle makes the error go away.

[2015-10-08 21:55] rsbondi commented on #1262
From the [docs](https://github.com/riot/riot.github.io/blob/master/guide/index.md) with key phrase highlight added

Your example works with the proper indentation.  The compiler is being reworked and this should not be an issue in future releases although I am not sure of the status.

[2015-10-09 00:32] wrschneider commented on #1262
thanks.  There's no way I would have ever guessed that whitespace would
make a difference like that in a JS framework.

On Thu, Oct 8, 2015 at 5:55 PM, Richard Bondi <notifications@github.com>
wrote:

[2015-10-10 10:42] a-moses opened #1264 "[question] how debug riot project"
update:
their is something like [React Developer Tools]( https://facebook.github.io/react/blog/2015/09/02/new-react-developer-tools.html)  for Riot tags etc.. ?

[2015-10-10 10:45] a-moses commented on #1238
Please add book label on github issues

for collecting  ideas and tips

[2015-10-10 10:52] GianlucaGuarini commented on #1264
This question is a bit vague, could you please provide more details?

[2015-10-10 11:01] a-moses commented on #1264
their is  possible to move step by step with browser debugger  over tags files ?

take the [todo](https://github.com/riot/examples/tree/gh-pages/todo-app) as example for a project.

[2015-10-10 11:47] GianlucaGuarini commented on #1264
Short answer:

no

Long answer:

I don't know your point of view, but having a custom debugger in a javascript framework is a sign of weakness: it means that your users do not know what's happening on the page and how the app data get interpreted.
Perhaps React needs a custom debugger because it has a high level of abstraction and it's hard to figure out whether your data are correctly mapped in y

[2015-10-10 11:59] ilblog commented on #1264
Debugging riot tags is easy. I mean JS code in tags. Just put "debugger;" inside a code and browser will open JS VM with piece of code.

[2015-10-10 14:37] a-moses commented on #1264
I want to understand more deeply  how Riot  Observable working.

[2015-10-10 14:42] GianlucaGuarini commented on #1264
maybe you could start from here https://github.com/riot/observable/blob/master/lib/index.js it's just 130 lines of code

[2015-10-10 14:51] #1264 closed

[2015-10-10 14:56] a-moses commented on #1264
thanks

[2015-10-10 16:15] aMarCruz commented on #1261
Sorry, I think no.
It would have to scan the entire content. A browser requires hundreds of lines to do just that.
But you can use expressions:
[code]
Drawback is performance, the expression is evaluated and the element updated with others.
Maybe in the future riot give us expression for one-time evaluation and replace (think about your fix to `type=number`).

[2015-10-10 16:23] aMarCruz commented on #1248
Thanks, the BOOL_ATTR is fixed now.

[2015-10-11 07:38] a-moses commented on #1264
thank you @ilblog .

[2015-10-11 21:12] a-moses commented on #969
@cognitom
Please don't forget to add description to all pages(like the http://riotjs.com/guide/ ) for search result .
 with github syntax its very easy

[2015-10-11 21:12] #969 closed

[2015-10-12 07:02] cognitom commented on #969
@a-moses I'm not sure what should I do. Feel free to send PR to the site repo :-)
https://github.com/riot/riot.github.io

[2015-10-12 07:49] em-sghosh opened #1266 "Who are using riotjs in production?"
Please help me with the answer , as I wish to use it in an enterprise site , I need some use cases to see , how it works on big sites.

Like- https://www.windyty.com/

I think there may be more big banner users also.

[2015-10-12 07:56] cognitom commented on #1266
Hey @narikei, tell us [your story](http://qiita.com/narikei/items/1a7fbd7895cfb4220172), pls ;)

[2015-10-12 09:10] MartinMuzatko commented on #1238
@a-moses Manning has its own process of creating a book. They have their own CMS to manage content, ideas, etc. I'm not quite sure if it will be an open source project or something comparable to that.
So for now we can't do anything else than waiting for @tipiirai and Manning to get started.
Until then, I wouldn't litter this repo with a tag that only fits this issue so far.

[2015-10-12 09:54] tipiirai commented on #1238
I have asked for them to join this thread since there seems to be a lot of interest.

I obviously prefer the open source philosophy instead of the community handing everything for the publisher for free. Makes total sense to rethink this.

Hope Manning has some feedback on this!

[2015-10-12 11:04] em-sghosh commented on #1266
Hay @cognitom thank you for the quick reply. @narikei ! it would be nice to hear from you more, as you may faced some real time challenges in the time of implementation.

[2015-10-12 19:04] willvedd commented on #218
+1 for core functionality, though a standard library is acceptable too. @ufologist thanks for that snippet!

[2015-10-12 20:04] syropian commented on #1266
I'm currently in the midst of rewriting [Astral's](http://astralapp.com) front-end in Riot (from Angular).

[2015-10-12 21:21] mgenev opened #1268 "community channel?"
Hi,
i'm looking for a way to ask questions and look at what others are doing with riot. Is there a channel like gitter/irc/slack etc.?

[2015-10-12 22:13] Ldiab commented on #1266
In some days I will be releasing a website which frontend is almost 90~95% made in RioJS (90+ Tags because I have... modularized maybe too much XD), I was hopping 2.3.0 to be ready for then but It's ok, in 2.2.4 they fixed some bugs and now is very powerfull so. I will try to remember to send you the direction If you want to, so you can see a "real case" but It will need some cleaning to be done a

[2015-10-12 22:37] Ldiab commented on #1238
Yes, maybe an entire web section fill with tutorials and videotutorials about Riot... I mean, is "beautiful" keep using paper and now ebook, but let get serious, internet evolve really fast, when I go to shop a book about internet or go to any Library I pray to find a book printed in 2015. An example would be NodeJS... some months ago It was from Joyent... then born io.js fork, then merge together

[2015-10-13 00:05] rsbondi commented on #1268
https://gitter.im/riot/riot

[2015-10-13 02:51] narikei commented on #1266
Hi @em-sghosh ,
I am using RiotJS in GAMY. https://gamy.jp/
GAMY is game news and community site in Japan.
I have rewritten from jQuery to RiotJS.

I think this is pretty good for me, compared to ReactJS and AngularJS.

I'm making like Web Components. I feel the concern, When if it becomes a huge size, contact between this component is troublesome.

[2015-10-13 05:51] tipiirai commented on #1237
Closing this in favor to [this issue](https://github.com/riot/tmpl/issues/2)

[2015-10-13 05:51] #1237 closed

[2015-10-13 08:46] em-sghosh commented on #1266
Thank you all for the input.
@Ldiab thank you for the info, I will be happy to see the real case.
@narikei , can you let me know , is it related to using observable in riotjs for communication between components?

[2015-10-13 14:09] iamliqiang commented on #990
congratulation, 990 was fixed !  thanks for riot.js team

[2015-10-13 14:11] iamliqiang commented on #1258
i agree with you @rsbondi ,  right result is more important than only speed

[2015-10-13 15:53] n1313 commented on #1259
@GianlucaGuarini here's my example: http://codepen.io/anon/pen/OyjqZJ. There is a custom `<wrapper>` tag with some `<li>`s with buttons. Buttons fire an asynchronous call (emulated with `setTimeout` here for simplicity) and set a loading flag on the `<li>` instance ("child loading"), as well as on `<wrapper>` instance ("parent loading"). The `<wrapper>` listens for the "async done" event and sets

[2015-10-13 16:14] a-moses commented on #1238
@MartinMuzatko  yes you right !

but i'm taking about Github label like "discussion" , "bug" and so on...
so where is some common problems, just add a label as "need to cover" or something else

and in this way you can  collecting ideas for the book.

[2015-10-13 16:54] nippur72 commented on #1259
Just pass the `this`reference along with the id, and send it back when triggering the event: http://codepen.io/anon/pen/meMgmV

[2015-10-13 17:21] n1313 commented on #1259
Well, that's one way to solve this, yes. I hoped for a slightly more elegant solution but it'll do. Thanks!

[2015-10-13 20:04] ernestorocha opened #1270 "Nested tags have undefined attributes"
I have the following code:
[code]

What I think is happening is:

Everything is mounted correctly, then the `update` event is triggered on `toptag` and propagated to its children, right ? Then the `nested-tag` constructor is called again, for me that is strange, shouldn't only the `update` event be triggered ?
Anyway, the problem is, the second time the `nested-tag` is called the `store` attribute

[2015-10-13 23:57] oderwat commented on #1258
I also agree with @rsbondi and the DOM reordering is in my opinion not at all contradicting the data be the model for the DOM. With DOM reordering you move your data **and** the DOM at once without need to re-render all the DOM nodes affected. Also what happens feels (imho) more natural. You move the data, the DOM reflects that. Without reordering you move the data and you have to make sure everyt

[2015-10-14 03:00] howesteve opened #1273 "ES6 classes syntax"
Hello,

I like RiotJS a lot. One of my main issues with it, however, is that is is *too* encapsulated: the "script" tag is a like black box and it's not easy to customize its behavior (subclassing), because you cannot override methods of a tag. It thought it would be nice if the script tag had a prototype chain like a ES6 class does. Sure there are some related issues raised here in the issues lis

[2015-10-14 03:03] howesteve commented on #1273
Perhaps I should had posted this in the forum...

[2015-10-14 04:48] Mouvedia commented on #1258
From a marketing point of view, it even makes sense to have the no-reorder as the attribute cause it can be branded as a turbo. Instead of having it backward and having something that slows things down once enable

:+1:  common sense dictates that the order should match to avoid wtf moments for newbies that don't RTFM.

[2015-10-14 04:55] Mouvedia commented on #1238
Which version(s) will it cover?
How much will it cost?
Will it be freely available online?

[2015-10-14 06:29] GianlucaGuarini commented on #1258
Ok so I will enable the `reorder` option by default. It can be disabled setting the attribute `no-reorder"` on the DOM node to loop.
cc @tipiirai

[2015-10-14 07:15] nippur72 commented on #1273
@howesteve have a look at [](https://github.com/nippur72/RiotTS) which does almost the same (but for TypeScript).

One issue that I see in your code is processing templates with `riot.tag()` which is rather limited. RiotTS once did the same but later I had to switch to a more elaborate solution: templates are first compiled with `riot.compile()` and the output is passed to `riot.tag()`. Again, hav

[2015-10-14 07:34] nippur72 commented on #1259
IMO, you should use promises instead of event triggering/observables. Code will be shorter (faster?) and more readable. See http://codepen.io/anon/pen/meMgmV

(I'm not against riot observables, I'm a fan of observables but I save them for more complex scenarios).

[2015-10-14 07:40] tipiirai commented on #1258
Makes sense. Thank you for the thought @Mouvedia.

[2015-10-14 08:32] nippur72 commented on #1273
@howesteve class instantiation could be also improved.

If I have understood correctly, with the current implementation you have to move all the initializations under `init(opts)`. I think it is more appropriate to have called from constructor as a in normal ES6 class.

[2015-10-14 10:14] sylvainpolletvillard commented on #1273
Any good reason to prefer classical inheritance over simple composition ? I usually get around this by simply doing `Object.assign(this, mixinA, mixinB, anotherMixinOverridingPreviousStuff)` at the beginning of my tag logic. Small, simple and yet powerful, following Riot philosophy.

ES6 Classes are already somewhat controversial in the React community and I don't feel the need to bring this debat

[2015-10-14 11:53] nippur72 commented on #1273
@sylvainpolletvillard it's a matter of taste, people coming from the Java/C# world prefer to use classes/plain OOP because of the cleaner syntax. But luckily Riot gives freedom to use whatever one likes.

[2015-10-14 20:26] khoomeister commented on #1202
+1

[2015-10-14 20:49] mgenev commented on #218
in dust this is simply `{someHTMLContent | s}` and in handlebars it's `{{{someHTMLContent}}}` it's a much cleaner way to handle this

[2015-10-14 21:19] a-moses commented on #1273
@nippur72  :+1:

[2015-10-14 21:19] howesteve commented on #1273
@nippur72 thanks for your feedback. I had already moved to riot.compile() before you replied. About the initializations under init(), glad you asked: this implementation uses [ES6 class properties](https://github.com/jeffmo/es-class-static-properties-and-fields). Something peculiar and confusing about them is that they will be assigned to the instance *only after construction*. That means they won

[2015-10-14 22:59] rwu823 opened #1274 "[Q] How to get previous value?"
in `React`

[code]

How can I do the some thing in riotjs?

[2015-10-15 08:13] sylvainpolletvillard commented on #1273
@howesteve you can setup Webstorm, which I use too, to get syntax coloring on .tag files, see https://github.com/riot/riot/issues/892
I never encounter a situation where I was unable to get what I wanted with composition, and considering classes like the "easy and standard way" is also highly debatable, but this is not the place to discuss that.

I think exposing the [Tag constructor](https://gith

[2015-10-15 08:59] nippur72 commented on #1273
@howesteve if you setup a repo we can compare the two implementations and share useful insights.

Regarding class properties, riot-ts has them too, with the difference that `init(opts)` is mapped into `constructor(opts)` making it more "natural". The registration function doesn't create any instance, it simply registers the `.prototype` and relies on the constructor for the creation of properties.

[2015-10-15 09:21] n1313 commented on #1259
That's a good suggestion, thank you! It is definitely cleaner. Unfortunately, in this particular case I must consider the browser support factor as well (riot.js supports IE9, Promises aren't implemented natively in IE11: http://caniuse.com/#feat=promises, and I'm against using a polyfill that is heavier than the library itself), so I will probably keep sticking to observables.

[2015-10-15 11:21] GianlucaGuarini commented on #1259
I will try to help you asap.. now I am really busy

[2015-10-15 13:54] splitbrain commented on #1148
any updates here? Is this something that's being worked on? Is there something wrong in how the example was done?

[2015-10-15 14:51] nippur72 opened #1275 "Feature request: riot.mount('*') that raises no error if no elements to mount"
Currently `riot.mount('*')` throws a `SyntaxError` if there are no elements to mount.

Can we have it work silently, raisinig no errors if there are no elements to mount?

[2015-10-15 18:38] nilpath commented on #1118
+1

[2015-10-15 22:40] duongphuhiep opened #1276 "How to embed muut comment to a tag component?"
On a static page, I just have to insert 2 lines:
[code]
It won't work on riot component
[code]
I think that we will have to `load moot.fr.min.js` after mounting the `post-page`.  How can we do that?

[2015-10-16 05:31] howesteve commented on #1273
@sylvainpolletvillard ES6 classes are a standard now, whether one like it or not. I know about Webstorm support for.tag files but it is quite limited; for instance, try the ES6 shortcut methods. I want to remind that this register() function is optional and nobody is forced to use it; this was just a request for comments. I'm sure someone else will be happy and feel home with that syntax.
Indeed i

[2015-10-16 06:19] GianlucaGuarini commented on #1273
So to be pragmatic guys you are asking to make the [Tag constructor](https://github.com/riot/riot/blob/dev/lib/browser/tag/tag.js) available outside right?
We could expose it to the riot public api what about `riot.Tag` ?

[2015-10-16 08:22] nippur72 commented on #1273
@GianlucaGuarini I'm not sure, the current `riot.tag()` (lowercase) is already ok for me.

What I need most (for riot-ts), is a `riot.compile()` that compiles HTML-only and that returns the result as a plain string (as explained in #1097).

Currently I have to do the following ugly hack:
[code]

[2015-10-16 14:48] MartinMuzatko opened #1277 "Dynamic Tag-loading by data"
I think a familiar issue already exists. However I couldn't really find it.

I know that Riot has it's problems with loading data as HTML for everything beyond attribute or content.

I'm trying to use data as tags.

Like so

[code]

See here on Plunker: http://plnkr.co/edit/157LVmUSoFQaqFbpDYPh?p=preview

The output is this:

[code]

**Usage:**

I currently need to do that, to utilize existing tag

[2015-10-16 15:46] howesteve commented on #1273
@GianlucaGuarini I think tag constructor should be exposed, yes, so that one can extend/override its internal methods, *and* @nippur72 is right as well, a compile() function working only on html should be available so that wrappers for specific idioms such as his (TypeScript) and mine (Babel) can use compiled templates. Both changes seem easy to do.

[2015-10-16 18:47] rsbondi commented on #1277
[the best I can do](http://plnkr.co/edit/157LVmUSoFQaqFbpDYPh?p=preview) with your example, but it has issues as pointed out in #1174

[2015-10-16 19:44] nilpath commented on #1274
+1

[2015-10-16 21:18] GianlucaGuarini commented on #1274
Riot does not have any internal method to store/cache old properties allowing you to use anything you want to achieve this feature. This feature is not on our todo list at moment.
[This example](http://riotjs.com/examples/live-editor/#%3Csample%3E%0A%20%20%3Cul%3E%0A%20%20%20%20%3Cli%20each%3D{%20techs%20}%3E{%20name%20}%3C%2Fli%3E%0A%20%20%3C%2Ful%3E%0A%20%20%3Cbutton%20onclick%3D{%20add%20}%3EUp

[2015-10-16 22:56] GianlucaGuarini commented on #1258
Unfortunately this feature It's not that simple. Restoring the reordering by default I realized that there are still an issues ordering arrays containing primitive data 4 ex `arr = [1, 2, 3, 4, 4, 3, 2, 1]` our `indexOf` tests do not work in case of multiple equal primitive values. @rsbondi any possible solution (possibly avoiding to restore the bloat we had in riot 2.0.*)?

[2015-10-17 00:21] rsbondi commented on #1258
I can't think of a scenario where the primitive data would be, could be, or should be representative of anything other than what it is, simple raw data.  I am not sure riot could do this in the 2.0.x. When you start with the data, you don't know how that data got there unless you are at the point of exchange, which we are not.  Do you have an example where the dom could be pegged to primitive data

[2015-10-17 05:02] howesteve commented on #1273
@GianlucaGuarini, any technical impediments to allow riot.tag() itself compile the given template ? Why don't it compile the template param ?

[2015-10-17 10:52] EldritchInteractive commented on #1074
I would like to see this too.

More options are better.  Especially considering 12k is a lot better than 141k.

[2015-10-17 11:05] GianlucaGuarini commented on #1258
@rsbondi I have disable the reordering for all the arrays containing primitive data

[2015-10-17 12:07] #1275 closed

[2015-10-17 14:07] GianlucaGuarini commented on #897
In riot 2.3.0 It will be possible to listen events like `before-mount` `before-update` and `before-unmount`. I am closing this issue

[2015-10-17 14:07] #897 closed

[2015-10-17 14:13] GianlucaGuarini commented on #717
In riot 2.3.0 we decided to reorder the tags created with the `each` attribute so there is no need for a custom `index` property. I am closing this issue for now

[2015-10-17 14:13] #717 closed

[2015-10-17 14:14] GianlucaGuarini commented on #1088
I hope this bug will be fixed in riot 2.3.0, I have reassigned it to @rsbondi that is already working on it https://github.com/riot/riot/pull/1256

[2015-10-17 14:31] GianlucaGuarini commented on #890
@MartinMuzatko I am not sure your examples are bugs. Riot has a simple "template engine" that allows us to [interpolate javascript data transforming them into dom values attributes](https://github.com/riot/riot/blob/dev/lib/browser/tag/update.js#L51-L141). Your tests are based on strings templates over real DOM elements and riot __does not use__ strings template engine. I will close this issue for

[2015-10-17 14:31] #890 closed

[2015-10-17 14:41] oderwat commented on #717
Well the problem for us was with the order of update being called with "each". I am not sure if that is related to the ordering in the DOM ordering changes.

I wrote that issue as DOM reordering was still in place.

Its about knowing in an update() of an element which is the previous element to this. If all updates() are called in sequence it is simply the previous one.

Think of coloring the back

[2015-10-17 15:39] GianlucaGuarini commented on #717
@oderwat can you make a simple example, I will be really happy to help you and sometimes 3 lines of codes are more useful of thousand of words :)

[2015-10-17 15:50] GianlucaGuarini commented on #1063
Ok guys you did an amazing work in the last 2 months, riot 2.3.0 is almost ready for a public beta release. I will wait that the 2 main issues/tasks ([if activation](https://github.com/riot/riot/pull/1256) and the new `riot-compiler`) will be completed and I will roll out the beta.

cc @tipiirai @cognitom @rsbondi @aMarCruz

[2015-10-17 16:30] GianlucaGuarini commented on #780
This issue got solved and the patch will be released with riot 2.3.0. I close this issue

[2015-10-17 16:30] #780 closed

[2015-10-17 22:49] oderwat commented on #717
@GianlucaGuarini I did but wonder how I get the latest dev version of riot inside jsfiddle for testing it? Do I need to build and host that myself for this purpose?

[2015-10-18 04:49] r4j4h commented on #897
Great news!! Thank you for the notification =)

[2015-10-18 12:13] cognitom commented on #1063
@GianlucaGuarini great! It's time to move forward ;-)

[2015-10-18 19:56] GianlucaGuarini commented on #1123
In the next riot release 2.3.0 all the dashed options will be converted to camelCase. I close this issue

[2015-10-18 19:56] #1123 closed

[2015-10-18 21:25] GianlucaGuarini commented on #1273
@howesteve @nippur72 why don't you use simply something like [this](http://plnkr.co/edit/4UkIX0hAs5oon5p1BcVw?p=preview) ?

[2015-10-18 21:27] paulcsmith commented on #1123
You rock! Thank you :)

[2015-10-19 07:02] MartinMuzatko commented on #890
I understand and agree. I'll have a look on this, once I got a bit more time on my hands. Thank you for looking into this @GianlucaGuarini

[2015-10-19 07:19] MartinMuzatko commented on #1266
I have written a web-based video editing tool for our cooperative advertisment [network pretecsy](http://www.pretecsy.de) (german)

Other than that, for our service I used Riot for many other parts of the application too.
 - Managing Images/Uploads on a large scale
 - Listing companies (+ sorting, pagination)
 - Booking Ads to other devices in the network

See this imgur album: http://imgur.com/a/

[2015-10-19 07:21] tipiirai commented on #1258
Looping primitive data seems like an edge case anyway. Also primitives can be easily converted to objects with `Array.map`.

[2015-10-19 10:03] nippur72 commented on #1273
@GianlucaGuarini but that involves mounting :-(

Currently I'm using [this hack](http://plnkr.co/edit/1D93ZMGujYteJLMloNeq?p=preview) to get the html to feed to `riot.tag()`.

[2015-10-19 10:12] GianlucaGuarini commented on #1273
@nippur72 In the new riot 2.3.0 I have exposed the internal Tag constructor.
I think it should be possible to use it in this way:
[code]
Even if I didn't test it yet It should be enough to handle all the es6/typescript use cases or am I missing something?

[2015-10-19 10:22] nippur72 commented on #1273
@GianlucaGuarini I guess that if `Tag()` is exposed there will be new possibilities to explore, but I have to experiment with a working prototype.

So  better to wait until 2.3 is out and settled.

(BTW, what is the expected timeline to the new riot ? I know there's a lot of work being done.)

[2015-10-19 11:37] GianlucaGuarini commented on #1273
I think we are not that far https://github.com/riot/riot/issues/1063#issuecomment-148926047

[2015-10-19 12:21] MartinMuzatko commented on #1277
That works, unfortunately with the drawbacks of the named issue, but better than nothing. Thanks a lot.

[2015-10-19 12:26] Mouvedia commented on #1258
I have a use case: a big sudoku.

[2015-10-19 12:32] oderwat commented on #717
OK. I build the current dev version and host it temporary for the fiddle example [here](http://jsfiddle.net/OderWat/cw7fw7cw/). But the result looks really good :). So nothing to complain here!

[2015-10-19 12:37] GianlucaGuarini commented on #717
@oderwat I am happy that my ( our ) weekends working on this feature were not wasted :) cc @rsbondi

[2015-10-19 13:11] nikek commented on #1118
+1, would be very nice!

[2015-10-19 13:22] sylvainpolletvillard commented on #1277
this looks like another usecase for a virtual tag https://github.com/riot/riot/pull/1254

[2015-10-19 15:43] howesteve commented on #1273
Yes @GianlucaGuarini I agree with @nippur72, depending on mounting is not an option. Besides, that's a hack even uglier than compiling and extracting html, currently used by @nippur72 and myself, and it would mean we depend on a browser's DOM, and server side rendering would not be possible. The riot.Tag option seems much better; I'm eager to test it.

[2015-10-19 17:48] GianlucaGuarini commented on #1118
Hi guys I was just curious: I was asking myself why a dev that wants to use riotjs maybe because it's small, performant and smart or maybe because its simple philosophy would use [redux](http://rackt.org/redux/docs/advanced/AsyncActions.html#async-action-creators) ( __9 chapters doc!__ ) that together with the the polyfills required ( Promise - [fetch](https://github.com/github/fetch)  ) is bigger

[2015-10-19 18:35] nilpath commented on #1118
@GianlucaGuarini where did you get that the polyfills are required? on their repo it says that it doesn't have any dependencies and also that it is small, in fact, smaller than the riotjs framework.

[code]
\- https://github.com/rackt/redux#redux

Also, just because the docs have 9 chapters doesn't mean that their philosophy isn't simple either. I like the concepts behind flux for data management

[2015-10-19 20:03] GianlucaGuarini commented on #1118
In [their example](http://rackt.org/redux/docs/advanced/AsyncActions.html#note-on-fetch). This means that if I would like to test it the library is not enough

It is 5kb [check yourself](https://cdnjs.cloudflare.com/ajax/libs/redux/3.0.2/redux.min.js) but it's really small anyway
@nilpath thanks for your clear reply but I am not yet convinced or maybe I am to dumb to understand it :smile_cat: . If

[2015-10-19 20:30] nilpath commented on #1118
Unless you want to write xmlhttp request by hand you would need to use some sort of library for that right? In this case they use native fetch and promises with polyfills, but you could use something like jQuery as well, which might be overkill for just making AJAX calls.

it's 2.3kb when gzipped :smile:

@GianlucaGuarini: yeah I might be the best person to argue to why redux should be the one and

[2015-10-19 21:26] shrunyan commented on #1118
@GianlucaGuarini

I'm personally sold on redux because it makes it easier for me to reason about the state of my apps versus observables. I went through an iteration where I used a dispatcher built on top of observables, inspired by the [riot-isomorphic](https://github.com/ListnPlay/riot-isomorphic) repo.

It was nice but I was still getting confused on communication between stores. Redux reducers

[2015-10-20 06:16] GianlucaGuarini commented on #1118
@shrunyan @nilpath It's great to hear your motivations guys I would be really glad to see a `riot-redux` implementation to understand pragmatically the features of this approach..ping me when you have found or made something cool

[2015-10-20 06:36] weepy commented on #1118
I don't see why you need to see an implementation to understand the
implications of an architectural pattern? That's all redux/flux is. No
doubt one could write something like RiotControl in a redux flavor.

On Tue, 20 Oct 2015 07:16 Gianluca Guarini <notifications@github.com> wrote:

[2015-10-20 06:57] GianlucaGuarini commented on #1118
@weepy [this](https://twitter.com/gianlucaguarini/status/656149442383454208) is my personal opinion but I wish someone could demonstrate I am wrong

[2015-10-20 08:47] mikkame opened #1281 "how to use yield in jade"
jade compiled.
yield to empty

can i add another yield-tag?

[2015-10-20 08:50] nippur72 commented on #1118
In my experience the flux architecture is a natural complement to riot, and I'm using it in all my new projects.

But I don't use *flux* or *redux*, because I don't like the extra complexity they add.

I just write a store object as a `riot.observable()` and then code actions, dispatching and all the rest with the riot observable interface. I even get IDE autocompletion because I write actions as

[2015-10-20 09:06] weepy commented on #1118
be great if you could post an example ?

On Tue, Oct 20, 2015 at 9:50 AM nino-porcino <notifications@github.com>
wrote:

[2015-10-20 10:11] nippur72 commented on #1118
@weepy see for example [todo.ts](https://github.com/nippur72/riotjs-todomvc/blob/gh-pages/stores/todo.ts) of my own fork of [riotjs-todomvc](https://github.com/nippur72/riotjs-todomvc).

That store has:
- a plain `data` object, marked readonly to remember you that only the store itself can modify it.
- the store fires just one event (`update`) that tags can subscribe to.
- actions on the store are

[2015-10-20 10:12] GianlucaGuarini commented on #1266
It can be nice to make a section on our site called "Showcase" a bit like [bootstrap](http://startbootstrap.com/showcase/) @tipiirai what do you think?

[2015-10-20 10:16] GianlucaGuarini commented on #1118
Maybe I could also post an example to show how you can write your tags logic semantically without too much ceremony. Let me know if you are interested

[2015-10-20 10:18] cfenzo commented on #1266
We use riot in production for various ad-campaigns and contests (alas, they are rather short-lived, only live for 1 week to 2 months at a time. and there are none live atm).
But we use it anywhere where every kb matters, really ;) Typically serving 40-50k users/day, aprox 50% on mobile. Rarely run into problems with browser-support.

[2015-10-20 10:20] GianlucaGuarini commented on #1266
@cfenzo It's great to hear this.. we do the same here at www.goldinteractive.ch and we never had a problem ;)

[2015-10-20 11:16] weepy commented on #1118
I'm interested. ..  ^_^

On Tue, Oct 20, 2015 at 11:16 AM Gianluca Guarini <notifications@github.com>
wrote:

[2015-10-20 11:19] GianlucaGuarini commented on #1118
I will see whether this weekend I could build up something for you guys

[2015-10-20 13:05] MartinMuzatko commented on #1264
I think this is related to this: https://github.com/riot/riot.github.io/issues/37 - Troubleshooting frequently occuring error messages.

[2015-10-20 14:23] nippur72 commented on #1118
One more word about flux and riot: things can be a lot simpler if the main tag of the app acts as a flux store. It doesn't need to be a separate object because a tag is also an `observable`. That solves also the problem of creating the store instance and passing it to child tags.

[2015-10-20 15:17] weepy commented on #1118
ideally I think you'd want to be able to separate the tag from the store -
at least just for testing the app

On Tue, Oct 20, 2015 at 3:23 PM nino-porcino <notifications@github.com>
wrote:

[2015-10-20 17:01] crisward commented on #1281
yield is a jade keyword, you need to write it long hand. ie.
[code]

[2015-10-20 19:59] mgenev commented on #1273
@howesteve i'm beginning to work on something similar with ES6 and riot, i'm very interesting to see your boilerplate code, could you please publish a github repo?

[2015-10-20 21:33] seanzer opened #1282 "CustomEvent details are not propagated"
http://codepen.io/anon/pen/YyYevW?editors=100

In the above example, when you click the second button in the page, I expect evt.detail to contain the property foo, but it is undefined. Is Riot supposed to propagate the event detail object or is there a different recommendation for how to send data up?

Specifically, I am trying to make a reusable component, which fires a custom event, but I can't

[2015-10-20 21:48] seanzer commented on #1282
Oops, I forgot to put the properties into the detail object. This is working as expected.

[2015-10-20 21:48] #1282 closed

[2015-10-21 01:19] mikkame commented on #1281
Can not be helped the short hand and long hand are mixed?
For now we use a long hand.
Thank you

[2015-10-21 01:19] #1281 closed

[2015-10-21 07:18] datashaman opened #1283 "innerHTML value does not update, script doesn't refire"
I feel like I'm missing something fundamental here. Please look at: http://plnkr.co/OUG46b

The gist of it is that the innerHTML value only changes once. The script in the tag also only fires once:

    <raw>
      <div>Without Inner: <span id="without_inner">{ opts.content }</span></div>
      <div>With Inner: <span id="with_inner"></span></div>

      <script>
      console.log('raw.tag::opts',

[2015-10-21 08:08] datashaman commented on #1283
Answered my own question by re-reading http://riotjs.com/guide/#mounting and realizing that the innerHTML access is DOM, therefore should only be accessed within on('update').

[2015-10-21 08:10] datashaman commented on #1283
I assume that the premature DOM access somehow breaks the subsequent Javascript execution. That try {} catch {} block in the middle of the riot code is probably hiding the real problem.

[2015-10-21 08:10] #1283 closed

[2015-10-21 08:13] datashaman commented on #1283
Link to working version: http://plnkr.co/74Gqhn

[2015-10-21 08:55] tipiirai commented on #1266
@cfenzo, can I quote you on Riot front page?

[2015-10-21 09:14] geordee commented on #1266
Has.Menu (https://dubai.has.menu/) is using Riot.js in production.

[2015-10-21 09:20] iktakahiro commented on #1246
+1

[2015-10-21 14:14] weepy commented on #971
Just running into this problem ... what does "In the next riot release you need to set the values once the tag gets mounted" mean ?

[2015-10-21 14:29] oderwat commented on #971
Well look at his example. You need to create an `on("mount")` handler which runs after the "name" attribute is filled in by riot. So basically you need to delay setting the value until the tag is being mounted.

See it here with a pretty recent dev version of riot: http://jsfiddle.net/OderWat/wf7bkvur/58/

[2015-10-21 14:37] weepy commented on #971
Oh I see - needed to scrolllllll down
 thanks for that ^_^ ---

[2015-10-23 07:20] nippur72 commented on #1266
I stepped in production with a small business app (human resources) converting a old site that was a mix of asp.net/razor and angular1.4. Lines of code cut down considerably (~70%) and source is now readable and maintenable. A very positive experience as of now.

Before Riot, I had tried Knockout, Angular, React and Polymer, but my search for the holy grail ended with riot.

[2015-10-23 08:22] rwu823 opened #1284 "[Suggestion] class attribute also able to pass an object type"
For the example:

[code]

[code]

Nice to have if able to pass an object type:

[code]

[code]

[2015-10-23 11:30] cfenzo commented on #1266
@tipiirai, please do :)

[2015-10-23 13:00] MartinMuzatko commented on #1277
Looking forward to virtual tags in 2.3 :)
Thanks for the answers

[2015-10-23 13:00] #1277 closed

[2015-10-23 16:21] jkurz opened #1285 "should if mount and unmount elements"
Should the if attribute mount and unmount any custom elements nested inside of it, when the evaluation changes?

[2015-10-23 16:46] GianlucaGuarini commented on #1285
In theory no. A nested element is mounted only once but we would like to trigger the mount event only when it gets displayed the first time. Please let's continue the discussion [here](https://github.com/riot/riot/issues/1020). I am closing this issue because it's a duplicate thank you

[2015-10-23 16:46] #1285 closed

[2015-10-24 08:09] joney-pinkman opened #1286 "Could the riot add data bind function like Object.observe polyfill ? i hope update the Tag Object's attribute to html automatic."
http://jsfiddle.net/mck4ey9y/

[2015-10-24 18:11] GianlucaGuarini commented on #1286
I am not sure this feature should be hooked in in riot because it could lead to performance issues. You can create a mixin in your tags to achieve the same thing. But I would like to hear other opinions about this as well I know for example that Rivets.js uses kind of Object.observe

[2015-10-24 18:41] #1268 closed

[2015-10-24 18:41] #1274 closed

[2015-10-24 23:20] danieltian commented on #1191
I find that, for Jade, you have to surround it with quotes:

mytag
  p hello
  div(each="{p in data}")
    {p}

[2015-10-25 09:42] nippur72 commented on #1286
In my view, data binding doesn't fit well with riot's philosophy, so I would leave it to be solved with a 3rd party library like `Object.observe()`.

[2015-10-25 12:35] web3d0 opened #1287 "Update tag templates after Riot is already running to support changes during debugging"
When debugging Riot tags, I want to be able to change the template string.

Since the hot reload will update the JS containing the new template string, there needs to be a way to trigger Riot to re-scan that template.

Then I would be able to use the debugging console to update the template, or include it in a timer so that it will refresh as I edit.

[2015-10-25 13:34] web3d0 opened #1288 "Redux style immutability would speed up Riot checks for changes in virtual DOM"
Should the library be functionally safe to allow developers to use it either way?

[2015-10-25 14:01] GianlucaGuarini commented on #1287
Is [this](http://plnkr.co/edit/HFxEppFYFYjPLOGnQZS4?p=preview) what you mean?

[2015-10-25 14:45] web3d0 commented on #1287
Like that, yeah, but Webstorm's being smarter (dumber) about its updates so it's not working there. The website seems to reload everything on every change, Webstorm does hot patching. So there still needs to be a way to re-read the template without a reload so that it will work with IDE style hotpatching.

[2015-10-25 16:50] GianlucaGuarini commented on #1287
I don't know anything about webstorm I use sublime text. It seems your issue is not riot specific but it's in your development setup and in this case I can't do a lot more I am sorry

[2015-10-25 20:50] GianlucaGuarini commented on #1288
have you already checked https://github.com/riot/riot/issues/1118? This question seems to be a duplicate

[2015-10-25 20:52] GianlucaGuarini commented on #1118
@weepy I will make you an example of a basic riot application as soon as we will release riot 2.3.0 because it will include a lot of new features and improvements :v:

[2015-10-25 21:05] weepy commented on #1118
Awesome. Look foward to it. I was just looking at Bacon and Rx which are v
interesting
On 25 Oct 2015 8:52 pm, "Gianluca Guarini" <notifications@github.com> wrote:

[2015-10-26 00:01] kfreiman commented on #1240
I think this is caused by technical reasons, it's not easy. Probably, to resolve this problem can be used .map file. But the question, rather, is the developers agree to do riot so complex.

[2015-10-26 00:07] kfreiman commented on #186
@tipiirai, http://todomvc.com/examples/riotjs/

[2015-10-26 01:47] dp-lewis commented on #1240
Depending on your coding style, you can preserve all comments if you switch the compiler type to none:

`riot --type none`

http://riotjs.com/guide/compiler/#pre-processors

[2015-10-26 02:24] brauliobo commented on #1240
Nice docs. The question is why on the default transpiler, which sounds good to me, it removes comments?

[2015-10-26 02:51] cognitom commented on #1191
@danieltian exactly. Thanks!

[2015-10-26 06:55] web3d0 commented on #1287
Riot could have a way of reloading the template string, unless you're saying that repeating the mount will perform that action. In which case, how is the tag updated?

[2015-10-26 06:57] web3d0 commented on #1288
No, there is a difference in this issue. That issue is about using Redux with Riot, which is possible since it's only the store that needs to be immutable. This issue is about how Riot itself could use Redux style immutable stores to speed up checking for DOM changes.

Note how the other issue refers to aggressive updating, which is a side effect of Riot's mutable structures interacting with new s

[2015-10-26 07:11] GianlucaGuarini commented on #1288
@web3d0 could you please make a concrete example to show me how you think riot should update the dom properly? Thank you

[2015-10-26 07:16] GianlucaGuarini commented on #1287
[this](https://github.com/riot/riot/blob/dev/lib/browser/tag/tag.js#L18) does the trick and it's enough to reload the templates, purge the tag instance data and remount the tag with new templates or new data

[2015-10-26 07:34] web3d0 commented on #1288
I will need to get more up to speed with riot's source code. If riot does "old === new" as a check, it's Redux style. If it's doing "isEqual" or a comparison, it's slower. I remain unsure what impact this has in practice, so this may be something I need to code up and benchmark.

[2015-10-26 08:45] klen commented on #1266
I've wrote http://pomodoro-tracker.com/ for my self. It's builded with riotjs and coffee-script.

[2015-10-26 09:17] tipiirai commented on #186
Yup!!

[2015-10-26 09:17] #186 closed

[2015-10-27 11:06] MarkusPint opened #1293 "Compiler not compiling"
I have a file todo.tag with the following contents:

    <todo>

        <h3>{ opts.title }</h3>

        <ul>
        <li each={ items }>
        <label class={ completed: done }>
        <input type="checkbox" checked={ done } onclick={ parent.toggle }> { title }
        </label>
        </li>
        </ul>

        <form onsubmit={ add }>
        <input name="input" onkeyup={ edit }>
        <b

[2015-10-27 11:16] GianlucaGuarini commented on #1293
Riot 2.2.4 can not compile tags not correctly indented you could check your html [here](http://cognitom.github.io/riot-checker/)
The next riot release 2.3.0 should not have this issue anymore

[2015-10-27 11:18] MarkusPint commented on #1293
Thanks for the quick response!

[2015-10-27 14:26] sylvainpolletvillard commented on #1286
I worked on a templating system based on an [Object.observe sham](https://gist.github.com/sylvainpolletvillard/2310b297adb063c53be7)

My conclusion is that trying to polyfill Object.observe is complex, requires lots of code, has several severe caveats (as exposed [here](https://github.com/MaxArt2501/object-observe#limitations-and-caveats)) and impact performance significantly. Until Object.observe

[2015-10-27 15:17] PabloSichert commented on #1118
Thank you for mentioning my demo! - You might wanna check it out. :point_up:

Just to drop a word on that: I was also appealed by the minimalistic and functional approach of Redux, and therefore used it in my project. This implies that the store needs to get passed down the components, which is no flaw per se - in my opinion.
The only problem I faced right now was thinking about how to subscribe t

[2015-10-27 15:19] jkurz commented on #1020
@rsbondi your plunker does not unmount the element from what I can see. http://plnkr.co/edit/a5V4lYYZTJJWgaRx0Ezz?p=preview maybe that was not your goal. That is what I would expect in this situation. Maybe i'm wrong. I don't see the theoretical issue with doing this.

My biggest use case for this is cleaning up, any listeners in the block, killing intervals, things of this of this nature.

@gotno

[2015-10-27 18:19] Ldiab commented on #1266
Well, yesterday the webpage I am working on, was launched in beta mode, and yes, production, is in Spanish, but yeah, almost everything is Riot. Right now, is slow because a misunderstading in the css/styles making a huge bottleneck in the general execution which I will re-work in a few weeks and some modules written in Riot will become plain html, just because is better for the system I'm working

[2015-10-27 20:19] lucidtech opened #1295 "html raw rendering - edge case bug"
I am building a swagger ui with riot - and I am using swaggerjs for the model. swaggerjs auto builds an html snippet for rendering parts of the API.

I want to render that snippet using the this.root.innerHTML method.  The _initial_ render is fine.  But an this.update() causes an exception here in riotjs:

[code]
https://jsfiddle.net/hewupxv9/

You can see from the fiddle the difference between an

[2015-10-27 20:45] GianlucaGuarini commented on #1295
This issue was already fixed and it will be published with riot 2.3.0 https://jsfiddle.net/7szk4L7h/

[2015-10-27 20:48] lucidtech commented on #1295
great!  thanks for the quick reply.  I'll wait for 2.3.0

[2015-10-27 20:48] #1295 closed

[2015-10-28 13:08] CrazyUmka opened #1296 "Attribute isMounted tag after unmount equal true"
#### Example code:
[code]
Maybe, this is `bug` or it's some kind of *feature*? What i am doing wrong?

[2015-10-28 14:01] gdub22 opened #1297 "Completely removing falsey attributes"
Currently, attributes contain their name in the resulting html even when they evaluate to false.
This can result in problems such as invalid html, and unwanted css attribute selectors matching.
[code]
result:
[code]
expected:
[code]
Live plnkr: http://plnkr.co/edit/0GFFKTQPsHFkQaMyCf8b?p=preview

[2015-10-28 18:07] Havunen opened #1298 "Question about custom events"
Hi,

How are you guys handling custom events between tags? For example I would like to raise valueChanged event from child tag and catch this event in the parent. It would sound logical if we could do oncustom="{}" at attribute level, which occurs when custom event raises. I created JSFiddle to show what I mean: http://jsfiddle.net/woj9awts/2/

I know another approach could be adding attribute nam

[2015-10-28 20:36] GianlucaGuarini commented on #1298
Hi @Havunen,

__However you want__ because riotjs does not force you using any specific programming logic.
I wrote for you a [simple example](http://jsfiddle.net/gianlucaguarini/r1rz3fh0/) emulating a bit Backbone.js to show you how it's easy to write your custom logic.
BTW in our [demos section](https://github.com/riot/riot#demos) you can find many examples to see how other guys have organized th

[2015-10-28 21:41] GianlucaGuarini commented on #1296
thanks for your issue. I have fixed it

[2015-10-28 21:41] #1296 closed

[2015-10-29 10:58] nathankot commented on #1020
I second this. Currently I'm building a (child) component that uses `canvas` and makes repeated calls to `window.requestAnimationFrame`, there doesn't seem to be a way to know when to clean up the animation loop when the said component is removed using an `if` expression.

[2015-10-29 11:33] avimar commented on #1020
Just to state what I think is obvious, to make sure we're all on the same page:

**Expected performance of `if`:**
* When value is or changes to _truthy_: it evaluates the tag's script section and triggers `mount`.
* When value is _false_: do NOT evaluate the tag's script section, do not mount.
* When value _changes_ to _false_: hide and trigger `unmount`. (Hmm, hide or actually destroy the tag? I

[2015-10-29 13:18] MarkusPint opened #1299 "Mount options not available if tag is nested"
So I have tags that I mounted like this:
[code]

my-parent.tag looks like this:
[code]

my-child.tag:
[code]

index.html:
[code]
There is an API I want the child tag to access, how can I make it available for the child tag?

[2015-10-29 20:24] cognitom commented on #1299
@MarkusPint could you show your code on Plunker without es6?
http://riotjs.com/examples/plunker/?app=bug-reporter

[2015-10-30 03:10] nathankot commented on #1020
@avimar that's what I had expected when using the if tag :+1:

`When value changes to false: hide and trigger unmount.` - in #1285 @GianlucaGuarini seems to have shot this down, but I don't 100% understand why firing the unmount event is undesirable? Legacy, semantic reasons?

[2015-10-30 03:26] xpchbill commented on #564
@rsbondi   I did some tests on your [example](http://plnkr.co/edit/GaA6nq?p=preview). I found the direct expression output inside of virtual tag was incorrect. Please see below code:

    <virtual each={item in data} reorder="true">
          {opts.reorder}
          <dt class={color} onclick={ tog } if={false}>{item.key}</dt>
          <dd><span class="x" onclick={remove}>X</span> {item.value}</d

[2015-10-30 15:28] wintercounter commented on #1131
Seems like this issue still exists:

[code]

[code]

I was using the short syntax before (no script tag, ES6 like declaration) but i had enough of no syntax highlite. After I've changed, this started to happen.

[2015-10-30 23:02] rsbondi commented on #564
In this example, the `reorder` is a attribute for the each loop(it has now changed #1258), so it is really should not be used as `opts`, if you change to any other flag it [works as expected](http://plnkr.co/edit/uLd6Fk?p=preview)

[2015-10-31 12:14] GianlucaGuarini commented on #564
@rsbondi not really http://plnkr.co/edit/rneJ40vg4rKvh9gYs3aO?p=preview but I will try to fix it before the final riot 2.3.0 release

[2015-10-31 23:48] #1258 closed

[2015-11-01 00:49] GianlucaGuarini commented on #1063
riot `2.3.0-beta` is out! In a couple of days if there are no big bugs raised up by the community we can roll out the 2.3.0 final release

[2015-11-01 00:51] GianlucaGuarini commented on #1063
I will start updating the documentation tomorrow

[2015-11-01 01:44] cognitom commented on #1063
Great! :tada:

[2015-11-01 06:46] cognitom commented on #1063
I've just update `riot-route` a bit to `v2.3.0beta.4`.
(Wildcard behaviour was slightly changed, and no effect on testing)

Anytime I can remove `beta` from it, if `riot-observable` do :smile:

[2015-11-01 09:52] MartinMuzatko commented on #1063
Yay :) great work guys

[2015-11-01 13:43] zimt28 commented on #1074
@swese44 The problem I have with Blaze is data context (which will automatically be passed down templates). It's quite difficult to build reusable components with a clean API having these. Much better with React and maybe even better with Riot, that's my reason :)

[2015-11-01 15:21] gdub22 opened #1301 "[2.3.0-beta] Bundled router intercepts clicks"
A new, updated router is included in 2.3.0-beta.  The router is auto-started, and in turn, adds a click listener to the document to handle routing.

The problem is that it blocks you from using any other router of your choice, because the bundled router is swallowing all link clicks.

[2015-11-01 15:27] GianlucaGuarini commented on #1301
Probably [this line](https://github.com/riot/route/blob/master/lib/index.js#L250) should be removed @cognitom

[2015-11-01 15:27] cognitom commented on #1301
@GianlucaGuarini can we change default behaviour? I'd like to remove that line, too.

[2015-11-01 15:30] GianlucaGuarini commented on #1301
Yes we must point this out in the changelog

[2015-11-01 15:33] cognitom commented on #1301
OK! I like it ;-)

[2015-11-01 16:05] cognitom commented on #1301
Done! Could you check this PR? @gdub22 @GianlucaGuarini
https://github.com/riot/route/pull/21

[2015-11-01 16:37] gdub22 commented on #1301
Looks good. Thank you!!

[2015-11-01 17:04] txchen opened #1304 "[Question] Apply css transition on add/removal tag"
For example, I want to apply animation effect on a list, when item is added or removed from the list, apply some animation effect on the item (css transition).

I know to use animation on removal, usually we should add a css class on the element, and when animation finished, remove element from dom.

In riot, riot controls the dom, so what's the best way to implement this? Thanks a lot!

FYI, I fo

[2015-11-01 17:29] GianlucaGuarini commented on #1304
@txchen you can do it with a simple mixin http://plnkr.co/edit/A43KH5iSegzkjOIxBEzu?p=preview

[2015-11-01 17:33] txchen commented on #1304
Oh, thanks for the answer! Let me have a try first.

[2015-11-01 17:42] txchen commented on #1304
@GianlucaGuarini sorry I cannot figure out how to use mixin on loop. Suppose my tag is like:

[code]

I'd like to have the new list item appears will some effect, how should I do?

[2015-11-01 17:51] txchen commented on #1304
I guess to apply transition on appear, I need to
* hook the mount event
* apply a class on element

To apply on disappear, I need to
* hook the unmount event
* apply a class on element
* wait for the animation end event, then continue with unmount

Now the questions are:
* How to easily hook on mount in loop, do I have to use sub-tag?
* How to delay the unmount action in hook?

Looks more like a f

[2015-11-01 17:58] txchen commented on #1304
And one more suggestion on mixin, now according to the doc, I have to use `this.mixin(mixinname)` in tag script, if we can specify mixins in tag, I think we can avoid create sub-tag, for example:

[code]

With this, I think I can make the appear animation work.

[2015-11-01 18:05] GianlucaGuarini commented on #1304
Try [this](http://plnkr.co/edit/DixZTgCYjrh0UzdpnkaZ?p=preview)

[2015-11-01 18:15] txchen commented on #1304
Nice script, learned a lot from it, thanks @GianlucaGuarini !
What do you think about the specify mixin in tag declaration and how to deal with unmount?

[2015-11-01 21:36] GianlucaGuarini commented on #1304
[this example](http://plnkr.co/edit/vhI2Zs9EDqHbTeEM86WJ?p=preview) could help, it's a bit dirty but i am sure you can optimize it ;)

[2015-11-01 23:18] txchen commented on #1063
Noticed that the size is now 18.3k in 2.3. Compared to the previous size (12.75k), about 50% increment. It removes the support of IE8, I would expect the size will reduce, however the result is opposite.

May I know what's the reason behind?

[2015-11-02 01:31] cognitom commented on #1063
Hi @txchen, I'm comparing the submodules, by `uglifyjs --comments --mangle | wc -c`.
This is not a direct comparison, but it could show some differences (which part getting fat...).

module | v2.2 | v2.3 | incresed (approx) | feature added
:-- | --: | --: | --: | :--
[observable](https://github.com/riot/observable) | 918 B | 985 B | +0.1 KB | basically same
[route](https://github.com/riot/route) |

[2015-11-02 02:01] txchen commented on #1063
Thanks @cognitom ! The diff looks reasonable.

The gzipped size is now `7.6KB` vs 2.2's `5.3KB`, still pretty good, but we can no longer call riot 3kb lib :)

[2015-11-02 02:17] cognitom commented on #1063
Yeah, I really loved 3kb :cry: but believe it'll be the best vesion :smile:

And we must mention about the document translations, too:
- [Chinese](http://riotjs.com/zh) by @Centaur
- [Japanese](http://riotjs.com/ja) by @cognitom
- [French](http://riotjs.com/fr) by @sylvainpolletvillard
- Russian - coming soon by @kfreiman

And `de`, `nl`, `es` is also on the way.

[2015-11-02 11:38] tipiirai commented on #1063
The `route` module can be dropped completely from core on a later version. Should be optional. I think it makes more sense to deal with the UI rendering only similar to React.

[2015-11-02 12:22] cognitom commented on #1063
Yeah, agreed. At least, we've decided to drop the auto-starting feature of `route` in v2.3, too. #1301

[2015-11-02 12:46] gregorypratt commented on #1063
Also when you've got other options like http://riotgear.js.org/components/router/ ;-) its best to not double up..

[2015-11-02 13:56] sylvainpolletvillard commented on #1063
+1 for separating router from riot. The minimal router is far from suiting every project needs so it makes sense to propose it as an optional plugin.

[2015-11-02 16:37] utensil opened #1305 "Child custom tags are not in the location as specified in parent custom tag"
Child custom tags are not in the location as specified in parent custom tag.

Minimal reproduction: http://codepen.io/utensil/pen/pjZbXV#0

Html:

[code]

[code]

The resulting DOM:

[code]

`<my-row>`s should be inside the `<table>` tag, but it's above it.

[2015-11-02 16:54] GianlucaGuarini commented on #1305
I think it does not work because a table tag does not allow any custom tag inside. I think it's not a riot bug.. but I will investigate

[2015-11-02 18:15] a-moses commented on #1063
[Tools, not policy](http://riotjs.com/guide/application-design/#tools-not-policy)
"Riot comes bundled with custom tags, an event emitter (observable) and router. ***We believe that these are the fundamental*** building blocks for client-side applications "

There is some of contradictory messages over Riot ,  I think no matter what will be, you must need to think  to the long long term! and reorga

[2015-11-02 18:39] GianlucaGuarini commented on #1305
You can try this solution http://codepen.io/GianlucaGuarini/pen/ojMYep In this case `my-row` will extend the default `tr` tag

[2015-11-02 18:51] avimar commented on #1063
You can go with docker's philosophy: 'Batteries included, but swappable' with links to various community implementation of routers that are easy to use/made for riot, e.g http://riotgear.js.org/components/router/ https://github.com/TehShrike/abstract-state-router https://github.com/cognitom/ikki

[2015-11-02 18:56] iv597 opened #1306 "Compiler preserves newlines in class objects, causing Unterminated String Constant errors"
Given a tag consisting of the following:

[code]

Which validates through `$(npm bin)/riot --check so-input.tag --type es6`

The compiled output will consist of the following, which contains an Unterminated String Constant at the end of Line 1 (which will break our Webpack build)

[code]

By moving the class definitions to a single line, the compiler will output valid JS:

[code]

[code]

The newl

[2015-11-02 19:01] GianlucaGuarini commented on #1063
I agree that the router must be split from the core but it's funny that before having the html5 router we also got the [completely](https://github.com/riot/riot/issues/685) [opposite](https://github.com/riot/riot/issues/376) requests from the community :)

[2015-11-02 19:03] GianlucaGuarini commented on #1306
@aMarCruz Is something you could check before releasing the 2.3.0 release?

[2015-11-02 19:04] gdub22 commented on #1063
Great job here! If you built the code to be modular (which it is in 2.3.0), I think you should keep things separated.  Riot itself is a great view library.

If you want a complete way to build an entire application, create a riot-framework repo that bundles riot+router+observable, etc.

[2015-11-02 19:05] GianlucaGuarini opened #1307 "broken riot.render"
In the current riot 2.3.0-beta the riot.render used via nodejs is broken

[2015-11-02 19:06] GianlucaGuarini commented on #1063
@gdub22 observable can not be removed from the core, any riot tag is an observable. We can only eventually remove the router

[2015-11-02 19:35] #1307 closed

[2015-11-02 20:07] GianlucaGuarini commented on #1249
@ernestorocha thank you I have fixed the issue. We will publish riot 2.3.0 soon

[2015-11-02 20:07] #1249 closed

[2015-11-02 21:22] aMarCruz commented on #1306
I will check this

[2015-11-03 00:52] gotno commented on #1020
@avimar that's what makes most sense to me, too :+1:

[2015-11-03 07:13] tipiirai commented on #1063
Good questions @a-moses. My attempt to answer your concerns.

I no longer think that Router is a *fundamental* building block for client side applications. I have build applications without routing. Think of in- page components that doesn't care about browser location for example.

But rendering and logic is part of every UI component.

Riot aims to make it easy to build UI components that are eas

[2015-11-03 07:35] GianlucaGuarini commented on #1063
@aMarCruz @cognitom @tipiirai @rsbondi I wrote in the skype chat the plans for the next 2 riot releases. Resuming it here: we will release riot 2.3.0 as it is we must just update the doc

[2015-11-03 09:17] clems71 commented on #1020
Agree with that :+1:

[2015-11-03 17:47] Havunen commented on #1273
I'm also interested of this. Has anybody tried this with 2.3.0-beta version?

[2015-11-03 18:22] mikeauclair opened #1309 "Tag renders js instead of content when no attributes present"
Plunker: http://plnkr.co/edit/KMK3j6H6JfRu6bYnws68?p=preview

Occasionally tags w/ no attributes and only text content render out their riot.tag JS declaration.

If the bugged h3 in the plunker is placed last in the template (right before the this.title assignment), the following exception is thrown:

![screenshot 2015-11-03 13 23 22](https://cloud.githubusercontent.com/assets/31651/10917312/1c66f

[2015-11-03 20:51] Havunen commented on #1273
@nippur72 @howesteve what is the reason why you think we should call riot compiler to compile template HTML ( I checked nippur you commit https://github.com/nippur72/RiotTS/commit/0a3fb2afae39faebc818fc6f7c1fb594fb15a307 but there is no description what was the reason for the change) ? I have been using webpack to precompile riot tags server side so far and haven't even linked riot compiler to the

[2015-11-03 21:02] Havunen commented on #1309
I think this is indentation issue just indent it like in docs and it works ok.

example: http://plnkr.co/edit/ySwFfpYhIzx4HAqFFRsP?p=preview

[2015-11-03 21:21] GianlucaGuarini commented on #1273
@nippur72 With riot 2.3.0 you don't need any hack to use the riot custom tags in ES6 typescript check my example http://codepen.io/GianlucaGuarini/pen/rOrQbZ

[2015-11-03 21:31] GianlucaGuarini commented on #1309
@Havunen you are right. @mikeauclair have you checked your tags with `riot my-tag.tag --check`? Please check also [Tag syntax](http://riotjs.com/guide/#tag-syntax)

[2015-11-03 21:39] GianlucaGuarini commented on #1309
@mikeauclair I have tried to indent correctly your example http://plnkr.co/edit/SRr39wxzN3vnu3x3tPKQ?p=preview remember that compiling your tags before using them is always the best solution

[2015-11-03 21:40] GianlucaGuarini commented on #1298
I hope my answer was enough I will close this issue

[2015-11-03 21:40] #1298 closed

[2015-11-03 21:44] GianlucaGuarini commented on #1262
thanks @rsbondi for the answer @wrschneider in riot it's always better to compile your tags before using them. The compiler in runtime must be used for prototyping your app. I will close this issue for now

[2015-11-03 21:44] #1262 closed

[2015-11-03 21:50] GianlucaGuarini commented on #1246
@ninjacms In riot 2.3.0 you can create your custom tags using whatever template you need http://codepen.io/GianlucaGuarini/pen/rOrQbZ?editors=001 In case you need to extend existing tags `riot-tag` is the best solution. I will close this issue for now @ninjacms thank you for your question

[2015-11-03 21:50] #1246 closed

[2015-11-03 21:53] GianlucaGuarini commented on #1248
this issue got fixed in riot 2.3.0 https://github.com/riot/compiler/blob/dev/lib/core.js#L21

[2015-11-03 21:53] #1248 closed

[2015-11-03 21:59] GianlucaGuarini commented on #1259
@n1313 I have checked the examples and I really like the [solution](http://codepen.io/anon/pen/meMgmV) of @nippur72 ( it does not look that bad ) for the promise you can always load a polyfill for ie.

[2015-11-03 21:59] #1259 closed

[2015-11-03 22:00] GianlucaGuarini commented on #1276
I am not sure this is the right place to ask this question. I think you should ask it [here](https://muut.com/forum/) thank you anyway

[2015-11-03 22:00] #1276 closed

[2015-11-03 22:01] GianlucaGuarini commented on #1304
I hope my example was enough. I am closing this issue

[2015-11-03 22:01] #1304 closed

[2015-11-03 22:03] GianlucaGuarini commented on #1270
@ernestorocha are you sure the problem is not somewhere else in your app? Your example looks ok to me

[2015-11-03 22:04] GianlucaGuarini commented on #1270
Please make an example on jsfiddle/plunkr/codepen so I will see how I could help you

[2015-11-03 22:05] GianlucaGuarini commented on #1301
this issue got fixed and soon we will release riot 2.3.0 hold on please

[2015-11-03 22:05] #1301 closed

[2015-11-03 22:46] a-moses commented on #1063
@tipiirai
"The goal of Riot is to help developer to build UI components that are easy to understand and reuse. This is the ultimate mission and the ground where the core problems are. "

This is powerful statement ! only this can take entire chapter on [Riot book](https://github.com/riot/riot/issues/1238).

Thank you for your effort and investment, and please do not get me wrong I really like and

[2015-11-04 10:10] web3d0 commented on #853
The solution given above doesn't work well in practice. It becomes a matter of directly setting the affected SVG elements, rather than being updated by Riot.

This should be fixed. It's already so close, in that I can mount the SVG without error if I do it manually from the browser console. It only onload that is an error.

So there is a small race condition that may just be two lines the wrong wa

[2015-11-04 10:13] web3d0 commented on #276
Bumping to look at #853 because Riot is so close to working with SVG as it is now, I don't think these issues are related. All I have to do is mount manually at console and it works with no errors. So why an error on load? This is not a prefix or syntax issue.

[2015-11-04 12:18] GianlucaGuarini commented on #1266
http://cheekyfingers.com/ is another nice project to add to the list https://twitter.com/nicmulvaney/status/661581244275236865

[2015-11-04 13:24] nippur72 commented on #1273
@Havunen you are right, the compiler can stay on the server side, but it's also convenient to have it client side at least during development, so, for example, you can hit <run> on the IDE and have riot work without any build/compile step.

I was going to add a server-compile strategy for riot-ts too (grunt), but at this point I wait for riot 2.3.

[2015-11-04 13:30] nippur72 commented on #1273
@GianlucaGuarini it's a nice step forward, but still don't like the much how `constructor()` / `super()` are called. In RiotTS I have `contructor(opts)` called when the element is initialized (with `opts` as parameters). Anyway I think it's better to have all this ES6 talk after 2.3 is out, so we can speak about the new code/compiler.

[2015-11-04 13:45] javierguerragiraldez commented on #1262
"The compiler in runtime must be used just for prototyping your app."

I hope this is just a personal preference and not a design choice, as I don't intend to use precompiling for anything.  In fact, it's the first criteria I check when reading about any JS library: "can this work by itself on the browser?".  If negative, I stop reading.

[2015-11-04 13:58] GianlucaGuarini commented on #1262
Yes and I hope I am not the only one because if you build professional apps it does not make really sense to use riot because it's tiny and than make 100 http requests to load custom tags

@javierguerragiraldez riot does work both ways but I if you want to load custom tags not correctly indentend in runtime It can be hard for us to parse them properly since you can mix css js and html all together

[2015-11-04 15:29] javierguerragiraldez commented on #1262
I just want to be sure that in-browser compiling remains a complete solution and don't start being treated as a second class solution.

Please don't start with the "professional apps" straw man.  Tiny and non-opinionated libraries have a lot more advantages than just load time (and "100 http requests" is a solved issue already).

I have no problems with the compiler being very strict, and if the s

[2015-11-04 20:20] GianlucaGuarini commented on #1262
No I never meant this and I am sorry if I was misunderstood. I just wanted to say that if you have problems compiling your tags in runtime you can use the compiler that is still the most performant solution and it should be the preferred way to publish your riot tags on a site or components library

No, the browser runtime compiling will stay in riot unless there will be a valid reason to drop it

[2015-11-04 20:28] javierguerragiraldez commented on #1262
Great!  And thanks for all your work in Riot, it has been a total lifesaver for me since Dart switched to proprietary tooling.  I'm eagerly awaiting Riot 2.3!

[2015-11-05 01:53] vonWolfehaus commented on #219
I've been using sourcemaps with riot well enough for a bit now, but the biggest problem I have is that the line numbers are offset by the html in a tag file. So it gets the tag scripts correctly, but that's only because it's looking at the generated js, not the original tag file, so all that html is squashed into one line in the js, making any line references offset by however many lines of html w

[2015-11-05 03:31] aMarCruz commented on #853
@web3d0 , I know nothing about SVG, but if you post a jsfiddle/jsbin with a non-working tag maybe I can help in support svg in a new version of the compiler.
I changed riot to https://cdn.jsdelivr.net/g/riot@2.3(riot.min.js+compiler.min.js) and the code in the above jsfiddle to this:

<my-tag></my-tag>
[code]
and is working.

[2015-11-05 04:00] cognitom commented on #1063
@a-moses thanks for your comment.
Routers could be still fundamental for many *apps*, but also I can say that the router is replaceable and should be.

is true, as @avimar mentioned. Actually, there're hundreds of routers on npm.
But our new `riot-route` has become more practical for 90% of use-cases and the smallest with such important technologies like history API. Have a try, guys ;-)

[2015-11-05 05:39] moscartong commented on #853
AngularJS used to have similar problems. What they do is to use prefix for these attributes and later replace them automatically when values are available. For example, instead of:
[code]
We can:
[code]

[2015-11-05 07:28] web3d0 commented on #853
@aMarCruz You won't see the error in jsfiddle as the messages go to the console on initial load. It then works properly anyway without further errors, and it's possible to riot.mount("*") manually from console without any errors. I believe @moscartong has identified the problem, but it seems strange that Riot is even putting unevaluated HTML into the DOM at all. Riot is very close to working, it s

[2015-11-05 07:41] GianlucaGuarini commented on #853
guys have you tried prefixing your attributes using `riot-`? http://jsfiddle.net/gianlucaguarini/6hob5pL5/

[2015-11-05 08:23] web3d0 commented on #853
@GianlucaGuarini riot-x works - removes the error. But why is this needed? Just calculate the values before you load it in the first time, then I don't have to know about prefixing.

[2015-11-05 08:32] aMarCruz commented on #853
This is the point, I think in the current implementation, riot is getting expressions from the DOM too, so evaluation is delayed.

[2015-11-05 09:12] web3d0 commented on #853
@aMarCruz However, if I don't have riot.mount("*") in the code and I do it from the command line, it works without an error. Somehow, the existing code path can work, but I can't make it happen from code even if I use setTimeout. So I think this is not a big fix, and doesn't need a prefix workaround.

Just some kind of "if (firstTime) calculateAllOfTheThings()" test in the mount or something simpl

[2015-11-05 12:40] rredkovich opened #1311 "Difference in compiling tag with js and coffescript"
Tag with js script
[code]

Tag with coffescript
[code]

Without binding click function is never called.

P.S.  Same happens with declaring vars firstly and initialising secondly

[code]

[2015-11-05 13:30] GianlucaGuarini commented on #1311
Try this:
[code]

[2015-11-05 13:48] rredkovich commented on #1311
It helps, thanks!

[2015-11-05 13:48] #1311 closed

[2015-11-05 20:37] webxl commented on #1196
I think this goes beyond naming. I can't see to pass a function this way. [Here's my example](http://plnkr.co/edit/aJExUcI2UtRZS81L4sTF).

I know I should be using an observable, but I think my naive (react.js) approach should still work.

[2015-11-05 22:01] richarddavenport commented on #1076
Is there any workaround to getting riot working in a chrome app?

[2015-11-05 22:08] GianlucaGuarini commented on #1076
@richarddavenport Is [this option](https://developer.chrome.com/extensions/contentSecurityPolicy#relaxing-eval) not working?

[2015-11-05 22:53] Mariick opened #1312 "[RiotControl] Multiple instance => one store"
As Fluxlike implementation, RiotJS seems not support multiple instance of a same tag => one store, in this case all tags are 'syncing' with user actions.

I think it can be interresting to get ride natively in RiotJS of this limitation, with the help of an tag discriminant prop.
What do you think about ?

[2015-11-05 22:54] GianlucaGuarini commented on #1293
now with riot 2.3.0 the indentation should not be a problem anymore http://plnkr.co/edit/tneDeVHyf0q4xx8imdMS?p=preview

[2015-11-05 22:54] #1293 closed

[2015-11-05 22:57] GianlucaGuarini commented on #1273
Riot 2.3.0 is out I am closing this issue. Now you can hack riot extending the riot tags like it's explained in the [doc](http://riotjs.com/api/#riot-tag-impl-conf-innerhtml)

[2015-11-05 22:57] #1273 closed

[2015-11-05 23:06] GianlucaGuarini commented on #784
riot 2.3.0 is out this issue was fixed https://jsfiddle.net/gianlucaguarini/0ospLe7q/

[2015-11-05 23:06] #784 closed

[2015-11-05 23:19] richarddavenport commented on #1076
I'm using Chrome 46 and added this to my manifest:

    "content_security_policy": "script-src 'self' 'unsafe-eval'; object-src 'self'",

But it still isn't working.

[2015-11-06 07:14] Havunen commented on #1312
Can you post your code?. I think you are missing this identifier in your functions / fields

[2015-11-06 08:47] Mariick commented on #1312
Its a proposition of a new  feature of Riotjs we can add.
And i want to know by posting this message, if it can be interessant, unless this feature already exist in Riotjs ? but i dont see it.

(Sorry for my english i am french)

[2015-11-06 10:30] tipiirai commented on #1076
@aMarCruz looks like there is a [new Function](https://github.com/riot/tmpl/blob/master/lib/tmpl.js#L139) construct on the runtime code that throws a security error. Any chance to generate the runtime functions on the compilation phase?

[2015-11-06 12:10] utensil commented on #1305
Thanks for the solution, it works for me. :smile:

[2015-11-06 12:10] #1305 closed

[2015-11-06 13:13] Havunen commented on #1312
Ok. We had similar issue actually in our CRM software. We got it solved following way:

We have multiple instances of stores (creation and destruction is handled by storeFactory)
We have single dispatcher that returns tokenId when store registers to dispatcher.
This token is parameter that is always sent in view action. This way stores can keep track of dataStates and data. And there can be multip

[2015-11-06 13:27] Havunen commented on #1312
We started with this riotControl (it was simple to use but had many issues like the one you posted)

https://github.com/jimsparkman/RiotControl?files=1

Then we moved to this:

https://github.com/mingliangfeng/flux-riot/blob/master/flux-riot.js

And currently we are using our own custom version written in es6. There are some issues in inmingliangfeng's repo like setting value to global variable. L

[2015-11-06 15:43] Mariick commented on #1312
Thanks for the answer, interesting implementation of Flux Pattern, but when you said your implementation have a many to many relation between stores and view and a singleton dispatcher, do you mean that in fact you have many views, one store and one dispatcher, but the single instance of your store switch it's internal context based on the token parameter sent by the view action ?

Is your own cus

[2015-11-06 15:58] Havunen commented on #1312
Yes there is internal switch and usually there is one store of kind per component tag. But there is no limitation to not have multiple instances inside same tag. Stores have also groupId so multiple tags can use same store for example some Report view and graphical view of same data could use same store

Currently its closed source and I cant answer if its ever going to be public :(

[2015-11-06 16:35] aMarCruz commented on #1076
@tipiirai , It is the same, the `D` is gone cause I'm using `this`. The `E` parameter is an internal error handler in tmpl, wich calls to the user error handler, is any, setted through `tmpl.errorHandler` (`Function` runs in the tag and global context). I'm preparing [some docs on this](https://github.com/riot/tmpl/blob/master/doc/CHANGES.md#handling-evaluation-errors).

Precompiled expressions re

[2015-11-06 17:22] nippur72 opened #1314 "[2.3.0] settings.brackets no longer works"
There are two issues with `settings.brackets`:

First:
[code]
results in no difference between the two "time"s:
[code]

Second issue is that there is still reference to `settings.brackets` somewhere in riot's code making it throw a lot of errors when I use custom brackets. The only way to make it work is to restore riot's default bracketing:
[code]

[2015-11-06 19:58] netaisllc commented on #1238
While I agree 100%, don't overlook the fact that -- for some (like, enterprise) -- having a for-profit book available "legitimizes" the library. I know, I know, it should be a pure meritocracy, but sadly, it isn't.

Another thought: the paid-author could always donate 100% of his/her take to the project. (But alas, I'm not nearly skilled enough to author such a book.)

Go Riot!

[2015-11-06 20:01] gregorypratt commented on #1063
Congratulations on releasing v2.3 guys! :+1:

[2015-11-06 20:23] GianlucaGuarini commented on #1314
this is a bug @aMarCruz I have assigned it to you. Please let me know if we could solve it easily

[2015-11-06 21:16] #664 closed

[2015-11-07 14:09] jsannerstedt opened #1316 "server side rendering"
There seems to be a problem when doing server side rendering with the new version. The following style no longer works. Works fine in 2.24.

    var riot = require('riot')
    var app = require('app)
    var content = riot.render(app, options)

Getting:
Error: Cannot find module '../../riot'

Tried cloning examples like [https://github.com/PabloSichert/isomorphic-proof-of-concept](https://github.c

[2015-11-07 14:37] shimaore commented on #1316
Same issue here. The problem happens in `lib/server/index.js`.

[2015-11-07 18:53] GianlucaGuarini commented on #1063
closing this issue.. the new roadmap will be published soon

[2015-11-07 18:53] #1063 closed

[2015-11-07 18:58] GianlucaGuarini commented on #1167
closing this issue :v:

[2015-11-07 18:58] #1167 closed

[2015-11-07 19:48] yuretz opened #1319 "Loops - avoid to trigger "update" on the parent if the events are set on the child tag"
Trying to upgrade my app to the new riot 2.3.0 I've stumbled upon this issue. Please take a look at the following two demos.
[ 2.2.4 demo (works)](http://jsfiddle.net/yuretz/a4uqzken/)
[2.3.0 demo (fails)](http://jsfiddle.net/yuretz/hr4untsz/)

I haven't spent too much time debugging the problem, but the reason seems to be that the latest version of riot is always re-rendering the whole loop when

[2015-11-07 19:52] yuretz commented on #1319
Just one more thing, adding `no-reorder` seems to also fix the issue

[2015-11-07 20:09] GianlucaGuarini commented on #1319
@yuretz this is not a bug. On any update you reset the items array forcing riot rerendering all the children. This should be the right way to render your elements http://jsfiddle.net/gianlucaguarini/hr4untsz/12/

[2015-11-07 20:44] yuretz commented on #1319
OK, thanks, I see. It just feels weird, that the element is losing part of its state while being re-rendered with the same options.

BTW, just curious, why the whole loop is updated on any event in the looped item? It just goes in the opposite direction of the riot's normal "update in the parent triggers update of all children" scheme, so there might be some good reason for that.

[2015-11-07 20:55] GianlucaGuarini commented on #1319
This happens not because of riot it's how the browser works. If you remove tags from the DOM replacing them with new html the old tags state gets lost

Imagine the following case:
[code]
With the `remove` event we remove the unnecessary lis from the tag, but this event should be triggered updating the parent not the li itself. If you don't want to propagate the events to the parent you must use `e

[2015-11-07 21:41] yuretz commented on #1319
Well, I understand that if you delete the old element and insert the new one, the old element with its state is gone. It was just somewhat unexpected for me that riot is gonna do this even if the element `opts` are the same.
And if instead of looping over the array of objects I loop over the array of strings, the behavior is different, and my focus demo works with the latest riot and without any w

[2015-11-07 22:10] chaucerbao opened #1320 "How do you test observable methods in v2.3.0?"
Before RiotJS v2.3.0, I've been using [SinonJS spies](http://sinonjs.org/docs/#spies) to test that a method calls `trigger`. But now, it seems that the `trigger` method is read-only, so SinonJS cannot wrap itself around to intercept calls.

Is there a way around, or a better way, to test this scenario?

For example:

[code]
I want to test that when I run `chat.trigger('hello')` it calls `this.trig

[2015-11-07 22:50] GianlucaGuarini commented on #1320
You must set listeners and check if they get called the [riot-observable tests](https://github.com/riot/observable/blob/master/test/specs/core.specs.js) are a good start

[2015-11-07 22:56] yuretz commented on #1319
A small update for anyone fighting the same issue of unwanted parent update in the looped item, for now I ended up using the following odd-looking code in the event handler
[code]

[2015-11-07 23:05] GianlucaGuarini commented on #1319
[no they are not](http://jsfiddle.net/gianlucaguarini/b1pnbxs2/) In javascript two different objects __are not equal__ (even if they contain the same key values) and for riot on any update you are just replacing the items in your collection

Basically you are saying that for the custom child tags the update event should not propagate to the parent tag. I will check whether this feature could be im

[2015-11-07 23:09] chaucerbao commented on #1320
So simple, thanks!  I was over-complicating things just trying to work around it.

[2015-11-07 23:09] #1320 closed

[2015-11-07 23:19] yuretz commented on #1319
@GianlucaGuarini I know they are not equal in Javascript. That's why I used the words "the same" in what I wrote. And that's also why I left items assignment in the `on('update')` handler. I understand pretty well what's going on, I just wanted to find out the reasoning behind. Because it seems like in other cases riot is using `JSON.stringify()` to test object equality and not comparing them by r

[2015-11-07 23:32] GianlucaGuarini commented on #1319
One think is to call `JSON.stringify()` [is really slow](http://jsperf.com/recursive-vs-json-object-comparison) we use it only in case you want to loop an object and it gets called once, if we call it for any item in a collection our loops will be superslow for no reason

[2015-11-07 23:36] yuretz commented on #1319
OK, regarding `JSON.stringify()` I probably misinterpreted what was written in the docs. But are all state object equality comparisons done by reference in riot?

[2015-11-07 23:57] GianlucaGuarini commented on #1319
yes

[2015-11-08 00:03] yuretz commented on #1319
OK, thanks. This is important thing to know.

On 00:57, Sun, Nov 8, 2015 Gianluca Guarini <notifications@github.com>
wrote:

[2015-11-08 12:40] ilblog commented on #1266
The best thing on a Riot is that it is possible to compile html+css+js into one .js file. So on windyty.com I keep main javascript code very small and lazy-load features just by loading and executing riot Tags. How sweet. One file, one simple statement to load script, then mount the tag and BAM: I have additional html css and js in application. Really easy.

Keep the good work.

[2015-11-08 16:13] davidpelaez opened #1321 "Unclear error when compilation preprocessor isn't available"
Assume `riot --type coffee --expr kids.tag`, if you don't have coffeescript installed you would get `TypeError: Cannot read property 'compile' of null`.

It would appear this is because it's trying to require something that ends up being null/undefined because if cannot be resolved.

Adding a small detection on this requires would probably enable more precise error reporting without much complicat

[2015-11-08 16:24] GianlucaGuarini commented on #1321
Good idea! Can you move this issue [here](https://github.com/riot/compiler) please?

[2015-11-08 16:37] GianlucaGuarini opened #1322 "Riot next - roadmap to riot 2.4.0"
Here we can discuss about the features we want to include in riot during the road to the 2.4.0 major release.
The release cycle for riot 2.3 will be a lot faster and I propose to add 2 digits minor releases starting from riot 2.3.1 (for example riot 2.3.11) so we can easily fix patches without being stuck to max 10 minor releases.

Here the list of the things I would like to improve ( this list co

[2015-11-08 16:55] GianlucaGuarini commented on #361
It seems there are no progress on this I am closing it for now

[2015-11-08 16:55] #361 closed

[2015-11-08 17:01] GianlucaGuarini commented on #1053
With riot 2.3.0 we expose the internal [Tag instance](http://riotjs.com/api/#riot-tag-impl-conf-innerhtml). I am closing this issue

[2015-11-08 17:01] #1053 closed

[2015-11-08 19:21] sylvainpolletvillard commented on #1322
:+1: for ES6.

Will you consider using ES6 Symbols to protect riot internals ? This way, you won't have to preach  *you should not use riot private props anyway* like you did in the last release notes, and you will be able to remove the quotes around "private" because they will be private, for real.

Another use of ES6 can be Promises. `riot.compile()` could return a Promise so that we could write

[2015-11-08 19:30] GianlucaGuarini commented on #1322
@sylvainpolletvillard I would like to avoid including ES6 features not supported that can not be transpiled
This is the table showing the Symbols support
<img width="847" alt="screen shot" src="https://cloud.githubusercontent.com/assets/879612/11022131/7be91bec-8657-11e5-9135-71d85ecd4a17.png">
The same is for Promises, riot should work out of the box without polyfills

[2015-11-08 20:38] sylvainpolletvillard commented on #1322
I was not thinking about polyfills. Polyfills are huge and performance costly, and we don't need to support the whole specification. I was thinking more about progressive enhancement, that is "if this functionnality is available, use it, otherwise keep the default behaviour". This can be done with one-line shams that are virtually free, like this one in my previous PR:
`Symbol = Symbol && typeof S

[2015-11-09 02:10] Mariick opened #1323 "Riot.JS 2.3.0 - Bug with two or more instance of a tag"
Can RiotJS instanciate multiple times one tag on a page ? because i think there is a bug,  i noticed when i doing something like this (tag code) :
[code]

used with this main page :

[code]
When i click on the 'update' button and set the surname of they two students of the tag "T1" its ok, but when i update  the surname of one of they students of the tag "T2", the other student not updated on "T2"

[2015-11-09 08:19] agershun opened #1324 "Add 'var self = this' - to eliminate ambiguity"
The ```this``` is very frequent keyword in Riot.
It is always necessary to remember add ```self``` variable in constructions like this:
[code]
Can you add option, where compiler will add this statements:
[code]
somethere here: https://github.com/riot/riot/blob/master/compiler.js#L76 to do it automatically.
[code]

[2015-11-09 08:28] weepy commented on #1322
seems like a good idea :-)

[2015-11-09 08:38] MartinMuzatko commented on #1324
nope.
Just use function(){}.**bind(this)**

[2015-11-09 08:45] nippur72 commented on #1324
also that would break all existing code where `var self` is used.

BTW, with ES6 this is solved elegantly with lambda functions:
[code]

[2015-11-09 08:47] agershun commented on #1324
Yes and no. This approach is working except cases, when you need to keep ```this``` for other needs (e.g. some libraries pass some information. with ```this```).

[2015-11-09 09:53] gnimmelf opened #1325 "Gulp + Browserify + Babelify + type="es6" error"
Hi,

Having the most simple setup I can imagine,

app.js
[code]

tags/daah.tag
[code]

and using `browserify ` transforms
[code]

I get this error
[code]

Whithout the `type=es6` it works compiles fine, but then I cannot use es6 inside the tag-script.

What am I missing?

Cheers!

EDIT! For now I got it working by `npm install -D babel-preset-es2015` and using `type="babel"`, but this is feature-o

[2015-11-09 10:07] ydatech opened #1326 "Riotjs + Phonegap"
I tried to build phonegap app with riotjs...
 I copied complex router example to my phonegap assets.
 I tried on my phone.. The router doesn't work and then my app forced close..
 please help.

[2015-11-09 10:38] tipiirai commented on #1076
Not sure I need to understand everything you just said :)

Does that mean that you can get rid of the Content Security Policy error?

[2015-11-09 10:45] Mariick commented on #1323
Sorry it was a simple JavaScript issue, when you use two or more instance of a RiotJS tag with RiotControl which listen for an event which pass objects, you need to clone theses objects before use them inside the tag to avoid some side bord effects ( one object instance used by multiples tag ), its just a JavaScript basis rule "u_u.

[2015-11-09 10:45] #1323 closed

[2015-11-09 12:25] a-moses commented on #1325
What is your Riot version ?

(Please check your files with Riot 2.2.4 )

[2015-11-09 13:52] TimWillis opened #1327 "wrong callback called"
I have a dialog element that I pass a callback to opts like this:

    <is_dialog id="login_dialog" is_shown="{login_is_shown}" close="{close_dialog_login}">
        <span> stuff</span>
    </is_dialog>
    <is_dialog id="account_dialog" is_shown="{account_is_shown}" close="{close_dialog_account}">
        <span> stuff</span>
    </is_dialog>

I have the callbacks setup like this:
        self.clo

[2015-11-09 15:11] davidpelaez commented on #1321
Done https://github.com/riot/compiler/issues/17

[2015-11-09 15:11] #1321 closed

[2015-11-09 16:11] ernestorocha commented on #953
It seems that Riot is setting the `innerHTML` of the tag to `""`, then mounting the element and pushing the content.

Thus, it's flashing when used with server side rendering.

Please, @GianlucaGuarini, do you think is there a way to optimize this ? In my case, the tag is disappearing for about 100 ms, it's not a big issue, but I'm assuming that when I increase the complexity of the app this numbe

[2015-11-09 16:15] TimWillis commented on #1327
I figured this out, my backdrop for dialog for account was being showed when either login or account dialog was open, so when I clicked to close I was really clicking the account backdrop, not the login backdrop...

[2015-11-09 16:15] #1327 closed

[2015-11-09 16:55] simoami commented on #784
took 40 weeks but still, thanks for fixing this issue.

[2015-11-09 17:04] sylvainpolletvillard commented on #1324
I did not use the `var self = this` trick for years. ES5 #function.bind or ES6 arrow functions are the way to go. Also, `self` is a built-in global so this change would definitely break existing code.

[2015-11-09 18:15] EnoF opened #1331 "riot version `2.3.0` requires `--harmony` flag"
`/lib/server/index.js` contains `template string` and therefore forces users of riot.js to enable the `--harmony` flag. Have I overlooked something or is this indeed the cause for:

[code]

[2015-11-09 18:28] GianlucaGuarini commented on #1331
Riot 2.3.0 requires [>=4.0.0](https://github.com/riot/riot/blob/master/package.json#L17) I am closing this bug because it's specified in the package.json file

[2015-11-09 18:28] #1331 closed

[2015-11-09 18:34] GianlucaGuarini commented on #1324
Thank you @agershun for your question but I don't want to implement this feature. I am of the same opinion of @nippur72 and @sylvainpolletvillard we need to let developers deciding how to bind the tag context in their component and not decide for them. Thanks anyway I am closing this bug

[2015-11-09 18:34] #1324 closed

[2015-11-09 18:37] GianlucaGuarini commented on #1325
@gnimmelf It seems that riotify uses an old riot releases have you tried asking on the [riotify](https://github.com/jhthorsen/riotify) repo? Here we can not help you a lot

[2015-11-09 18:38] JonathanWolfe commented on #1322
I'm all for getting the codebase to an ES6 baseline.

I'd also like to see the server compiler be able to load child tags as well to help with server-side rendering.

[2015-11-09 18:39] GianlucaGuarini commented on #1326
Can you post an example please?

[2015-11-09 18:41] GianlucaGuarini commented on #1322
@JonathanWolfe can you explain what you mean a bit better please?

[2015-11-09 19:16] JonathanWolfe commented on #1322
@GianlucaGuarini. Right now when I do a

[code]
I get back:
[code]
Where all 3 tags are also riot tags that don't get expanded until mounting currently. But for serverside rendering I'd like to get those tags evaluated as well.

[2015-11-09 19:38] EnoF commented on #1331
@GianlucaGuarini ah, didn't realized. Thanks

[2015-11-09 20:23] GianlucaGuarini commented on #1331
@EnoF btw riot 2.3.0 has problems rendering tags serverside I would wait the 2.3.1 release before upgrading

[2015-11-09 22:59] GianlucaGuarini commented on #1325
@gnimmelf can you try using the new riot 2.3.1 with type `babel`?

[2015-11-09 22:59] GianlucaGuarini commented on #1322
Riot 2.3.1 is out!

[2015-11-09 23:00] GianlucaGuarini commented on #1316
this issue should be solved in riot 2.3.1

[2015-11-09 23:00] #1316 closed

[2015-11-10 02:55] ydatech commented on #1326
https://github.com/riot/examples/tree/gh-pages/router-complex

little changed on index.html according to phonegap requirements..

[2015-11-10 02:56] aMarCruz commented on #1314
I'll review this.

[2015-11-10 04:41] cognitom commented on #1322
:tada: v2.3.1
Let's keep this speed ;-)

:+1: for "if activation". It's critical, in some cases. If it's fixed I can release `html-router` for Riot.js.

[2015-11-10 04:56] cognitom commented on #1326
@ydatech I'm using Riot.js in [Cordova](http://cordova.apache.org/), and it's working fine for me (at least with v2.2). But I've never tried on PhoneGap distribution.

How about other simpler examples?
https://github.com/riot/examples/tree/gh-pages/timer

`router-complex` example needs v2.3, and the router of this version has changed. I'm not sure this version works well with Cordova (or PhoneGap)

[2015-11-10 09:37] SteveALee opened #1333 "{question] Babel 6 changes"
in the release notes you mention support for the new breaking babel 6 changes

* Does this apply to both the riot command line and script tags in the source?
* Does this automatically include the ES2015 preset?

You might want to update the commile.md docs section on using babel

[2015-11-10 09:38] SteveALee commented on #1333
it's going to be a bit of a mess for a while as linked examples and 3rd party tools will need to catch up as well.

[2015-11-10 09:39] GianlucaGuarini commented on #1333
We did not remove the old `es6` mode https://github.com/riot/compiler#for-babel-users

[2015-11-10 09:40] GianlucaGuarini commented on #1333
Basically:
 - `es6` old babel
 - `babel` new babel

[2015-11-10 09:51] SteveALee commented on #1333
Thanks, that's great. But by "new babel" do you babel as e5 to es6 converter? :) I guess it's obvious really as otherwise babel is pretty useless.

[2015-11-10 09:52] SteveALee commented on #1333
Oh When I said change the docs I mean on the website - https://github.com/riot/riot.github.io/blob/master/guide/compiler.md

[2015-11-10 10:25] MartinMuzatko commented on #1238
This already exists, various people already write tutorials, including me: http://www.happy-css.com

A paid product differs so much from something like webtutorials, it eats a ton of time to write such a book. **Plus**: you have deadlines to follow. While I agree to have free online resources, I would disagree with donating 100% of the project income. Especially when I wouldn't know to what or who

[2015-11-10 13:02] brtn commented on #1118
@shrunyan Thanks for the app skeleton, now I am building my app based on yours. Just a question though: can we make the Store a global and use it inside tags? @PabloSichert mentioned passing down it is a solution but making it a global would be a better as it really is global for the app.

[2015-11-10 13:14] nilpath commented on #1118
@brtn you could probably expose it as a riot mixin and then include that mixin in your tags instead of sharing it through ```opts```

[code]

[2015-11-10 13:25] brtn commented on #1118
I will use mixins then, thanks @nilpath

[2015-11-10 13:26] nilpath commented on #1118
@brtn no problem you inspired me to do the same! :smiley:

[2015-11-10 13:26] brtn commented on #1118
:smile:

[2015-11-10 15:07] rsbondi commented on #1322
I started looking at the "if activation" again.  The dilemma is that with the current parsing, we do not know that we have an `if` condition until the dom is created, by then it is too late, as the dom creation itself seems to be an issue on [performance](https://github.com/riot/riot/pull/1256#issuecomment-149944342).  #1256 only covers the evaluation of the tag's functions until creation, which i

[2015-11-10 15:40] ernestorocha commented on #953
Are you having this kind of problem, @timkendall ?

[2015-11-10 16:20] cognitom commented on #1322
@rsbondi at the starting point, it's enough to avoid running the init function and child tag creation, I think.

For the future, I believe there're some ways.
Just an idea, how about commenting out the tag by compiler? For example:

[code]

it could be compiled like this:

[code]

We can get the HTML comment as string. Detecting the end of the tag would be still a problem...

[2015-11-10 18:39] nilpath commented on #1118
infact, it seems like @ibloat have done exactly this. you can checkout the [repo](https://github.com/ibloat/riot-redux-mixin). It's also available on npm.

[2015-11-10 18:51] timkendall commented on #953
@ernestorocha I was testing this with a very basic app so I didn't notice that issue.

[2015-11-10 20:05] aMarCruz commented on #1076
Yes, but it is neccesary parse the body of a custom tag at compile time. Actually, we know the expression is a template because `tmpl` receive text mixed with the expression. e.g. if `my-tag.innerHTML` is `"{ null }  "`, then `tmpl` returns `"  "`, i.e. the browser does the parsing. With precompiled expressions we need get the innerHTML without the browser in order to know if the function must ret

[2015-11-10 23:42] PabloSichert commented on #1118
Neat! I also like the `subscribe(selector, callback = this.update)`.

[2015-11-11 00:46] aMarCruz commented on #1314
@nippur72 , I'm working in the fix.
For now, please use only the `riot.util.brackets.set`, parameter is the same as the value for `riot.settings.brackets`:
`riot.util.brackets.set('{{ }}')`
`riot.util.brackets.set()` or `riot.util.brackets.set(null)` reset brackets to default.

[2015-11-11 02:12] aMarCruz commented on #1314
@GianlucaGuarini , I fixed this and other bug with `tmpl.loopKeys`, and its tests, in the `dev` branch of `tmpl`. The first bug is in the interaction of the compiler, brackets, and riot.compile when used riot.settings.brackets, the second is in the regexp for loopKeys not recognizing custom brackets.

I send a PR for riot in `bug/1314` branch with a test for the first use (needs the `dev` version

[2015-11-11 02:13] a-moses commented on #1325
@GianlucaGuarini  it's seems you can close this issue :)

Thank you.

[2015-11-11 05:49] sureshvaavel opened #1334 "[Question] How to implement Modal windows ."
I have a created a tag which contains the modal window code .

<a id="view-more" class="right" data-reveal-id="more">View more <i class="icon-new-tab"></i>

but the modal is not opening . I am using foundation framework

[2015-11-11 06:04] sureshvaavel commented on #1334
I figured it out . Looks like i need to add a onclick

[2015-11-11 06:04] #1334 closed

[2015-11-11 14:42] ibloat commented on #1118
@nilpath hey thanks for the mention!
Any input and/or feature/pull requests are welcome!
Looking at it three weeks later, the dependence on reselect's 'recomputations' thing is smelly and will hopefully be replaced soon now that 2.3 is out.
When I find the time I will update the sample to implement a TodoMVC as well.

[2015-11-11 15:59] MartinMuzatko commented on #1334
@sureshvaavel you can learn a lot from looking at [existing](http://plnkr.co/edit/EkbTBRRD0NuFiY6cP4xy?p=preview) components. For example the [riotgear](riotgear.github.io) collection has a modal too.

[2015-11-11 16:00] Mariick commented on #1266
Do you agree with the principal cons against RiotJS in this X VS Y website  ?: http://www.slant.co/topics/3286/compare/~react_vs_riot_vs_vue-js

I (personally) think that RiotJS can be used in large application written with KISS philosophy, ...not for common FAT large applications with a lot of redundancies and candy eyes effects.... learn the difference Slant.

KISS is not only for small thing, l

[2015-11-11 22:29] justinmchase opened #1335 "Breaking bug in v2.2.4"
We have been on v2.2.2 and I just did an npm update to 2.2.4 and ended up getting a hard to track down breaking change.

It seems that somewhere in our build pipeline something is being truncated when we join files and we end up with a messed up end result.

Simply changing our package.json from:
[code]
to
[code]
fixes the issue.

I'm sorry this is so vague, I don't have a simple enough repro that

[2015-11-12 08:43] nippur72 commented on #1266
I don't see any reason why it couldn't be used in large applications. That statement is not based on facts, just pure speculation.

[2015-11-12 08:48] cognitom commented on #1266
I agree to @nippur72. Only thing we should care is name-spacing for large apps with Riot.js, I think. By the way, @Mariick could you open another issue for this?

[2015-11-12 09:00] Mariick opened #1336 "RiotJS ready for large application ?"
Do you agree with the principal cons against RiotJS in this X VS Y website ?:
http://www.slant.co/topics/3286/compare/~react_vs_riot_vs_vue-js

I (personally) think that RiotJS can be used in large application written with KISS philosophy, ...not for common FAT large applications with a lot of redundancies and candy eyes effects.... learn the difference Slant.

KISS is not only for small thing, lo

[2015-11-12 09:06] Mariick commented on #1266
Cool ! React is now behind RiotJS in this ranking (its real place) ;)
@cognitom  done

[2015-11-12 12:12] MartinMuzatko commented on #1336
Depends on what you define as large application? Lots of data? Lots of active mounted tags/different components?
I did perfectly fine combining several smaller and bigger components/tags. I always worked only with little data, but created a lot of tags to display companies, etc.

I think it really depends on the design of the software architecture. So you can create both good and bad applications

[2015-11-12 12:45] TimWillis opened #1337 "I use riot.cmd in webstorm, after updating riot to 2.3.1 it throws error."
"The system cannot find the path specified."

[2015-11-12 15:14] gdub22 commented on #1266
Recently launched this isomorphic content site which uses Riot: https://www.romper.com/

[2015-11-12 18:58] jalooc opened #1338 "Tags created using riot-tag are not listed in this.tags array even after the mount event."
For example:

    <panel>
        <section riot-tag="{opts.tagName}"></section>
        <myTag></myTag>
    <script>
        console.log(this.tags);
        this.on('mount', () => {
            console.log(this.tags);
        });
       riot.mount(opts.tagName)[0].on('mount', () => {
         console.log(this.tags);
       });
    </script>
    </panel>

All logs show only `myTag`.

EDIT
Code here

[2015-11-13 03:16] aMarCruz commented on #1322
@rsbondi , @cognitom , maybe we can mount elements in order, starting from the root and stop when some have an `if` false. Just an simple idea.

[2015-11-13 04:45] iv597 commented on #1306
Any updates in this regard? I know you guys have been busy with releases, but curious anyway :)

[2015-11-13 10:17] BirdieMcFly commented on #1020
Hi,
First of all, thanks a lot for your awesome work on RiotJS!!!
It appears clearly that riot would need a hard "if", the actual "if" behaving more like a show/hide.
We solved for now the problem using "each" with an empty array or an array with one element.

We swapped :
```<my-tag if={myBoolean}></my-tag>```
With :
```<my-tag each={myBoolean ? [1]: []}></my-tag>```

But it feels more like a hac

[2015-11-13 10:22] tipiirai commented on #1076
Thank you!

The english is not the issue. I read your text perfectly well. It's my limited brain capacity to understand  JavaScript from time to time.

[2015-11-13 10:56] clems71 commented on #1020
First, congrats for the awesome work on RiotJS with the latest releases.

What proposes @BirdieMcFly sounds reasonable to me. I like the solution as it allows us to keep the 2 wanted behaviors, and would not break existing code. So I'd say it's a win/win situation with this solution.

[2015-11-13 11:11] jumilla opened #1339 "CLI compile error when using <script type="babel">"
Hi!

Was an error occurs if you run the compiled using the CLI.
Environment are up to date.
Do you thought What cause?

Source: **a.tag**

[code]

Command:
    `riot a.tag`

Output:
[code]

Environment:
    `node -v` => 5.0.0
    `npm -v` => 3.3.6
    `babel --version` => 6.1.18 (babel-core 6.1.19)
    `riot -v` => 2.3.1

[2015-11-13 11:15] jumilla commented on #1339
additional information.

babel installs are...

- npm install **-g** babel-cli
- npm install babel-core

[2015-11-13 11:17] aMarCruz commented on #1306
please test with riot-compiler v2.3.1, it is fixed

[2015-11-13 11:25] aMarCruz commented on #1076
@tipiirai , I'm sure yor brain capacity is high :) anyway, next week I will create a new branch to include a mini-parser. Maybe can solve this and other issues, but will grow the code and slow the compiler. I think about 15%

[2015-11-13 11:42] nippur72 commented on #1020
+1

A better workaround if to create a custom `if` tag (it could be called `include` or else) like in [this JsFiddle](http://jsfiddle.net/trrocvpu/1/)

[code]

[2015-11-13 12:30] BirdieMcFly commented on #1020
@nippur72 that solution seems elegant but i have three problems with it :
* if `cond` is `false` you will still have an empty `<if>` tag in your DOM
* the conditioned content will have the `<if>` component as its direct parent, so if you want to pass datas in the content you have now to refer to the `<if>` `parent`. So for exemple you have a structure that is always here and in the future, the log

[2015-11-13 12:48] rsbondi commented on #1020
I like the each hack, that is similar to my hack for a [with attribute](https://github.com/riot/riot/issues/505#issuecomment-81225602)

There already is a [show](http://riotjs.com/guide/#conditionals) attribute so I think we could replace the current `if` with the each hack implemented internally.

[2015-11-13 13:20] madfriend opened #1340 "Nested tag dependencies are never compiled"
Is it true that `riot.compile` calls `compileScripts` only once? My tags have dependencies included as
[code]
Which, as it seems, are never fetched from server and compiled.

[2015-11-13 14:29] sylvainpolletvillard commented on #1218
I really like this `<slot>` syntax. If it is chosen by Vue and Web Components spec, I think Riot should do the same to ease the conversion of components from other libraries.

[2015-11-13 15:32] georgir opened #1341 "older nodejs versions"
Is there a reason server-side riot can not stick to features supported by older nodejs versions?
Enterprise Linux 6 for example can not be updated to above 0.10.x with its official package manager.

I got an error in riot/lib/server/index.js because it is using ES6 strings syntax for multiline support and for interpolation of a single variable, but that was trivial to change to normal string conca

[2015-11-13 15:49] Fredkr commented on #1339
+1. Works with babel v5 and 'es6' though

[2015-11-13 19:45] smmoosavi opened #1342 "Avoiding invalid html"
As I see, created htmls by riot is invalid (https://validator.w3.org/)

For example:

Can we include tags without invalid htmls or extraneous tags?

[2015-11-13 20:25] JonathanWolfe opened #1343 "Text `$2` breaks yield"
I have a tag that yields to another tag and when that tag has the content `$2` it crashes with the error:

[code]

Somehow $2 is being parsed into a `<yield />` tag. Only happens with the `$` and it's various HTML entities.

This might be an Error within `simple-dom` but the problem still exists client-side except without erroring. It just returns empty.

[2015-11-14 01:28] whatda commented on #1299
I noticed this too in my project a few minutes ago. Seems like a bug to me, but maybe there's some intent behind this? Btw: I didn't use ES6.

[2015-11-14 02:18] aMarCruz commented on #1261
Sorry @maciejjankowski , @rsbondi , my fail. The `--whitespace` option preserves newlines and tabs. You can use this option with the cli, riot.compile have no way to pass options, I'll try to add this feature.

@rsbondi , sorry el inglés no es lo mío :).. el método `riot.compile` está ya muy sobrecargado para permitir opciones del compilador en el navegador, así que pensando en alternativas...

1.

[2015-11-14 02:21] cognitom commented on #1342
@smmoosavi a short answer is "no".

Custom elements are still *editor's draft*, so there's no official validator AFAIK.
http://w3c.github.io/webcomponents/spec/custom/
This draft says that the name of custom tag

It would be safe to change `todo` to `app-todo` or something if you prefer to follow this spec.

There's a way to mount them as normal tags:
[code]
but, `riot-tag` is not allowed as an at

[2015-11-14 02:31] aMarCruz commented on #1341
@georgir you are right, I can't make riot with my node 12. @GianlucaGuarini , may I revert to es5 this file?

[2015-11-14 02:43] cognitom commented on #1342
Some comparative information for later discussion:

- Angular has [normalization process](https://docs.angularjs.org/guide/directive#normalization): `<input data-ng-model="foo">`
- Vue [removes all directive attributes](https://github.com/vuejs/vue/issues/273) after rendering them

Vue's way is not fit to Riot.js. Normalization like Angular would be nice. Thoughts? @rsbondi

[2015-11-14 02:47] aMarCruz commented on #1340
@madfriend  yes, this is an old behavior, but your script must be compiled.
Can you set a breakpoint or console.log in https://github.com/riot/riot/blob/master/riot%2Bcompiler.js#L2747 for `req.readyState==4` and tell me the req.status value please?

[2015-11-14 03:11] cognitom commented on #1339
@jumilla maybe related? https://github.com/riot/compiler/issues/17

[2015-11-14 03:13] cognitom commented on #1338
Plunkr?
http://riotjs.com/examples/plunker/?app=bug-reporter

[2015-11-14 03:17] jumilla commented on #1339
@cognitom YES, it's related.

The cause of this problem, `require 'babel-core'` failed.

So, do the following:

- npm install **-g** babel-cli

Then , it was changed so that the next error occurs

[code]

Now the state is this.

This problem is due to babel v6 has just been released.

[2015-11-14 03:23] cognitom commented on #1337
Have you updated Node, too? Riot 2.3 requires Node 4 or higher.

[2015-11-14 03:33] jumilla commented on #1339
Additional information:

This code makes error: [BABEL] unknown: Unknown option: base.blacklist
[code]

This code is succeeded.
[code]

[2015-11-14 03:48] aMarCruz commented on #1339
Works if you insert a comment in the script block?
I think this is because a change in 2.3.1 and the compiler is passing a null js to the parser. This issue will fix soon.

[2015-11-14 03:56] aMarCruz commented on #1339
Babel 6 changed its API and it is a nighmare. babel does not works with `require`, and babel-core does not supports `blacklist` and have issues with `this`.

[2015-11-14 04:00] aMarCruz commented on #1339
Also, new babel-core 6 is too slow, so I really recommend to stay with babel-core 5.8 and type="es6" till these issues get fixed.

[2015-11-14 04:48] cognitom commented on #1299
@whatda `riot.mount('my-other-tag', {some: 'opt'});` doesn't make sense in your example.

[2015-11-14 04:52] cognitom commented on #1299
You don't have to call `riot.mount()` for the tag inside. See the fixed version:
http://plnkr.co/edit/gZSiQ2TmWJ7zshBsGNZG?p=preview

[2015-11-14 05:09] cognitom commented on #1336
I'm using Riot.js in a business app that has...

- over 80 custom tags
- over 40 controllers
- browserified

and it works fine ;-)
The one of things we must care about is *name-spacing*, I think. My approach is simple:

- add prefix `app-` to app-specific tags: `app-account`, `app-report`, ...
- add prefix `print-` to printing tags: `print-invoice`, `print-estimate`, ...
- add no prefix to reusabl

[2015-11-14 05:21] cognitom commented on #1335
@justinmchase without an example to reproduce it, we can't help you...
Sorry, I'm closing this issue.

[2015-11-14 05:21] #1335 closed

[2015-11-14 06:40] smmoosavi commented on #1342
Ok.

I can't find *including custom tags* implementation in codes. So I say my idea with jquery. (can you say  where is implimentations?)

In jquery [`contents`](https://api.jquery.com/contents/) function return inner nodes of some tag, and  [`replaceWith`](https://api.jquery.com/replaceWith/) function replace some elements with other elements.

if you replace contents of tag implementation with i

[2015-11-14 06:57] cognitom commented on #1342
@smmoosavi your example doesn't make sense for me...
Could you check [compiler](https://github.com/riot/compiler) and [tmpl](https://github.com/riot/tmpl).
Riot v2.3 has split into several repos, FYI.

[2015-11-14 09:27] jumilla commented on #1339
@aMarCruz OK! I try re-install babel-core 5.8 on global.
Thank you!

[2015-11-14 09:27] #1339 closed

[2015-11-14 09:53] jalooc commented on #1338
Edited the post

[2015-11-14 10:08] #1314 closed

[2015-11-14 10:14] aMarCruz commented on #1314
This issue is fixed in the riot-compiler repository, it is not updated in npm yet.

[2015-11-14 11:33] cognitom commented on #1338
@jalooc thanks. I've confirm the console output.

It seems related to `getTagName()` function:
https://github.com/riot/riot/blob/v2.3.1/lib/browser/tag/util.js#L185

I'll look into more.

[2015-11-14 12:00] GianlucaGuarini commented on #1299
@MarkusPint you should not mount nested tags. Please check the [documentation](http://riotjs.com/guide/#nested-tags)

[2015-11-14 12:08] GianlucaGuarini commented on #1341
[this is my opinion](https://github.com/riot/riot/pull/1313#issuecomment-154332611) I am not sure we must be stuck supporting old node releases. The new `riot-cli` is completely written in es6 and probably the next riot subcomponents releases will do the same. I would like to hear some other opinions about this topic

[2015-11-14 14:49] rsbondi commented on #1338
duplicate #1174

[2015-11-14 15:15] cognitom commented on #1338
@rsbondi oh thanks. After some study, I realized that we should separate the problems.

- `<section riot-tag="my-tag"></section>`: no prob
- `<section riot-tag={ opts.tagName }></section>`: see #1174

@jalooc could you check this simpler plunkr?
http://plnkr.co/edit/aI21t5AOmLdeWGGSTeTN?p=preview
Note: you don't have to `riot.mount()` inside tags.

I'm closing this issue.

[2015-11-14 15:15] #1338 closed

[2015-11-14 15:29] cognitom commented on #1341
At this point we can't use ES6 in front-end, so we should manage two standards:
- ES5 for front-end
- ES6 for back-end

It looks a little messy for me. How about babelling both?
As a default we should only support Node >= 4, I think. But if someone needs the code for older Node, he can tweak `babelrc`.

[2015-11-14 15:56] GianlucaGuarini commented on #1341
@cognitom what do you mean with "But if someone needs the code for older Node, he can tweak babelrc." ?
I am a bit afraid to transpile everything babel, the latest release is really buggy. I wanted to start using rollup a least to replace smash.
On the other hand, if we want to try babel, we may start using this folders naming convention:
[code]

[2015-11-14 16:33] cognitom commented on #1341
For example, a default setting for Node >= 4:

[code]

If a user change it like below, it can export the code for Node 0.12

[code]

Me, too. Sometimes babel bring another complexity to the project...
Anyway, your naming convention looks good.

[2015-11-14 16:39] GianlucaGuarini commented on #1341
@cognitom I would like to know the @aMarCruz opinion as well.
Btw I have other priorities at moment ( there is still a bit of work to do with `if` and the compiler/cli ) but if any of you guys want start testing the migration using babel you can create new branches on each repo `es6`.

[2015-11-14 16:43] txchen opened #1344 "2.3.1 cannot be found in jsdelivr.net"
[code]

[2015-11-14 17:22] jimaek commented on #1344
riot stopped shipping the file compiler.min.js since 2.3.1

[2015-11-14 17:25] jalooc commented on #1338
@cognitom But if I use element with `riot-tag` within a loop (I put both `each` and `riot-tag` in one tag), the tags don't get mounted. This is how initially I came across the issue I documented here. Maybe the `riot-tag`+`each` thing is a candidate for another issue..

[2015-11-14 18:43] aMarCruz commented on #1341
I lova the `const` keyword and other ES6 features, but why hassle with babel and force users to upgrade an installation that is working well? That's one thing I hate about M$. I think we should not do it if _not necessary_. riot is for all the world, keep it generic.

[2015-11-14 18:55] aMarCruz commented on #1341
The compiler is using jspreproc to generate two versions with the same (back-end) code base. It is a lightweight and does all that smash does and more. The cli is using es6 and is ok, but riot is the front-end.

[2015-11-14 19:52] georgir commented on #1341
(I guess this can be marked as duplicate of #1313, or should we keep discussion here? as the other one is closed)

OK, I knew I was missing something. I did not even know about riot-cli

So to clarify, I did not mean riot-cli when I said 'server side riot'. I actually meant using riot for "isomorphic apps" or whatever is the hip term to call it nowadays, with require("riot") and the render method.

[2015-11-14 20:21] georgir commented on #1342
I don't see why you say vue's way is not fit for riot. Just this.root.removeAttribute('riot-tag') on mount event. You can also mix it in with a mixin.
Should be possible for if and each too, though i've not looked into where and how exactly. Or just use virtual tag for them.

[2015-11-14 20:47] georgir opened #1345 ""Observer pattern" terminology clarification"
I think the observer pattern is actually about subscribing to any property changes of an object, i.e. Object.observe in ES6, or angular's $watch, etc.

What riot calls an observable is simpler, and should probably be called event emitter.

[2015-11-14 22:43] amitos80 opened #1347 "weird error in server/index.js"
Hi guys,

i tried to install today the current version, when trying to run the server i get Unexpected token ILLEGAL on /node_modules/riot/lib/server/index.js:15
direct link https://github.com/riot/riot/blob/master/lib/server/index.js#L15
am i doing something wrong?

[2015-11-14 23:00] GianlucaGuarini commented on #1347
it's a duplicate of https://github.com/riot/riot/issues/1341 https://github.com/riot/riot/pull/1313 Please update to node 4

[2015-11-14 23:00] #1347 closed

[2015-11-14 23:20] GianlucaGuarini commented on #1341
I wanted to clean up [this file](https://github.com/riot/riot/blob/master/lib/server/sdom.js) as well but I agree with @aMarCruz I want to avoid relying on Babel. I just would like to switch to rollup because I think It can make easier our build but we have other priorities at the moment.

To be pragmatic:
I [reverted](https://github.com/riot/riot/commit/a20d4b2b65b13a0789e0c10cf9cdfd53e0807bb6) t

[2015-11-14 23:23] aMarCruz commented on #1341
:+1:

[2015-11-14 23:26] GianlucaGuarini commented on #1345
@georgir Thanks for your clarification but it seems that our users understand its usage anyway. It can be hard and confusing for us to change the `riot-observable` namespace on npm, github, riot api, riot documentation.
This issue wont fix. :v:

[2015-11-14 23:26] #1345 closed

[2015-11-14 23:32] GianlucaGuarini commented on #1344
I have removed the compiler.js from the root of this repo. That file makes no sense alone, it can be used only with riot so basically jsdelivr should serve [this file instead](https://github.com/riot/riot/blob/master/riot%2Bcompiler.js)

[2015-11-14 23:40] GianlucaGuarini commented on #1344
I made a [pull request](https://github.com/jsdelivr/jsdelivr/pull/7936) on their repo hoping the issue will be fixed soon

[2015-11-15 04:35] txchen commented on #1344
I see, so the content in http://riotjs.com/download/ needs to be updated.

[2015-11-15 06:01] HippieKiller opened #1348 "Inconsistent observable functions"
Hi, according to http://riotjs.com/guide/#listening-to-lifecycle-events the observable.on() function optionally takes 'all' as param.
  Is there some reason why both observable.on() and observable.trigger() use 'all' when observable.off() uses an asterisk ('\*') to mean the same thing?
  This seems inconsistant, especially with on() and off() being opposites. Personally I think 'all' should be use

[2015-11-15 13:39] sntran commented on #1343
This is similar to #1235 I believe.

[2015-11-15 13:41] JonathanWolfe commented on #1343
Yep. Seems to be the same issue.

[2015-11-15 14:31] GianlucaGuarini commented on #1348
It's not the same thing. With `off('*')` you kill all the observable callbacks with `off('all')` you unbind only your callback listening all the events. I would like to discuss thus topic also with @cognitom to make the api consistent. Maybe we could use `off('*')` to kill all the listeners and `off('*', fn)` to unbind the callback listening all the events

[2015-11-15 16:34] rsbondi commented on #1261
Summary:
`riot.compile` too complicated to implement adding options in the function client side
option 1: adding options as attribute to the script tag, see code above, values for `compile` would need to be valid JSON.
option 2: add compiler settings to `riot.settings`, easy for the user but will be global to all blocks so less granular.

I think the global `riot-settings` is fine, the only downsi

[2015-11-15 17:29] lmicra commented on #1343
This should do the trick:

[code]

[2015-11-15 18:19] lmicra commented on #1120
This is working in v2.3.0:

There is a problem with this build: https://cdn.jsdelivr.net/g/riot@2.3.0(riot.min.js+compiler.min.js)

If the 2 libs are added the problem disappears:

[2015-11-15 19:36] jimsparkman commented on #1312
I'm in the process of major change to RiotControl at the moment, but if I understand you correctly, it may be an issue with how the views are structured. Typical Flux is one way data flow. So views at any point would dispatch events (RiotControl or other it doesn't matter) and then the store would respond with data. Now, when the store responds, only one view should be listening for that event. If

[2015-11-15 20:47] Mariick commented on #1312
Do you have an example of controller view applyed with RiotControl ? because i dont see how i can manage multiple instances of a same tag with a "master view"..
Example :
<customButton>Test 1</customButton>
<customButton>Test 2</customButton>

With RiotControl currently if an event is throw when the user click over one of these 'button' i cant isolate from where the event come from in the Store ..

[2015-11-16 00:31] aMarCruz commented on #1120
Please, use riot+compiler 2.3.1

http://jsbin.com/repewoyece/edit?html,js,console,output

[2015-11-16 01:21] jimsparkman commented on #1312
You need to identify to your store what action is taking place. So you would either have a unique tag/event for each button (ex: submit and cancel), or a generic event, but you pass in an attribute to the tag which is in turn supplied to the store as an identifier.

[2015-11-16 01:56] cognitom commented on #1348
@GianlucaGuarini `off('*')` and `off('all')` could be confusable. How about `off()` without argument instead of `off('*')`?
I think we need to explain that `all` is a kind of special event, and a reserved word in `observable`

[2015-11-16 01:59] cognitom commented on #1348
Hmm, but we have `riot.mount('*')`, too, on the other hand.
http://riotjs.com/api/#mount-star

[2015-11-16 04:14] cognitom commented on #1322
Hi! I'm thinking about versioning convention of submodules.
Now we're using the same version numbers in submodules. Are we going to keep it?
I'd like to release the next `riot-route` with some fix, soon. My concern is what number I should set.

- riot-router@2.3.2, or
- riot-router@2.3.2-beta

Syncing the version of all submodules seems bit tough. Thoughts?

[2015-11-16 04:37] aMarCruz commented on #1261
@rsbondi , you're right, but since option 1 is consistent with the new `options`attr for parsers, I will include support for this one. Thanks

[2015-11-16 05:39] aMarCruz commented on #1322
Thinking more...
the compiler needs to take care of the first character to temporarily remove it if a parser runs in the expression, nothing more. In the tag construction, riot removes the character and displays html.
Seems easy.

[2015-11-16 06:23] GianlucaGuarini commented on #1322
@cognitom I have written about it on skype. Basically now each riot submodule will increase its minor release independently from riot ( using 2 digits ) so in your case you should release riot-route@2.3.11. We will sync the submodules version on any major release

[2015-11-16 07:16] cognitom commented on #1322
I see, I'll check it. Thanks!

[2015-11-16 08:37] madfriend commented on #1340
For the components which were actually loaded from server with `GET` function, `req.status` was 200. I'm talking about a situation where my component definition (loaded with `GET`) has `<script type="riot/tag" src="...">`. I did not see any XHR requests for these scripts.

[2015-11-16 09:10] georgir opened #1352 "using each with table rows or cells orders them incorrectly"
If you have some table rows or cells generated with `each` and then some static ones too, the dynamic ones are inserted after the static ones instead of where they are in the template.

http://plnkr.co/edit/XfW3lQ7HjisfRtJ7UiC2?p=preview

[2015-11-16 09:53] cognitom commented on #1352
This issue has appeared on >= 2.3.0.
It was fine on v2.2.4.
http://plnkr.co/edit/3IBiaLaxlXXQzKtDMsUL?p=preview

[2015-11-16 09:55] GianlucaGuarini commented on #1352
The [issue is here](https://github.com/riot/riot/blob/dev/lib/browser/tag/each.js#L110). We need to reuse the comments again ()

[2015-11-16 09:56] sylvainpolletvillard opened #1353 "riot.update() not updating some tags in 2.3.1"
Hi,

Based on exchanges on [gitter](https://gitter.im/riot/riot):
Ldiab :

me :

Ldiab:

We both have complicated setups and are unable to reproduce the issue in a plunkr, but it looks like we have some kind of regression with riot.update() in 2.3.1

I will try to find more information around this issue, and hopefully provide a reproducible test that does not require you to retrieve all of my curr

[2015-11-16 10:35] aheinze opened #1354 "ecaping { and } e.g. in attributes doesn't work (2.3.1)"
for example ```data-test="\{test:1\}"```  won't be compiled to ```data-test="{test:1}"```

[2015-11-16 18:41] TimWillis commented on #1337
Yes, node is updated to 5.0.0 x64. It doesn't find the path from riot.cmd.
I set the path directly to /.bin/riot.cmd and now it doesn't work with
babel. if I try type="es6" or type="babel" it throws "TypeError: Cannot
read property 'transform' of null". I have uninstalled and reinstalled riot
and babel.

On Fri, Nov 13, 2015 at 10:23 PM, Tsutomu Kawamura <notifications@github.com

[2015-11-16 18:49] GianlucaGuarini commented on #1337
@TimWillis I think this is an issue coming from babel. Probably you need to install `babel-cli` as well I know they have changed everything in their latest release so if you upgrade nothing will work unless you set up your machine correctly. Another solution could be to keep using babel@5.8

[2015-11-16 18:54] aMarCruz commented on #1340
The execution route is `riot.mount -> riot.compile -> compileScripts -> GET`

`CompileScripts` calls `GET` here: https://github.com/riot/riot/blob/master/riot%2Bcompiler.js#L2794 , with the `compileTag` function in its 2nd parameter. This parameter is the callback for XHR, executed when `req.readyState==4` and `req.status==200`. So there's no error loading the external resource.

`compileTag` call

[2015-11-16 19:03] TimWillis commented on #1337
Going back to @5.8 worked, thank you!

On Mon, Nov 16, 2015 at 1:49 PM, Gianluca Guarini <notifications@github.com>
wrote:

[2015-11-16 19:05] GianlucaGuarini commented on #1337
Awesome I will close this bug ;)

[2015-11-16 19:05] #1337 closed

[2015-11-16 20:01] aMarCruz commented on #1243
Thanks, I will close this non-riot issue.

[2015-11-16 20:01] #1243 closed

[2015-11-16 20:30] gfetco opened #1355 "tag attribute events"
parent.tag:
[code]
child.tag:
[code]

-------------

Hopefully I am not the only one who wants this design pattern implemented?

[2015-11-16 21:00] aMarCruz commented on #213
It seems answered. I'll close this issue now, feel free to open it if you consider it necessary.

[2015-11-16 21:00] #213 closed

[2015-11-16 21:04] aMarCruz commented on #744
This is fixed in 2.3.x, only restriction is you can't use unquoted '>' in expressions.

[2015-11-16 21:06] GianlucaGuarini commented on #1354
Just use `<div data-test={ "{test:1}" }></div>` http://jsfiddle.net/tf4f7ros/1/

[2015-11-16 21:06] #1354 closed

[2015-11-16 21:37] aMarCruz commented on #744
Sorry, I was wrong with this issue, it is not fixed. We are working in a workaround yet. It is in the roadmap to riot 2.4.0 #1322

[2015-11-16 21:41] jellytux opened #1356 "Trigger parent events?"
parent.tag:
[code]
child.tag:
[code]

-------------

How am I suppose to communicate between parent and child w/o creating a mediating observer?

[2015-11-16 21:55] sylvainpolletvillard commented on #1353
I can confirm it is a regression. I rolled back to v2.2.4 and don't have the issue anymore.

[2015-11-16 21:59] cognitom commented on #1356
Hi, @gfetco. Do you have an example on Plunker?
http://riotjs.com/examples/plunker/?app=bug-reporter
It should work in both way.
Note: It would be safe to use other tag names instead of `parent` and `child`.

[2015-11-16 22:33] cognitom commented on #1355
@gfetco I like the idea. But we can do the same thing with this two lines in the child tag, can't we?
http://plnkr.co/edit/J2dyF78G4zSw6RDsgutS?p=preview

[code]

[2015-11-17 02:04] #1306 closed

[2015-11-17 02:12] aMarCruz commented on #1207
This issue is fixed since v2.3.0, test is [in this line](https://github.com/riot/riot/blob/master/test/specs/compiler/parsers/suite.js#L203).
the file https://github.com/riot/riot/blob/master/test/specs/compiler/parsers/sass.tag is generating https://github.com/riot/riot/blob/master/test/specs/compiler/parsers/js/sass.js .

I'll close this issue now, feel free to open it if you consider it necessa

[2015-11-17 02:12] #1207 closed

[2015-11-17 02:19] aMarCruz commented on #1189
@paulmarrington , riot v2.3 allows detection of _evaluation errors_ through the new property `tmpl.errorHandler` by setting its value to a function that receives the generated Error object, augmented with an object `riotData` containing the properties `tagName` and `_riot_id` of the context at error time.
Please see https://github.com/riot/tmpl/tree/master/doc/

I'll close this issue now, feel fre

[2015-11-17 02:19] #1189 closed

[2015-11-17 06:19] aMarCruz commented on #1116
Ok, this was (partially) fixed in 2.3.0, but we have two different behaviors and one bug, depending on where the tag is defined.

Trailing comments and spaces _inside_ custom tags are removed in both external .tag files and inlined tags.

Indentation is the problem. Beta versions of the compiler 2.3 worked with any indentation, but in the last phase this changed to support treeview-like constructi

[2015-11-17 06:30] FND opened #1357 "invalid comments with Jade templates"
When a Jade comment resides outside the respective custom tag (e.g. on a mixin), it is added as an HTML comment to the resulting JavaScript file:

[code]

[code]

[code]

[2015-11-17 06:49] cognitom commented on #1357
It's an inconsistency between the spec of Riot.js and Jade. The root level of tag files, only JavaScript and tag definitions are allowed. We can't use HTML comments here.

I think this is not a bug, but we can remove the comment when compiling with jade.
[code]
https://github.com/riot/compiler/blob/master/lib/parsers.js#L83

Or, at least, it would be nice to add some note to the docs.
http://riotj

[2015-11-17 08:45] weepy commented on #1333
What syntax is `<script>add() { ... }</script>`. Is that a special Riot syntax ?

[2015-11-17 09:12] GianlucaGuarini commented on #1333
@weepy yes http://riotjs.com/guide/#tag-syntax

[2015-11-17 10:28] weepy commented on #1333
It's a bit confusing since this isn't really valid ES6 ?  It's similar to
the function specified within an object, but different. At the very least
it should be documented as such.

On Tue, Nov 17, 2015 at 9:12 AM Gianluca Guarini <notifications@github.com>
wrote:

[2015-11-17 11:40] sntran opened #1358 "Empty style in tag (scoped) breaks"
http://embed.plnkr.co/snrB09CukJcpJjpyKINF/my-tag.html

Note the empty style

[code]

Only breaks when the styles are scoped.

[2015-11-17 12:18] cognitom commented on #1358
@sntran it's bug! Thanks for reporting.

[2015-11-17 12:43] clems71 opened #1359 "Loop not working properly for table with <yield/>"
Hi,

I'm trying to make a custom table that `yield` cells for a given row, so that the end user can modify the cell's view, on a per column basis. In the end, it should look like this:

[code]

By trying to do this, it appears to me there is a bug related to the behavior of yield in this context. Each cell is yielded only once, at the wrong level in the DOM. I created **[this fiddle](https://jsfid

[2015-11-17 12:49] cognitom commented on #1359
Umm. It looks the same issue #1352

[2015-11-17 12:58] clems71 commented on #1359
I tested it against 2.2.4 and 2.3.1, it fails to work with each version

[2015-11-17 13:13] cognitom commented on #1358
OK, fixed.

[2015-11-17 13:41] lloydzhou commented on #1359
<yield/> can using in loop?

[2015-11-17 13:51] xieyu33333 opened #1361 "All treeitem tag have children"
[code]

My code like that, and I find I can't use children to judge the arrow's exist; All item tag have children property, even the item data not have children.

[2015-11-17 13:57] lloydzhou commented on #1361
the child tree can judge count and trigger parent event to disable arrow.

[2015-11-17 14:22] xieyu33333 commented on #1361
@lloydzhou but this.children should be undefined at the leaf node

[2015-11-17 14:36] lloydzhou commented on #1361
i mean do not check child from parent, only check in children tree and update parent "tree-item-arrow" class.

[2015-11-17 14:59] manatlan opened #1362 "Use of expressions in scoped style in a tag"
It could be very cool to let the user do this kind of things :

        <tag>
          <style scoped>
            :scope {
              width:{opts.size}px;
              display:block;
              border:2px solid black;
            }
            div {
              width:{(opts.value * opts.size)/100}px;
              background:blue;
            }
          </style>
          <div>{opts.val

[2015-11-17 15:09] cognitom commented on #1359
Oops, you're right. @lloydzhou
This is not a expected use-case.

[2015-11-17 15:49] TimWillis opened #1363 "riot.route not working in ie for 2.3.1"
I have this setup for riot routing -

var router = function(page,id) {
    function change_page(current_page){
        RiotControl.trigger('page_changed', current_page, xmenu.last_page)
        xmenu.last_page = current_page;
    }
    page = !page ? 'home' : page;
    change_page(page);
}
// Riot router
riot.route(router)
// Execute router function once for rendering the items
riot.route.exec(rou

[2015-11-17 16:05] katopz commented on #830
@geordee Did you happen to have nice hello world example for Riot+Semantic UI? :)

[2015-11-17 16:27] aMarCruz commented on #1039
@steelbrain , @bryanrideshark ,
is riot 2.3.1 fixing this issues? `type=es6` supports babel and babel-core old API, `type=babel` supports babel-core 6.x with the es2015 preset.

[2015-11-17 16:32] assertnotnull opened #1364 "Can't loop tags when they aren't an array"
Using the 2.3.1 version, you can only loop when tags are an array.

http://plnkr.co/edit/OUkRLWQC4qtLyB5tVxPr?p=preview using a defined tag for each
http://plnkr.co/edit/sYaJQUYhSmtzBOF0cwlt?p=preview using same tag name

[2015-11-17 17:22] GianlucaGuarini commented on #1362
[You may not need it](http://riotjs.com/examples/live-editor/#%3Csample%20style%3Dbackground%3A{%20color%20}%3E%0A%20%20%3Ch3%3E{%20message%20}%3C%2Fh3%3E%0A%20%20%3Cul%3E%0A%20%20%20%20%3Cli%20each%3D{%20techs%20}%3E{%20name%20}%3C%2Fli%3E%0A%20%20%3C%2Ful%3E%0A%0A%20%20%3Cscript%3E%0A%20%20%20%20this.message%20%3D%20%27Hello%2C%20Riot!%27%0A%20%20%20%20this.color%20%3D%20%27red%27%0A%20%20%20%20

[2015-11-17 18:03] nippur72 commented on #1362
I guess `<style>` is treated as a special case, mounted once for all and never updated (@GianlucaGuarini can you confirm?).

I would like this feature, but I see a big problem in handling `{` and `}`, since they conflict with the existing css syntax. You have to switch to a custom bracketing.

[2015-11-17 18:19] ernestorocha opened #1365 "Page is flashing when tag is mounting over server side content."
I'm sending to the browser the tag already rendered from the server, and on the client side I'm calling `riot.mount` with the same `opts`, so the JS behavior can be bound to the tag.

But, something strange is happening. For some milliseconds the tag appears blank, then is being mounted.

The purpose of sending the tag rendered by the server was exactly to avoid a blank space while the rest of the

[2015-11-18 01:42] decker502 opened #1366 "custom tag not working for <table>"
#### test code is:

[code]

#### the output in browser is:
[code]

``` some-tag``` is out of ```table```

[2015-11-18 02:45] decker502 commented on #1366
it seems like a problem with ```<table>```

#### another test:

[code]

#### output in browser is:

[code]

[2015-11-18 02:52] aMarCruz commented on #1261
I just push in the `dev` branch of riot-compiler a new version which supports preserving whitespace in `<pre>` tags. This version gets rid of the zero-indentation restriction for custom tags. There's some notes in the [CHANGELOG](https://github.com/riot/compiler/blob/dev/CHANGELOG.md) file.

[2015-11-18 03:09] #1366 closed

[2015-11-18 04:31] cognitom commented on #1363
Could you send it to `riot/route` repo with Plunker?
https://github.com/riot/route
Bug reporter:
http://riotjs.com/examples/plunker/?app=bug-reporter

Check the latest docs, too.
http://riotjs.com/api/route/

[2015-11-18 04:31] #1363 closed

[2015-11-18 07:16] GianlucaGuarini commented on #1362
@nippur72 right and we use also css preprocessors so this mean that mixing javascript variables with css is not a good idea. @manatlan I will close this issue because we have no plans to implement this features in the next releases

[2015-11-18 07:16] #1362 closed

[2015-11-18 08:20] tipiirai commented on #1076
Which size will be increased? The resulting tags or the compiler? Compiler size isn't so critical.

[2015-11-18 10:31] Sendoushi commented on #565
Actually... I would like to see your solution. Would you mind showing @jimknight ?

[2015-11-18 13:28] assertnotnull commented on #1364
Well in my first plnkr, I outline I can loop the object called `dummy` but not `tags`

[2015-11-18 13:46] kfreiman commented on #1364
I want to help, but your plnkr contains a lot of not related things, and its hard for understanding. Can you create clear example of issue?

[2015-11-18 20:00] aMarCruz commented on #1076
@tipiirai  both. Code generated by the compiler needs include function definitions:
[code]
but `tmpl` can be lighter in runtime, the most important.
I will think about brackets usage, the [raw html problem](https://github.com/riot/tmpl/issues/2) and other issues. This weekend I will working on this.

[2015-11-18 23:05] cognitom commented on #1344
@txchen I've just updated the docs.
http://riotjs.com/download/#content-delivery-networks

But we need to release 2.3.2 to fix the links on it.

[2015-11-19 00:45] cognitom commented on #1362
@manatlan when you need variable in styles, we can use `style` attribute of the elements, or modify them via JavaScript on `update` event. It's also useful for animation.

[2015-11-19 00:48] pajtai opened #1367 "Mount being called on update if array of objects are passed in, but not if array of primitives are passed in to an each loop."
Great library, having a lot of fun using it, just ran into this issue. Not sure if this is expected.

Here are two jsfiddles to illustrate. You have to look at the console:

Array of integers - on data refresh only update events are fired:
http://jsfiddle.net/pajtai/cptzs93q/

Array containing an object - on data refresh a mount and unmount event are triggered for a child
http://jsfiddle.net/pajta

[2015-11-19 04:14] txchen commented on #1344
@cognitom thanks! I have changed to use CDNJS to unblock myself.

[2015-11-19 04:58] #1358 closed

[2015-11-19 13:57] kfreiman commented on #1365
Probably, you mean [pre-compilation](http://riotjs.com/guide/compiler/#pre-compilation), but not [server-side-rendering](http://riotjs.com/guide/#server-side-rendering),
because rendered tag is an html, and you can't pass `opts` to the string.

To avoid loading latency you can embed your tag to the page html.
You can embed pre-compiled tag as pure js. Or embed tag with riot sytax through `<script

[2015-11-19 16:19] aMarCruz commented on #1357
I've just released version 2.3.12 and did not see this issue until today.
@cognitom your solution is correct, Jade writes the comment outside the tag and it seems that has no option to omit comments.
It will be corrected in v2.3.13.

[2015-11-19 16:22] ernestorocha commented on #1365
[code]
That's what I'm doing, @kfreiman . If I disable the javascript on my browser I have the html I want but without the riot bindings (click, updates hook, etc). If I let riot mount the tag on the client to have the bindings, I end up with the same html but, for some reason the page is blank for some time.

[2015-11-19 16:36] gdub22 commented on #1365
I have encountered this too.  It appears that tags are rerendered instead of 'rehydrating' the server rendered output: https://github.com/riot/riot/issues/767#issuecomment-136790474

[2015-11-19 16:54] aMarCruz commented on #1309
@mikeauclair code works fine with riot 2.3.1

[2015-11-19 17:08] tupy commented on #1365
+1
The problem is the `root.InnerHTML = ''` (https://github.com/riot/riot/blob/master/riot.js#L2053) that clear the current content (server side) and mount it again using client side code.

[2015-11-19 17:15] aMarCruz commented on #1297
@gdub22 , it is by design: http://riotjs.com/guide/#expressions
The behavior you mention is only for _boolean_ attributes ('cause html specs) and class shorthands (riot-specific feature), we can't take decisions in other user code.

For any interested, riot v2.3.x recognizes these 29 boolean attributes:
[code]
I made https://github.com/riot/compiler/blob/dev/doc/attributes.md for info on this, but

[2015-11-19 17:31] gdub22 commented on #1297
@aMarCruz My example does not use boolean attributes.  You can see I use the `target` attribute.  I believe this is fixable. I will create a PR soon.

[2015-11-19 17:37] gdub22 commented on #1297
In other words, I think that all attributes should behave like boolean attributes (removed from the dom if they are falsey)

[2015-11-19 17:51] aMarCruz commented on #1297
@gdub22  yes, `target` is not a boolean so we can remove it.
There's a reason to remove boolean attributes: To represent a false value, the attribute has to be omitted altogether. With other attributes --because each case is different---, the decision belongs to user only.

[2015-11-19 17:57] aMarCruz commented on #1297
we must convert `<input type="text" value="" placeholder="" title="">` into `<input type="text">` ?

[2015-11-19 18:17] gdub22 commented on #1297
Here's an example where the current functionality is undesirable - with css attribute selectors:
If this tag has a falsely placeholder value, it still renders the attribute name so the input is yellow
[code]
Another issue is a bigger html payload in server-side rendering because of all the attribute names.

[2015-11-19 18:20] aMarCruz commented on #1240
Comments can contain almost any sequence of characters, which can confound the analysis.
Restitution of comments is harder because trailing spaces are removed too.
String and regexes are temporarily removed for the same reason, but are restored easily.

[2015-11-19 18:35] aMarCruz commented on #1343
@lmicra , great catch!
I'll send a PR with `return tmpl.replace(/<yield\s*(?:\/>|>\s*<\/yield\s*>)/gi, innerHTML)`

[2015-11-19 19:41] marvinroger opened #1368 "riot-tag as expression in loop"
Hi,

Given:

[code]

The following doesn't render the tag:

[code]

However, replacing manually the `riot-tag` with the name of the tag does work.

Am I doing something wrong?

[2015-11-19 22:26] pajtai commented on #1367
Looking at the code, it seems that on update a new Tag is called in the case where looping over an array of objects, but not when looping over an array of primitives..... so I believe I'm just trying to get some insight into why [new Tags have to be create in the case of an object](https://github.com/riot/riot/blob/master/lib/browser/tag/each.js#L157):

[code]

[2015-11-19 22:27] aMarCruz commented on #1297
@gdub22  I use code like these for finding the attribute, has any value :) in this particular case I would use:
[code]
I don't think that's a good idea to generalize this, but we will wait for Gianluca.