[2015-05-12 14:50] oderwat commented on #717
I saw that but rejected it - maybe to early.

It will modify how to access the values of the object in the tag. But whats more annoying changes what you need to propagate when using nested tags (which can just use the value names otherwise). Is there something one could do about this?

On the other side it is a smarter work around than keep a manual index updated.

Still... I think there is value

[2015-05-12 19:31] aMarCruz commented on #685
good router, thanks!

[2015-05-12 19:32] rsbondi commented on #715
I am not sure this makes sense, if you are developing a tag, why would you have the need to name an input with an existing property's name?  If you name an input 'update' currently it will crash.  If riot stops it from being applied, you would be expecting `this.update` to be an input and not a function.  Either way it would be best to avoid it.  I put in a PR but not sure if it is beneficial.

[2015-05-12 19:42] mhelvens commented on #685
FYI: I'm currently using [Grapnel.js](https://github.com/EngineeringMode/Grapnel.js).

@GianlucaGuarini: I am wondering, what would be the job of a riot-pagejs adapter? In what way is the current router integrated with the Riot.js core?

Anyway, @GianlucaGuarini, @tipiirai: Kudos for **(1)** listening to the community and **(2)** not hesitating to make a big decision like this without bureaucracy!

[2015-05-12 19:44] secrettriangle commented on #715
I think it might be worthwhile to store the input elements into a new `this.inputs` or something along those lines. Semantically speaking one might not expect `this[inputName]` to be an element, rather an element's value.

[2015-05-12 19:57] rsbondi commented on #685
I like the simplicity of the riot router, I ported to knockout to use on my current contract.

[2015-05-12 19:58] rsbondi commented on #715
I think that is out of the scope of the intention.  I am removing the PR.

[2015-05-12 22:20] TehShrike commented on #677
What about minor/feature version changes?  Even if those changes had not been breaking changes, (if they had just been adding a new optional argument, or adding a new returned value where nothing was returned before) they should have still been flagged as new features, requiring a minor version increment.

[2015-05-12 22:48] beders commented on #552
It's not the same thing, which is why this and #452 should be re-opened.
The compiler isn't used here. Can you indicate how to get the equivalent functionality (both here and in #452) with the Riot compiler?

Thank you!

[2015-05-12 23:19] mingliangfeng commented on #508
I built a flux-riot project generator here: https://github.com/mingliangfeng/generator-flux-riot. The generated project has tests for stores, routes and actions for a flux project. But specific to riotjs, we need assistant tools to test the tags, like simulating the click event, etc.

For whom familiar with angular unit test, are you interested in building a similar one for riotjs?

Opinion from c

[2015-05-13 07:01] Avnerus commented on #582
That does make sense. And I see you're arleady working on a fix. Great!
Hope it will be incldued in the next version.

[2015-05-13 12:04] marciojcoelho opened #722 "ie8 and try finally"
The problem is when we are use some object, like
[code]
and name is undefined

at ie8 the finally is never reach

http://webbugtrack.blogspot.pt/2007/11/bug-184-catch-to-try-catch-finally-in.html

[2015-05-13 16:22] hipertracker opened #725 "Is riot tag indentation sensitive?"
Is it a bug or design?

Works:

[code]

Broken:
[code]

In the second code </raw> has 6 instead of 4 space indentation...

[2015-05-13 16:51] rsbondi commented on #725
indent sensitive per [docs](https://muut.com/riotjs/guide/#tag-syntax)

[2015-05-13 17:01] cognitom commented on #725
It's a design.
I'm making online syntax checker, kind of. Try it! Any feedback is welcome ;)
http://cognitom.github.io/riot-checker/

[2015-05-13 20:10] GianlucaGuarini commented on #725
@cognitom could you add the a link to the checker also in the readme file please?

[2015-05-13 21:05] GianlucaGuarini commented on #722
merged thanks

[2015-05-13 21:05] #722 closed

[2015-05-13 21:19] #622 closed

[2015-05-13 21:20] #636 closed

[2015-05-13 21:24] #545 closed

[2015-05-13 21:25] GianlucaGuarini commented on #545
fixed with riot 2.0.15

[2015-05-13 23:11] pakastin commented on #484
@paldepind I also group all the moves together with documentFragment – the point was to only move the SMALLEST groups in the DOM and keep larger groups in place..

I will write an example....

[2015-05-13 23:12] AndreasHeintze commented on #334
@jenmontes I have just made a solution for your problem. When an if-expression is present and it resolves to false, the dom node is removed, but any nested expressions are still being executed.

Will make a PR tomorrow.

[2015-05-14 01:09] pakastin commented on #484
Here's grouping: http://jsfiddle.net/f07pLuL7/1/
Case 3 is random (hit refresh and see results).

;)

You can decide whether to add first or remove first by checking if current group is larger or smaller than the next one..

You don't really need even that much iterations:
http://jsfiddle.net/f07pLuL7/

..just to prove a point, so not that optimized :)

[2015-05-14 01:48] cognitom commented on #725
@GianlucaGuarini sure! #726

[2015-05-14 02:17] hipertracker commented on #725
Why, the heck, this has to be indentation sensitive? Why is it called "the feature" when it gives nothing useful for the developer. There is no benefit in HTML and JS being indentation sensitive. I guess, that "feature" is required by the specific internal implementation of the Riot parser. That is just wrong. The user should not suffer because the parser is not enough sophisticated.
The checker m

[2015-05-14 04:16] cognitom commented on #725
This is a trade-off of the Riot's compiler depends on RegExp. As you know RegExp can't parse HTML5 correctly. That's why we need some extra rules like indentation. Why not use [prettifier](https://github.com/beautify-web/js-beautify)?

[2015-05-14 07:08] hipertracker commented on #725
Mayne, because riot/tag is not a JavaScript file? It's the mix of XHTML tags and JavaScript. More, jinja2 generates riot/tag content on the server, before any JavaScript is started.

[2015-05-14 07:09] hipertracker commented on #725
RegExp is not the best way to parse templates. Riot needs good tokenizer.

[2015-05-14 07:19] cognitom commented on #725
I think they choosed RegExp to keep 3.5KB. Honestly I prefer full-parser approach, too. Is there any good tokenizer or parser-generator for this purpose without increasing the size?

[2015-05-14 09:36] hipertracker commented on #725
I don't know. But I would rather sacrifice the size for having  less error prone code. Mixing of HTML and  plain JS below it, may be difficult to tokenize.

[2015-05-14 11:28] rsbondi commented on #725
Interesting, so a tool for python, an indent sensitive language, generates code that changes the indentation?  Oh the irony.

[2015-05-14 13:44] karpovr opened #727 "Please add "prevent" function to riot.observable to avoid unwanted event to be handled while executing a set of commands."
an example of "prevent" function:

[code]
Usage:
[code]

[2015-05-14 13:57] GianlucaGuarini commented on #727
IMHO If you are at this point it means there is something terribly wrong in your project logic. Could you make a more concrete example please?

[2015-05-14 14:43] karpovr commented on #727
Ok. Here it is:

1) I have a property in a model defined with setter & getter.
2) A setter fires an event if a property value is changed.
3) I have a presenter for this model which listens to model's events to implement two-way data binding.
4) Most of UI components used in presenter are light so when model's property changes the presenter simply removes components from a view and draws them again

[2015-05-14 17:39] GianlucaGuarini commented on #727
I think you can just use something like this:
[code]
http://jsfiddle.net/gianlucaguarini/o2bx2e27/

[2015-05-14 20:09] marciojcoelho commented on #448
This is already fix at dev branch

[2015-05-14 20:25] karpovr commented on #727
Thanks a lot for your support! But the proposed solution is not my case as I use Object.defineProperty to set model's properties. Therefore setters and getters of these properties do not have any options.
However the logic described in my case is also faulty.
If I use "prevent" method as described, it will prevent execution of all handlers for "propertyChanged" event. And that is not what I want :

[2015-05-14 20:25] #727 closed

[2015-05-15 13:47] maxfridbe opened #729 "Nested loop not updating even after update() with example"
Example: http://codepen.io/anon/pen/waGLJp
Click the first checkbox once. Notice 3rd checkbox becomes checked as expected.
Uncheck 3rd checkbox. 3rd checkbox should become checked.
Click first checkbox again notice 3rd checkbox not checked.

Maybe I'm doing something wrong.

[2015-05-15 15:16] rsbondi commented on #729
`self.checkboxs[2].checked=true;`

always true after the first time, never sees a change after.

[2015-05-15 15:29] maxfridbe commented on #729
I thought it should re-render based on data after especially if i call update().

[2015-05-15 17:44] rsbondi commented on #729
No, you can call update all day long, and if it does not see a change, it will not update, this is to minimize dom updates, it only updates when it sees a change.  If you set `checked` to false at some point it will update.

[2015-05-15 21:12] maxfridbe commented on #729
this seems counter-intuitive:
if i change data and render the vdom, shouldn't the vdom be compared with the active dom and changes be propagated?
Otherwise it would end up with an issue like this one. In which the UI is manipulated changing the state of the dom. but the vdom is not going to be diffed if the data is not changed even if a .update() is called.
A syncing mechanism still needs to compa

[2015-05-16 00:29] Centaur commented on #692
1. We were told `riot.tag` is on the edge of being deprecated.
2. Something the offline-compiler can do but in-browser-compiler cannot, this is inconsistency.
3. We found that when using in-browser-compiler, the difficulty of debugging gets even worse, every error was thrown by some mysterious VMxxx and there is nothing helpful in the stack trace.  So we finally abandoned it and suggest the total

[2015-05-16 03:07] TehShrike commented on #677
Are there no features or changes in 2.0.16?  Is it truly a patch release?

Going by [the release notes](https://muut.com/riotjs/release-notes.html), most of the recent releases were actually feature releases, not patches.  What is the mechanism for developers to indicate that their changes should require bumping the minor version, so that we can break this cycle of feature releases that only bump

[2015-05-16 08:31] GianlucaGuarini commented on #692
@Centaur to be honest I never use the browser compiler, I prefer always to split the html of my components from the logic. In fact riot.js and compiler.js are two separate things and you do not need to compile your components to be able to use riot. A riot.tag is simply an html component having a template, some options and its own logic

[2015-05-16 08:37] prateekbh opened #732 "Any way to stop update of child element upon updating of parent?"
#question
Hey,
I have 2 tags t1 and t2.
I have placed t1 inside t2.
I want upon any updates of t2 t1 should not get updated..
Anyway of doing it?

E.g.
http://plnkr.co/edit/FmxfXzJa72WNGyhZOjcH?p=preview

Click On Hello and observe both count(which is desired) and time(which is undesired) gets updated.
I wanted only count to update not Time.

[2015-05-16 08:45] GianlucaGuarini commented on #732
http://plnkr.co/edit/L1i0ZQT9tdXf5sEZUHfR?p=preview use this

[2015-05-16 08:45] #732 closed

[2015-05-16 09:26] prateekbh commented on #732
The problem is that in my real app update has some logic... Which i want only to execute upon the inner tag fired update.. So i wanted to know about the origin of update fired..

[2015-05-16 12:21] GianlucaGuarini commented on #732
So you may need a flux controller https://github.com/jimsparkman/RiotControl

[2015-05-16 13:57] GianlucaGuarini commented on #582
fixed with https://github.com/muut/riotjs/commit/9ecb46bb211142127766cab47f717310999fe689

[2015-05-17 06:52] cognitom commented on #611
I'm making [a new router](https://github.com/cognitom/ikki#html-router) as a mixin of Riot.js. Multiple routing is supported and routing rules are written in the tag files like this:

[code]

For more detail, see here. Thanks.
http://cognitom.github.io/ikki/

[2015-05-17 07:10] AndreasHeintze commented on #648
How close to a release of v2.0.16 are we?
What do you think about including this one? https://github.com/muut/riotjs/pull/733

[2015-05-17 09:47] GianlucaGuarini commented on #611
add it to the readme please

[2015-05-17 10:00] prateekbh opened #735 "Tags compilation should be allowed even after riot.tag is used"
Hey,
Currently Riot expects a script tag with "type='roit/tag'" attr to load the custome tags.
There should be a way to make tags without it.

Check the below plunkr:
http://plnkr.co/edit/n7xHDsaWgu0khVwVmkoU?p=preview

Currently, If I just use riot.tag to make a tag, I cant mount and use it.

[2015-05-17 11:59] GianlucaGuarini commented on #735
This issue got already fixed.. It will be solved on the next riot release http://plnkr.co/edit/zqMkFgWAbALfBeo265R2?p=preview

[2015-05-17 11:59] #735 closed

[2015-05-17 12:21] prateekbh commented on #735
Nicey!!! kinda somewhat did the same for my framework sitting on top of Riot

[2015-05-17 20:34] GianlucaGuarini commented on #484
@tipiirai @pakastin @brianmfranklin @paldepind
I am working on riot updating the each loops rendering and that's my first result:
http://jsfiddle.net/gianlucaguarini/cbjuek58/

the first rendering is a bit slow but if you try to update the DOM now it seems to be superfast

[2015-05-17 21:16] pakastin commented on #484
If you're working with Chrome, try with <li> -tags.. They seem to perform better and you can compare speed with @paldepind's flyview -demo ;)

Remember that the speed depends on HTML structure, so if you compare to anything, first check out you have identical HTML structure. Comparing to react you get a little help without those data-reactid's which slows react down a bit ;)

Is there source somew

[2015-05-17 21:26] GianlucaGuarini commented on #484
@pakastin I am working on the https://github.com/muut/riotjs/tree/feature/faster-loops branch it's not yet completed but I had to clean up almost the whole _each.js

[2015-05-18 09:10] tipiirai commented on #484
@GianlucaGuarini I cannot help but admire how you lead this project.

[2015-05-18 09:43] pakastin commented on #484
(y)

[2015-05-18 09:43] pakastin commented on #484
:+1:

[2015-05-18 10:16] GianlucaGuarini commented on #484
@tipiirai no prob I would not do it if it wasn't enough fun :)

[2015-05-18 11:00] nevf commented on #717
+1 I'd also like to have the index value in each. I'm using a counter to work around this at present.

[2015-05-18 17:05] erandros opened #737 "Nested tag not mounted yet in 'mount' event."
My code looks like this

    <recipe>
        <navigator/>
    </recipe>

    <navigator>
      <div id='navigator'></div>
      this.on('mount', function() {
        debugger;
      })
    </navigator>

When stopped in debugger line, the div isn't added to the DOM yet.
Is this intended? Is there an event like 'mounted'?

[2015-05-18 17:27] erandros opened #738 "HTML is being re rendered client side without DOM diff on mount"
When I do a request to `'/index'`, the server returns this:

    <div id="main">
       <recipe>
         <navigator>
           <div id="navigator">
           </div>
         </navigator>
       </recipe></div>

But when I do `riot.mount('#main', 'recipe')`, and add a `debugger;` on the `mount` event, it seems that the innerHTML of `#main` is empty.
Shouldn't a diff be done when mounted instead

[2015-05-18 17:35] rsbondi commented on #737
Should be fixed in #720

[2015-05-18 19:58] samuelmesq commented on #703
@lc60005457 the idea of a component/tag is be unique, if you create bolt.tag is a bolt component, not a HelloMesssage component, that way has no need of require each time you want to use with the name bolt or other name, for example, i have a folder called *components*, inside it i have *breadcrumbs.tag*, *images-gallery.tag*, etc, and a loader.js file, the content of loader.js is:
[code]
I import

[2015-05-18 20:00] rsbondi commented on #738
It does a diff internally once mounted for items that have changed, you should not have to re-mount, would need to see more detail to say for sure.

[2015-05-18 20:09] erandros commented on #738
I'm doing server side rendering, this is what I basically have:

    //server.js
    var fs = require('fs');
    require.extensions['.tag'] = function (module, filename) {
        module.exports = fs.readFileSync(filename, 'utf8');
    };
    var main = require('./public/main.tag');
    //main.tag has the code shown in the first comment

    //start express app...
    app.get('/', function(req, re

[2015-05-19 00:29] MayamaTakeshi opened #739 "show/hide animation for tags"
Can someone give me a hint on how I could implement add/remove tags with animation in riot?
For example, in the todo demo (http://muut.github.io/riotjs/demo/) the new items suddenly appear when we add them. Instead I would like addition/removal to be animated so that is easier to be followed by the user. I usually do this with jquery when events happen, but I am not sure how to do this in riot.

[2015-05-19 01:27] somecallmechief opened #740 "Unexpected token error using Browserify with standard HTML element as tag"
I'm experimenting with standard elements, but browserify (running riotify and babelify transforms) fails to build when I include the tag in the build. I have a file `menu-user.tag` which contains

    <li riot-tag="menu-user"></li>

Running browserify, I get:

[code]

Removing `riot-tag="menu-user"` allows browserify to succeed, but obviously I cannot mount it.

I'm using the latest versions of al

[2015-05-19 12:37] oswaldomilet opened #741 "How to replace "if" tag with it's content?"
Is there a way to replace this:

[code]

for this:

[code]

when condition == true?

[2015-05-19 12:40] oswaldomilet commented on #741
I know in this case I could put "if" on <span> tag, but what if content is an expression?

[2015-05-19 14:04] rsbondi commented on #741
Can you make a fiddle?

[2015-05-19 14:10] Centaur opened #742 "Riotjs doc Chinese translation"
FYI,  [This](https://github.com/Centaur/riotjs_doc_cn) is a selection of Riot documentation translated into Chinese. Personally I like Riot very much and would like to introduce this library to more of my fellow citizens.

[2015-05-19 14:16] oswaldomilet commented on #741
http://plnkr.co/edit/6pGmRpQ274FKTgVwLi5w?p=preview

[2015-05-19 14:18] GianlucaGuarini commented on #742
I :heart: :cn: too!  Please add it to our readme file

[2015-05-19 14:25] oswaldomilet opened #743 "Put custom tag in attribute value?"
I'm trying to use Bootstrap popover specifying a HTML template in data-content attribute, but using a custom tag (custom-grid-filtro)...

[code]

How can I achieve that?

[2015-05-19 14:36] simoami opened #744 "expressions with html not evaluated"
An expression like this does not get evaluated:
[code]

[code]

The presence of html content, even though quoted, causes the expression to be bypassed.

[2015-05-19 16:42] AndreasHeintze commented on #741
You can put the "if" on the ```<span>``` tag even if the content is an expression. The expression is going to be updated, but the span and everything inside it will get removed.

[2015-05-19 16:48] oswaldomilet commented on #741
@AndreasHeintze you are wrong

[2015-05-19 16:56] madwill commented on #739
Hi i use [animate.css](https://daneden.github.io/animate.css/) so that when an element is displayed i get an animation.

I then use jquery to change the css classes to animate out as well.

I'd love to use GSAP as its the best performing i know of but somehow in the "mount" event i can't get a hold of the elements. Only like a second after i do.

So basically animate.css fixes my mount problem and

[2015-05-19 17:24] rsbondi commented on #741
[works](http://plnkr.co/edit/Rpk92b4H511H5wsdUEBO?p=preview) for me with if on the span tag and expression content

[2015-05-19 17:27] oswaldomilet commented on #741
No man, it doesn't works.

If you inspect your result, will see that there is a ```<span>```tag before the text "Want to create only span tag on DOM and not parent div"

[2015-05-19 17:48] rsbondi commented on #741
Of course there is a span , I thought that is what you asked for, a span tag with expression content, what am I missing?

[2015-05-19 18:09] xieyu33333 commented on #538
It is not work on Riot 2.0.15

[2015-05-19 18:18] oswaldomilet commented on #741
In my first example, I used a ```div``` as ```span``` parent and asked if there was an way to ommit the ```div```from DOM.

As you used ```span```as your parent element in your example, I assumed that ```span```should not appear

[2015-05-19 21:27] blahutka commented on #743
I usually mount tag on bootstrap shown.bs.popover event
[code]

[2015-05-19 21:27] GianlucaGuarini commented on #648
riot 2.1.0 is out thanks you all! ( it's not yet published on npm ) Let's work together on the next release :v:

[2015-05-19 21:27] #648 closed

[2015-05-19 23:49] cognitom commented on #648
:v:

[2015-05-20 00:38] rsbondi commented on #744
I have [verified](http://jsfiddle.net/2b2o4s22/), this is a bug

[2015-05-20 01:15] aMarCruz commented on #725
This is HTML, XHTML, ES6 ? well... almost. This is... _riot_ :smiley:
I think a "gotchas" for riot is nedeed.

[2015-05-20 04:11] rwu823 opened #748 "[question] How to detect tag update completed and element displayed?"
For the example, I should set the timeout 200 ms and focus input
http://jsfiddle.net/7b1qymd9/

[2015-05-20 04:41] AndreasHeintze commented on #741
If you want exactly that behavior as you describe in your first post where you put the if-attribute on the div and get only the innerHTML of the div when the if is true, then the answer is no, you can't.

[2015-05-20 04:50] AndreasHeintze commented on #748
Use the updated event.
https://github.com/muut/riotjs/blob/master/doc/api/tags.md#events

[2015-05-20 05:02] AndreasHeintze commented on #648
Great, but what caused the v2.1.0 instead of 2.0.16?

[2015-05-20 05:12] MayamaTakeshi commented on #739
@madwill: thanks. Animate.css works for my needs.

[2015-05-20 05:12] #739 closed

[2015-05-20 05:58] MayamaTakeshi opened #749 "Different behavior for nested tags"
I experimented with this:
[code]

And when do_something is called, e.item is defined.
But if I move the li tag to a custom riot tag like this:
[code]
... then when do_something is called, e.item shows up undefined.
Is this expected?

[2015-05-20 06:03] tipiirai commented on #648
New features and the willingness to stay closer to semver :smile:

[2015-05-20 06:11] rwu823 commented on #748
@AndreasHeintze
Thanks for the reply, but still unable:

http://jsfiddle.net/7b1qymd9/1/

[2015-05-20 06:17] AndreasHeintze commented on #748
You missed the letter d in "updated".
http://jsfiddle.net/7b1qymd9/2/

[2015-05-20 06:33] rwu823 commented on #748
@AndreasHeintze

oops my bad, but `update` is useful, thanks for the answer :)

[2015-05-20 13:28] blahutka opened #751 "Coffescript parser type text/coffeescript"
How can I add back parsing
[code]
instead of
[code]
The first one worked for me until v 2.0.15
Thank you.

[2015-05-20 14:46] GianlucaGuarini commented on #751
This should be enough
[code]

[2015-05-20 15:27] blahutka commented on #751
Works for me, thank you.

[2015-05-20 15:27] #751 closed

[2015-05-20 15:39] hipertracker opened #752 "Reusability of Riot components"
What is the proper way of reusing Riot tag? I mean, in React I can define my component once and render it many times,  in many places, and with a different data. How to build Riot version of http://jsfiddle.net/hipertracker/b8jyrh4q/1/ ?

[2015-05-20 16:03] hipertracker commented on #752
Why only first Riot component  is rendered? http://jsfiddle.net/hipertracker/e8tkzLwc/

[2015-05-20 16:13] rsbondi commented on #752
[code]
This is a known issue with self closing tags, but the ticket #700 is closed, so good to re open here

[2015-05-20 19:08] oswaldomilet opened #754 "tag not working inside select <option>"
I have a custom tag and put this inside ```<option>``` of a ```<select>``` but it's not showing content

http://plnkr.co/edit/yA7g4X?p=info

[2015-05-20 19:54] oswaldomilet opened #755 "riot-tag attribute not working"
I tried to use riot-tag attribute in a ```<div>```but didn't work

http://plnkr.co/edit/GkpfWR?p=info

[2015-05-20 20:12] AndreasHeintze commented on #754
No tags are allowed inside option tags, it's not a Riot limitation.

[2015-05-20 20:17] AndreasHeintze commented on #755
If you try it with the latest version (v2.1.0) of Riot it will work.

[2015-05-20 20:17] oswaldomilet commented on #754
do you have a workaround?

[2015-05-20 20:18] oswaldomilet commented on #741
do you have a workaround?

[2015-05-20 20:20] oswaldomilet commented on #755
Thanks, it worked fine

[2015-05-20 20:20] #755 closed

[2015-05-20 20:24] AndreasHeintze commented on #741
Not sure why you need this functionality and what you are trying to accomplish. Can you explain?

[2015-05-20 20:29] oswaldomilet commented on #741
If I have a css framework which applies rules to a specific DOM hierarchy using child selectors, so a custom tag could break it

[2015-05-20 20:55] blahutka commented on #754
The main thing here is the attribute `riot-tag="ri-select"`
[code]
[code]

[2015-05-20 20:59] oswaldomilet commented on #754
thanks, solved this with riot-tag

[2015-05-20 20:59] #754 closed

[2015-05-20 22:03] txchen opened #757 "for loop and "this" does not work in recent version."
This feature used to work (it is still in the docs):
[code]

data = { this } used to bind the item in the forEach loop.

But now it stops working, see this example: http://jsfiddle.net/dz9h6v4d/1/

[2015-05-20 23:55] aMarCruz commented on #705
@GianlucaGuarini, I see the actual code and I think
[code]
is removing _nothing_, although if *i == 0* the code does not crash.

If i == 0 the bug is hidden because the for exits at `i < len` (i.e. -1 < len), before entering the infinite loop, but if i > 0 ...

maybe I'm wrong, please correct me.

[2015-05-21 02:31] iamliqiang commented on #742
@oldpig， we can do this job together, how can i contact you? my webchat is
iamliqiang , comment you is oldpig

2015-05-19 22:18 GMT+08:00 Gianluca Guarini <notifications@github.com>:

--
Best regards/li.qiang

e-mail  : iamliqiang@gmail.com
mobile : 15811244506
msn    :  iamliqiang@hotmail.com

[2015-05-21 03:24] Centaur commented on #742
@iamliqiang This is a github repo, so if you want to contribute, just create issues or send pull request.

[2015-05-21 12:47] erandros commented on #737
Fixed on 2.1.0.

[2015-05-21 12:47] #737 closed

[2015-05-21 12:48] erandros commented on #738
Fixed on 2.1.0.

[2015-05-21 12:48] #738 closed

[2015-05-21 13:20] erandros opened #758 "Mount event called on server"
I have a .tag that goes like this:

    //main.tag
    <navigator>
      <div id='navigator'></div>
      this.on('mount', function() {
        var self = this;
        $(document).ready(function() {
          $('#navigator').jstree();
          self.update();
        });
      })
    </navigator>

And then I get a call stack dumped on browser saying `ReferenceError: $ is not defined`

And on the

[2015-05-21 16:11] memunix opened #760 "server-side loop rendering non-string error"
Attempting to server-side render anything other than a string in an `each` loop, results in an error. Example below using simple node express setup and riot v2.1.0:

app.js
[code]
loop.tag
[code]
error
[code]

[2015-05-21 18:56] nnjpp commented on #583
@GianlucaGuarini This fix does not seem to work for options that are inside of optgroup elements

[2015-05-21 20:11] AndreasHeintze commented on #758
No there are no mount events just for the browser, they trigger both on the server and in the browser. Maybe we should have a setting to turn off some events on the server? But you can always put your code inside an if-statement. if (typeof window !== 'undefined') { ... } or if (typeof $ !== 'undefined') { ... }

[2015-05-21 21:22] #445 closed

[2015-05-21 21:23] #448 closed

[2015-05-21 21:26] GianlucaGuarini commented on #494
@sheastreet this should be fixed (we have refactored a bit the riot code and now you can use the yield tag to create nested dependencies) can we close this bug?

[2015-05-21 21:27] #536 closed

[2015-05-21 21:27] #582 closed

[2015-05-21 21:27] #639 closed

[2015-05-21 21:27] #653 closed

[2015-05-21 21:29] GianlucaGuarini commented on #667
@nehz this should be fixed, can we close this issue?

[2015-05-21 21:30] GianlucaGuarini commented on #677
Now we have a changelog.md file to track all the important API changes and we will try to follow the semver specs

[2015-05-21 21:30] #677 closed

[2015-05-21 21:31] #709 closed

[2015-05-21 21:31] #748 closed

[2015-05-21 23:03] iamliqiang commented on #582
awsome jobs, thanks

2015-05-22 5:27 GMT+08:00 Gianluca Guarini <notifications@github.com>:

--
Best regards/li.qiang

e-mail  : iamliqiang@gmail.com
mobile : 15811244506
msn    :  iamliqiang@hotmail.com

[2015-05-21 23:09] iamliqiang commented on #742
ok, how long have u used riot.js ,   already in project?

2015-05-21 11:24 GMT+08:00 oldpig <notifications@github.com>:

--
Best regards/li.qiang

e-mail  : iamliqiang@gmail.com
mobile : 15811244506
msn    :  iamliqiang@hotmail.com

[2015-05-22 00:58] #742 closed

[2015-05-22 01:05] somecallmechief commented on #740
I updated to Riot 2.1.0 today, and the error I reported above is no longer reproducible. I can successfully compile the above example.

[2015-05-22 01:27] somecallmechief opened #762 "Using scripts with standard HTML tags"
I have a horizontal menu, which consists of a set of nested `ul` > `li` nodes. Each of these has a drop-down menu. I want to encapsulate each, individual drop-down menu item as a tag.

In my first pass, I created vanilla riot tag classes for each drop down (e.g. `<menu-user>...</menu-user>`), but this breaks my CSS. Rather than rework the styling to accommodate these new node types, I turned to th

[2015-05-22 02:41] nehz commented on #667
Thanks for the hard work!

[2015-05-22 02:41] #667 closed

[2015-05-22 03:10] aMarCruz opened #763 "Potencial bug in vdom.js"
In vdom.js, master and dev branchs, this block:
https://github.com/muut/riotjs/blob/dev/lib/browser/tag/vdom.js#L110-115
[code]
is equivalent to:
[code]
wich **overwrites** nodeList with $$(...) in each iteration, it is **not adding**.
After each() you get in nodeList the childrens for last el[] element only.
I think this is not what is expected.
I'm wrong?

[2015-05-22 05:35] josschne opened #764 "Stale render results still visible when each={} tag expression throws"
See example at: http://jsfiddle.net/josschne/rg2xzvm8/

The example is a simple Todo list.

The list first has 3 items. Then 2 seconds later the items are cleared and the view is updated. However, the three original items remain in the rendered HTML. I would expect the old render results to be removed.

[2015-05-22 06:17] aMarCruz commented on #705
sorry, the comment "`remove current item`" confused me.
`els[i]` is removed **by the callback**, not each().

Anyway, `--len` avoid unnecessary loop.

[2015-05-22 06:50] GianlucaGuarini commented on #740
Ok awesome thanks

[2015-05-22 06:50] #740 closed

[2015-05-22 07:03] ivankennethwang opened #765 "How to do server side rendering with nested tags"
Hi,

How can we do server side rendering with nested tags?

For instance:

[code]

[code]

[code]

I was expecting something like `<todolist><todoitem><div>To Do Item</div></todoitem></todolist>`

Thanks in advance!

[2015-05-22 07:22] cutepig opened #766 "Incorrect coffeescript type parameter in cli help"
Help section in riot 2.1.0 CLI still lists coffeescript parser as 'coffeescript', while it's changed to 'coffee' internally.

[2015-05-22 12:37] lijunle opened #767 "Re-use server-side rendered HTML on client-side render"
This needs the server-side rendered HTML contains some hash validation information, and after transited to client side, the client Riot validate the hash value. If passed, just re-use the server-side render result, and do not need to re-render it again.

This can reduce client side render time efficiently if the document is large.

React has such feature: [`React.renderToString`](https://facebook.

[2015-05-22 15:12] erandros commented on #758
Thanks, good idea! Are there any plans to have a client side only mount?

[2015-05-22 18:27] nnjpp commented on #583
@GianlucaGuarini I looked into this, and it's happening because of https://github.com/muut/riotjs/blob/master/riot.js#L708

The replaceYield fn is returning the correct value, but setting innerHTML is causing IE9 issues. I will see if I can find a solution for this, but thought I'd let you know in the meantime

[2015-05-22 18:59] gjohnson352 opened #768 "Try, catch compiling incorrectly?"
I'm working on a websocket implementation for a component, and trying implement a try/catch a function. But I get a runtime error because the compiler appears to be confused with what to do with catch. Is this just infeasible and I need to look at a different way in?

Gist here for the code snippet (includes both raw code and the compiled result).
https://gist.github.com/gjohnson352/a641ee372c844a

[2015-05-22 23:17] rsbondi commented on #768
#667 looks like a similar issue, fixed in 2.1.0, is this the version you are using?

[2015-05-22 23:19] AndreasHeintze commented on #763
No, you are right. That is definitely wrong.

[2015-05-22 23:39] gjohnson352 commented on #768
Thanks for the response. I am using 2.1.0, unfortunately.

[2015-05-23 01:31] cognitom commented on #768
Oops, you're right. We need to add `catch` on this line.
https://github.com/muut/riotjs/blob/master/lib/shared/compiler.js#L116

[2015-05-23 07:24] tomeraz opened #770 "How do I use Mixins feature to create an overlay mixin?"
Like this one:
[React Bootstrap Modal](http://react-bootstrap.github.io/components.html#modals)
which is based on
[OverlayMixin?](https://github.com/react-bootstrap/react-bootstrap/blob/v0.11.1/src/OverlayMixin.js)

[2015-05-23 08:21] nippur72 opened #771 "Make riot elements work as ES6 classes"
This is a question/suggestion:

I wonder if it's possible to tweak riot so that elements are not just plain javascript objects, but full es6 classes, something like this:
[code]

[2015-05-23 08:25] GianlucaGuarini commented on #771
Are you sure this does not work already?

[2015-05-23 08:31] GianlucaGuarini commented on #764
It looks like a bug, for now just use it in this way http://jsfiddle.net/gianlucaguarini/rg2xzvm8/3/

[2015-05-23 08:33] GianlucaGuarini commented on #762
Have you tried checking your code here http://cognitom.github.io/riot-checker/ ?

[2015-05-23 10:28] cognitom commented on #762
@somecallmechief could you show it on jsfiddle?

[2015-05-23 11:46] marciojcoelho commented on #583
I will see that right now

[2015-05-23 14:40] timzaak commented on #543
I also use coffee,
each ="{key,items in obj}"   is wrong

[2015-05-23 14:44] txchen commented on #757
Just tried again, and seems the behavior is not changed.
Maybe it was because it was due to firebase data object.

Anyway, the fiddle here does not show the issue correctly. Close this issue.

[2015-05-23 14:44] #757 closed

[2015-05-23 14:51] nippur72 commented on #771
pretty sure, there are several issues I tried to overcome with ugly hacks and in the end they were too complex.

If you come up with a solution it would be very welcome.

[2015-05-23 16:03] GianlucaGuarini commented on #514
it issue can be closed for now thanks to the @cognitom contribute

[2015-05-23 16:03] #514 closed

[2015-05-23 16:04] GianlucaGuarini commented on #449
this should be fixed with riot 2.1.0

[2015-05-23 16:04] #449 closed

[2015-05-23 16:12] GianlucaGuarini opened #773 "Riot next"
Bugs:
 - [x] https://github.com/muut/riotjs/issues/766
 - [x] https://github.com/muut/riotjs/issues/764
 - [ ] ~~https://github.com/riot/riot/issues/810~~ in the next release
 - [ ] ~~https://github.com/riot/riot/issues/334~~ in the next release
 - [x] https://github.com/riot/riot/issues/809
 - [x] https://github.com/muut/riotjs/issues/700
 - [x] https://github.com/muut/riotjs/issues/484 ( probabl

[2015-05-23 16:42] GianlucaGuarini commented on #771
@nippur72 this should be enough http://codepen.io/GianlucaGuarini/pen/gpwJaQ?editors=101

[2015-05-23 16:42] #771 closed

[2015-05-23 16:46] #494 closed

[2015-05-23 19:42] mingodad opened #774 "Long documentation pages should have a "Go Top""
Hello !

First of all thanks for this great project !

I'm starting to learn riot and reading the documentation I noticed that at the bottom of the page there is no link to "Go Top" and is a bit annoying the long scroll up to be able to select the next topic on the documentation.

Would be nice if all long pages have a link "Go Top" or another way to go straight way to the documentation links to s

[2015-05-23 20:21] nippur72 commented on #771
@GianlucaGuarini good but yet not optimal because `this.el` is somewhat clumsy.

Anyway I've worked on your idea and ended with [this solution](http://codepen.io/anon/pen/KpgjPm?editors=101) that satisfies me enough. It's intended to work with TypeScript.

There is a registration helper function that copies the prototype into riot's API object and applies constructor over it.

If it proves to work

[2015-05-23 21:55] mingodad commented on #774
Sorry !
Now I could see that there is a "Back To Top" on the floating top of the page, I was expecting it at the end of the page.

[2015-05-24 13:49] mr-moon opened #776 "Feature: Please release TypeScript definitions for riot."
Existing definitions are incomplete: https://github.com/borisyankov/DefinitelyTyped/blob/master/riotjs/riotjs.d.ts

Would be awesome to get TypeScript compiler be aware of riot

[2015-05-24 16:47] nippur72 commented on #776
I've just written a TypeScript implementation for Riot which uses true classes as wrapper for elements.

It's a little different from plain Riot, because there are no `.tag` files, all is within the class.

Check it here: [RiotTS](https://github.com/nippur72/RiotTS)

[2015-05-24 21:11] k33g opened #778 "I can't put custom tag inside <tr></tr>, render doesn't work"
[code]

[code]

[code]

[2015-05-24 22:04] crisward opened #779 "class shorthand coffeescript"
[code]
Using coffeescript compiler this get converted to

[code]

Which doesn't work. Any ideas?

BTW - excellent work so far. New to Riot, but used react and angular and I think the fact you've done so much with such a small footprint is excellent.

[2015-05-24 22:59] crisward commented on #779
SORRY!

Missed this in the documentations
[code]
So to fix the above, just set expr:false.

[2015-05-24 23:23] #779 closed

[2015-05-25 01:03] rsbondi commented on #778
It will not render because it is invalid html,

try `<tr riot-tag="human-row"...></td>`

http://jsfiddle.net/53tnbmx4/

[2015-05-25 03:41] k33g commented on #778
oh! Thank you very much @rsbondi :smile: you save my day :clap:

[2015-05-25 03:50] k33g commented on #778
it works great (it's a good day for me, than you again) :smile:

[2015-05-25 03:50] #778 closed

[2015-05-25 07:48] nevf opened #780 "Tag.tag[] items not in sync with opts changes."
Whenever I manipulate opts items the Tag.tag[] array is not updated to match, which doesn't seem right to me.

Given:
[code]

If I remove an item from ```this.opts.items``` or replace it ```this.opts.items = [ { title: 'Third' }, { title: 'Fourth' } ]``` then ```this.tags["todo.item"]``` is not updated to reflect these changes.

In the case of remove ```this.tags["todo.item"]``` is unchanged and i

[2015-05-25 12:59] gregorypratt commented on #427
I've created an organisation for Riot Components that you might be interested in. I've called it **RiotGear**.

I plan to build more components and keep it updated and hopefully turn it into a popular goto place for custom Riot tags.

I'm in the middle of building components and building the website. The components need tests and the website needs a refactor, but it's taking shape.

Repos: https:/

[2015-05-25 13:02] GianlucaGuarini commented on #427
@gregorypratt RiotGear looks an awesome project send us a pull request adding a link to it on our readme file once you are done

[2015-05-25 15:37] Avnerus commented on #334
+1 for finding a solution to the mount/unmount on ```if``` conditions. For example, we have JQuery code that should run only once and only when the elements are actually displayed. The most intuitive way would be to run it on ```mount```, but with the current flow, it runs even when the elements are not displayed which causes issues.

[2015-05-25 16:34] nippur72 opened #781 "Support shadow DOM"
For maximum component re-usability, what about using the shadow DOM technology, in order to avoid conflicts (id, names, CSS...) with existing DOM elements?

What about it? Is it hard to implement at this point?

[2015-05-25 20:39] AndreasHeintze commented on #334
I'm still working on it although I have had a little less time over to fix it. I had to turn around the mounting to make it work. That is instead of as it is now, where the children is mounted before the parent by the toggle function I have turned it around and updating the expressions on the parent first, then the children. It's because I need to know if the if-expressions on the parent turned ou

[2015-05-25 21:18] Avnerus commented on #334
I encountered a weird problem with the opts not being transferred well to a tag that follows an ```each``` loop. A workaround was to wrap the loop in a ```<div>```. I will try to recreate that and open an issue.
About the mount order, maybe it's possible to just propagate the parent's  ```if``` expression's result  to the children so they can test it before mounting?

[2015-05-26 04:58] AndreasHeintze commented on #334
That is what I'm doing. I write a dom reference to each tag that points to it's closest dom-parent that has an if-expression and I do set a var (removed) on that dom-element if the result of the if-expression is false. Then in update function I do a check of to see if removed is set on that element, if it is, I just do a return.

[2015-05-26 10:10] Avnerus opened #782 "Bug in server side rendering - custom tags that follow 'each' loops accidentally get included in the loop"
Hi,
This sounds a bit complicated, but I was able to reproduce it in my riot-isomorphic example.
I've created a branch for that here:
https://github.com/ListnPlay/riot-isomorphic/tree/each-bug
It seems that if an ```each``` loop is followed by a custom tag, the custom tag somehow gets included into the loop processing and gets mounted once for each item in the loop (**Even though the loop tag was

[2015-05-26 14:51] gregorypratt opened #783 "Animation Keyframes in Scoped CSS"
The following **scoped** CSS:

    @keyframes fade {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }

Get transformed into:

    @keyframes fade {
      my-tag from {
        opacity: 1;
      }
      my-tag to {
        opacity: 0;
      }
    }

Which obviously breaks the keyframes standard. Work around is to manual scope all the CSS but this is an exception

[2015-05-26 17:18] crisward commented on #773
Features/Enhancements

Ability to target attributes, not just tags (eg. like Angular directives). This could make composing behaviours possible. ie

[code]

At the moment this is achievable by wrapping, but this adds extra tags which can have issues with styling. Angular uses a priority to determine the running or of these added features, but the attribute order would probably be enough.

[code]

[2015-05-26 22:22] simoami opened #784 "The shorthand syntax for class names doesn't support parentheses"
Here's an example:
[code]

See proof here: https://jsfiddle.net/u00ktke2/2/

[2015-05-27 01:26] cognitom commented on #783
Hi @gregorypratt! Thanks for reporting. I've just sent PR about this. #785

[2015-05-27 06:11] tilleps opened #786 "Browser riot.compile(): Boolean attributes not working according to documentation"
Boolean attributes don't appear to be working as stated in the docs: https://muut.com/riotjs/guide/#boolean-attributes

JSFiddle: https://jsfiddle.net/7cv4m4k9/

HTML:
[code]

Javascript:
[code]

Intended result:
[code]

Actual result:
[code]

However it does appear to work if the attribute is changed to "__attribute", as seen in some riotjs demos.

[2015-05-27 06:55] cognitom commented on #786
Hi. Are you using `riot.tag()` directly? If so, the compilation is needed to work with boolean attr, I think.

[2015-05-27 07:25] gregorypratt commented on #783
Will that fix other keyframe settings like percentages too? e.g.

    @keyframes identifier {
      0% { top: 0; left: 0; }
      30% { top: 50px; }
      68%, 72% { left: 50px; }
      100% { top: 100px; left: 100%; }
    }

[2015-05-27 07:26] tipiirai commented on #427
Nice! I'm sure that will be useful once you get all those components finished. Looks like you have some decent amount of work ahead :)

[2015-05-27 07:31] tilleps commented on #786
Yes, I am using `riot.tag()`

I also tried compiling using `riot.compile()` from the docs https://muut.com/riotjs/api/#riot-compile-tag-true-, but does not work.

https://jsfiddle.net/7cv4m4k9/2/

Javascript:
[code]

So after a bit of digging through the docs, I found the part about tags not allowing the advantages of the compiler: https://muut.com/riotjs/api/#tag.  However from my understanding,

[2015-05-27 07:34] cognitom commented on #783
Oops, not yet.

- `from`
- `to`
- `/%$/`

Are there any others?

[2015-05-27 07:38] gregorypratt commented on #783
I don't think so - taken from MDN Docs

[code]

**identifier**
A name identifying the keyframe list. This must match the identifier production in CSS syntax.
**from**
A starting offset of 0%.
**to**
An ending offset of 100%.
**percentage**
A percentage of the time through the animation sequence at which the specified keyframe should occur.

[2015-05-27 07:48] cognitom commented on #786
It works.
http://jsfiddle.net/cognitom/t11zx4bp/

[2015-05-27 08:06] cognitom commented on #786
@tilleps you may want to use `riot.html()`, but it's available only on the server.
https://github.com/muut/riotjs/blob/dev/lib/server/compiler.js

[2015-05-27 08:12] cognitom commented on #783
Thanks. We don't have to care the <identifier>. Then, it looks OK.
How about out of `@keyframes`?

[2015-05-27 11:20] gregorypratt commented on #427
Thanks for the positive feedback!

It's definitely a decent amount of work but Riot makes it quicker than I expected.

So far I have:
- Alert
- Bubble
- Loading
- Modal
- Tabs
- Toast
- Toggle

On the to do list:
- Breadcrumbs
- Carousel
- Markdown
- Pagination
- Sidebar
- Slideshow

Plus the install/example/about documentation.

If anyone has any requests raise an issue: https://github.com/RiotGe

[2015-05-27 15:24] cognitom commented on #773
@crisward how about [mixin](https://muut.com/riotjs/guide/#mixins) for your purpose?

[2015-05-27 18:34] oswaldomilet opened #787 "Bootstrap tooltip"
Can't make Bootstrap tooltip work properly inside tag...

http://plnkr.co/edit/jsh4wLVknDlhL9IwQFwV?p=preview

[2015-05-27 18:52] crisward commented on #773
It could be done with a mixins, but it would be good to be able to compose components without having to modify either of them. It just adds another level of flexibility. When using angular almost all of the components (directives) I created used attributes.

Combining them in this way meant they could be programmed to do very specific tasks. eg. I create a file interface which allowed files to be

[2015-05-27 19:13] bholtbholt commented on #568
+ 1

Would be nice to be able to use `opts` variables on the parent element the same as being able to use them on child element.

    # Currently doesn't work
    <my-item id="{ opts.id }">
      ...
    </my-item>

    # Does work
    <my-item>
      <p id="{ opts.id }">
        ...
      </p>
    </my-item>

[2015-05-27 19:16] bholtbholt opened #788 "Can't add opts variables to top/parent element"
When mounting a component and declaring a variable I can use the variable anywhere except for the parent element.

    # Currently doesn't work
    <my-item id="{ opts.id }">
      ...
    </my-item>

    # Does work
    <my-item>
      <p id="{ opts.id }">
        ...
      </p>
    </my-item>

Should be able to use variables anywhere in the .tag file.

[2015-05-27 19:59] GianlucaGuarini commented on #788
duplicate of https://github.com/muut/riotjs/issues/568

[2015-05-27 19:59] #788 closed

[2015-05-27 20:03] GianlucaGuarini commented on #773
@cognitom @crisward I would do it with a mixin as well It takes no time

[2015-05-27 20:07] GianlucaGuarini commented on #786
@tilleps please check the doc https://muut.com/riotjs/api/#tag

[2015-05-27 20:09] GianlucaGuarini commented on #787
You can not bind jquery to elements that are not yet in the DOM, you should wait the mount event http://plnkr.co/edit/B8u2XKJiqW9vHptPpyTO?p=preview

[2015-05-27 20:09] #787 closed

[2015-05-27 21:19] tilleps commented on #786
@GianlucaGuarini As stated in a previous post, I have read that part of the docs.  The issue now is that the browser `riot.compile()` does not "compile" the boolean attributes, for example:

https://jsfiddle.net/7cv4m4k9/2/
[code]

Is this something that just cannot do with `riot.tag()` even with `riot.compile()`?

[2015-05-27 22:13] GianlucaGuarini commented on #786
Ok now I know what you mean, It looks like a bug, even if there no reason someone should ever do that. Why do you need this? Just curious

[2015-05-27 23:32] cognitom commented on #786
In this case `riot.compile('<input type="checkbox" checked="{isChecked}" />'` doesn't make sense. Is my understanding correct?

- `riot.compile()` : compile the entire custom tag
- `riot.html()` : compile the html part of the custom tag

[2015-05-28 01:28] tilleps commented on #786
I would like to load/create tags from strings and not have to define the tag within the string:

My initial thought process was that

[code]

would be the same as:
[code]

Being able to compile from a string would allow the tags to be stored/loaded from different sources and/or loaded at a later time.

In terms of workflow, creating the markup can be kept separate and not have to worry about tag n

[2015-05-28 06:08] tipiirai commented on #427
Nice to hear. Looking forward to that.

[2015-05-28 06:36] cognitom commented on #786
Check this example. `riot.compile()` is not what you mean.
http://jsfiddle.net/cognitom/7sp2386p/

Have you checked `riot-tag` attribute? When you just want to avoid custom tag, its helpful.
https://muut.com/riotjs/guide/#riot-tag

I haven't experienced such a situation yet, but we would need `namespace` mechanism in the near future.

[2015-05-28 08:45] cognitom commented on #783
I've checked the all at-rules. It seems OK, at least this time.
https://developer.mozilla.org/en-US/docs/Web/CSS/At-rule
I'll send PR soon again.

[2015-05-28 13:38] phstc commented on #425
Is there a way to pass an array to a tag prop when calling it outside a riot context?

i.e.

[code]

But this resulted in a string value on the tag side instead of an array.

[code]

The workaround I did was:

[code]

[code]

The same question applies for a JSON object, i.e. `<my-tag dataProp="<%= object.to_json %>" />`.

Any ideas?

[2015-05-28 13:56] cognitom commented on #425
Hi @phstc, you mean passing values from RoR or something?

Another workaround is here. But I don't like mix with other template tags like `<% %>`.

[code]

I prefer this `require` pattern or async loading.

[code]

[2015-05-28 14:37] oswaldomilet opened #790 ""if" with "each" bring wrong array order"
I have a situation which can't reproduce in plunker.

In same tag I have this code with 2 divs:

[code]

However, ```<div>```'s results are different:
[9]  [8]  [7]  [6]  [5]  [4]  [3]  [2]  [1]  [0]
[0]  [1]  [2]  [3]  [4]  [5]  [6]  [7]  [8]  [9]

I have no Idea why it's happening, but I need the first div returns "[0]" as the first index

[2015-05-28 14:43] oswaldomilet commented on #787
Thanks, I saw it worked in plunker, but didn't in my project. I tried to put ```.tooltip()```in ```mount```and other places, but a not styled tooltip appears :(

[2015-05-28 14:44] phstc commented on #425
Hi @cognitom

Yes, Rails. But I believe the question also applies for any other template language.

I like your first approach for my use case, because I don't want to make a second request, as I have the data already loaded in the template.

I can probably try to extract it to a helper (Rails) to do something similar to the `react_component` helper.

[code]

I'm just wondering if this will mount

[2015-05-29 00:28] nevf commented on #552
I agree with @beders How can we use require.js with the compiler. If I add ```define( ['moda'], function( moda ){ ... })``` inside the ```<script>``` tag in the .tag file the compiler adds ```.bind( this )``` and breaks the js code.

[2015-05-29 04:12] AndreasHeintze commented on #790
Can't reproduce it.
http://jsfiddle.net/AndreasHeintze/bruv6ctp/

[2015-05-29 06:17] tipiirai commented on #425
Perhaps just:
[code]

[2015-05-29 11:45] phstc commented on #425
`JSON.parse` or `split` and `join` are kind of the same. I was wondering if there was something like React that auto parses an array when the prop is defined as an array.

[2015-05-29 12:58] oswaldomilet commented on #790
Yeah, i know. I tried to reproduce it too and no success in plunker.

I switched from ``ìf```to ```show```and everything (except performance) is ok now.

[2015-05-29 13:02] oswaldomilet commented on #790
Talking about performance, it is extremely slow rendering a table with 1000 rows and 6 columns here :(

[2015-05-29 14:17] cognitom commented on #773
BTW, how about #427 ?
With [mixin](https://muut.com/riotjs/guide/#mixins) and [transclusion](https://muut.com/riotjs/guide/#nested-html), now we've got the environment to make third party libraries more easily. I think it's a good time to think it seriously.

[2015-05-29 14:56] rsbondi commented on #773
:+1: to #427

[2015-05-29 15:26] GianlucaGuarini commented on #790
the each feature will be improved in the next release, I am rewriting it please hold on https://github.com/muut/riotjs/issues/773#issuecomment-106822108

[2015-05-29 18:52] rsbondi commented on #780
the _id changes when the tag is created in a loop, it creates in _each and again in parseNamedElements, This only seems to occur when the loop is on a tag and not an element.  I made a hacky fix, setting the id of the one created in each to the id created in parseNamedElements.  Not a good solution, so I did not submit.  Maybe this info will be helpful to someone else who wants to investigate.

[2015-05-29 19:34] nblackburn opened #794 "[Proposal] .rjs file extension"
I feel setting a standardized file extension for the riotjs files would be a good move and would create a association to the mime type used by the library.

Currently it seems **.tag** is used but is ambiguous in it's context. I think the **.rjs** extension makes a strong connection to the library and would make a good standard to adopt.

[2015-05-30 00:49] oswaldomilet opened #795 "Bool attribute as string?"
http://plnkr.co/edit/YW1lSiy3J5c6fSdnISmj?p=preview

[code]
Result:
"This is a string, and not bool"

[2015-05-30 01:19] cognitom commented on #795
That was an expected behaviour.
https://muut.com/riotjs/guide/#boolean-attributes

Here's a list of boolean attributes.
https://github.com/muut/riotjs/blob/master/lib/shared/compiler.js#L1-L5

[2015-05-30 01:24] oswaldomilet commented on #795
Ok, thanks.

[2015-05-30 01:24] #795 closed

[2015-05-30 14:21] cognitom commented on #781
Hi. I have a strong interest in WebComponents not only shadow DOM, too. Yesterday, Polymer 1.0 has released. After that I've been feeling the reality of WebComponents more.
https://www.polymer-project.org/1.0/

FYI, Maple is an implementation on react.js. I've been keeping my eyes on that project.
https://github.com/Wildhoney/Maple.js

[2015-05-30 16:57] k33g opened #796 "[Proposal] CoffeeScript and ECMAScript 2015 (online compilation)"
Hello,

with a little update of `riot.parsers`

[code]

we could use CoffeeScript like this and then benefit of colorisation of ide as webstorm (and I think it's more "CoffeeScript" compliant):

[code]
It was possible with the previous version
In the same spirit, we could have this with ECMAScript 2015:

[code]
I can make a PR if you agree.

Regards
Philippe

[2015-05-31 04:26] samuelmesq commented on #794
**.tag** is the most appropriate name, because is a definition for a html tag, right?

[2015-05-31 04:30] samuelmesq commented on #790
@AndreasHeintze you jsfiddle is working here:
![each-if](https://cloud.githubusercontent.com/assets/716032/7900527/9662c678-0734-11e5-92ef-03d5be288c14.JPG)

[2015-05-31 04:46] samuelmesq commented on #744
whenever I see examples like this, I think the best thing to do is not to put the logic in the view.

[2015-05-31 05:43] cognitom commented on #744
I've thought this is a spec. The document says:

Even if it works, you need to avoid sanitising.

[2015-05-31 05:51] simoami commented on #744
Thanks for the update.

I'm very much aware that this type of processing can be delegated to a member function. Just like every starting project, one gets to start somewhere and then improve code during a second iteration of refactoring phase. However, can we admit that this is indeed a limitation of the parsing engine? You can limit your thoughts to the example I gave, but I'm sure someone else w

[2015-05-31 06:05] simoami commented on #744
@cognitom
Thanks for the link. Since this is already mentioned in the guide, this would be a feature enhancement request. It's not so obvious that html tags would cause expressions to be rendered as static text. It took me time to realize what could be wrong with the expression, until I found the root cause.

The feeling I got from using Riot is "It just works!". I'd like for html support in expre

[2015-05-31 06:14] simoami commented on #770
I've used something like this. Maybe you can expand on this to make it a mixin:

[code]

Eventually, I'll have to refactor this code to a more reusable form:

[2015-05-31 10:34] GianlucaGuarini commented on #790
closing this issue for now

[2015-05-31 10:34] #790 closed

[2015-05-31 10:42] tomeraz commented on #770
Thanks!

On Sun, May 31, 2015 at 9:14 AM, Simo Moujami <notifications@github.com>
wrote:

[2015-05-31 10:50] cognitom commented on #783
@GianlucaGuarini thanks for merging again.
@gregorypratt could you check it? I think we can close this issue :)

[2015-05-31 17:30] GianlucaGuarini commented on #484
I think we could close this issue, with the new each.js riot gets much faster than react, check yourself http://jsfiddle.net/gianlucaguarini/cbjuek58/
If you want to test it you can pull the dev branch

[2015-05-31 17:32] GianlucaGuarini commented on #773
@rsbondi @cognitom @tipiirai I have refactored the riot each making it superfast and I have merged it into the `dev` branch. Please check if everything works smooth also on your side

[2015-05-31 17:48] GianlucaGuarini commented on #773
Memory test riot 2.1.0
[code]

riot `dev` branch
[code]
:smiley_cat:

[2015-05-31 20:38] pakastin commented on #484
I think so too, great work! In many cases keeping it simple means faster results. Only with complex reordering situations you might get speed benefits, if grouping and moving smallest groups etc. I am using similar reordering right now with frzr as well and it seems to work really well also.

And in real life you won't be reordering 10 000 items.

Case closed! ;)

[2015-05-31 22:17] cognitom commented on #484
Great!!
4 times faster than the first react example in my environment.

[2015-06-01 08:02] tipiirai commented on #773
WTF! Pretty massive improvement indeed.

And the [each.js] still looks clean. I love this.

Looking at the code... I believe the trick was to batch DOM operations?

[2015-06-01 08:56] tipiirai commented on #484
About 5 times faster on my laptop. So glad!

I need to write about this somewhere.

[2015-06-01 11:51] Avnerus commented on #773
Would love https://github.com/muut/riotjs/issues/334 to be included in the next release.
Speed enhancement looks awesome!

[2015-06-01 12:15] Avnerus commented on #334
So actually why isn't is possible to reverse the order and have each parent control the construction/destruction of its children instead of keeping a reference?

[2015-06-01 12:31] tipiirai commented on #794
I like `.rjs`. Makes a clear connection to Riot.

I think we should switch to that by deprecating `tag` and leave it out on a later (major) release.

[2015-06-01 12:33] tipiirai commented on #784
The goal is to keep the expressions as simple as possible and move the logic to the JS part of the tag definition.

But yeah.. this is a bug. Thanks

[2015-06-01 12:44] tipiirai commented on #781
Not sure if this is worth the effort. Shadow DOM is so [poorly supported](http://caniuse.com/#feat=shadowdom) so you need to avoid name conflicts in any case. I'm sure this would need an excessive amount of polyfills and hacks resulting to a large codebase and worse performance.

Originally Riot wasn't designed to mimic Web Components. It was designed to offer an enjoyable (and minimalistic) synta

[2015-06-01 12:47] tipiirai commented on #782
@speier any chance to have a look at this? Thanks!

[2015-06-01 12:49] geordee commented on #794
I use <code>.html</code> extension with a <script>...</script> tag in it, and compile it using <code>riotify --ext html</code>.

It helps to connect with the tag file as a simple HTML partial, contained in a custom tag with some template strings. And of course code highlighting too. This kind of approachability is one of the things that holds me back with Riot, though I probably miss a few differe

[2015-06-01 13:04] cognitom commented on #781
@tipiirai exactly, that's why I love Riot and I've chosen it instead of Polymer. But I just want to know that the other browsers would move toward to Web Components or not after this Google.io.

[2015-06-01 13:33] tipiirai commented on #766
Updated the website as well. Thanks!

[2015-06-01 13:33] #766 closed

[2015-06-01 13:35] oswaldomilet opened #797 "char code 13 in textarea (only IE)"
When serializing a ```<textarea>``` text using ```jQuery.serialize()```some characters were lost. After hours I realized that it's only a IE problem with carriage return in text (char code 13).

I made 2 plunkers:
[Plunker 1 (using Riot)](http://plnkr.co/edit/uoWw8qBWREwgbfqmCU6G?p=preview)
[Plunker 2 (without Riot)](http://plnkr.co/edit/IQernmvylkvMgcqol6rh?p=preview)

When text come from server,

[2015-06-01 13:38] tipiirai commented on #774
Yeah. It's there, but probably not on the most obvious place.

Closing this anyway.

Thanks.

[2015-06-01 13:38] #774 closed

[2015-06-01 13:42] tipiirai commented on #752
Riot and React are similar on this aspect. First you [define](https://muut.com/riotjs/guide/) the tag and then [mount](https://muut.com/riotjs/guide/#mounting) it on the page as many times as you please with different data.

[2015-06-01 13:42] #752 closed

[2015-06-01 13:46] tipiirai commented on #770
@simoami thank you for the help!

[2015-06-01 13:46] #770 closed

[2015-06-01 13:52] tipiirai commented on #725
This is a bug that will be fixed. Be it classic parser or not. I'm sure the parser can stay lean even with a "full" parser. Just need to do it.

[2015-06-01 13:57] cognitom commented on #794
Is there any possibility to provide a `strict mode` for `tag` files? Currently, we can write JavaScript code outside the tag definition. I know it's useful when to use `import xxx from 'somthing'`, but It's a kind of nightmare to make a syntax-highlighter / parser of it. I'm guessing the `strict mode`:

- Just like HTML5
- No code outside the tag
- Need `<script>` for constructor
- Allow extended

[2015-06-01 19:00] GianlucaGuarini commented on #773
@tipiirai I had to rethink the way each was build, it was over complicated and not really intuitive/performant. I've rebuild it following the most natural ( and logic ) approach to render any child tag inside a loop and voilá now it's superfast and smaller

[2015-06-01 19:01] GianlucaGuarini commented on #773
@Avnerus the https://github.com/muut/riotjs/issues/334 to me doesn't seem really a bug, it will be fixed probably in the next releases, but now it's not on the top of my TODO list

[2015-06-01 19:07] GianlucaGuarini commented on #773
@tipiirai what do you think if we move riotjs away from muut in its own `riotjs` github organization? In this way we could release several tools all related to riotjs:

- riot-cli for the command line compiler
- compiler just the riot compiler
- riot the whole browser library
- riot-router html5 router
- riot-project-bootstrap
- riot-yeoman-generator
- riotify
- riot-parsers

[2015-06-01 19:43] GianlucaGuarini commented on #764
fixed thanks

[2015-06-01 19:43] #764 closed

[2015-06-02 00:23] Avnerus commented on #334
@GianlucaGuarini Thought I would answer here to what you wrote on https://github.com/muut/riotjs/issues/773.
The reason I considered it a bug is because I understood from the documentation that when a tag's ```mount``` event is fired, you can rely on the tag's html being in the page so you can run JQuery etc. But that is not the case with ```if``` statements. ```mount``` is triggered but the html

[2015-06-02 05:35] tipiirai commented on #773
Should be no issue. I'll check my colleagues.

[2015-06-02 06:18] AndreasHeintze commented on #334
I agree with @Avnerus here, that it feels more logical if the mount event are fired when the tag is actually mounted in the dom and the unmount event should be fired when it's removed from the dom.

[2015-06-02 08:07] cfenzo commented on #334
I agree with the points made by @luffs , @jenmontes , @Avnerus and @AndreasHeintze  here..

Usually, an `if`-block dictates *"if true: do this, if false: do not execute/touch"*.
(And in other frameworks this includes adding/removing (mounting/unmounting and initializing) custom-tags inside the block).
Experiencing this to not be the case with riot was why I asked for a clarification on how the lif

[2015-06-02 09:21] pakastin commented on #334
I think events should be something like this:

init : new item
mount : added to DOM
update : render update
updated : render updated
unmount : removed from DOM
destroy : removed item

[2015-06-02 09:25] geordee commented on #334
mounted and unmounted?

[2015-06-02 09:29] pakastin commented on #334
Yes, actually:
mount : mounting to DOM
mounted : mounted to DOM
unmount : unmounting from DOM
unmounted : unmounted from DOM

Some things need to do before mounting and some things after, so would make sense..

[2015-06-02 10:00] speier commented on #782
@tipiirai sure, i can take a look into this.

[2015-06-02 10:54] speier commented on #782
@tipiirai @Avnerus just tested with the latest dev branch i got the following..

**Tag**:

[code]

**Output**:

[code]

i don't see any `undefined`, is that correct?

[2015-06-02 11:12] Avnerus commented on #782
Hi @speier
The tag gets rendered fine eventually because of the 4th call, but check the server log. The problem are the 3 extra calls for the tag with empty ```opts```. I you would try to do something with ```opts.message```, the server side rendering would crash.

[2015-06-02 11:25] speier commented on #782
@Avnerus where is your `Init test tag with opts ...` log entires coming from?
trying to reproduce the bug with plain riot not your app.

[2015-06-02 11:54] Avnerus commented on #782
@here https://github.com/muut/riotjs/issues/773#issuecomment-107672186

[2015-06-02 13:36] speier commented on #782
@Avnerus what you mean by that comment? sorry i don't really get it.. :/

[2015-06-02 13:37] Avnerus commented on #782
@speier Sorry it was a wrong paste! I edited it
https://github.com/ListnPlay/riot-isomorphic/blob/each-bug/src/app/components/test.js#L18

[2015-06-02 15:06] speier commented on #782
@Avnerus, @tipiirai i've added a test, trying to reproduce, no luck yet
https://github.com/speier/riotjs/blob/dev/test/specs/node.js#L58

[2015-06-02 15:30] Avnerus commented on #782
@speier your're missing the ```<test>``` tag which is the actual tag that gets mounted too many times.
add ```test.tag``` to the ```riotjs/test/tag``` folder.
Define it like so:
[code]
Also I I believe the tag gets rendered fine eventually. The problem is that the tag gets initialized 4 times instead of 1, and 3 times with no opts.

[2015-06-02 15:46] speier commented on #782
aah ok, sorry i missed the 'test' tag, i will take a look..

[2015-06-02 21:42] tilleps commented on #786
@cognitom Yes, you are correct.  I was missing the custom tag wrapper for `riot.compile()` to work.  As for the `riot tag` attribute, it helps, but that markup can't be reused for other tags.  I guess I'll just have to wait for the namespacing.

[2015-06-02 21:42] #786 closed

[2015-06-02 22:11] tilleps commented on #276
I agree with @timoxley

+1 on keeping `riot.tag()`

@tipiirai how about `riot-is-checked` / `riot-is-required` / `riot-is-*` instead of ? or __

[2015-06-03 00:50] iamliqiang commented on #773
awesome works

发送自我的HTC Phone

----- Reply message -----
发件人： "Tero Piirainen" <notifications@github.com>
收件人： "muut/riotjs" <riotjs@noreply.github.com>
主题： [riotjs] Riot next (#773)
日期： 周二, 6月 2 日, 2015 年 13:35

Should be no issue. I'll check my colleagues.

&mdash;
Reply to this email directly or view it on GitHub.

[2015-06-03 06:03] tipiirai commented on #773
@GianlucaGuarini so we can go ahead and setup the organization. I'll first try to claim the [riot](https://github.com/riot) name for ourselves. I think "riot" is better than "riotjs". Would match the npm module name as well.

[2015-06-03 06:14] cognitom commented on #773
Cool! :+1: for the new organization!

[2015-06-03 06:15] GianlucaGuarini commented on #773
@tipiirai awesome, you can send a mail to https://github.com/contact to free the domain if it's not used. Let me know if you need anything else

[2015-06-03 07:33] tipiirai commented on #773
Contacted them. Just need to wait for the reply

[2015-06-03 10:26] pakastin commented on #484
React is actually even slower than Angular:
http://blog.500tech.com/is-reactjs-fast/
(notice: if Angular is used correctly with ngRepeat + "track by")

I don't understand where this "React is superfast" argument comes from. It is not that fast really. Facebook just (falsely) claim it is.

[2015-06-03 10:34] tipiirai commented on #773
It's ours now! https://github.com/orgs/riot/

@GianlucaGuarini: Just sent you an invitation (owner rights). Let me know if you want any more rights to somewhere.

[2015-06-03 10:47] geordee commented on #773
I see this as a significant milestone. Congratulations!

[2015-06-03 10:47] paldepind commented on #484
@pakastin React is far from fast. It is one of the slowest virtual DOM libraries. [Check out the VDOM benchmark](http://vdom-benchmark.github.io/vdom-benchmark/). It is really easy to create a virtual DOM library that is faster than React. My virtual DOM library [Snabbdom](https://github.com/paldepind/snabbdom) is among the fastest in the VDOM benchmarks.

[2015-06-03 10:50] cfenzo commented on #773
Congratulations! :D

[2015-06-03 10:51] tipiirai commented on #276
I prefer "?" myself. The `-is-` notation sounds like an overkill for all the 45+ boolean attribute.

[2015-06-03 10:53] geordee commented on #484
Not everyone is attracted by performance of VDOM alone. That would be just one small part of an app. Today in my mobile app, I am more bothered about repaints and reflows.

[2015-06-03 11:34] tilleps commented on #276
Not sure why it's considered overkill, as it would be (relatively) consistent with `riot-src` / `riot-style` / `riot-tag`.  It just feels more intuitive/consistent to me.

While I understand that markup validation doesn't really matter these days, but I personally would prefer it to be `data-is-*` / configurable, as it is the only thing is keeping my riotjs markup from being validated.

Also if I'

[2015-06-03 13:54] simonvizzini commented on #688
I'm currently evaluating UI frameworks/libraries with focus on high performant UI updates, and since it seems there is no riot.js dbmonster demo yet I decided to create one. Now the thing is that my riot.js dbmonster demo is awfully slow, and I guess this could be due to how I update the data. I have to mention that this is the first time I'm actually working with riot.js (have planned to try out

[2015-06-03 15:16] oswaldomilet opened #799 "How can jQuery.clone() copy tag events?"
I'm using jQuery.clone() to clone the first column of a table and place it over the original table (to freeze column).

The original table have some buttons inside the first column ```<td>```s (in all rows using ```foreach```) with ```onclick``` event calling a Riot tag function. When the table is copied, the new table buttons lost the event handlers.

How can I copy the event handlers or make new

[2015-06-03 15:25] oswaldomilet commented on #797
For now I solved this removing all carriage returns from my textbox before the tag be mounted

[2015-06-03 15:45] oswaldomilet commented on #773
Is there any route map to the new version with this nice performance optimizations? Congratulations!

[2015-06-03 19:16] simonvizzini commented on #484
Hey guys, I'm currently researching all the different UI frameworks out there and am specifically looking for something insanely fast that can handle a high amount of UI updates. I quickly came across the dbmonster demos, and since I couldn't find one for RiotJS I simply forked the ractive.js dbmonster demo and replaced it with riot.js. Swapping them was pretty straightforward, since this a rather

[2015-06-04 00:10] emehrkay commented on #799
Id say write better markup. Include the "clone" in your original markup, but only show it when necessary.

I haven't done any cloning of elements, but I did move them around the dom with no problem. So that might be a possible solution.

[2015-06-04 01:21] oswaldomilet commented on #799
@emehrkay Thanks for your suggestion. Actually, my table is too complex to manage code to generate frozen columns in a separate logic. However, I found another way (with css) to freeze columns without the need of clone columns, so I'll close this issue...

[2015-06-04 01:21] #799 closed

[2015-06-04 08:30] iamliqiang commented on #773
congratulation！

发送自我的HTC Phone

----- Reply message -----
发件人： "Oswaldo Freitas" <notifications@github.com>
收件人： "muut/riotjs" <riotjs@noreply.github.com>
抄送： "max" <iamliqiang@gmail.com>
主题： [riotjs] Riot next (#773)
日期： 周三, 6月 3 日, 2015 年 23:45

Is there any route map to the new version with this nice performance optimizations? Congratulations!

&mdash;
Reply to this email directly or view it o

[2015-06-04 08:44] GianlucaGuarini commented on #773
@tipiirai will you do the migration of riot to the new domain, or should I do it for you? Currently I really have no time.. I could check it during the weekend

[2015-06-04 09:23] geordee commented on #773
I have done some quick replacement of muut to riot in docs, package.json and in the license text in the commit below.

https://github.com/geordee/riotjs/commit/8d9af3f061eadd170fc6b0cfb2b3b537712bfe45

The ones I am not sure about are Gitter, CodeClimate, Travis. If those are resolved I will send a separate pull request with the changes.

[2015-06-04 10:36] tipiirai commented on #276
Actually – you are right. I played with various options on my text editor and `riot-is-*` or  `data-is-*` feels best. I think this is the way to go.

Thanks!

[2015-06-04 10:45] tipiirai commented on #484
Please just update your benchmark to use the dev- version. You can copy/paste it from [this jsfiddle](http://jsfiddle.net/gianlucaguarini/cbjuek58/). It uses batching and `documentFragment`. No reason to analyse the performance of the current version since the logic will change soon.

[2015-06-04 10:52] simonvizzini commented on #484
I adapted the benchmark before I discovered this issue, so of course I will
try again with the dev version, I just got caught up in other things but I
will do it this evening and post back.

On Thu, Jun 4, 2015 at 12:45 PM, Tero Piirainen <notifications@github.com>
wrote:

[2015-06-04 10:54] tipiirai commented on #773
Thank you @geordee. I'm just thinking of renaming the repository name to "riot" as well. So the full URL would be `github.com/riot/riot`. Riot logo is also plain "Riot" without the js.

Thoughts?

[2015-06-04 12:05] GianlucaGuarini commented on #773
`github.com/riot/riot` 4 me

[2015-06-04 14:11] geordee commented on #773
That sounds good. I had thought about it and was waiting for you guys. There are a couple of places in the documentation Riotjs is mentioned, which we need to change.

The last place is in the code - in <code>compiler.js</code> and it's associated spec. Probably this has to be done during a major version upgrade.

How about the homepage? Will it be migrated to riot.github.io or riot.js.org? The ex

[2015-06-04 14:19] aMarCruz commented on #276
I think having configurable attributes adds too many overhead to the analyzer. The code becomes slow and complicated. e.g. see the brackets() function that lets you change the delimiters.

[2015-06-04 17:44] beders opened #800 "Documentation clarification"
Apparently, passing data to nested tags using tag attributes has limitations that should be mentioned.
Attribute names are not translated to and from camel-case,
i.e. if you design your custom-tag API, keep in mind that when used embedded, only valid attribute names can be used.

[2015-06-04 19:02] nnjpp opened #802 "CLI compiler: modular flag does not work with implicit output file"
`riot mytag.tag --modular`

Does not produce an amd/commonjs file.

`riot mytag.tag mytag.js --modular` does.

This should either work in both cases, or it should be clarified in docs

[2015-06-04 22:40] #705 closed

[2015-06-05 05:58] rwu823 opened #804 "[question] In deep nest each, how to get root tag self directly without parent.parent.parent..."
[code]

[2015-06-05 06:30] tipiirai commented on #484
Awesome. Looking forward to your findings.

[2015-06-05 06:33] tipiirai commented on #276
There will be no configurable attributes. We'll choose between `riot-is-` prefix or `data-is-` prefix and the compiler just checks for the existence of such attribute.

[2015-06-05 06:48] tipiirai commented on #773
Cool. Will move the repository now and update the links on the website.

Eventually the site will move to https://riotjs.com (the redirection is already there) – but not on this push.

[2015-06-05 07:18] tipiirai commented on #773
Done. Hope everything went good.

[2015-06-05 07:57] GianlucaGuarini commented on #773
@tipiirai awesome man!

[2015-06-05 16:49] webyak commented on #767
I think @AndreasHeintze is working on what you're looking. I don't how far he already is. (See: https://github.com/riot/riot/issues/608#issuecomment-100374856)

[2015-06-05 21:10] josschne opened #806 "Throwing in riot.observable event handler results in handler never being called again"
When a riot.observable event handler throws, the handler's busy bit is set and can never be cleared. This results in the handler never being called again for subsequent event triggers.

Example at:  http://jsfiddle.net/josschne/3se9L3sv/

Suggested fix:
[code]

[2015-06-05 21:32] AndreasHeintze commented on #767
Well, I've paused on it for a while now since I'm working on another Riot problem, but I will continue on it as soon as I can.

[2015-06-05 22:05] tilleps commented on #741
If I understand correctly, I think @oswaldomilet is trying to do an `if` without the wrapping tag/element.  Something like the Handlebars equivalent to: http://handlebarsjs.com/block_helpers.html#conditionals

[code]

[2015-06-06 05:12] leonardorb commented on #469
@rsbondi :clap: :clap:

[2015-06-06 07:13] webyak commented on #767
This would be amazing! I'm currently working on my portfolio and I'm going with Riot for that snappy feeling and minimal DOM updates. With a lot of images I believe just overriding the DOM might cause some flickering. But afterwards I'll try to make Riot tasty for other Designers because there's lot's of potential doing animations and component transitions!

[2015-06-06 14:55] pakastin commented on #773
We should get a free riot.js.org -domain. It's easy, instructions here:
http://dns.js.org

[2015-06-06 15:43] GianlucaGuarini commented on #806
This solution slows down the riot.observable instances. I am not sure we need this in the core. Can't you do the same outside of riot?

[2015-06-06 15:54] GianlucaGuarini commented on #484
@tipiirai @simonvizzini the newest riot with my patch runs at speed of light http://gianlucaguarini.github.io/riotjs-dbmonster/
@simonvizzini thanks for your test

[2015-06-06 15:57] #768 closed

[2015-06-06 20:25] pakastin commented on #773
Just add CNAME file to gh-pages -branch containing "riot.js.org" without quotes, and then make pull request here:
https://github.com/js-org/dns.js.org/blob/master/cnames_active.js

[2015-06-06 22:15] GianlucaGuarini commented on #773
@tipiirai could you please move your build script here? https://github.com/riot/riot.github.io
( we could also move all the riot/doc folder in this repo )

[2015-06-07 02:08] DarwinSenior opened #809 "How to trigger mount event for elements in each?"
So, I tried to initialise leaflet for example. And I found if I did this
[code]
Inside `mapview` tags,
[code]
will not trigger.

Could anyone tell me how this could be potentially fixed?

[2015-06-07 03:47] cognitom commented on #809
I think it should be fired. Do you have jsfiddle? You can fork this.
http://jsfiddle.net/cognitom/wf7bkvur/

[2015-06-07 03:54] DarwinSenior commented on #809
Thanks. I think I probably do not need listen to mount at all. However, what does listen to mount different from statement then?

[2015-06-07 03:57] cognitom commented on #804
How about this pattern? You can access globals directly in `each`.
http://jsfiddle.net/cognitom/o4cfz4pd/

[code]

[2015-06-07 08:46] Avnerus opened #810 "Nested tags created using 'each' are not added to parent's 'tags' property - When there is more than 1 level of nesting"
This bug seems pretty similar  to https://github.com/riot/riot/issues/622, only that while this case works:
[code]

and the ```this.tags['looper']``` property gets populated correctly,
having
[code]

Causes ```<my-tag>``` to lose its reference to ```this.tags['looper']```

I was able to reproduce this here:
http://jsfiddle.net/kuesnt1u/2/

Thanks!

/Avner

[2015-06-07 10:38] GianlucaGuarini commented on #773
The domain http://riot.js.org/ is now available merged with this pull request: https://github.com/js-org/dns.js.org/pull/319
@tipiirai tell me if you need help with the migration. I will add the js.org badge to our repo

[2015-06-07 10:58] GianlucaGuarini commented on #773
I have created several riot "atom" repos ( still empty at moment ) https://github.com/riot
I would like to split the riot core scripts in different npm modules, each with its own tests and documentation. We could then add them as riot dependencies and build riot.js using all (or just some) of them making riot scalable and modular. I think the next riot release will be the last one built using all

[2015-06-07 12:17] Avnerus commented on #809
It seems there is indeed a bug with triggering ```mount``` in ```each``` tags.
But only if ```{items}``` were updated with additional items after the parent mount. Only the additional items do not trigger the ```mount``` event.
In addition it seems the new tags are not added to the parent's ```tags``` property, which relates to the other bug I opened today: https://github.com/riot/riot/issues/810

[2015-06-07 12:22] Avnerus commented on #809
Seems the ```mount``` bug was introduced in riot 2.1 because it works with riot 2.0:
http://jsfiddle.net/ojvase2o/2/
however ```this.tags``` is still problematic in 2.0

[2015-06-07 12:56] cognitom commented on #773
Everything sounds great!
[riotify](https://github.com/jhthorsen/riotify) is ready to move anytime, too. I've confirmed @jhthorsen :v:
https://github.com/jhthorsen/riotify/issues/17

[2015-06-07 13:00] GianlucaGuarini commented on #773
@tipiirai I think we should also consider to add some other contributors to riot, I think maybe @cognitom and @rsbondi could be 2 good candidates

[2015-06-07 13:36] pakastin commented on #484
Btw. this fix doesn't seem to reorder DOM elements anymore, am I right?
That's a breaking change and might cause problems for some. At least for me reordering is a required feature.

I understand it is hard to implement, because you can't define an id-key for loop at the moment – maybe that's something needs to be added.

Maybe like this (Angular.js uses track -parameter):

[code]

What do you thi

[2015-06-07 13:48] GianlucaGuarini commented on #484
@pakastin could you define a use case? Maybe you can open a new issue

[2015-06-07 14:22] pakastin commented on #484
Here's an example:
http://jsfiddle.net/chhn3Lkd/

With your patch:
http://jsfiddle.net/chhn3Lkd/1/

See the difference..?

[2015-06-07 14:26] GianlucaGuarini commented on #484
what's the difference sorry? In the first you move DOM nodes, in the second you update DOM properties

[2015-06-07 14:35] pakastin commented on #484
Yes that is the difference. Code is the same. How would you move the nodes in your version (second link)? That is the issue..

[2015-06-07 14:45] GianlucaGuarini commented on #484
It depends what's a loop for you, for me a loop is data driven, this means that the javascript items change their position and __not the DOM nodes__ that get refreshed with new data. This makes the DOM updates super fast without weird nodes reordering. The current code is also more readable, smaller and more efficient, I don't see any problem right now with that.  @tipiira what do you think?

[2015-06-07 15:18] GianlucaGuarini commented on #809
fixed with https://github.com/riot/riot/commit/71dd0cb5f1ab6df6d47b32a19c3b70e8e02f9e73

[2015-06-07 15:18] #809 closed

[2015-06-07 15:18] GianlucaGuarini commented on #810
I am working on this...

[2015-06-07 15:33] Avnerus commented on #809
Thanks @GianlucaGuarini !

[2015-06-07 15:36] Avnerus commented on #810
@GianlucaGuarini Thank you

[2015-06-07 15:48] simoami opened #811 "Riot is not fully require.js compliant"
There's are 3 issues with require.js compatibility:

1 . In order to be fully require.js compliant, compiled views need to not call `riot.tag()`. remember the riot variable is no longer available in the global namespace.

UPDATE: The riot command has a `-m` flag to generate UMD-compatible views. However, the command doesn't work with directories. See comments below.

2 . This point is with regards

[2015-06-07 16:46] ashleybrener commented on #811
@simoami if you have the ability to precompile, I would suggest:

1. Refer to the [modular](https://muut.com/riotjs/compiler.html#amd-and-commonjs) CLI flag

2. Only require [riot.js](https://raw.githubusercontent.com/riot/riot/master/riot.min.js) since you have already precompiled

3. The riot.js lib is UMD compatible, you shouldn't need to require compiler.js if precompiled.

[2015-06-07 17:43] simoami commented on #811
@ashleybrener Thanks for the cli flag reference. It looks like it's not working. First off, the documentation refers to `--m` and the command says `-m, --modular`. None of these seem to have any effect on the generated output. Also just an fyi, `riot -v` returns an error:

[code]

using v2.1.0

[2015-06-07 18:25] simoami commented on #811
upon code inspection, the --modular flag only works when you specify a single file as output.

[code]

[code]

[code]

[2015-06-07 18:43] rwu823 commented on #804
@cognitom

Thanks, but I think that's not a good way, it leaking a global variable.

[2015-06-07 19:11] leonardorb commented on #452
I'm having issues with this architecture.
Getting `Uncaught RangeError: Maximum call stack size exceeded`.

Am I doing something wrong?

`index.html`

[code]

`app.js`
[code]

`foldertree.js`

[code]

`foldertree.html`

[code]

[2015-06-07 19:23] GianlucaGuarini commented on #452
@leonardorb check http://jsfiddle.net/rvnb1Lzu/

[2015-06-07 19:31] leonardorb commented on #452
@GianlucaGuarini wow. Thanks for the fast reply man.
Yeah, the issue here is not with data (or the simple `each` loop). When I use this without the `requirejs` structure, it works as expected.
If I pass just a simple attr here:

`riot.mount('foldertree', { name: 'Leonardo' });` and in the `foldertree.html` file:

[code]

the `Uncaught RangeError: Maximum call stack size exceeded.` also happens.

[2015-06-07 19:34] GianlucaGuarini commented on #452
make a jsfiddle so I could check it

[2015-06-07 20:28] leonardorb commented on #452
@GianlucaGuarini here you go: http://jsfiddle.net/leonardorb/qu52f0at/

[2015-06-07 20:32] leonardorb commented on #452
One thing that I just realized: I'm defining a module with the same name of my riot tag name.
I changed the `el` name and I have a different behavior now.
http://jsfiddle.net/leonardorb/qu52f0at/1/

[2015-06-07 20:40] leonardorb commented on #811
`+1`

[2015-06-07 20:44] leonardorb commented on #452
@GianlucaGuarini just to simplify the examples, this is a very minimal approach to it:
http://jsfiddle.net/leonardorb/brjv8o3q/

[2015-06-07 22:10] leonardorb commented on #452
So, maybe this can help someone that end up in the same issue.
I was able to integrate `requirejs`, `multiline` and `riot`, like this:

`component_username`:
[code]

`RequireJS` config:
[code]

and the `main` module:
[code]

`jsfiddle`: http://jsfiddle.net/leonardorb/rqefbhbg/

[2015-06-08 05:36] rwu823 commented on #804
same problem with deep nest with tags

[2015-06-08 05:41] cognitom commented on #804
If you use nested tag with transclusion, [here is workaround](https://github.com/cognitom/riot-bootstrap/blob/master/mixins/parent-scope.js), not perfect.
There's [some limitation](https://github.com/cognitom/riot-bootstrap#scope-emulation), but with this mixin, we don't need to write `parent.parent....`.

[2015-06-08 06:39] tipiirai commented on #773
muut.com and muut.com/riotjs are generated with our internal static site generator and not served from riot.github.io – only the demo folder is there. I'll keep the muut.com domain until we switch to a more generic generator (such as jekyll).

Nice. Initially `observable` felt too small for a separate repository, but then started to make sense. So all look good regarding to "atoms".

Sent invitati

[2015-06-08 06:47] GianlucaGuarini commented on #773
Ok so I will work on a simple site generator to load our documentation. @tipiirai Do I need to use jekyll or may I use also http://gohugo.io/? I will use a dummy theme for now, we can customize it later

[2015-06-08 07:13] storynory commented on #765
Yes, I am stuck on this too.  How do you keep tags separate files, and then include them as nested tags?

[2015-06-08 07:20] tipiirai commented on #484
Developer should only worry about the JavaScript items and let the DOM take care of itself without troubling how Riot does it. If the JavaScript items are reordered the DOM nodes should reorder accordingly.

[2015-06-08 07:23] pakastin commented on #484
Think that you have a tree structure, where you render every depth concurrently. If you move a node having a deep structure, then it's easier to render only the DOM reordering, and not removing components in all depths and recreating them in the new place.. (If replacing branch doesn't have equal deep structure). There are lots of other use cases where reordering is needed.

Remember that the loop

[2015-06-08 07:27] GianlucaGuarini commented on #484
The current riot in `dev` branch __does not reorder the DOM nodes__, it just updates their properties, and this makes the updates really fast. @tipiirai please let me know if this is an issue because I need to rewrite the _each.js again otherwise

[2015-06-08 07:28] storynory commented on #765
I think this is the answer.  Try putting var todoitem = require('todoitem')  inside  the top level tag:

<todolist>
  <todoitem></todoitem>
  var todoitem = require('todoitem')
</todolist>

The documentation could do with  some more examples for serverside

[2015-06-08 07:53] simonvizzini commented on #484
@GianlucaGuarini dbmonster with the latest dev version indeed looks much, much better! :) I had a long weekend and no access to a computer at all, so thanks a lot for updating the demo! Performance now looks really promising, great work guys and keep it going!

[2015-06-08 08:17] pakastin commented on #484
We can change the default for now, but we should get "track key" (or similar) parameter soon to fix that..

I can develop the reordering part, but I don't know how to add a new parameter to tag syntax (regexps are not my cup of tea).

[2015-06-08 08:19] pakastin commented on #484
Reordering is not that much slower, the only issue was using indexOf to track moving items, but "track by" parameter would change that.

Your way is a good default and we can go with that for now, but we need reordering as well.

[2015-06-08 08:24] tipiirai commented on #484
@pakastin: using DOM reordering or redrawing all components are both implementation details and we should use whatever works best on a particular situation. Totally makes sense that DOM reordering is fastest with complex structures.

@GianlucaGuarini I think we want that the DOM nodes are also reordered. Really hope this doesn't turn into a massive project with a lot of extra code on the `each.js`

[2015-06-08 08:36] tipiirai commented on #484
Agree with @pakastin, that we can release this version without reordering. This way we can also see how much it is actually needed.

[2015-06-08 08:37] GianlucaGuarini commented on #484
I agree, we need to add this to the release-notes .. and let's see how many complain about that

[2015-06-08 08:51] tipiirai commented on #484
Yup.

btw: just noticed that I *didn't* actually agree with @pakastin :) Just this part:

[2015-06-08 10:23] GianlucaGuarini commented on #484
@tipiirai I thought about it and I decided I could start working in a new branch on the DOM reordering and see how further I could go with it. In the meantime you can still work on the opened bugs https://github.com/riot/riot/issues/773.
What we need to consider is that we have no pressure for a new release soon, so let's wait and see what I could achieve, in the meantime I will reopen this bug

[2015-06-08 10:43] pyros2097 commented on #773
+1 for gohugo

[2015-06-08 11:25] pakastin commented on #484
I can write the DOM reordering (I have it ready actually), but I'd need the "track" property to be added to tag parsing, i.e. like this:
[code]

That's the only way to effectively do the reordering (without indexOf)..

[2015-06-08 11:29] pakastin commented on #484
Of course the need of reordering depends on the situation – I have even some use cases where it is the only way. I agree sometimes it is not needed. That's why the optional "track" property would be perfect.

Angular, React, Ractive, etc all have that also.

[2015-06-08 12:39] tipiirai commented on #773
I'll ask the other guys if the domain switch is also OK. I vote for following:

1. riotjs.com (riot.js.org will redirect to riotjs.com)
2. Keep the current design and the "By Muut" stamp (I think Muut still deserves some credits)
3. Use a JavaScript based generator

There are so many static generators to choose from these days and I haven't used any of the newcomers. With a quick look my preferenc

[2015-06-08 12:48] tipiirai commented on #484
Glad to see you working on this @pakastin.

Instead of an extra `track`, can't you always use hidden DOM property on loops?

[2015-06-08 14:33] pakastin commented on #484
Tracking DOM elements won't help anything. The thing is to be able to reference old and new array items with a key which could be used in lookup table. That's pretty much the only efficient way to reorder elements.

@paldepind said it also:

[2015-06-08 14:37] paldepind commented on #484
I agree. I don't know of a single children reconciliation algorithm that doesn't support optional keys when preserving elements is important.

[2015-06-08 14:51] pakastin commented on #484
@paldepind 's snabbdom has a great example where reordering is helpful:
http://paldepind.github.io/snabbdom/examples/reorder-animation/

Works (almost) like this:
• Check position before removing from DOM
• Animate to new position when added back to DOM

[Here's how it's really done.](https://github.com/paldepind/snabbdom/blob/master/examples/reorder-animation/script.js#L71-L72)
Would be pretty ha

[2015-06-08 15:00] pakastin commented on #484
One good example would be having a social media feed, where you'd want to add new items to the top. Without reordering new elements would replace first items and last items would be added again to the bottom. There are a lot of use cases if you think about it.

[2015-06-08 15:19] goldenice opened #813 "Event handler does not handle yielding very well"
Today I stumbled across the following code that just wouldn't fire the submit-event:

[code]

[code]

The onsubmit-events seems to get stopped by the custom defined <modal> tag, which is very counter intuitive.

Is this desired behaviour, and if yes: what is the work around?

[2015-06-08 17:13] tipiirai commented on #484
Gotcha. Looks like you guys know a think or two about sorting DOM elements. Glad to have you onboard :)

[2015-06-08 17:14] tipiirai commented on #484
§

[2015-06-08 17:51] simoami opened #814 "Internalize the modular option into the core compiler so that it can be used in grunt and gulp wrappers"
The grunt and gulp wrapper utils for riot don't use the cli command. They rather just use the api functions available in riot's core api library. As a result their ability to add support for the `modular` command is made out of reach.

Issue logged here as well: e-jigsaw/gulp-riot/issues/37

[2015-06-08 17:52] simoami commented on #811
Created a related enhancement: #814 to allow grunt and gulp plugins to use the modular option.

[2015-06-08 18:12] tipiirai commented on #794
The "loose" mode is the default, because Riot strives for minimal boilerplate. Despite all the issues with the current compiler I think it's rather trivial to detect when HTML ends and where JS begins (regexp or not). The strict mode makes a lot of sense but I really prefer the loose mode to be the default.

Not knowing the details why strict mode is better for `import xxx from 'somthing'` but I f

[2015-06-08 18:25] tipiirai commented on #427
You made it public! Very cool. Almost closed this issue, haha.

[2015-06-08 18:26] GianlucaGuarini commented on #773
@tipiirai may I ask you some questions regarding things not really clear to me?
- will you take care of the riot site (migration, design, updates, site generator)?
- if yes, should we remove the http://riot.js.org/ domain and the https://github.com/riot/riot.github.io repo?
- if yes should I pull request https://github.com/js-org/dns.js.org asking to remove http://riot.js.org/ from the list?

than

[2015-06-08 19:07] tipiirai commented on #773
I can take care of the website but that's not cool.

I think the website should be publishable by all of the contributors. Right now this is a deployement bottleneck. We should pick a well know static generator and convert the current pages for it.

Ultimately we want a `make website` task (or similar).

I prefer riotjs.com over riot.js.org. Not sure what should be removed or not. Just my personal

[2015-06-08 19:58] GianlucaGuarini commented on #773
Ok so if you agree I will prepare https://github.com/riot/riot.github.io with any of this js site generators. Once I am ready you can hook in the current muut template if you want or we could make a new one.
For the riot.js.org I will pull request again https://github.com/js-org/dns.js.org/pull/319 removing riot js from their dns, and we will be able to use only riotjs.com as main domain.

[2015-06-08 20:07] tipiirai commented on #773
@GianlucaGuarini What is your personal preference for the domain name, static site generator and the deployement flow?

[2015-06-08 20:29] GianlucaGuarini commented on #773
I would like to include all the documentation of the riot atoms as git submodules in https://github.com/riot/riot.github. 4 example the https://github.com/riot/riot.github folders will look something like this

[code]
And I would like to generate the html pages using jekyll that seems to be the more reliable tool right now with a theme like http://getpoole.com/

I like the idea that riot is 100% o

[2015-06-08 20:42] GianlucaGuarini commented on #484
@pakastin are you working on this? I would like to avoid to work in two on the same thing. Will you have time soon for a pull request?

[2015-06-08 23:20] oswaldomilet opened #815 "<textarea> with numeric content throws error"
When ```<textarea>``` has a numeric value (123), this error is thrown...
![image](https://cloud.githubusercontent.com/assets/10772835/8047425/7f8d395e-0e1b-11e5-8142-2add87995a93.png)

...in this code...
[code]

[2015-06-09 01:35] pakastin commented on #484
I would, but I really need to have a tracked key first. Who's done templates' parsing? One should add "track" -parameter there, like I exampled a bit up from here.. I really suck with regexps, so I think it's better to be done by someone else.

[2015-06-09 04:04] tipiirai commented on #773
Yup. Jekyll seems like the most obvious pick. Actively maintained and a tight integration with GitHub.

I also like the idea of having separate documentation for each project and the website glues all them together. I used submodules few years ago and got frustrated. They were complex back then. Maybe the situation has changed. Why submodules instead of npm? Subtrees?

I skimmed trough some of the

[2015-06-09 05:12] tipiirai commented on #484
If possible I actually prefer not to introduce a new attribute for sorting. `track` is just extra burden for the user. It's implementation details and does not directly benefit the user. Would be best if Riot could do the tracking behind the scenes. I guess we can tolerate an extra DOM attribute if that is required.

[2015-06-09 06:09] GianlucaGuarini commented on #484
Ok I will see if I could use the tags._id properties to reorder the DOM nodes as well, it shouldn't be too complicated, I will work on it asap

[2015-06-09 06:10] krzksz commented on #815
`.replace()` is a String method, you can't call it on a number. What you can do, is to convert value to String, replace and than convert it back with `parseInt()` if needed.

[2015-06-09 06:17] GianlucaGuarini commented on #773
Ok to step forward:
1. I will prepare https://github.com/riot/riot.github using jekill using the default poole template
2. I will pull request the js.org repo removing riot.js.org we will use riotjs.com
3. let's fix the last riot issues ( each loop included )
4. let's publish riot 2.1.1
5. We can start splitting riot into submodules preparing the next release

It sounds like a plan right @tipiirai

[2015-06-09 06:34] jhthorsen commented on #773
Jekyll is not a bad idea, but I fail to see how it integrates with github. I see that it's promoted, but really github pages is just a bunch of files, so generating those with a JavaScript based project would make more sense.

:+1: on riotjs.com
:+1: on [subtrees](https://github.com/tdd/git-stree) instead of submodules.

(I know I don't have a vote, but I wanted to show my support)

Please let me

[2015-06-09 06:43] GianlucaGuarini commented on #773
In riot we like democracy :smile: thanks for your thoughts. I will think about them and set up the riot.github.io

[2015-06-09 06:47] tipiirai commented on #773
github pages supports Jekyl templating so that anyone can modify the markdown files and the site is dynamically generated on every push and without the need for local jekyll.

Please guys educate me why subtrees are better than npm. I'm not an expert here.

Thank you for the feedback @jhthorsen and yes – that sounds like a plan @GianlucaGuarini.

[2015-06-09 07:06] jhthorsen commented on #773
Ah! Of course. Sorry about the confusion.

:+1: on Jekyl.

[2015-06-09 08:54] ivankennethwang commented on #618
+1

I also used something like this. It would be nice if the DOM diff could also consider the order of the array.

[2015-06-09 08:59] MartinMuzatko opened #816 "Eventhandler forces code style, event-function not found (reference-error)"
While experimenting with riotjs, I declared my first event - as easy as described in the guide.
[code]

Now, when I open the testcase, all contents of the tag are not displayed and I  get the following error in the console:
`ReferenceError: submit is not defined`

After fiddling around, rereading the documentation and thinking, maybe I do need the observable API? I copied the testcode to see if _t

[2015-06-09 09:39] lc60005457 opened #817 "riot-tag="{ show }" => tag="mytag""
this is success
==========================
mytag.tag

[code]

index.tag

[code]
this is error
===========================

index.tag

[code]

the DOM is:
[code]

[2015-06-09 11:04] oswaldomilet commented on #815
I know it, thanks. It's why i opened this issue, the code block I mentioned is in Riot library

[2015-06-09 11:57] rsbondi commented on #816
It works with the brace on the same line but not as you have written, will have a look.

[works](http://jsfiddle.net/tufhvgqr/1/)

[does not work](http://jsfiddle.net/tufhvgqr)

[2015-06-09 12:14] rsbondi commented on #817
[here](http://plnkr.co/edit/n5hLpG?p=info) is an example for dynamic tag types although it does have the extra wrapper element.  If you are using `riot-tag` to avoid the wrapper this will not help.  But if you just need a way to use tags dynamically it may.

[2015-06-09 12:29] Avnerus commented on #334
@AndreasHeintze Were you able to get it working eventually? Any way I can help?
Maybe it's best to first just fix the ```mount``` event, so to not break the API.

[2015-06-09 20:00] GianlucaGuarini commented on #773
@tipiirai the new riot website repo is up and running on https://riot.github.io/ (https://github.com/riot/riot.github.io)
We need to update a bit the documentation adding the right [frontmatter](https://help.github.com/articles/using-jekyll-with-pages/#frontmatter-is-required) to all our doc files and everything should work fine.
We should also customize a bit the default poole theme
Now the site

[2015-06-09 20:46] pakastin commented on #484
I can't understand what will you compare that tags._id to, since it's a random number?

Trust us (me and @paldepind) when we say specifying a key is the only way (besides indexOf, which is unoptimal). We both have done a huge amount of work lately finding the most optimal iterations/reorderings.

Track key parameter would be an optional one to the advanced users (like it is in almost every other f

[2015-06-09 22:50] oswaldomilet opened #819 "Riot doesn't update input value"
[code]

After click for the second time in the button the input value doesn't change.

http://plnkr.co/edit/WakOTEFC7n2IrpiFK9oS?p=preview

[2015-06-10 00:14] rsbondi commented on #819
You are only changing `myvar` once, so it will only update once.  You need to add an `onchange` listener to the input if you want to keep `myvar` in sync with the input.  And you do need to change `myvar` and not `opts.myvaue`, if `myvar` is not changed, that is what is passed to `opts.myvalue`

[2015-06-10 00:54] rsbondi commented on #815
The value of a textarea should be a string, why would you set it to a number?

[code]
[textarea](https://developer.mozilla.org/en-US/docs/Web/API/HTMLTextAreaElement) can contain [DOMString](https://developer.mozilla.org/en-US/docs/Web/API/DOMString) which is mapped to javascript [string](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String)

In my opinion, this

[2015-06-10 01:31] rsbondi commented on #813
`onsubmit="{ parent.submit }`

the `form` is in `modal`, the `submit()` is in `auth`

or use [this](https://github.com/cognitom/riot-bootstrap/blob/master/mixins/parent-scope.js) mixin to bring it into scope

[2015-06-10 01:51] geordee commented on #773
Should we include "React" on the tagline? Couldn't it move somewhere down to the description?

[2015-06-10 02:11] ronnieoverby opened #820 "Problem with table rows not being rendered inside the table"
Chrome:

![image](https://cloud.githubusercontent.com/assets/101028/8073527/45ae6c74-0ef4-11e5-8144-4bbf9fd2b88b.png)

I suspect this is because of those custom `<people-row>` tags.

Full source: https://dl.dropboxusercontent.com/u/1563210/rioting.zip

[2015-06-10 06:15] GianlucaGuarini commented on #820
I `tr` tag must be used in a table and not in a custom tag. Your it's not valid html

[2015-06-10 06:33] GianlucaGuarini commented on #484
@pakastin you are right make a pull request proposing your solution and let's see how fast is the rendering and how much more code is needed. Once we will have and alternative we could decide whether to keep just the DOM updates or use the node sorting solution. Let me know if you are gonna do that before I'll waste my next weekend working on it :smile:

[2015-06-10 06:52] tipiirai commented on #773
Great. I'll help with the site next weekend.

[2015-06-10 06:53] tipiirai commented on #773
@geordee probably a good idea. Any ideas for the tagline?

[2015-06-10 06:59] tipiirai commented on #484
@pakastin any way to solve this without introducing the new `track`- syntax?

[2015-06-10 08:34] goldenice commented on #813
Right, I assumed the difference in scope was the problem. But wouldn't you expect this mixin to be the default behaviour? It seems very unintuitive to me that I wouldn't be able to access the form like in normal HTML, since one would expect the custom riot tags to behave just like normal HTML.

If I have replaced the <modal> with <div> then it would have worked, which seems very illogical.

[2015-06-10 10:56] ronnieoverby commented on #820
How can i build a component in riot that doesnt inser a custom element into the DOM?

[2015-06-10 11:11] oswaldomilet commented on #819
So, if I understood...

If I have:
[code]

I need to keep a reference to ```<tag1>``` myvar from my last level ```<tagN>```?

[2015-06-10 11:26] GianlucaGuarini commented on #820
This should be enough ```<div riot-tag="my-component"></div>```

[2015-06-10 11:27] ronnieoverby commented on #820
This seems to work as expected, but it feels like a hacky workaround.

[code]

[2015-06-10 11:29] oswaldomilet commented on #815
Ok, I guess your solution ```{''+numstr}``` should work, but it could be in Riot library, right? So that way we don't need to do this in every textareas

[2015-06-10 11:29] ronnieoverby commented on #820
I'm wondering about not having a single inner html element in my `person-row` component... is that a problem?

Is `riot-tag` the only option for this?

[2015-06-10 11:31] ronnieoverby commented on #820
@GianlucaGuarini I don't think a div is valid inside tbody

[2015-06-10 11:43] rsbondi commented on #815
The same could be applied in the library, I just don't see a valid use case where a textarea would be set with a numeric value.  You are welcome to submit a PR if you like.

[2015-06-10 12:17] rsbondi commented on #819
Yes, but probably not directly but via a global event dispatcher using observable.  Or re-evaluate your design.

[2015-06-10 14:12] rsbondi commented on #820
See [permitted content](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table).  The `riot-tag` will preserve the `tr`, which is permitted

[2015-06-10 14:26] andynemzek commented on #806
I don't think it makes sense to be allowing user-land code effectively break the framework, and that appears to be what is happening here.  If your handler throws an exception, the handler is permanently stuck in the busy state, effectively dead, but still taking up space.  This is also a subtle/hard bug to find.  If adding the try/finally is a performance hit, are there other options to fix this?

[2015-06-10 14:31] josschne commented on #806
Another option we could consider is to remove the busy bit altogether.

Digging back into riot.js history, this was intended to prevent "circular event loops". However I have tested jQuery events and there is no such protection there.

Since removing the busy bit is a change to existing behavior, we could create a global flag to opt-in to the new behavior, then deprecate that behavior in the next

[2015-06-10 14:31] oswaldomilet commented on #819
I just realized now that Riot was designed to be one-way data bind, so I will re-evaluate my design like you suggested, thanks

[2015-06-10 14:31] #819 closed

[2015-06-10 19:00] rsbondi commented on #819
I have been looking into 2 way binding, have made some progress determining what is needed, but needs to be an elegant solution with minimal effect on performance, so I do not expect to solve in the near future.

[2015-06-10 19:25] simoami opened #821 "[proposal] Introduce formatters: { expression | formatter1 | formatter2 | ... }"
Similar to many templating engines, angular and more, we will benefit from the ability to have string or object formatters:

E.g.
[code]

One idea is the ability to pipe an expression to existing mixins and functions. so if you have a special `translate` mixin, you could use it as such:

[code]

Or you could treat formatters on their own. Riot will come with a predefined list of simple formatters

[2015-06-10 19:37] AndreasHeintze commented on #821
I like this proposal. Can we make it as an optional plugin?

[2015-06-10 20:08] GianlucaGuarini commented on #821
I also like the idea, we need to figure out how we could combine the `mixins` and this syntax.

[2015-06-11 02:31] tipiirai commented on #821
I see the benefits of formatters but not sure they outweigh the current system. I like the power of using pure JavaScript on the expressions. No new idioms to, keeps Riot small/simple and gives template developer all the power and flexibility of the language.

[2015-06-11 02:33] tipiirai commented on #416
Closing this in favor to [mixins](https://muut.com/riotjs/guide/#mixins)

[2015-06-11 02:33] #416 closed

[2015-06-11 03:13] simoami commented on #821
@tipiirai "I like the power of using pure JavaScript on the expressions.".

On #784 you said that it's best to "keep the expressions as simple as possible and move logic to the code". Yet here it sounds like you want to advocate doing things like:

[code]
rather than:

[code]

In my opinion, there's a clear benefit to supporting filters so that the code is clear, short and easier to read. Somethin

[2015-06-11 03:21] simoami commented on #821
this is a functionality that won't add much to the code base. I can volunteer to submit a PR. But I'm also ok with this being a separate plugin. However, Riot needs to be extensible by allowing the main tag parser to be overridable.

[2015-06-11 06:22] GianlucaGuarini commented on #821
@simoami __riot is extensible__:
 - all that's inside `{ }` is javascript
 - you can write your own helpers using the `mixins` feature
 - you could use something like { chain(myValue).upperCase().trim().removeNumbers() }

check this http://jsfiddle.net/gianlucaguarini/3o28724d/

[2015-06-11 06:43] GianlucaGuarini commented on #820
closing this issue for now

[2015-06-11 06:43] #820 closed

[2015-06-11 06:49] GianlucaGuarini commented on #813
Closing this issue for now

[2015-06-11 06:49] #813 closed

[2015-06-11 08:03] tipiirai commented on #821
I prefer `{ format(createdAt, 'Y-m-d') }` over `{ createdAt | date: 'Y-m-d' } `. Maybe the latter looks nicer and simpler but the first one is plain old javascript. I don't need go to Riot website and look for the list of build- in formatters or how to make my own.

[2015-06-11 08:12] AndreasHeintze commented on #821
I can totally buy this!

[2015-06-11 11:24] leonardorb commented on #452
This will probably help someone else in the future: https://github.com/leonardorb/riot-foldertree

[2015-06-11 16:28] simoami commented on #821
@GianlucaGuarini Thanks the sample chain() example. I was really hoping that you keep this open some more time. Sometimes opinions need time to mature. It could be missing an opportunity here.

@tipiirai
Thanks for the update. You could have both vanilla javascript and formatter expressions! not having the latter means the need to manually write reusable code like the chain() function and build it

[2015-06-11 16:42] simoami commented on #821
Also, to be fair, the shorthand syntax for class names is also in the same boat as formatters. they can both be replaced by plain js expressions. But you saw value in providing an alternative syntax.

[2015-06-11 17:46] GianlucaGuarini commented on #821
@simoami I will reopen again it for further opinions on this topic.. btw I hope our opinion is clear

[2015-06-11 18:06] simoami commented on #821
@GianlucaGuarini Thanks :)

[2015-06-11 18:23] oswaldomilet opened #823 "<input type="number"> doesn't evaluate expression in IE"
Please, open the following plunker in Chrome and IE
http://plnkr.co/edit/eww8cIJe72qt0PBgqkMV?p=preview

IE doesn't show value

[2015-06-11 18:43] GianlucaGuarini commented on #823
It's true I have verified it. It does not work with any kind of value ( numbers or strings )

[2015-06-11 18:46] GianlucaGuarini commented on #823
It seems to be a known IE bug http://caniuse.com/#search=number

input.value = "9" input.valueAsNumber returns NaN.

It's not related to riotjs

[2015-06-11 19:35] oswaldomilet commented on #823
I changed plunker, please see the first input that is not using Riot, it can display the value.

[2015-06-11 19:48] GianlucaGuarini commented on #823
riot sets the value via javascript it has nothing to do with the normal input value. Anyway I have tried a simpler example and it seems to work on ie http://jsfiddle.net/gianlucaguarini/558zo2pa/3/
So this means the problem is in riot thanks for raising it up, I will check what's wrong

[2015-06-11 20:05] oswaldomilet commented on #823
Thanks, if you discover any workahound please send me, cause I can't wait until next Riot release. I'm trying to use it in a production project now.

[2015-06-11 20:27] GianlucaGuarini commented on #823
what happens if you change this line https://github.com/riot/riot/blob/master/riot.js#L911 to the following?!
[code]

[2015-06-11 20:29] tdalbo92 opened #824 "Built-in event needed when a tag has rendered"
When a tag has mounted, the javascript executes but the DOM hasn't rendered yet.  It's difficult to add things in the HTML, such as animated SVG, without using timeouts and hacks.  Is there an event that fires when a tag's HTML has rendered?

[2015-06-11 20:38] GianlucaGuarini commented on #824
use `tag.on('updated', function(){ /* whatever */ })`

[2015-06-11 20:42] tdalbo92 commented on #824
I'll have to keep a bit of extra data to make sure I don't do initial load stuff every time the tag updates.

Thanks!

[2015-06-12 00:57] rsbondi commented on #821
I agree with @tipiirai and like @GianlucaGuarini solution so I am good with the current implementation.  I would prefer keeping it out of the core and doing in a mixin.  I created a crude [example](http://plnkr.co/edit/MK8Ge4?p=preview) to illustrate the possibility.  It would need to be more sophisticated for chaining but just want to show the possibility.

[2015-06-12 11:40] oswaldomilet commented on #823
It didn't work. I updated plunker, please see line 864 of riot.js where console.log(expressions) show an empty array of ```expressions```

[2015-06-12 12:23] oswaldomilet commented on #823
I realized this line https://github.com/riot/riot/blob/master/riot.js#L650 is getting empty ```attr.value``` when ```type="number"```. When I take off the type the ```attr.value```= 123 (only in IE). I don't know if it's the problem.

[2015-06-12 12:26] oswaldomilet commented on #823
If you need a plunker to test, use this http://plnkr.co/edit/GyoaDYYEwxxgK6iiy24g?p=preview and go to line 647 of riot.js

[2015-06-12 14:04] pdorofiejczyk opened #825 "JSON objects doesn't work in tag properties"
I'm trying to pass JSON object through tag properties and use it in tag definition.
http://jsfiddle.net/23g73yvx/79/

As you see data in opts is not the same I have passed. Tested in Google Chrome 42, OSX 10.10

[2015-06-12 14:06] rsbondi commented on #823
Yet another innerHTML quirk

http://plnkr.co/edit/avpYUp6EWQuQtuTNhviZ?p=preview

[code]

outputs

[code]

also, the ieVersion is not set , ie11/w8

[2015-06-12 14:30] rsbondi commented on #825
[code]

[code]

[2015-06-13 00:18] rsbondi commented on #823
[Have a fix](http://plnkr.co/edit/gU1RrEjWacrhbKsjMIf9?p=preview), it replaces `type="number"` in the template before processing and sets the attribute back to `number` on mount.  Not sure if I need to fix the ie check, it seems like ie is correct in that you should not be able to set a value of string on a type number, but for now it seems to be ok on the other browsers.  Also need to apply to `t

[2015-06-13 00:30] Avnerus commented on #334
OK so I tried to create a kind of compromising solution in my fork:
https://github.com/ListnPlay/riotjs/tree/dev
Basically instead of changing the way mount/unmount works, I just delay the ```mount``` event until the tag is actually in the dom, using a flag called ```inStub``` that is changed in the ```update``` function in case there is an ```if```. I also added a test called ```<if-mount>``` to

[2015-06-13 00:49] tilleps commented on #821
I prefer the formatter / pipe format, mainly for cases where there are multiple formatters/filters than need to be applied.

[code]
versus:
[code]

@GianlucaGuarini I tried the `chain()` example, but it doesn't seem that it updates when the value updates.  Example: http://jsfiddle.net/jyaLknwd/3/

[2015-06-13 09:14] GianlucaGuarini commented on #821
@tilleps mine was just an example you can write your own using `value()` to get you chain values

[2015-06-13 13:40] #825 closed

[2015-06-13 13:51] rsbondi commented on #797
Not sure what the issue is, it seems the riot version is correct in preserving.  Can we close this since you have solved your issue?

[2015-06-13 14:08] rsbondi commented on #806
[this test](https://github.com/riot/riot/blob/master/test/specs/observable.js#L112) fails without the busy flag

[2015-06-13 14:26] rsbondi commented on #804
Is this resolved, can we close?

[2015-06-13 19:22] andynemzek commented on #806
I would hope it would break a test.  What @josschne is suggesting is not backwards compatible.  That's why he's suggesting adding a flag to make it optional.  The fact that jQuery doesn't protect against such scenarios says a lot.  One could argue that allowing code that has circular event loops to run is a bug.

[2015-06-13 19:51] oswaldomilet commented on #797
So I waste my time helping Riot team with an Issue, you don't have "sure what the issue is" and want to close? ok... It's not the first time someone in this repository put the priority on closing issues instead of worry about library quality or, at least, try to understand what users are saying. Go ahead. I don't like how Riot team answer to community questions, so I'll move my project to another

[2015-06-13 19:51] #797 closed

[2015-06-13 20:22] GianlucaGuarini commented on #797
@oswaldomilet we appreciate your help but you keep submitting IE bugs __not riot issues__. In this case your example without riot (only with jquery) neither works I have tested it on jsfiddle http://jsfiddle.net/gianlucaguarini/2jym89bf/
I am sorry if you felt offended but we try to do our best to solve all the IE bugs in time on each release

p.s. IE lower than 10 throws errors on plunker

[2015-06-13 21:00] oswaldomilet commented on #797
@GianlucaGuarini I'm using the latest version of IE 11.0.10011.0 and it's working. In older versions it's acceptable to libraries don't support (it's optional), but I'm using evergreen browser.
And about I'm submitting IE bugs:
1) It's cause I'm exploring several parts of Riot (I have a complex project to do)
2) Another frameworks address or "polyfill" IE problems for developers don't worry about

[2015-06-13 21:35] GianlucaGuarini commented on #797
__it is an IE bug__! IE11 independently from riot

![win7_ie_11 0](https://cloud.githubusercontent.com/assets/879612/8146044/b22cb9fa-1223-11e5-8ec6-c77961e9c031.jpg)

I think no framework/polyfill out here could help you on this issue. If you think the authors of your favorite framework should solve edge case issues coming from the native platforms you are free to move forward finding something e

[2015-06-13 21:42] oswaldomilet commented on #797
**It's not a bug in your image!** IE just don't use carriage return in text areas. So Riot can't put a char 13 in text area, it's simple man!

[2015-06-13 22:00] oswaldomilet commented on #797
Well, sorry for my noise here and forget me. I'll follow your suggestion and move forward to find something that fits better my needs. Thanks and good luck with your library

[2015-06-13 22:20] rsbondi commented on #797
I was just trying to keep the back log clean and to keep a clearer focus on the issues, "I solved this.." along with the doubt over whether this was an ie issue or a jquery issue prompted me to raise the question, rather than just closing it myself.  I am sorry you took it personally, thank you for your contributions and good luck resolving any issues by whatever means that works for you.

[2015-06-14 05:06] cheft opened #826 "in server-side，the expression error"
// test.tag

	<test>
	    <h1>{test1}</h1>
	    <h2>test2</h2>
	</test>

// run

	var view = riot.render(require('./test.tag'), {test1: 'test1'});
	console.log(view);

// out

	<test><h1></h1> <h2>test2</h2></test>

[2015-06-14 05:26] xfra35 commented on #797
@oswald you've hit the wrong target here. These guys have achieved an impressive mass of work, and all of this is given free to the community. That's a gold mine!

If Microsoft was as committed as this team to fix bugs, we wouldn't have dozens of IE-related issues in every single open-source project ;)

[2015-06-14 05:56] #826 closed

[2015-06-14 05:57] cheft commented on #826
// test.tag

	<test>
	    <h1>{opts.test1}</h1>
	    <h2>test2</h2>
	</test>

[2015-06-14 09:53] oswaldomilet commented on #797
Ok guys, sorry again. Moving forward...

[2015-06-14 09:57] oswaldomilet commented on #823
Closing, its an IE bug

[2015-06-14 09:57] #823 closed

[2015-06-14 10:00] oswaldomilet commented on #741
Yes @tilleps, you are right. How I didn't receive a feedback, I'm closing this Issue...

[2015-06-14 10:00] #741 closed

[2015-06-14 10:01] oswaldomilet commented on #815
IE bug? closing...

[2015-06-14 10:02] oswaldomilet commented on #743
I guess it's a Bootstrap Issue, right? closing...

[2015-06-14 10:02] #743 closed

[2015-06-14 10:03] oswaldomilet commented on #647
This library didn't fits my needs to a complex project, however, congratulations for the massive work! Closing...

[2015-06-14 10:03] #647 closed

[2015-06-14 10:05] #815 closed

[2015-06-14 12:13] rsbondi opened #827 "Input type=number"
Continuation of #823

[2015-06-14 15:02] ipeisong opened #829 "How to internationalise riot tags?"
Hi guys,

How to support multi languages for tags? any solution? Thanks.

[2015-06-14 15:48] rsbondi commented on #806
I verified jquery, and it does give a `maximum call stack size` error.  I don't know the history of the riot circular reference issue, but I think the global flag sounds like a reasonable solution, It should have minimal impact on performance.  I would like to know more about the circular issue use case other than what is shown in the test.  Either way the flag would have you covered.

I think in

[2015-06-14 16:22] rsbondi commented on #829
There is some interesting dialog on #821, maybe it will help.  The expressions are just javascript, so

`<p> { today.toLocaleDateString() } </p>` or `<p> { lang.greeting } </p>` or however you would do it elsewhere

[2015-06-14 16:51] rsbondi commented on #817
I can fix the dom easy enough but you would need to call `mount` after `show` is set, see [wip version](http://plnkr.co/edit/oaqRNkS0pppj7JZBv6MH?p=preview)

[2015-06-14 17:00] tipiirai commented on #821
My feeling is that the goal is to keep the HTML expressions as clean as possible. Constant moving of logic from HTML to JS. Situations like: `{ name | first | second | third }` should be cleaned up to `{ fourth(name) }`. I really like the cute formatter syntax, but it serves an anti- purpose: promotes the use of logic on templates.

[2015-06-14 19:00] GianlucaGuarini commented on #334
thanks to @Avnerus we could close this issue

[2015-06-15 03:44] tilleps commented on #821
As being someone that finds naming things difficult, I feel that having to create additional filters/formatters for every combination ` { fourth(name) }` or `{ firstThird(name) }` or `{ secondThird(name) }` is not as intuitive/easy as piping.

I think the formatter/pipe syntax should be a feature/optional, but I'm not sure how it would be implemented without having to conflict with something like:

[2015-06-15 04:26] tilleps commented on #821
For anyone curious for the `chain()` in previous comment:

[code]

[code]

While not tested, should work with i18n libraries like: http://i18next.com/

[code]

translation.en.json
[code]

[2015-06-15 04:37] tilleps commented on #829
Like @rsbondi said, the expressions are just javascript so you can use something like the i18next library : http://i18next.com (or other libraries) like this:

[code]

[2015-06-15 04:52] tilleps commented on #821
<3 mixins.  Chain mixin example: http://jsfiddle.net/jyaLknwd/5/

[2015-06-15 05:09] cognitom commented on #783
I'm closing this issue. Thanks.

[2015-06-15 05:09] #783 closed

[2015-06-15 05:30] cognitom commented on #762
@somecallmechief are you still working on this? If so, this issue is too complicated. We should distill the issue to these:

- `script` tag:
  - tag definition: Yes, you can put it once
  - in transclusion: No. Strongly not recommended
- `href="javascript:"`: I think we shouldn't do like this...
- babel/babelify/riotify

I'd like to close it this time, but feel free to reopen this issue anytime :)

[2015-06-15 05:30] #762 closed

[2015-06-15 06:27] geordee opened #830 "Riot Tagline"
Current Tagline

    "A React-like, 3.5KB user interface library"

* React-like - Identity by comparison
* At 3.5KB, it loses marketing charm, as against the original 1KB, plus the tagline keeps changing
* User interface is fine, but the term has been in play for past 40 years or more
* Library, it is

Thoughts:

* Riot? Two meanings, one negative and other positive
** Uproar, rampage, violent
**

[2015-06-15 06:28] geordee commented on #773
@tipiirai I have created #830 for the tagline

[2015-06-15 06:38] antonheryanto opened #831 "Multi named feature changes all input into array when has same id and name"
problem multi named feature #792 cause every input which has same name and id to become array, as shown in this http://plnkr.co/edit/PS9J5T0kedFggXF4iuxD?p=preview

[2015-06-15 06:42] tipiirai commented on #830
"A small tool for building user interfaces."

The term "user interfaces" is rock solid. It has sustained for the past 40 years :)

[2015-06-15 07:06] pyros2097 commented on #830
"A small tool for building user interfaces for the web and mobile" if your planning to do something like [reapp](http://reapp.io/)

[2015-06-15 07:10] crisward commented on #830
I think the current tag-line carries a lot of important information. As a react user needing something more light weight for smaller tasks it said exactly what I needed to know. I realise 3.5kb may change over time, but I'd have been sold it if it had said < 5kb.
[code]
Could just as easily be describing backbone. `small` is very vague.

+1 for keeping something similar to currently line.

[2015-06-15 07:16] Avnerus commented on #829
Check out my [FormatJS](http://formatjs.io/) integration:
https://github.com/ListnPlay/riot-intl

[2015-06-15 07:18] tipiirai commented on #830
I can also go with the current tag line. It was a careful decision to use the word "React" since many people will immediately know what is this all about.

I guess we can keep it for one year or so before React is history :)

Thanks @crisward

[2015-06-15 07:38] gregorypratt commented on #783
Yeah nice one. Sorry forgot to reply!

[2015-06-15 07:43] cognitom commented on #783
No prob :)

[2015-06-15 08:09] geordee commented on #830
I agree that small is very vague, and that's why I thought of compact, which also have some positive feel, meaning well-organized, packed and all.

Shall we change size (3.5KB) as it is not true anymore? I gzipped riot.min.js and got close to 5KB (4948 bytes).

Let us keep the current tagline otherwise.

Should it be then "A React-like user interface library" or "A React-like user interface librar

[2015-06-15 08:28] tipiirai commented on #830
I think we should remove the size from the tag line. Seems to bring more troubles than benefits.

[2015-06-15 08:33] crisward commented on #830
The size is a BIG selling point. Event if it said <10kb it's still 12x smaller the react. With riot I can write a basic application and still be smaller than most frameworks - that's very cool.

[2015-06-15 08:40] tipiirai commented on #830
Of course. Small codebase is one of the main driving factors on Riot development.

But could it be taken out from the tagline? The constantly changing size doesn't look pretty.  Perhaps use a good adjective there and move the comparison tables upfront on the front page.

[2015-06-15 09:03] geordee commented on #830
I started with Riot, then went to React, and I found it a bit too much for me. So I returned to Riot. There is some inherent beauty and simplicity in working with Riot.

Personally, I do not count speed or size of individual library/framework since it is the whole app or even ecosystem that matters. I use Rails at the backend. On the front-end Riot is coupled with Semantic UI, which is not light-w

[2015-06-15 09:15] Avnerus commented on #782
@speier were you able to reproduce it?

[2015-06-15 09:41] tipiirai commented on #830
@pyros2097 we are not planning to do anything close to "reapp". Riot is just the "Platform" part on that stack. I hope reapp will switch from React to Riot though as a competitive advantage :)

[2015-06-15 13:00] kelvinlee opened #833 "We can set in the update, update only one attribute?"
[code]

when I touchmove , update must changed all attribute, can I only update this.x?

[2015-06-15 13:07] cognitom commented on #833
It seems that more detail or jsfiddle needed for me.

[2015-06-15 13:14] cognitom commented on #833
@kelvinlee could you show us a more distilled example? The code of the event handler also needed. No jade pls.

[2015-06-15 13:16] kelvinlee commented on #833
@cognitom OK , Wait a moment

[2015-06-15 13:44] kelvinlee commented on #833
https://jsfiddle.net/Kelvinlee/051bomxb/4/

I write a slider and slider has other tags inside.

when I use touchmove event , there `this.update()` will update all tag, but I only want update `this.x` attribute.

Because the update is too much, will be slow in mobile.

[2015-06-15 13:59] cognitom commented on #816
I can fix this... but I'm not sure we should care these cases, too. There're so many variations.

[code]

or

[code]

or....

[2015-06-15 14:08] cognitom commented on #833
Hi @kelvinlee. Sorry, I can't see anything... Your jsfiddle looks too messy for me.
Are you looking for the way to skip the `update` of children? If yes, I don't think so.

[2015-06-15 14:44] kelvinlee commented on #833
@cognitom You got me.

Although there is no way, but still very thank you.

[2015-06-15 15:05] MartinMuzatko commented on #816
If someone could point out the line where it is defined that user defined methods can only be on the same line, I could investigate the problem a bit further to propose a pull request.

So far I could only find [these lines](https://github.com/riot/riot/blob/master/compiler.js#L129-L145) that could be related to finding methods.

I think that adding this feature would add to riots style. it doesn'

[2015-06-15 15:09] cognitom commented on #833
How about moving your logic to its sibling or child to avoid `update`? :)

Say this is your situation:

[code]

Move it to its sibling:

[code]

Or move it to its child:

[code]

[2015-06-15 15:16] kelvinlee commented on #833
@cognitom I'm go try it.

[2015-06-15 15:32] cognitom commented on #816
@MartinMuzatko see [this line](https://github.com/riot/riot/blob/master/compiler.js#L123). The parser reads lines one by one.

[2015-06-15 17:14] GianlucaGuarini commented on #334
The issue is not 100% fixed, we will keep this issue opened until we will find a better solution

[2015-06-15 18:41] kofalt commented on #806
FWIW, initially my reaction was that users could catch their own errors, but I find myself agreeing with @josschne that the busy flag could be made optional or even removed.

In my opinion, infinitely circular event handlers imply bad logic that should be fixed, not ignored.

Without knowledge of a busy flag, I would be very surprised if I wrote riot handlers and later discovered riot had *silentl

[2015-06-15 19:28] GianlucaGuarini commented on #831
closed with your pull request thanks

[2015-06-15 19:28] #831 closed

[2015-06-16 00:12] bchavez commented on #507
:+1: for this too.

I currently have TypeScript `.ts` files that get compiled to `.js` files independently of Riot (via Visual Studio). Being able to pull in these `.js` files that were compiled *without* Riot and use them as inline logic would be great.

I might explore how to do this with a custom parser. I'm guessing all you'd need to do to is create a custom parser that 1) identifies a `<scrip

[2015-06-16 03:20] rwu823 commented on #804
Not yet. still have bad thing in deep nest each. any ideas?

[2015-06-16 04:33] cognitom commented on #804
No, I have no idea, at this point.

Riot checks the parent or `this` or `window` while evaluating the value.
https://github.com/riot/riot/blob/v2.1.0/lib/browser/tmpl.js#L187

I think... the two are completely different things:

- **nested each**: it's a design
- **nested tag**: ???

The former is a design of Riot and readable in most cases, but the latter has some room for improvement. Anyway I t

[2015-06-16 07:19] antonheryanto opened #835 "event handler at modified loop item not updated"
new faster loop in riot dev to fix #484 only update object expression, but not update the function event handler, this happen because the function is unchanged which cause update process https://github.com/riot/riot/blob/dev/lib/browser/tag/each.js#L81not update the event handler as it still same with previous value https://github.com/riot/riot/blob/dev/lib/browser/tag/update.js#L58

the problem c

[2015-06-16 07:36] GianlucaGuarini commented on #835
I'm working on the each loops in the `feature/faster-loops` branch. It's still a working in progress version. Would be great if you could add a test to check this feature

[2015-06-16 11:23] aiia opened #838 "Child element inherits mount element's id"
Hi,
The issue is that mounting tag to an existing html element with id assigned, the tag's element to which id to assign, is equal to the mount element's id.

Here is the simple tag
[code]

This is initial a landing tag to be substituted with the tag:
[code]

And mount script is:
[code]
And as result I get
[code]
that is both landing element and child have the same **id="div_id_timetable-last_clie

[2015-06-16 12:45] rsbondi commented on #838
Use something other than `id`.  Attributes are passed as opts, so you are passing id twice, once on mount and once as the id attribute.

[code]
should work

[2015-06-16 15:26] aiia commented on #838
Thank you!
I see.

In fact any attribute of the mounting tag appears to be an opts.param
If this feature won't be removed, I find it useful

[2015-06-16 15:26] #838 closed

[2015-06-17 00:00] davidsalazar opened #839 "Fix broken "compiler" link in docs."
Under Guide -> Example

The Custom tags are compiled to JavaScript.

Compiled is linking to https://muut.com/riotjs/guide/compiler.html
Should be https://muut.com/riotjs/compiler.html

[2015-06-17 15:36] gregorypratt opened #846 "Unable to override styles"
Riot will place styles defined in tags at the bottom of the head tag: https://muut.com/riotjs/guide/#tag-styling

This works nicely, but only if you don't want people to override your tag styles.

**Would it be more practical to place the injected styles at the *top* of the head tag?** This way custom CSS selectors could override the tag styles to match the containing website theme.

[2015-06-17 16:11] cognitom commented on #846
Agreed that this could be the problem. How about the case `nomalize.css` should be read first?

[2015-06-17 17:09] gregorypratt commented on #846
Good point.

How about default behaviour is as per: appending to bottom of HEAD.

However you if specify a style placeholder tag that Riot could recognise and replace.

Does that make sense? Not sure if I've explained it well enough!

[2015-06-17 19:30] GianlucaGuarini commented on #839
merged thanks

[2015-06-17 19:30] #839 closed

[2015-06-18 01:54] cognitom commented on #846
Placeholder tag like `` sounds better. But It feels a little "ad-hoc", kind of. How do you think, guys?

[2015-06-18 08:13] cfenzo commented on #846
Having a way to specify an element riot should inject the style tags
after/before makes the most sense to me, supporting both element and "#id"
syntax, with a default to inject it at the bottom of the `<head>`.
That way you don't have to add anything to the source of `<head>` (id on
element, comment, etc), assuming off course that you're able to get a
reference to an element in the head using docu

[2015-06-18 13:20] gregorypratt commented on #846
Something like this could work:

Place
[code]
anywhere you want in your `head`.

Riot will then insert the component(s) style tag *after* this placeholder and remove this placeholder in the process.

Inserting the CSS and changing the type attribute doesn't seem to work.

[2015-06-18 14:16] rsbondi commented on #846
Something like change [this](https://github.com/riot/riot/blob/master/lib/browser/tag/vdom.js#L18) to

[code]
where some-identifier could be id or data-riot or whatever

[2015-06-18 14:34] gregorypratt commented on #846
I'm not sure that covers it, I think it needs to change this line too

https://github.com/riot/riot/blob/master/lib/browser/tag/vdom.js#L31

[2015-06-18 15:11] rschroll opened #848 "Type error when updating tag with loop over list containing a null"
If you have a tag that contains a loop over a list containing null, riot throws a TypeError the second time update is called.  Here's a test case: https://jsfiddle.net/vus6Ln9q/.

This is using Riot 2.1.0.  I see it both on Firefox 38.0 and Chrome 43.0 on Ubuntu Linux.  The errors are slightly different in phrasing.  Firefox says,

    TypeError: tags[oldPos] is undefined

while Chrome says,

[2015-06-18 15:42] rsbondi commented on #846
No, there is no need to replace if the style is in place and is `type=text/css`, just use it.  You don't need to append if it is already there

[2015-06-18 16:59] rschroll commented on #848
I've slightly modified the test case here: https://jsfiddle.net/gf9L0bjq/.  Only the contents of the <li> have changed.  After you click on "Click me" twice, the numbering of the last two list items changes.  I'm not sure if it's related, though this is the problem that started me looking at this issue.

[2015-06-18 17:07] GianlucaGuarini commented on #848
thanks for your catch I will write a test for this issue and fix it! I am refactoring the whole each loop methods

[2015-06-18 18:16] gregorypratt commented on #846
Ah ok, of course! I was getting hung up on the type="riot" identifier. Will update the PR...

[2015-06-18 18:42] rschroll commented on #848
Great to hear!

Any suggestions for a work-around in the time being?  Perhaps some way
to disable the call to update on the onclick handler, since I don't
actually need that to happen in the project I'm working on?

[2015-06-18 18:50] rsbondi commented on #846
Thanks @gregorypratt.  Also, we like to have a test with each PR per the [guidelines](https://github.com/riot/riot/blob/master/CONTRIBUTING.md), not sure how you would write one, this is an unusual case

[2015-06-18 19:30] rschroll opened #849 "Inconsistent updates in nested loops (?)"
If I place an onclick handler on a tag created in a loop, the update signal is emitted after that handler is called.  But if I place a second loop within the first, its handlers will not trigger an update signal.  There is a test case here: https://jsfiddle.net/4ag7sfL1/.  Clicking on any of the "A" items will cause both a "Click" and an "Update" message in the console, but clicking any of the "B"

[2015-06-18 19:46] GianlucaGuarini commented on #849
It is a design patterns. Any new riot tag instance updates only its children. The each loop creates some kind of fake riot tags with their own logic and their updates. It is really handy to avoid huge updates if just one item of the loop changes its attributes

[2015-06-18 20:13] rsbondi commented on #846
Now that I think about it, the server side code uses simple-dom so it will not support querySelector, not sure about what simple-dom supports, so maybe your solution is fine for now.

[2015-06-18 20:28] rsbondi opened #850 "Travis CI integration broken"
I have not been seeing the test run on PRs recently

[2015-06-18 20:39] GianlucaGuarini commented on #850
You are right I need to check what's wrong. The tests get triggered only on any push

[2015-06-18 20:44] GianlucaGuarini commented on #850
Strange because it's correctly set up
![screen shot 2015-06-18 at 22 43 32](https://cloud.githubusercontent.com/assets/879612/8241766/8804809a-160b-11e5-9070-1ad35b3fdfd4.png)

[2015-06-18 20:57] GianlucaGuarini commented on #850
now it should be fixed

[2015-06-18 20:57] #850 closed

[2015-06-18 20:57] rschroll commented on #849
Thanks for the explanation.  I still don't think I get it, though.  Why
does the event on the outer li bubble up through the ul to the dlist,
while the event on the inner li stops somewhere in between?  Is there a
more thorough description somewhere to learn about this?

[2015-06-18 20:57] GianlucaGuarini commented on #850
ah thank you btw :smile:

[2015-06-18 21:04] GianlucaGuarini commented on #849
@rschroll the event is bound to a child of the loop (even if it's a function coming from the parent), and It updates just the DOM node and its children that has trigger it https://github.com/riot/riot/blob/dev/lib/browser/tag/update.js#L27
This is basically the events flow in both cases
[code]
Of course this is something happening just in a loop child

[2015-06-19 08:55] ngrilly opened #852 "Mistakes in doc/compare.md?"
Riot is an interesting project, but I think some parts of `doc/compare.md` are misleading:

- The Riot example looks simpler because it is composed of only one component <todo>, unlike the React version which is composed of two components <TodoApp> and <TodoList>.

- "methods can be defined with compact ES6 syntax": the ES6 syntax can also be used wit React.

- "String based vs DOM based: When a c

[2015-06-19 14:19] baubie opened #853 "SVG tries to render before RiotJS replaces variables"
A very simple tag with an &lt;svg> and a &lt;rect> inside it spits out errors to the developer console in Chrome and Firefox such as:

Error: Invalid value for &lt;rect> attribute width="{motif_width}"

Now, it _does_ display correctly so I'm guessing the browser re-evaluates it after RiotJS has had its way with replacing {motif_width} with 50 or whatever, but is there a way to prevent all of the

[2015-06-19 14:42] gregorypratt commented on #846
@rsbondi how is that PR looking now? Testing is a bit of an issue...

[2015-06-19 15:02] rsbondi commented on #846
Do the tests pass?  The $$ calls querySelectorAll, which I suspect will fail on server side, I think that is a separate discussion.  I am not sure about the testing, the issue is how to test this and the append.

@GianlucaGuarini I still don't see the travis ci being triggered

[2015-06-19 15:12] aMarCruz commented on #744
By the way, from the expression parser standpoint
in the second case `{ address2 ? '<br>' + address2 : '' }`, the `<br>` doesn't matter, is the ternary `:`.
The RegExp used by the parser confuses these as a object key name `{ address2 : '' }`, and don't fix address2.
@cognitom, posible workaround is `{ address2 ? '<br>' + this.address2 : '' }`, but I don't test it.

Fixing requires change the logi

[2015-06-19 15:41] netlovers opened #854 "Update mounted elements outside of riot code."
Hello,

I'd like to update a mounted element inside a `socket.io` handler, and I noticed something weird:
http://jsfiddle.net/18av8k3f/1/

If you check the console, you can see that although I query the same element (in theory) as my reference variable (`todo[0]`) with the `document.querySelector`, but the `.parent`s are not the same, so I think the `_tag` attribute does not get changed consistent

[2015-06-19 17:13] GianlucaGuarini commented on #846
Ok I will merge it soon thanks @gregorypratt

[2015-06-19 18:12] tdalbo92 commented on #824
Reopening - updated seems to be fired before the page has rendered.

[2015-06-19 18:20] aMarCruz commented on #804
@cognitom, just to clarify:
As you can see, the current implementation of tmpl() checks the `d` object of the outer context (a closure of user parameter). `this` (from `.call(d)`) is not used.
The difference is subtle.

[2015-06-19 18:48] aMarCruz commented on #797
@oswaldomilet, convertion of LF to CRLF may come from others sources too (some editors, github).
It is likely that the next version of Riot do CRLF normalization.
See note: https://github.com/aMarCruz/riotjs/commit/6e632d8f4680431bd1872927041bdd552a10eb82#diff-40e5d4e86b4bfa4b6ffe69118d7b8689R269

[2015-06-19 19:19] GianlucaGuarini commented on #846
merged congrats @gregorypratt

[2015-06-19 19:21] gregorypratt commented on #846
Thanks! Smooth operation.

[2015-06-19 19:21] #846 closed

[2015-06-19 20:50] rschroll commented on #849
Thanks again.  I gather there's a difference between the DOM parentage and riot's parentage.  The DOM parent of each li is the containing ul, but the riot parent is the object associated with the dlist.

I just learned about event.preventUpdate, so I can cause and prevent updates as I like.  I'll go ahead and close this bug.  Thanks again!

[2015-06-19 20:50] #849 closed

[2015-06-20 02:24] cognitom commented on #804
Oh, really? I got to check that. Thanks for letting me know, @aMarCruz!

[2015-06-20 04:44] cognitom commented on #853
Hi @baubie, at this time, to prevent this errors, we got to set the default value and change it later on `mount` event, I think. See the example on jsFiddle. I know that seems not a smarter way...
http://jsfiddle.net/m6pvo9px/

Would be a duplicate of #433. Also related to #276.

[2015-06-20 05:01] cognitom commented on #854
Hi. Using `_tag` is not recommended. Manipulating the object from outside seems not a good way, too.
How about this?

[code]

Or [observables](https://muut.com/riotjs/api/#observable) would be the best practice in this case.

[2015-06-20 05:27] judge opened #855 "Multiple mount with yield"
Hi,

Imagine we have components on a page in a data row, for example a dropdown component with the following (simplified) markup:

[code]

User scrolls to the bottom, infinite load script loads a bunch of new rows with dropdown components, so we need to mount again.

When we use ```<yield/>``` for this and remount everything with ```riot.mount('*')```, content inside the component gets duplicated.

[2015-06-20 05:44] netlovers commented on #854
Hmm, let me explain my use case a bit better (this is just an oversimplified example):
There is Suzy and Bob, they both have todo lists on their own, and they have some shared ones too. So when Bob adds a new todo to a shared list, so I want to update Suzy's todo lists too (through socket.io).

The problem with the `todo[0].update` solution is that `todo[0]` is not the same on both users' browsers

[2015-06-20 08:57] GianlucaGuarini commented on #854
@netlovers __never never never use the _tag property__! It's a private riot property and it's needed to handle internal riot stuff, and it may be not in sync. In your case to sync your todos components, you must use a flux events dispatcher check https://github.com/jimsparkman/RiotControl I think It may help you a lot. Your app should be updated always from the top:
[code]

[2015-06-20 09:05] GianlucaGuarini commented on #855
Thanks for your issue this is a bug. I will check it asap

[2015-06-20 09:20] gregorypratt commented on #830
Size and speed are really important.

But as a developer the first thing I did was open dev tools and check the tag line!

I agree removing a size reference in the tag line would cause less questions. But size is big selling factor.

[2015-06-20 09:57] netlovers commented on #854
@GianlucaGuarini it looks like a nice solution, but from where would I get the `todo1` and `todo2` references? That's my biggest problem here.
I could store a hash like this:
[code]
But if possible, I'd like to use simpler solutions than this, because it is a lot of overhead to keep `todo_containers` in sync, when othwerwise I could just query for the element.

Do you guys think it would be possib

[2015-06-20 12:33] GianlucaGuarini commented on #854
You should do something similar:
todo.js
[code]
Store.js
[code]

[2015-06-20 12:39] netlovers commented on #854
Thanks guys!
I guess the only way to solve this is by writing some custom code.

[2015-06-20 12:39] #854 closed

[2015-06-20 13:08] cognitom opened #856 "Clarification of scope model in v2.1.0"
Related to #804, I'm checking the scope of these examples. Pls see this jsfiddle.
http://jsfiddle.net/cognitom/z8u70ety/

Tag | The message from...
:-- | :--
1. `<sample-a message={ message } />` | Outer
2. `<sample-a each={ records } message={ message } />` | Array
3. `<sample-b />` | Inner
4. `<sample-b each={ records } />` | **Array**
5. `<sample-c>{ message }</sample-c>` | **Inner**
6. `<sampl

[2015-06-20 13:18] cognitom commented on #804
@aMarCruz I've checked the implementation in several cases on #856. Could you review it? I'm guessing the way to make it easier to understand...

[2015-06-20 13:45] GianlucaGuarini commented on #856
We could add this table to the doc for clarification, I don't see any issue here it's just the way riot tags handle the data. Thanks for your clarification example

[2015-06-20 19:13] GianlucaGuarini commented on #484
After many tests I have decided to keep the current riot each method ( without DOM reordering ).
The fastest libraries [here](http://mathieuancelin.github.io/js-repaint-perfs/) are the ones updating __the template not the children ( without any DOM reordering )__ ( see vuejs, react, and backbone).
I think the next riot release will use the current each method (the one in the `dev` branch) that is

[2015-06-20 20:27] GianlucaGuarini commented on #848
I am fixing this right now, as workaround use this solution https://jsfiddle.net/gianlucaguarini/vus6Ln9q/1/

[2015-06-20 21:22] GianlucaGuarini commented on #848
This issue got fixed in the `dev` branch https://jsfiddle.net/gianlucaguarini/vus6Ln9q/2/

[2015-06-20 22:13] aMarCruz commented on #804
@cognitom, I can't help in this case, sorry.

I don't know details about tags or each, but from tmpl() standpoint, variables are qualified to any `'d'` object is in the scope (same as `this`, in the current implementation), defaulting to window (or global) if `d.var` is undefined.
There's no acces to intermediate scopes. This logic allow expressions as !undefinedVar.length returns true without bre

[2015-06-20 22:18] rschroll commented on #848
FWIW, this changes the behavior when looping over such an array.
Currently, null items are omitted completely; this change seems to
create a tag for the null item.  I'm not sure which is "correct", but
the current behavior is convenient when dealing with sparse arrays.

[2015-06-20 22:23] GianlucaGuarini commented on #848
I have fixed the issue triggered internally in riot. An item is part of the array even if it's null so now tha riot api is more consistent

[2015-06-20 22:56] rschroll commented on #848
I think there are arguments to be had either way.  If I do
	arr = []; arr[10] = true;
is arr[1] (=== undefined) more a part of the array than arr[101] (===
undefined)?  No, because they have the same value.  Yes, because
arr.length == 11.  Maybe, because Javascript is weird.

I'm fine with the new behavior -- it'll be easy enough to replicate the
(non-buggy part of the) old behavior with an if att

[2015-06-21 06:24] cognitom commented on #856
It's complicated and not intuitive for the beginners. I don't want to show them this table..., but it could help some developers :) API section would be the place. I'm still guessing how to explain it more simply.

[2015-06-21 08:03] judge commented on #855
That was fast, thank you, it works! Can you please also merge this into master?

[2015-06-21 09:03] jukkakoskinen opened #858 "Using options/variables inside style tags"
Is there a way to use options or variables inside tag's `<style></style>`?

[2015-06-21 09:13] cognitom commented on #858
Nope. But you can use LESS or Sass to compile your style with Riot.
https://muut.com/riotjs/compiler.html#pre-processors

[2015-06-21 09:15] jukkakoskinen commented on #858
Yeah, thought so. What I'm looking for is updating the tag's CSS during run time.

[2015-06-21 09:22] cognitom commented on #858
How anout inline styles?

[2015-06-21 09:28] jukkakoskinen commented on #858
Then it wouldn't be possible to use CSS pseudo-classes.

[2015-06-21 10:37] GianlucaGuarini commented on #848
I don't know what you are trying to achieve, but if you want to print just the items having a value you could use a simple `if` https://jsfiddle.net/gianlucaguarini/vus6Ln9q/3/

[2015-06-21 10:42] GianlucaGuarini commented on #855
You should wait the next release or you can use the one in the `dev` branch. Remember to compile it first with the command `make riot`!

[2015-06-22 03:40] tipiirai commented on #830
Maybe something like:

"A React-like (but ~12x smaller) user interface library"

[2015-06-22 03:42] tipiirai commented on #484
Totally fine with that. No reason to block the development because of the lack of reordering.

btw: last time I checked the child elements lacked the `parent` reference on dev- branch.

[2015-06-22 06:12] GianlucaGuarini commented on #484
@tipiirai could you check please the `dev` branch?  Let me know if you still have the problem

[2015-06-22 06:48] vordio opened #860 "Can I reuse a DIV container to dynamically switch tags?"
I have one details DIV and would like to load different tags on different scenarios.

For example, click edit to show <edit-object/> and click view to show <view-object/>, in the same area. How can I do that? Thanks.

[2015-06-22 08:27] geordee commented on #860
Mount the component/view to the div.

See
https://github.com/txchen/riot-hn/blob/gh-pages/src/app.html#L12
https://github.com/txchen/riot-hn/blob/gh-pages/src/app.html#L22

Use router if you want URL to manage the actions.

[2015-06-22 12:26] pakastin commented on #484
I'd argue the reasons for slowdowns are somewhere else. Here's 10 000 items reordering:
http://jsfiddle.net/ohaf2jxn/

Here's documentFragment -version, again 10 000 items reordering:
http://jsfiddle.net/ohaf2jxn/1/

I'm getting ~30-40 ms rendering time – I don't think that's slow..

[2015-06-22 12:35] appedemic commented on #164
Is there a way to disable the lookup in global variables? Now my templates start accessing global variables where I want a specific piece of data to be undefined within the tag :(

[2015-06-22 17:06] jzempel commented on #289
so @tipiirai, according to your last comment it seems riot will support attributes on the root tag but not events. Is that correct? Do you expect this to change in the future?

[2015-06-22 17:26] baubie commented on #853
Thank you, this solution does work for me.

[2015-06-22 17:26] #853 closed

[2015-06-22 20:22] GianlucaGuarini commented on #484
Thanks for your input @pakastin but I think in this post we have a bit lost the point.
Here some thoughts about the topic:
 1. in your demos you just reorder a list without any data lookup, and even in that case the rendering is slower than the current riot in the `dev` branch
 2. I have tested several solutions and you are right, the rendering it's not slow but the items position lookup by using

[2015-06-23 03:45] tipiirai commented on #164
I think that is the expected behaviour. `navigator` should not be `undefined` when working under browser environment. Maybe I don't understand everything here..

[2015-06-23 04:38] ipeisong commented on #860
Unfortunately when I call .unmount(true) it still removes the root 'div#content'. I don't know why this happens, in the document if I pass in true it should keep the root element right?

[2015-06-23 04:44] tipiirai commented on #289
I think root attributes should be fully supported, but cannot give you any ETA

[2015-06-23 04:47] tipiirai commented on #484
That is just fantastic job @GianlucaGuarini !

[2015-06-23 05:14] geordee commented on #860
Which version of Riot are you using?

[2015-06-23 05:15] ipeisong commented on #860
version:"v2.0.14"

I managed to recreate the div container after unmount.

[2015-06-23 05:19] geordee commented on #860
Try upgrading. It got fixed in 2.0.15. Move to 2.1.0 preferably.

https://github.com/riot/riot/issues/616

[2015-06-23 05:24] ipeisong commented on #860
Thanks that solves my problem.

[2015-06-23 06:43] ipeisong opened #864 "Does named element work with checkbox?"
< input type="checkbox" name="fruits" value="1">
< input type="checkbox" name="fruits" value="2">
< input type="checkbox" name="fruits" value="3">

can I refer to the value this.fruits = [1,2,3] ?

Thanks.

[2015-06-23 08:43] appedemic commented on #164
I was just assuming that within tag expressions everything is evaluated to the scope of the tag. But I see the need for accessing globals. In my case it's nicer to explicitly define the local variables to an initial state anyway.

[2015-06-23 09:23] antonheryanto commented on #835
thank for the updates, very quick
i have test the update and found that it too rigid only work on
[code]
but fail when defined each like bellow
[code]
which is not flexible and not backward compatible with previous each
i have send pull request #866 to improve this fc7174a commit

[2015-06-23 11:53] speier commented on #782
@Avnerus not really, maybe i still miss something..

Here is my test script and tag: https://gist.github.com/speier/28f5b7d0f3052ebcda34

and the output is:

[code]

[2015-06-23 12:07] gut4 commented on #484
Just a question. I need to make drag-n-drop sortable list. Is it possible with new version of each.js without dom reordering?

[2015-06-23 12:32] GianlucaGuarini commented on #484
@gut4 of course it will.. It all depends from your code base. You should always keep your html list in sync with your javascript data collection.

[2015-06-23 12:40] Avnerus commented on #782
@speier you are rendering only the inner ```<test>``` tag instead of the parent ```<each-custom>``` tag.
Replace this line:
[code]
with this line:
[code]
Then you will get this output:
[code]

[2015-06-23 12:49] speier commented on #782
ok, thanks. now i got the same result as you.. i'll take a look into this issue..

[2015-06-23 12:50] Avnerus commented on #782
@speier Thanks!

[2015-06-23 13:26] rsbondi commented on #864
Arrays will be supported in the next release but `this.fruits` refers to the input elements so it would be like `this.fruits[[n].value` to access.  I am playing with this concept in a [mixin](http://plnkr.co/edit/BlTSto?p=preview) but it is far from complete.

[2015-06-23 19:05] kavaro opened #867 "input looses focus after update"
A focussed input element that is moved to another location in the dom looses focus. This becomes an issue for inputs rendered inside a each loop because riot does not restore the focus after it has moved the input. A small test case is included below.
- start the app and put the focus on the last input (within 5 seconds)
- after 5 seconds a timer in the app will move the last input to the top of t

[2015-06-23 19:54] rsbondi commented on #867
I would do outside of the core code like [this](http://plnkr.co/edit/RX4M3W?p=preview), could also be a simple mixin if used extensively.  But I am open to more input on if this would warrant a core edit.

[2015-06-23 22:52] kavaro commented on #867
I am all for keeping the core lean and as small as possible. From that perspective, a mixin absolutely makes sense. On the other hand, this is something that others will run into, so the questions is whether there is a central place where developers can find mixins for the edge cases they run into, some type of knowledge database (wiki) that aids in translating this type of issues to the right mix

[2015-06-23 23:05] rsbondi commented on #867
There has been discussion #427 but nothing formalized yet, but I agree something is needed.  This repository has a wiki but it has never been used, might be a good place to start.

[2015-06-24 06:25] tipiirai commented on #164
Makes sense.

However, I think the current behaviour is what most developers expect.

[2015-06-24 11:34] rsbondi commented on #867
Actually, you can use `update` and `updated` events without overriding update, see [updated](http://plnkr.co/edit/DaKEwT?p=preview) mixin version

[2015-06-24 18:01] kavaro commented on #867
Spend some more time thinking about this and I believe the better solution is to apply a fix at application (core ?) instead of tag instance level. The reason is that the proposed mixin needs to be applied to all parent tags in which an input element is nested. For example, after I add an input element to tagA, I will need to add a focus mixin to all parents (different tags) of tagA that contain a

[2015-06-24 19:06] GianlucaGuarini commented on #700
This is not a riot bug, it seems the way the browsers render custom not closed tags. Try the same example without riot and you will get a weird DOM structure.
![screen shot 2015-06-24 at 21 04 22](https://cloud.githubusercontent.com/assets/879612/8339011/cc3f4c88-1ab4-11e5-85cd-5443e5585f44.png)
I am closing this issue

[2015-06-24 19:06] #700 closed

[2015-06-24 20:43] GianlucaGuarini commented on #715
I think we need some more opinions on this? What do you think guys?
Probably `tag.inputs` is not that bad

cc @tipiirai @cognitom @aMarCruz

[2015-06-24 20:51] GianlucaGuarini commented on #773
I think we could publish riot 2.2.0, and skip the issues #810 #334 that are quite complicated. We have already fixed a lot of stuff, and we've made also a couple of breaking changes. I would prefer to fix the above bugs on the next release ( that will be huge ). What do you think?

@tipiirai @rsbondi @cognitom @aMarCruz

p.s. we should update the release notes as well

[2015-06-25 06:01] Krizz opened #870 "How to import compiled tags with jspm ?"
[code]

Gives me: Uncaught ReferenceError: riot is not defined

[2015-06-25 09:15] davidsalazar commented on #830
Call me crazy but I still like the word micro even though it's cliche.

[2015-06-25 09:41] cognitom commented on #773
:+1: Let's go. Many are waiting the new features :)

I'm checking the open PRs:

- we can merge #859, quickly
- #818 could be a big advantage of us of 2.2.1 or 2.3,
- #733, #731 is going on but we don't have to wait, I think
https://github.com/riot/riot/pulls

[2015-06-25 10:42] enlait opened #871 "Errors get swallowed with in-browser compilation"
Since riot advertises in-browser compilation as a viable production solution, I'm trying to use it in this manner.
I try to code in a same manner I did with react.js - embed app in a local html file and refresh on changes. It works, when the code is correct. If I have errors in my code, however, the browser console is silent, no indication that anything at all is wrong - when I have a 100% certain

[2015-06-25 10:56] antonheryanto commented on #835
thank for the merge i close the issue now

[2015-06-25 10:56] #835 closed

[2015-06-25 11:29] enlait commented on #871
An example code:

in html:
[code]

in app.tag:
[code]

Current behavior:
- no error indications at all
- empty list is generated

Expected:
- "a is not defined" or similar error (AFAIK it's browser-specific)

[2015-06-25 12:46] tipiirai commented on #715
Initially I loved the shortcut syntax but wasn't sure anymore after facing the first name conflict. I'm thinking `this.elem` or `this.dom` for all named elements, not just inputs. Unfortunately we need a new *major* version for such massive breaking change.

[2015-06-25 12:50] tipiirai commented on #830
Clowns *need* be crazy!

"A React-like user interface microlibrary"

Works for me too.

[2015-06-25 12:58] tipiirai commented on #773
Agreed. Smaller releases are always better. No need for custom `tmpl` even.

I guess we go with the current website for this release. Let me know when you  are about to release so I can prepare the site.

[2015-06-25 13:34] GianlucaGuarini commented on #773
@tipiirai @rsbondi @cognitom @aMarCruz Ok then I will update the release notes and make a new release during the weekend. If anyone of you has enough time to do it even earlier I have no problem!

[2015-06-25 16:06] cognitom commented on #715
How about introducing `this.elem` on 2.x and removing the shortcut syntax on 3.0 ?

Or..., `this.query()` could be another option? I mean:

[code]

[2015-06-25 16:15] speier commented on #782
@Avnerus could you please test https://github.com/riot/riot/pull/872? thx!

[2015-06-25 17:19] davidsalazar commented on #830
"A React-like user interface micro-library"

![shia-labeouf-just-do-it-green-background](https://cloud.githubusercontent.com/assets/14309/8360745/4f85abbc-1b34-11e5-87b9-435db52dddeb.gif)

[2015-06-25 19:23] gregorypratt commented on #830
What about:

"The Isomorphic User Interface Micro Library"

Custom tags • Tiny footprint • Virtual DOM • Full stack • IE8

[2015-06-25 19:54] davidsalazar commented on #830
Nobody cares about ie8 anymore.

[2015-06-25 20:09] gregorypratt commented on #830
IMO IE8 support is not a selling point and we should help the world move forward. But that's me, and most likely a separate discussion!

How about this?

"The Isomorphic User Interface Micro Library"
Custom tags • Virtual DOM • Full stack • Tiny footprint

[2015-06-25 20:38] geordee commented on #830
Maybe replace Full Stack with React-Like, since we are planning to take the router out of the library.

Isomorphic User Interface Micro Library
React-like • Custom tags • Virtual DOM • Tiny footprint

[2015-06-25 21:00] gregorypratt commented on #830
Ah, I was thinking full stack as server to client. Suppose it is a bit ambiguous.

Personally I'd like to remove the React reference (and free advertising!) since I think Riot is plenty good enough without it but understand the identity by comparison point.

Either way I'm happy with above! :-)

[2015-06-25 22:42] kevinrenskers opened #873 "How to use Riot with webpack, css-loader and its css modules?"
Lately I've been playing with webpack and css-loader with its support for [CSS modules](https://github.com/webpack/css-loader#css-modules). I'd like to use this with Riot, rather then the scoped CSS feature that Riot offers (for multiple reasons, like writing my css to an external file, using cssnext, etc).

However, this is currently a bit hard. For example, this doesn't work:

[code]

Instead it

[2015-06-26 00:01] joepie91 opened #874 "Purpose of riot.mount"
I've read through the entirety of the Riot.js Guide by now, and while I more or less understand how to *use* `riot.mount`, I still have no idea what the *purpose* of it is.

Why is `riot.mount` a part of the API, what purpose does it serve, and what's the underlying design decision?

This is half a question and half a documentation bug - the documentation currently seems to assume that the user ha

[2015-06-26 01:03] cognitom commented on #873
Yes. And it also has a scope of `global` or `window`. But no closure scope. With WebPack or Browserify, in your first example `styles` has the closure scope. That seems the reason.

Try `parent.styles.completed` :)

[2015-06-26 01:14] rsbondi commented on #864
See also #715,

[2015-06-26 05:12] tipiirai commented on #830
"A React-like user interface micro-library"

Custom tags • Virtual DOM • Isomorphic • Below 10k

---------
- "React- like" was seen as a benefit (see this thread)
- Isomorphic is advanced stuff and not for everyone. I think it's not our major selling point

[2015-06-26 05:17] tipiirai commented on #715
React uses `ref`: https://facebook.github.io/react/docs/more-about-refs.html

[code]

Maybe we mimic that directly. Helps React users in transition.

[2015-06-26 05:38] davidsalazar commented on #830
Perhaps you need to make a poll somewhere on riotjs to figure out why people are choosing it lol.

if you start putting file size anywhere, you contributors are going to constantly be fighting to keep that codebase small which is not the most important part of riotjs imo. Everybody has their own reasons for choosing riotjs but I liked the simplicity of it.

[2015-06-26 07:13] codeliner commented on #830
That is definitily the most important selling point and no tagline can be good enough to explain it but your docs can! Most of my time I'm a PHP backend dev but for my own project I needed a smart JS lib to create an multipage UI served by a PHP backend. I worked with backbone and ember in the past and also looked at angular but no framework really convinced me because when you don't work with the

[2015-06-26 07:58] gregorypratt commented on #830
I'm enjoying this thread!!

How about:

![tagline](https://cloud.githubusercontent.com/assets/1453899/8373105/6981429e-1be1-11e5-9889-fc56cf7c8971.png)

[2015-06-26 08:17] cognitom commented on #715
`ref` attribute looks natural :)

[2015-06-26 13:30] cxdongjack opened #878 "there is a bug in walk method"
# Test Code:
[code]
[code]

# Original Version(Wrong):
[code]
test logs:
[code]
## text__2_2 is repeated twice

# Fixed Version:
[code]
test logs:
[code]

[2015-06-26 14:35] AndreasHeintze commented on #878
Haven't tried your code, but it looks like you are correct by just looking at the code.

[2015-06-26 14:54] k33g opened #879 "sharing mixin (globally)"
I define a mixin. I want it to be shared between my components

[code]

and my component is like that:

[code]

then I get this error: Uncaught TypeError: Cannot read property 'sayHello' of undefined

if I change `this.mixin("hello").sayHello();` by `riot.mixin("hello").sayHello();` like that, then all is all right

[code]

see the PR proposal [https://github.com/riot/riot/pull/877](https://github

[2015-06-26 15:16] cognitom commented on #879
`riot.mixin("hello").sayHello()` doesn't make sense. Try this.

[code]

But this seems still something weird. See the example below. It works as the same.

[code]

[code]

[2015-06-26 17:45] k33g commented on #879
@cognitom oups! OK, I understood :) Thank you very much for you patience

[2015-06-26 17:45] #879 closed

[2015-06-26 18:09] k33g opened #880 "[Question] What is the better way to pass a messages broker to components?"
I'm using a broker to allow my components to "discuss" :

[code]

and I use it like that

[code]

But I can do this like that:

[code]

and:

[code]

I would like to know what is the best solution ? (or a better solution)

Thank you :)

[2015-06-27 03:14] aMarCruz commented on #715
@tipiirai,
this and others issues are fixed in next PR of _tmpl().

And you're right, I wasted many time with class shortcuts, there is great inconsistency between shortcuts and normal expressions, and the code grows more than I expect. I think this needs breaking changes.

Before push, I would like to clarify a question.
Testing the new tmpl() I was confused with the results of this expressions:

[2015-06-27 04:01] cognitom opened #881 "Observable could be an official mixin"
In the Tag definition:

[code]

If it makes sense for others, I'll send PR soon.

[2015-06-27 06:39] r4j4h commented on #881
Hmmm, it makes sense. Perhaps have both? Education around this is important. The current examples don't the part where it says:

That  object should be able to be used as a message bus and references to it should be able to be shared around. I haven't tested that though, but that's what that text indicates to me. :)

[2015-06-27 06:48] cognitom commented on #881
Oops, sorry. Tag is basically already the observable. I was little bit tired... haha.

@r4j4h thanks for your reply. I'm guessing how to simplify the code with `mixin`. I'm closing this.

[2015-06-27 06:48] #881 closed

[2015-06-27 06:49] r4j4h commented on #830
+1 to the simplicity aspects being a key selling point.

I actually do think IE8 is a good point to mention. Showing the breadth of support shows that the project seems stable and isn't going to just drop support and encourage fragmentation at a whim. It also discourages from eventually breaking IE8 support though.

[2015-06-27 08:02] cognitom commented on #874
Hi @joelpt, `riot.mount()` is a kind of `React.render()`, I think. Without `mount`, the HTML is just HTML. Only after mounting, user can access the features of Riot. So the purpose is to turn the HTML into Riot component. That's it.

I haven't experienced such a difficulty to understand it, but I believe your intuition as a learner of Riot is important. Could you describe your point more? I'm gues

[2015-06-27 10:22] cognitom commented on #870
Hi @Krizz, I'm not sure your configuration..., I guess that a prefix like this is needed for your tags:

[code]

[2015-06-27 10:36] cognitom commented on #870
`--modular` option would help you. Try this:

[code]

[2015-06-27 10:45] Avnerus commented on #782
Hi @speier sorry for the late response.
I tested now with the merged riot#dev and it indeed fixes the problem!
Thank you.
Was this a bug in simpledom's ```serialize()```?

[2015-06-27 10:52] cognitom commented on #880
Hi @k33g, have you tried Riot's observable?
https://muut.com/riotjs/api/#observable

Here's simplest example of that:
http://jsfiddle.net/cognitom/70eguj49/

[2015-06-27 11:03] speier commented on #782
hi! probably yes. i will investigate a bit more on that side later. this wirkaround could work in the meantime.

[2015-06-27 11:08] Avnerus commented on #782
OK. So should I close this issue or keep it around for further investigation?

[2015-06-27 11:10] speier commented on #782
you can close it no problem

On Saturday, June 27, 2015, Avner Peled <notifications@github.com> wrote:

[2015-06-27 11:10] Avnerus commented on #782
Closed :)

[2015-06-27 11:10] #782 closed

[2015-06-27 13:06] k33g commented on #880
@cognitom yes, that's what I use indirectly: each riot tag is observable, so a riot tag has a `trigger` method that I call from the broker : `observable.trigger(message, data)`

and a tag can send message to an other tag from the broker: `this.opts.broker.emit("foo",{})` or  `this.broker.emit("foo",{})` with the mixin way

I'm searching the best way to exchange messsage and data between all tags o

[2015-06-27 16:04] #334 closed

[2015-06-27 16:04] #855 closed

[2015-06-27 16:33] GianlucaGuarini commented on #773
__congrats guys riot 2.2.0 is out!__ @tipiirai @rsbondi @cognitom @aMarCruz
thanks to all the contributors!

[2015-06-27 16:36] GianlucaGuarini commented on #773
closing this issue.. the next will be quite important!

[2015-06-27 16:36] #773 closed

[2015-06-27 16:37] GianlucaGuarini commented on #848
Riot 2.2.0 is out! This issue got fixed

[2015-06-27 16:37] #848 closed

[2015-06-27 16:37] GianlucaGuarini commented on #827
Riot 2.2.0 is out! This issue got fixed

[2015-06-27 16:37] #827 closed

[2015-06-27 16:38] GianlucaGuarini commented on #763
Riot 2.2.0 is out! This issue got fixed

[2015-06-27 16:38] #763 closed

[2015-06-27 16:39] GianlucaGuarini commented on #484
Riot 2.2.0 is finally out! I will close this issue hoping our users will not complain the old each method :smile:

[2015-06-27 16:39] #484 closed

[2015-06-27 16:40] GianlucaGuarini commented on #817
Riot 2.2.0 is out! This issue got fixed

[2015-06-27 16:40] #817 closed

[2015-06-27 18:00] geekingreen commented on #484
Awesome!

[2015-06-27 18:39] drewlesueur commented on #725
One of my favorite things about riot is it's small size. It doesn't try to be everything.
If indentation sensitivity keeps the size down and the implementation a lot simpler, I'd say that's a good trade-off.

[2015-06-27 21:25] kevinrenskers commented on #873
This didn't work: `<label class={ parent.styles.completed: done }>`, I get this error: `SyntaxError: missing ; before statement` when I add an item to the todo list.

[2015-06-27 22:32] joepie91 commented on #874
Alright, so I guess I could word my questions roughly as follows:

* Why do I need to do this manually? Why doesn't it just 'hook up' every defined tag automatically?
* Why are there different function signatures? Why would you ever want to use anything besides `riot.mount('*')`?
* What behaviour does `riot.mount` have? Do I need to manually mount every new custom element created in the document (

[2015-06-27 23:48] cognitom commented on #873
`{ done: parent.styles.completet }` is correct.

[2015-06-27 23:53] cognitom commented on #773
Congrats! :tada:

[2015-06-28 01:34] JediMindtrick opened #884 "Did syntax of 'each' change between 2.0.10 and 2.2.0?"
Question...I was working with Riot 2.2.0, using the [TODO example here](https://github.com/txchen/feplay/tree/gh-pages/riot_todo) as a reference.

For the life of me, I could not get the each syntax to work.  Basically the opts.data on each item in the list ended up being undefined.  When I downgraded back to 2.0.10 the syntax began working for me.  Did something change, and where can I find the c

[2015-06-28 02:43] a-moses commented on #884
+1
any Guide about the new each method ?

[2015-06-28 04:35] tipiirai commented on #830
@gregorypratt your wishes are now fulfilled: https://muut.com/riotjs/

I purposely left out IE8 since I have [a feeling](https://github.com/riot/riot/pull/775#issuecomment-107042664) the support is going to be dropped. It's just so hard.

[2015-06-28 04:35] #830 closed

[2015-06-28 04:38] tipiirai commented on #773
@GianlucaGuarini million thanks :heart_eyes:

The website is now up to date with a [new tagline](https://github.com/riot/riot/issues/830).

[2015-06-28 06:52] cognitom commented on #874
I c, thanks. Automatic mounting sounds nice for me, too :)

But, in the real-world example, we need routers or controllers between the component and HTML. Some way to control the component from outside the tag like this:

[code]

Take care that `riot.mount()` will return the reference to the components.

BTW, v2.1 introduced new syntax `<div riot-tag="my-tag"></div>` which is equivalent to `<my-ta

[2015-06-28 06:56] gregorypratt commented on #830
Oh cool thats excellent! that'll make me smile every time I go read the docs!

[2015-06-28 10:15] a-moses commented on #884
example of each problem

with 2.1.0  work well:
http://plnkr.co/edit/x6BBcZC2Xbp7gpRbTiKA?p=preview

with 2.2.0 not clean all done todos:
http://plnkr.co/edit/YR1RYvNCkR3GBV7f8smb?p=preview

[2015-06-28 11:51] GianlucaGuarini commented on #884
I am sorry, it's my blame I will release a new patch today hold on

[2015-06-28 13:35] GianlucaGuarini commented on #884
I made a patch releasing riot 2.2.1 thanks for your bug report.

[2015-06-28 13:35] #884 closed

[2015-06-28 13:40] GianlucaGuarini commented on #773
@tipiirai @rsbondi @cognitom @aMarCruz guys I had to make a quick fix to the riot loops ( because of this issue https://github.com/riot/riot/issues/884 introduced with this commit https://github.com/riot/riot/commit/f7063bc217e210bacbeddbe91211aa6123d97a07 ) and __I have released riot 2.2.1__
I am sorry for the issue but now should be everything ok have a nice Sunday :smile_cat:

[2015-06-28 14:17] GianlucaGuarini opened #885 "Tags in each loops do not update correctly if the options contain undefined values"
Updating to riot 2.2.1 the each loops containing items with inconsistent properties do not update correctly the DOM.
For example the following structure could not behave properly once the first item gets removed:
[code]
The following data structure will work fine also in case the first item will be removed, updating the DOM correctly
[code]

I will try fix this in the next riot release

[2015-06-28 14:33] JediMindtrick commented on #884
Ha, no worries :)  Just made me a bit batty for an hour last night, but
that's all part of it.

On Sun, Jun 28, 2015, 6:52 AM Gianluca Guarini <notifications@github.com>
wrote:

[2015-06-28 14:47] a-moses commented on #884
this two times in less 24 hours that I'm agree with @JediMindtrick

Thank you @GianlucaGuarini

[2015-06-28 20:16] GianlucaGuarini commented on #885
@tipiirai probably fixing this bug it's worth another minor patch release riot 2.2.2 what do you think?

[2015-06-28 23:12] joepie91 commented on #874
Aha, I see. How about the last question - does every single instance of a tag need to be mounted manually, or is some kind of 'DOM watching' included?

[2015-06-28 23:21] cognitom commented on #874
Yes. We need to manually mount each time, even if the same tag is already mounted on another part of the page.

[2015-06-29 05:29] Ldiab opened #886 "Problems sometimes nesting components"
Hi everyone, so I have made a "Lazy image loader" which basically just get the image from the database when is visible on the viewport. The problem comes when in some components I can loop insert inside another component, and other times I just can't, here is my tag of the lazy loader (It needs some work):
http://pastebin.com/ZBN0NPmk

The problem I get is:
Uncaught TypeError: e.getAttribute is no

[2015-06-29 06:11] GianlucaGuarini commented on #886
Hi @Ldiab could you simplify your example making a jsfiddle? I will be happy to help you on that

[2015-06-29 10:18] Ldiab commented on #886
@GianlucaGuarini Hi, right now I need to sleep, but I will do my best to find the best example, while I sleep, here is the stacktrace of the riot.js (Not min) 2.2.1 and the error:
http://prntscr.com/7mn8gx

self.finishLoad() is just setting a dimmer of Semantic to hide, and then call self.update(); ("Self" is "this" of the tag) because usually after I finish the "load process" I need to update the

[2015-06-29 11:17] rwu823 opened #887 "bug? css expression is replace or add a class name in attribute?"
please see below two examples:

http://jsfiddle.net/wha40aqt/3/

http://jsfiddle.net/wha40aqt/4/

[2015-06-29 11:33] kavaro commented on #867
I ended up putting a focus mixin on all tags so it works in all cases

[2015-06-29 11:33] #867 closed

[2015-06-29 11:47] ndreckshage opened #888 "babel/register + riot conflict when rendering on server (es6 module syntax)"
// basic component
[code]

// server.js
[code]
throws...
[code]
// server.js (including riot after)
[code]
throws errors for riot syntax (as expected), but import works.

changing to use require throughout all code works fine.

[2015-06-29 11:48] cognitom commented on #887
Hi @rwu823, the shorthand expression in Riot will replace the class attribute.

Could you use this [Riot.js Bug Report Template](http://jsfiddle.net/cognitom/wf7bkvur/)?
https://github.com/riot/riot/blob/master/CONTRIBUTING.md#reporting-new-issues

[2015-06-29 12:11] a-moses opened #889 "[Suggestion] Update version process"
When riot next done publish him only on github for 24-36 hours as beta:

1. Riot next Finished.
2. Publish the files only on Riot Github as  (version number + beta). (exp : 2.2.0beta)
3. Create Blank Project on Jsfiddle include new Riot files.
4. Wait until 24-36 hours for public users testing .
5. Users present their  problems into Jsfiddle blank Project(3).
6. Fix some bugs shown .
7. After wait

[2015-06-29 12:29] cognitom commented on #887
Ah, maybe I gotcha. In your latter example, `this.red` is always true, so this element won't updated on `update` event. This could make you confused.

[2015-06-29 12:42] rwu823 commented on #887
@cognitom

Yeah, I will use bug report  template style in next :P

Actually, my problem is dynamic class will replace, but write it in html will not replaced.

http://jsfiddle.net/wha40aqt/5/

[2015-06-29 12:55] cognitom commented on #887
They have same behaviour.

1. before mount: `class="a b c"`
2. after mount: `class="a b c blue"`
2. 3sec later: `class="a b c red"`

Take care that the effect of `$main.addClass('blue')` will be reset on every `update` event of the tag.

[2015-06-29 13:07] MartinMuzatko opened #890 "Transclusion within HTML Tag parameters inconsistency"
It is always confusing how variables get rendered as, since it often depends on how and where you use variables, opts, etc. The Results are always varying.

I've created a very extended testcase for this problem here: http://codepen.io/MartinMuzatko/pen/pJpVOz?editors=110

Take a look how often it does not get rendered as expected (flagged with fail or success)

**Exceptions**
Exceptions are, when

[2015-06-29 13:25] rsbondi commented on #887
The behavior is always the same.  What is in the braces gets replaced every time.  If you want to isolate, use pure riot without the jquery

`class="{a: a} {red: red}"` or

`class="{myClass}"` with`self.myClass+=' red'` to add class.

 If string manipulation seems burdensome, you could write a mixin with `addClass` and `removeClass` etc..

[2015-06-29 13:45] xogeny commented on #225
I've been looking for templating engines that support TypeScript and I came across Riot because of that.  For me, the important aspect of "typescript support" would be that some actual static typing can be done on the template.  So, for example, what I'm looking for is a templating engine where the following would actually generate an error:

[code]

The essential point here is that `test2` is not

[2015-06-29 13:53] MartinMuzatko opened #891 "[Suggestion] Get Yielded Value for use within javascript"
Currently, it is not possible to obtain the yield contents directly via javascript.
This would be especially useful, if you first have to filter yielded contents or use it elsewhere within the script.

For example, if you determine the content to be used within a sub-component (see https://github.com/MartinMuzatko/RiotComponents/blob/master/dropzone.js for example).

[2015-06-29 13:56] markmarijnissen commented on #880
Perhaps my js-mediator micro utility library is a solution.

You can register singletons or instances, then you can connect singletons to eachother, or you can connect instances to singletons.

https://github.com/markmarijnissen/js-mediator

[2015-06-29 14:34] cognitom commented on #225
@xogeny you can define your own js/css/html parser as you like.
https://muut.com/riotjs/api/#riot-parsers-js-js-options-

But I'm not sure we can type-check in the expression inside the template...

[2015-06-29 16:03] r4j4h commented on #889
Interesting idea. Might want to rename 'circle' to 'process' as I thought of shape when first reading this.. :)

[2015-06-29 16:39] xogeny commented on #225
The issue is that ideally it should spit out TypeScript, not JavaScript and let the TypeScript compiler compile it.  Then you would get static type checking (i.e., detection of the fact that `test2` doesn't exist in scope).  But it seems like the current capability is focused on generating only JavaScript.  Would it break anything if a transformer actually generated TypeScript?  Does anybody actua

[2015-06-29 18:48] GianlucaGuarini commented on #889
@a-moses I agree this time was my blame :disappointed: I am sorry if it has caused issues to any of you

[2015-06-29 19:02] Krizz commented on #870
Thank you. Importing riot in the tag helped me but appending --modular flag does not seem to affect compiled output at all. Only if I change cli.js
[code]
to

[code]

then it will wrap it. Using the same command to compile  riot --modular some.tag

[2015-06-29 20:26] a-moses commented on #889
@GianlucaGuarini

It is really not personal, You're doing a great job!

This is primarily to give people a chance to help and share more efficiently.

That's it !!

[2015-06-29 20:44] whitelynx commented on #564
Has there been any progress on allowing the top-level element of a tag to be removed, so something like `<for>` could actually be implemented? (as @rsbondi said, the PR @tipiirai mentioned in [this comment](https://github.com/muut/riotjs/issues/564#issuecomment-94428257) doesn't actually allow this)

If we could get support for omitting the top-level element, that should solve this issue; until th

[2015-06-30 00:27] Ldiab commented on #886
So I have been trying but right now I don't have the time to get a working (Not Working) example. I have debugged a little and this is the last step before the error:
Uncaught TypeError: dom.getAttribute is not a function

http://prntscr.com/7mxbli

I have tried in the same place with a brandnew tag without anything just the tag, I have also tried without "opts", also with final tag "</blabla>" an

[2015-06-30 00:39] cognitom commented on #889
Riot has been getting wider users. `beta` makes sense.

BTW, this time, CDN seems not active yet in my environment. Anyone can download from this link?
https://cdn.jsdelivr.net/g/riot@2.2(riot.min.js+compiler.min.js)

[2015-06-30 01:03] r4j4h commented on #889
I cannot, I get `Could not find version specified for riot.`

[2015-06-30 01:44] a-moses commented on #889
me to . i cannot find any version of Riot on this cdn

[2015-06-30 04:55] tipiirai commented on #885
Minor patches are not an issue. Just do this when you have the time. I'll update the site for 2.2.1.

[2015-06-30 06:18] cognitom commented on #889
Thanks, @r4j4h, @a-moses :)
I've sent a request for update at [here](http://www.jsdelivr.com/#!riot), then the system has returned an error, hmmm. The release of 2.2.0 was already 3 days ago. There's [no announce](https://github.com/jsdelivr/jsdelivr/issues) from the site, but I'm worry about the health of the jsDelivr...

[2015-06-30 06:28] cognitom commented on #889
Could it be a reason why jsDelivr doesn't update? I'm checking how to send a PR.
https://github.com/jsdelivr/jsdelivr/blob/master/files/riot/update.json

[code]

[2015-06-30 06:28] GianlucaGuarini commented on #885
Thank you @tipiirai

[2015-06-30 06:30] MartinMuzatko commented on #889
Make sure to add this to the [CONTRIBUTING.md](https://github.com/riot/riot/blob/master/CONTRIBUTING.md) documentation. So if people get errors, they may check if the current status is beta.

[2015-06-30 06:57] MartinMuzatko commented on #821
My favorite CMS ([ProcessWire](processwire.com/about/)) had this thought-process too. You can read into their philosophy here on why to prefer original syntax over a templating engine:
https://processwire.com/api/why-php-syntax/

ProcessWire and RiotJs are very similar in their no-BS approach.
While an additional templating mechanism may look appealing, it will not entirely replace the original js

[2015-06-30 06:59] lichtner opened #892 "How to setup webstorm for riot?"
Hi guys,
can somebody help me how can I setup webstorm for correct syntax highlighting riot tag files, without errors, warnings,...? IMHO it will be helpful for many new users, also if it will be included in docs.
Thanks

[2015-06-30 07:55] aheinze opened #893 "each - iterating over an object seems to be broken"
iterating over object and its properties seems to be broken. it worked with **2.1**. can you confirm this? thanks!

[code]

[2015-06-30 08:03] cognitom commented on #893
Seems fine...? I've checked on v2.2.1.
http://jsfiddle.net/cognitom/oj5L5hux/

[2015-06-30 08:12] cognitom commented on #773
I was waiting the update of jsDelivr this 3 days..., but it hasn't yet. So,

- Sent [a PR to jsDelivr](https://github.com/jsdelivr/jsdelivr/pull/5548) about our new org
- Point cloudflare from [the bug report template](http://jsfiddle.net/cognitom/wf7bkvur/) on CONTRIBUTING.md

I wish the PR will fix this issue.

[2015-06-30 08:32] aheinze commented on #893
strange, then I need to investigate it further. but please take a look at the following example:

http://jsfiddle.net/oj5L5hux/1/

it seems that you need to use predefined variables (like in the examples), e.g. to use ``i``` as index variable instead a custom named one

[2015-06-30 08:47] GianlucaGuarini commented on #893
It's a bug! I will check it asap

[2015-06-30 08:50] aheinze commented on #893
@GianlucaGuarini thanks!

[2015-06-30 09:05] enlait commented on #871
Ok I checked source code and see this is deliberate and has no relation to me running a local file in browser: `try catch` wrapping has an empty catch block. Awesome.

[2015-06-30 09:09] jimaek commented on #773
Hey, our auto-updates didnt work because of the repo change. After your PR it works just fine again https://github.com/jsdelivr/jsdelivr/pull/5550

[2015-06-30 09:14] cognitom commented on #773
@jimaek Oh, great! it's lightening fast! Thank you so much :smile:

[2015-06-30 09:18] kavaro commented on #892
I am using .html instead of .tag files, put javascript inside script tag and declare tag methods as this.methodName(args) { js-code }.bind(this) instead of methodName(args) { js-code}

Example:
[code]

compile as follows:
[code]

[2015-06-30 09:19] cognitom commented on #889
Just FYI, jsDelivr CDN now works fine for us :smile:

[2015-06-30 09:25] cognitom commented on #893
Oh. It's a bug! I've confirmed, too.
http://jsfiddle.net/cognitom/oj5L5hux/4/

It seems that it's fine only if the length of the str is 1.

[2015-06-30 09:29] GianlucaGuarini commented on #893
@aMarCruz could you have a look at this bug please? I think it was introduced with your pull request https://github.com/riot/riot/commit/f76e3d9ffa9d094740e77c3bea4eea5362a14dc8

[2015-06-30 09:50] MartinMuzatko opened #894 "riot.mixin() resetting mixin-properties"
I have a feeling that I'm using riot.mixin() and this.mixin() for something that is not intended for.
**See this testcase:**
https://jsfiddle.net/0e17ozqt/3/

While the method persists, `this.dict` and `this.lang` are resetted on `this.mixin('i18n')`

How do Riot mixins differ from global namespaced methods?
I suppose, riot mixins are here, to avoid a littered window object and make functionality