[2015-11-19 23:07] pajtai commented on #1367
So, looks like I can work around this using the [no-reorder attribute](http://riotjs.com/guide/#performances), but I still don't understand the need for the unmount/mount events when the order of the dom has no need to change.

For example in this JSFiddle, why would it be more performant to have the mount/ unmount events firing by removing the no-reorder attribute:

http://jsfiddle.net/pajtai/dps

[2015-11-20 04:08] aMarCruz opened #1371 "Changes in newline preservation break the tests"
The compiler v2.3.13 fix an inconsistency in newline preservation, but it is breaking the riot tests.
Please update your local instalation of riot and its dependencies to last versions.

See the [change](https://github.com/riot/riot/commit/2331321778a4f50f07eccc026bd1350270486990) in the riot tests.
See the [CHANGELOG](https://github.com/riot/compiler/blob/dev/CHANGELOG.md) of the compiler.

[2015-11-20 05:57] lloydzhou commented on #1368
you can try to call riot.mount() on "mount" event:

    <div class="sub_class" riot-tag={ type } each={ nodes }>
    this.on('mount', function(){
        riot.mount('.sub_class')
    })

[2015-11-20 07:32] GianlucaGuarini commented on #1367
@pajtai thanks for your example. The riot loops are really simple, a tag in a loop bound to a primitive js object is just __updated__ simply because `[1,2,3,3,2,1].indexOf(1)` can not return the right index of the item you may want to `remove/remount`. On the other hand checking the `indexOf` of objects references is the safest our users intent: in this way but you also need to know that in javasc

[2015-11-20 07:39] GianlucaGuarini commented on #1367
btw another issue I see here is that having a mixed dataset like `[ 1, { bar: 'foo' }, 'whathever', [ 'boom' ] ]` can be considered a bad practice and it may lead you to other kind of unexpected issues independently from riot

[2015-11-20 07:41] GianlucaGuarini commented on #1361
@xieyu33333 can you please make a jsfiddle example?

[2015-11-20 07:43] GianlucaGuarini commented on #1364
@assertnotnull can't you make a simpler example please? I will be glad to help you but also we need to work on a code more readable and find out where is the issue

[2015-11-20 07:50] GianlucaGuarini commented on #1364
Ok I have done it for you http://plnkr.co/edit/mhF4tSobO0eKEmPFOwvz?p=preview it's a bug

[2015-11-20 07:54] GianlucaGuarini commented on #1371
Ok I will test it

[2015-11-20 17:14] pajtai commented on #1367
@GianlucaGuarini Thanks for the info. The mixed dataset was just a minimal example.

I guess I still don't understand why the mount/unmount is necessary to run if it doesn't seem to be needed ----- for example here the DOM can be seen to update, and only update is fired, no mount / unmount http://jsfiddle.net/pajtai/dpshjdgc/

[2015-11-20 18:25] GianlucaGuarini commented on #1367
You are right but we need to support all the possible loop use cases. Our users are used to do really "fancy stuff" and the current loops function is the most reliable at moment. Btw I recommend you to read also the [previous issues](https://github.com/riot/riot/issues?q=loops+is%3Aclosed) to understand better the topic

[2015-11-20 18:45] pajtai commented on #1367
Thanks again @GianlucaGuarini .

[2015-11-20 18:45] #1367 closed

[2015-11-20 18:51] pajtai commented on #1367
And for future reference to anyone who reads this, here are two better JSFiddle example illustrating the side effects of the mount event and the `no-reorder` attribute.

Default each loops:
http://jsfiddle.net/pajtai/4t9d1xzz/ - child tags newed up again on each redraw

`no-reorder` each loops:
http://jsfiddle.net/pajtai/0jq0foen/ - child tags maintain their original scope while still being able t

[2015-11-20 20:15] kuashe commented on #1337
I'm having the exact the same issue , the only work around i found is installing Riot CLI
https://www.npmjs.com/package/riot-cli

Otherwise the regular riot packet returns "The system cannot find the path specified." . Tried on Two different  Windows machine with differents node version .

[2015-11-20 20:19] kuashe opened #1372 "CLI only working with "npm install -g riot-cli""
With the regular "npm install -g riot" typing "riot" in shell returns "The system cannot find the path specified".

Installing   "npm install -g riot-cli" typing "riot" in shell  works fine .

Had this issue on two different Windows machine.

 Same issue as #1337 but not  in webstorm .

[2015-11-20 23:39] aMarCruz commented on #1371
riot-compiler [doc/guide](https://github.com/riot/compiler/blob/master/doc/guide.md) and [doc/attributes](https://github.com/riot/compiler/blob/master/doc/attributes.md) are updated.

[2015-11-20 23:46] aMarCruz commented on #1357
[doc/guide](https://github.com/riot/compiler/blob/master/doc/guide.md) and [doc/attributes](https://github.com/riot/compiler/blob/master/doc/attributes.md) are updated.
These are WIP, but the guide explain the compiler logic.
I'll close this issue now, feel free to reopen it if you consider it necessary.

[2015-11-20 23:46] #1357 closed

[2015-11-21 04:11] sntran opened #1373 "Help me understand the flow"
I am trying to implement a weird file tree with Riot.js. Please see the following Plunkr:

http://embed.plnkr.co/nBX0A7RD11fgnFC5TRxw/preview

What I expected:

[code]

Actual output:
[code]

If you look at the console, the child `file-system` is mounted first, and then the child `file-descriptor` is mounted. This makes the `mount` handler fail to retrieve the tags and thus not finishing the child

[2015-11-21 09:25] nippur72 commented on #1373
I'm not sure I've understood correctly what you want to achieve, but it seems to me you have to write it differently.

Actually you have the parent pretending to catch child updates by simply listening to its own "update" event. Instead, you have to make the child communicate with the parent by calling a method or by triggering an event when the child itself is mounted. E.g.:
[code]

[2015-11-21 10:53] GianlucaGuarini commented on #1372
I think this can be an npm issue because the [link to the bin file](https://github.com/riot/riot/blob/master/package.json#L81) is correct. Have tried submitting the issue on the npm repo?

[2015-11-21 12:02] kuashe commented on #1372
Not yet , i have to dig in this a bit more .

[2015-11-21 13:15] sntran commented on #1373
Sorry, the event handler should be for 'mount', not 'update'. I have updated the Plunkr.

I don't really want the parent to know anything about child updates. My tag basically retrieves all the child `file-descriptor` tags, use their options to set its state about the items it contains. This conversion happens on `mount`. The tag's DOM will use the item list and mount a nested `file-system` for ea

[2015-11-21 13:34] GianlucaGuarini commented on #1373
It looks like a but I need to check it

[2015-11-21 14:23] nippur72 commented on #1373
I don't understand the docs:

*The child tags are initialized __after__ the parent tag so the methods*
*and properties are available on the “mount” event.*

But how can you use props'n'meths if they are initialized "after" ?

Anyway the docs seem to be in line to the actual behavior (as shown by [this plunker](http://plnkr.co/edit/jv9cu7zlmuzrJynmgzif?p=preview)): the mounting sequence is first pa

[2015-11-21 18:58] whatda commented on #691
Couldn't the riot compiler replace yields inside selects with a special option, e. g.:

    <option value="" data-riot-placeholer="true"></option>

And then replace that with the yielded options? I hope I've understood the problem correctly...

[2015-11-21 20:56] aMarCruz commented on #691
@all,
you need use a `<select>` to store the `option` tag, is the only (secure) form.
[code]
but it needs support from `Tag` or `mkdom` to discard elements marked with "riot-root" or so.

See my comments starting in https://github.com/riot/riot/pull/1096#issuecomment-128524774

[2015-11-21 23:03] yuretz opened #1374 "Problem with looped <option> selected attribute in Firefox"
I've got an issue with looped `<option>` `selected` attribute inside `<select>` element in Firefox.
Please see the demo here: http://jsfiddle.net/yuretz/8zpnwwLe/
It seems like the new loop rendering method is somehow able to provoke some kind of weird thing in Firefox, where the option element that has `selected` attribute set is actually not shown as selected in the actual select control. Adding

[2015-11-22 11:04] aMarCruz commented on #1343
fixed, I'll close this issue now, feel free to reopen it if you consider it necessary.

[2015-11-22 11:04] #1343 closed

[2015-11-22 11:08] aMarCruz commented on #1235
fixed, I'll close this issue now, feel free to reopen it if you consider it necessary.

[2015-11-22 11:08] #1235 closed

[2015-11-22 12:29] aMarCruz commented on #1365
Long ago, the server-side rendering was important.
Pros:
* SEO
* Less dependency on a JavaScript version
* Fast Rendering

Cons:
* Increased download time (bigger pages)
* Difficult maintenance

Today, with new search engines, JavaScript standardization, and faster and faster rendering, the advantages are practically nonexistent. However, drawbacks remain.

For static data, the rendering on the se

[2015-11-22 13:49] n1313 commented on #1353
I have updated to 2.3.1 and indeed, some of my tags appear to not work anymore. Were there any breaking changes?

[2015-11-22 14:36] GianlucaGuarini commented on #1353
With no examples ( jsfiddle, plunker ) I can not help you

[2015-11-22 15:39] sylvainpolletvillard commented on #1353
I try to make one but didn't reproduce the issue yet. This is sneaky

[2015-11-22 15:42] GianlucaGuarini commented on #1353
I can imagine that some users did not notice that now options like `<tag my-option="foo">` get converted to `myOption`. Maybe this can be the problem

[2015-11-22 15:47] sylvainpolletvillard commented on #1353
No,  that would not explain why the tag is properly rendered but can't be updated twice.

[2015-11-22 15:50] GianlucaGuarini commented on #1353
I have fixed [this issue](https://github.com/riot/riot/issues/1364) that was failing silently. I would be curious to know if with the new 3.2.11 ( that I will release today ) this problem still exists

[2015-11-22 15:51] sylvainpolletvillard commented on #1353
Okay thanks,  will checked it out

[2015-11-22 16:42] #1341 closed

[2015-11-22 16:42] #1352 closed

[2015-11-22 16:42] #1364 closed

[2015-11-22 18:45] kuashe commented on #1372
Maybe it's an npm issue . Npm can't run this command when set in the "package.json" .

What ever the command is , npm returns "path specified can't be found" . Have to transfer it to the npm repo i guess .

[2015-11-22 19:36] GianlucaGuarini commented on #1299
I guess we can close this issue

[2015-11-22 19:36] #1299 closed

[2015-11-22 19:37] GianlucaGuarini commented on #1309
this issue got fixed http://plnkr.co/edit/9tcFwXKxEoHZkBuljlRz?p=preview

[2015-11-22 19:37] #1309 closed

[2015-11-22 19:39] GianlucaGuarini commented on #1261
this issue was fixed in riot 2.3.11

[2015-11-22 19:39] #1261 closed

[2015-11-22 19:48] GianlucaGuarini commented on #1122
this issue was solved the new compiler loads the brackets in runtime on each tag

[2015-11-22 19:48] #1122 closed

[2015-11-22 19:50] GianlucaGuarini commented on #1120
this issue was solved in riot 2.3.11 http://jsfiddle.net/9cho7a57/

[2015-11-22 19:50] #1120 closed

[2015-11-22 19:51] GianlucaGuarini commented on #1126
we have completely rewritten our riot-route in riot 2.3 please check if the problem still exists

[2015-11-22 19:51] #1126 closed

[2015-11-22 19:53] GianlucaGuarini commented on #1116
this issue was fixed http://jsfiddle.net/x9sakras/

[2015-11-22 19:53] #1116 closed

[2015-11-22 19:54] GianlucaGuarini commented on #1086
this issue was fixed https://jsfiddle.net/9fj3f652/

[2015-11-22 19:54] #1086 closed

[2015-11-22 19:55] GianlucaGuarini commented on #1039
we can close this issue, we support the old and the new babel version

[2015-11-22 19:55] #1039 closed

[2015-11-22 19:58] GianlucaGuarini commented on #1023
I am closing this issue due to inactivity. Pull requests are always welcome

[2015-11-22 19:58] #1023 closed

[2015-11-22 20:01] GianlucaGuarini commented on #931
We do not need promise. The `riot.mount` and `riot.render` are synchronous. In case you need to load external tags you can use `riot.compile(function()) {  })`
I am closing this issue

[2015-11-22 20:01] #931 closed

[2015-11-22 20:03] GianlucaGuarini commented on #816
this issue was fixed by @aMarCruz http://jsfiddle.net/rjjL8gwL/

[2015-11-22 20:03] #816 closed

[2015-11-22 20:04] GianlucaGuarini commented on #781
I am closing this issue. This feature is not on our TODO list

[2015-11-22 20:04] #781 closed

[2015-11-22 20:11] ernestorocha commented on #1365
Sorry @aMarCruz, but I don't get it. I'm pretty confused with what this has to do with our discussion, also I'm note sure that you can simplify the discussion "server side rendering" vs "client side rendering" that much.

Twitter started with server side, moved to client side, and now is using server side again. (https://blog.twitter.com/2012/improving-performance-on-twittercom). I'm not sure, but

[2015-11-22 20:12] whatda commented on #1299
@cognitom Thanks for the hint, it works now.

[2015-11-22 20:14] aMarCruz commented on #1122
Note: This is a bit different from fixed brackets at execution time. Maybe in a future version we'll implement this.

[2015-11-22 20:38] aMarCruz commented on #1365
@ernestorocha , I'm think Gmail, Facebook, and Instagram are not using this, but not sure. Anyway, I'm not trying to create controversy, this is to clarify in which cases it is beneficial Server Side Rendering. Surely there who is not aware of the changes in the new search engine.

From there, we can focus on the proper code. For example, what kind of data must travel from the server to the client

[2015-11-22 21:08] aMarCruz commented on #816
Some docs in https://github.com/riot/compiler/blob/dev/doc/guide.md

[2015-11-22 21:58] lmicra commented on #1120
!?, I'm getting this result on that fiddle:

This will not be shown
This should not be shown

[2015-11-22 23:23] sylvainpolletvillard commented on #1353
Unfortunately I still have the issue with 2.3.11. I don't give up, I will try to reproduce it in a plunker starting from my current codebase.

[2015-11-23 02:50] Ldiab commented on #1353
Sorry, I has been very busy these days, but you put here all I know right now, thanks!, and right now It still getting an empty array on 2.3.11... every page in the Google Chrome Console, it gives me the empty array :S I hope to get some time in december If this is still uncaught to try to find it because I think is a "big deal", well, for perfomance It should be avoid but is needed at the end of

[2015-11-23 08:50] avimar commented on #507
Is this only in the pre-compiler to include the source?
Or is this even in the uncompiled tags, and e.g. I can include stripe's javascript, from _their_ server, on load time? (they don't allow you to cache it for security reasons).

[2015-11-23 13:28] assertnotnull commented on #1364
Sorry I was away since. Thanks @GianlucaGuarini to get what I meant

[2015-11-23 14:06] nippur72 commented on #781
BTW, may I suggest to add a label "wontfix"? (most repos out there have it)

[2015-11-23 14:10] JonathanWolfe commented on #1343
While Riot no longer crashes, it doesn't have the correct output still when having a `$2` inside a yield.

The text `$25` become `5`.

[2015-11-23 14:48] GianlucaGuarini commented on #781
@nippur72 thanks I will

[2015-11-23 15:14] aMarCruz commented on #1343
@JonathanWolfe , I can't reproduce the issue with v2.3.11...

http://plnkr.co/edit/ttSRNm?p=preview
http://jsbin.com/fituya/1/edit?html,js,console,output

can't you jsbin/jsfiddle with your case please?

[2015-11-23 15:19] aMarCruz commented on #507
It is only for precompiled tags, i.e the node.js version.
Please read [this guide](https://github.com/riot/compiler/blob/dev/doc/guide.md)

[2015-11-23 15:25] JonathanWolfe commented on #1343
It appears to be server-side only after more testing.

[2015-11-23 15:28] JonathanWolfe commented on #1343
I'll build an example project real quick from my real one.

[2015-11-23 15:53] aMarCruz commented on #1343
ok, don't forget `npm update` you project.

[2015-11-23 16:02] JonathanWolfe commented on #1343
Crap, Sorry. Just noticed that I didn't update the HTML's script src to the new release, so it was re-mounting with `2.3.1`.

[2015-11-23 16:05] aMarCruz commented on #1343
that always happens to me :relaxed:

[2015-11-23 16:47] marvinroger commented on #1368
Thanks, it works. But now, the problem is passing an object through attribute doesn't work. (e.g `<div riot-tag="{ type }" each="{ nodes }" object={ object }></div>`. Again, replacing manually `riot-tag` with the name of the tag corrects the issue.

[2015-11-23 16:51] aMarCruz commented on #912
I'll close this issue now, v2.3.11 has a new logic for CSS parsing that solves this issue, feel free to reopen it if you consider it necessary.

[2015-11-23 16:51] #912 closed

[2015-11-23 19:06] aMarCruz commented on #871
From v2.3.1, the new `tmpl.errorHandler` property allows to detect errors in the evaluation, by setting its value to a function that receives the generated Error object, augmented with an object `riotData` containing the properties `tagName` and `_riot_id` on the context at error time.

Other (usually fatal) errors, such as "Parse Error" generated for the Function constructor, are not intercepted.

[2015-11-23 19:37] GianlucaGuarini commented on #1355
@cognitom @gfetco [you don't need the riot observer for this kind of events](http://riotjs.com/examples/live-editor/#%3Csample%3E%0A%20%20%3Cchild%20onmycustomevent%3D{%20doIt%20}%20%3E%3C%2Fchild%3E%0A%20%20%0A%20%20doIt%28e%29%20{%0A%20%20%20%20alert%28e.msg%29%0A%20%20}%0A%3C%2Fsample%3E%0A%0A%3Cchild%3E%0A%20%20%3Cp%20onclick%3D{%20dispatchCustomEvent%20}%3EClick%20me%20please%3C%2Fp%3E%0A%20%

[2015-11-23 19:37] #1355 closed

[2015-11-23 21:54] revington opened #1375 "Any riot/jade documentation?"
Riot newbie here!
I'm trying to translate the `todo.tag` example into jade (example below). I can not make it work due to some characters I do not know how to escape in a way riot will recognize.
I.e the parent.toggle in ``` input(type="checkbox", checked={done}, onclick={parent.toggle})```

[code]

[2015-11-23 22:04] lmicra commented on #1375
Try:
[code]

[2015-11-23 23:07] sylvainpolletvillard commented on #1353
Finally, I reproduced it in a plunker :sunglasses:

http://plnkr.co/edit/4K3zpyssORSpuGgBhRhB?p=preview

Open console to see logs and click on the 2 buttons. riot.update() returns an empty array. For the second button, I guess the tag is updated because a click event occured inside.

If you remove the `each={ filepath, labels in files }` part inside files.tag, riot.update() works again and returns

[2015-11-23 23:09] markgoodyear commented on #565
@Sendoushi @jimknight I'd be interested too. I've tried playing with exec but couldn't seem to get it working.

[2015-11-23 23:42] changalberto opened #1376 "v2.3.11 Broke Routes Set Base"
It's not registering the base routes.

[2015-11-24 09:24] MartinMuzatko commented on #1238
**Update:**
Manning had a few talks with me in the last few weeks. And they are still deciding, whether or not they want me to write the book. Whether or not *"now"* is the time to write a book about Riot.

**In other words:** Riot may not be popular enough to be a viable decision for their book-market. Furthermore, I feel they think, from what I explained, that RiotJS is way too simple to need a

[2015-11-24 09:31] gregorypratt commented on #1238
Contributions to [RiotGear](http://riotgear.js.org/) would be welcome!

[2015-11-24 12:14] jimknight commented on #565
Let me see if I can find it

[2015-11-24 12:24] jimknight commented on #565
I haven't worked on this project for awhile but I managed to trace down the commit where I said it was fixed. Hope it helps

https://github.com/jimknight/pmjs/commit/a678d4fbf3893f1190cab1b531eac53e61578609

<app>
  <script>
    riot.route( function(projects,project_id,emails,email_id) {
      if (emails) {return false;};
      if (projects== 'projects') {
        $('app').html('<projects_index></

[2015-11-24 13:31] ernestorocha commented on #1365
@GianlucaGuarini did you confirm the issue ?

[2015-11-24 14:00] markgoodyear commented on #565
Thanks @jimknight. Looks like `exec()` with a callback is depreciated from 2.3. I checked out the demo's again and realise I was missing `compile()`:

[code]

This allowed my routes to work on refresh. Need to dig into compile a bit more :). Perhaps this is what @Sendoushi was missing too.

[2015-11-24 14:10] wintercounter opened #1377 "IE10 and below document.body is null"
In IE10 and below document.body does not exists if I include my tags.js file in the head.
In case I include before the closing body tag (at this point it exists), the site will flash because of unstyled content.

[2015-11-24 14:22] GianlucaGuarini commented on #1365
@ernestorocha of course this is an issue but it has no high priority right now.. I guess to solve it we need to start adding precompiled expressions and ids to the nodes like react because there is no other smarter way to bind an expression to an element already rendered in the DOM

[2015-11-24 17:16] acousticseagull opened #1378 "riot.update() is not firing?"
The blue boxes on my Plunker example should be resorted when dragged to a new time, but the riot.update() method is not fire.

http://plnkr.co/edit/R6YaNzP7Y8rroi5m5cOu?p=preview

[2015-11-24 17:32] GianlucaGuarini commented on #1378
Your example looks too complicated. I think you are making several mistakes drilling down your data structure down to your components. Have you tried handling your data outside your tags using maybe https://github.com/jimsparkman/RiotControl ?

[2015-11-24 17:33] GianlucaGuarini commented on #1376
@cognitom can you please check this issue?

[2015-11-24 17:47] GianlucaGuarini commented on #1353
@sylvainpolletvillard thanks.. it's a bug

[2015-11-24 17:52] acousticseagull commented on #1378
I'm not sure why I would need to do that. I'm calling riot.update() in the dragEnd function in the events.html file and according to the documentation that should update all the mounted tags and their expressions correct? I tried it in v2.2.4 and it worked. Also this.parent.parent.update() works as well. :)

[2015-11-24 18:03] GianlucaGuarini commented on #1378
Sure it worked with 2.2.4? Your Plunker demo does not http://plnkr.co/edit/X4U4VVmkArtzQ3EfbCcC?p=preview Maybe I am missing something but I will investigate where's the issue

[2015-11-24 19:33] GianlucaGuarini commented on #1378
I think you are calculating the dates using wrong values (at least on firefox). This seems to break the whole application, I recommend you to use moment.js http://plnkr.co/edit/Xh45zqzcqY1An1eMYz95?p=preview check the console log while you are dragging. On chrome it seems to work fine. Which browser are you using?

[2015-11-24 19:34] GianlucaGuarini commented on #1326
@ydatech are you still having problems in cordova with riot 2.3.11?

[2015-11-24 19:49] GianlucaGuarini commented on #1326
I checked the issue. Cordova has a lot of bugs with the links and the html5 history navigation. I recommend to use urls with hashbangs for the cordova apps

[code]

[code]
 I am closing this issue because it's not riot specific

[2015-11-24 19:49] #1326 closed

[2015-11-24 19:53] GianlucaGuarini commented on #1377
Which riot version are you using? Can you make a jsfiddle please explaining the issue?

[2015-11-24 19:55] GianlucaGuarini commented on #1371
It got fixed thanks @aMarCruz

[2015-11-24 19:55] #1371 closed

[2015-11-24 19:56] GianlucaGuarini commented on #1359
I am not sure if a `<yield>` tag must be used in a loop as well, any `yield` tag gets replaced only once when a tag gets mounted

[2015-11-24 19:57] GianlucaGuarini commented on #1348
I will update the riot-observable on the next riot major release. This is a breaking change

[2015-11-24 20:01] GianlucaGuarini commented on #1344
@txchen this issue was solved in riot 2.3.11 please check our updated [download page](http://riotjs.com/download/#content-delivery-networks)

[2015-11-24 20:01] #1344 closed

[2015-11-24 20:03] GianlucaGuarini commented on #1342
@georgir You should not forget that all the riot tags get styled using `[riot-tag="item"] { color: red }` so we can not simply remove the `riot-tag` attributes

[2015-11-24 20:09] #1333 closed

[2015-11-24 20:10] GianlucaGuarini commented on #1333
@weepy I have updated the documentation hoping it's less confusing

[2015-11-24 20:12] acousticseagull commented on #1378
I'm using Chrome. This version http://plnkr.co/edit/R6YaNzP7Y8rroi5m5cOu?p=preview works in Chome, even the sort works using this.parent.parent.update() instead of riot.update(), but it's completely broke in Firefox. Firefox must treat the dates differently.

[2015-11-24 20:12] GianlucaGuarini commented on #1297
@gdub22 @aMarCruz I like the idea of removing the falsey attributes I will try to implement this feature in the next release

[2015-11-24 20:13] weepy commented on #1333
Perfect.

On Tue, 24 Nov 2015 20:10 Gianluca Guarini <notifications@github.com> wrote:

[2015-11-24 20:14] GianlucaGuarini commented on #1378
I think `riot.update` is somehow broken. I will close this issue in favor of [this one](https://github.com/riot/riot/issues/1353) Thanks for your examples

[2015-11-24 20:14] #1378 closed

[2015-11-24 20:28] GianlucaGuarini commented on #1374
@yuretz Of course it seems to be a firefox bug and you are right `there might exist multiple <option> elements which are selected, and that's what causes all the confusion.`

we run our unit test across several browsers and if someone find a bug like this we fix it for all the next releases on all the platforms adding a test

[2015-11-24 20:29] acousticseagull commented on #1378
Thanks. Sorry my example is goofy.

[2015-11-24 20:43] GianlucaGuarini commented on #1374
I made a quick example to check whether the issue is really in firefox, but it seems to be really in riot http://jsfiddle.net/8zpnwwLe/7/

[2015-11-24 20:44] GianlucaGuarini commented on #1378
@acousticseagull no prob thanks to you ;)

[2015-11-24 20:45] GianlucaGuarini commented on #219
@aMarCruz Is it possible to integrate the new [errorhandler](https://github.com/riot/tmpl/blob/dev/doc/API.md#errorhandler-property) in riot to solve this issue?

[2015-11-24 20:49] GianlucaGuarini commented on #668
This issue can not be fixed because riot needs to evaluate all the expressions once the dome gets created. It's not a critical issue so I am going to close it.

[2015-11-24 20:49] #668 closed

[2015-11-24 22:27] aMarCruz commented on #276
Regarding boolean attributes, I corrected the list and today we have 29:
https://github.com/riot/compiler/blob/dev/doc/attributes.md.

@tipiirai , expressions in boolean attributes are working fine w/o the `__` prefix for IE9 in Windows and Safari 5.1 in Mac Lion/Leopard (the problematic browsers). riot still needs to know when is a boolean to remove it on falsy values, but I think this can be don

[2015-11-24 22:58] aMarCruz commented on #219
The `tmpl.errorHandler` property is working since v2.3.0, see [API](https://github.com/riot/tmpl/blob/dev/doc/API.md#errorhandler-property) and [CHANGES](https://github.com/riot/tmpl/blob/dev/doc/API.md#errorhandler-property) docs.
Tests in [core.specs](https://github.com/riot/tmpl/blob/dev/test/specs/core.specs.js#L354-L421).
It is for error handling, I think this is not useful for tracing.

I re

[2015-11-24 23:06] aMarCruz commented on #1297
Ok,  this will simplify the compilation
btw: the `__` prefix is not neccesary with the browsers currently supported by riot. I test this in IE9 Win and Safari 5.1 on Mac.

[2015-11-25 03:19] xieyu33333 commented on #1361
@GianlucaGuarini http://jsfiddle.net/bj3fcb7v/1/

[2015-11-25 05:33] acousticseagull commented on #1361
For each of the children put an empty children array and then just check if the children array has a length. I've updated your fiddle https://jsfiddle.net/bj3fcb7v/2/

[2015-11-25 05:42] acousticseagull commented on #1361
Actually you could do it like this also. https://jsfiddle.net/pk8wgxds/ which may be closer to what you were looking for.

[2015-11-25 05:52] xieyu33333 commented on #1361
At the old version, http://jsfiddle.net/bj3fcb7v/1/ is OK, I think it is a bug

[2015-11-25 05:59] acousticseagull commented on #1361
Yeah it seems like children should be undefined, but it's like it doesn't exist.

[code]

[code]

[2015-11-25 06:21] lloydzhou commented on #1361
@xieyu33333
may be you can using this code https://jsfiddle.net/bj3fcb7v/3/ , i have updated:
doc is here: http://riotjs.com/zh/guide/#非对象数组

        <div class="tree-item-wrap" each="{ d,i in data }">
            <div class="tree-item-row">
                <span if="{ d.children.length }"> + </span>
                <input type="checkbox" checked="{ selected }">
                <div>{ d.displayNam

[2015-11-25 07:15] tipiirai commented on #276
Happy to remove the `__` prefix. And indeed, those were there for IE8 only.

[2015-11-25 07:18] GianlucaGuarini commented on #276
@tipiirai @aMarCruz I agree but we must be sure that the next `riot-tmpl` has a method `isBoolean` to lookup these properties

[2015-11-25 08:15] tipiirai commented on #276
Yeah. I hope there is a way to check that without the explicit list of these attributes and it works on IE9 too.

[2015-11-25 08:36] GianlucaGuarini commented on #276
@tipiirai it's pretty simple I guess `return ~booleanAttributes.indexOf(attribute)` am I right @aMarCruz ?

[2015-11-25 08:49] watert opened #1379 "riot-cli style parameter must have an export?"
I wanna use lesscss and just put the css inside the tag, but it reports `TypeError: Cannot read property 'render' of null`, did riot-cli style parameter must have an export?

And if there's autoprefixer compiler builtin it's much better.

[2015-11-25 08:52] watert opened #1380 "did riot-cli config file in roadmap?"
The watch feature of riot-cli is really useful when developing. But it seems like if I have some custom pre-compiler, then I have to write a script file to add to riot, and have no idea how to use the watch feature.

And I think the src and dist parameters should put inside the config file also.

[2015-11-25 09:01] nippur72 opened #1381 "Make "_tag" property public and documented"
What about making the `_tag` property public and documented? I constantly reference it in my code, I find it to be very useful.

Also, documentation should make clear from the start that the riot tag is mounted not on the `HTMLElement` directly, but on its `_tag` property. I took me a while to realize it, and it's likely that developers approaching riot are missing that too.

[2015-11-25 09:43] wintercounter commented on #1377
I was using 2.2.4 and I could reproduce in Plunker with tags which included custom style tag. I've upgraded to 2.3.11 and it seems like it's fixed so sorry for opening this issue.

[2015-11-25 09:43] #1377 closed

[2015-11-25 10:26] cognitom commented on #1376
@changalberto I've checked the example with the latest Riot.js, and it seems working fine...
https://github.com/riot/examples/tree/gh-pages/router-complex

I've changed this part.
[code]

Could you explain your situation more?

[2015-11-25 12:03] aMarCruz commented on #276
@GianlucaGuarini yes. Integrating #1297, [this](https://github.com/riot/riot/blob/dev/lib/browser/tag/update.js#L145-L150) can be something like:
[code]
..maybe for not boolean attributes we need check for zero.

[2015-11-25 12:32] changalberto commented on #1376
My app routes set base as riot.route.base('/#/abc/12345/')
It works with v2.3.1
Can you try and see if this works?

Thanks.

Sent from my iPhone

[2015-11-25 12:57] kelvinlee opened #1383 "Hope have this function."
[code]

But it's doesn't work now.

![image](https://cloud.githubusercontent.com/assets/2314674/11397870/a195e736-93b7-11e5-8e47-a1c788fb60dd.png)

This is more convenient.

[2015-11-25 12:58] GianlucaGuarini commented on #1383
You must use `:scope` in your css

[2015-11-25 16:20] jschill commented on #1266
@gdub22 Really nice implementation.It would be nice to read how you've done.

[2015-11-25 20:01] GianlucaGuarini commented on #1379
@watert thank you for your input I moved your issue here https://github.com/riot/cli/issues/9 I am closing this in the main riot repo

[2015-11-25 20:01] #1379 closed

[2015-11-25 20:03] GianlucaGuarini commented on #1383
We have already answered to this topic [here](https://github.com/riot/riot/issues/1362) this feature will not land in riot. Thanks anyway

[2015-11-25 20:03] #1383 closed

[2015-11-25 20:17] GianlucaGuarini commented on #1288
@web3d0 any progress on this issue? Have you made a benchmark? I would like to keep discussing this topic in [one place](https://github.com/riot/riot/issues/1118)

[2015-11-25 20:18] GianlucaGuarini commented on #1381
@nippur72 In my personal opinion this is a bad practice. It means that you have no control over your riot tags and you are relying on the DOM nodes guessing to mount/unmount/update your application components through them. I think your html should be used to display your data (data driven approach) without being used to hold your tags logic and instances. Exposing `_tag` as public method will not

[2015-11-25 20:24] GianlucaGuarini commented on #1375
Closing this issue in favor of [this](https://github.com/riot/riot.github.io/issues/77)
Any pull request is welcome

[2015-11-25 20:24] #1375 closed

[2015-11-25 20:27] GianlucaGuarini commented on #1380
thank you I am closing this issue in favor of [this](https://github.com/riot/cli/issues/10)

[2015-11-25 20:27] #1380 closed

[2015-11-25 20:31] GianlucaGuarini commented on #1372
I am closing this issue because it seems to be related to your npm/node setup more than riot. In the worst case if anyone will have the same problem you can always use `npm install riot-cli -g`

[2015-11-25 20:31] #1372 closed

[2015-11-25 20:33] GianlucaGuarini commented on #1340
@madfriend could you make a simple example so we can try to help you?

[2015-11-25 20:37] GianlucaGuarini commented on #1250
With riot 2.3.11 you can use `riot.compile('my-tag.tag', { entities: true })` to export each single entity of your tag (`css`, `js`, `html`, `attributes`) It should be enough to let you pre-render your tags on the server as well. I am closing this issue

[2015-11-25 20:37] #1250 closed

[2015-11-25 20:42] GianlucaGuarini commented on #1242
This is not a riot issue. Your `<script>` tag should be rendered __inside__ the tag and not outside. With riot you can use any template engine but it's up to you generating [riot compliant markup](https://github.com/riot/compiler/blob/dev/doc/guide.md) I am closing this issue

[2015-11-25 20:42] #1242 closed

[2015-11-25 21:05] GianlucaGuarini commented on #1196
@webxl I have fixed your example http://plnkr.co/edit/eX5a39AolDsW2fDzJe6Z?p=preview
@andynemzek I understand your request but riot gives you already many possibilities to pass all the options you want to a tag however you want. In riot 2.3.11 we even normalize all the dom attributes to camel case `<tag my-prop> => myProp`. I am closing this issue because `opts` is a reserved property that can be

[2015-11-25 21:05] #1196 closed

[2015-11-25 21:10] GianlucaGuarini commented on #1202
@imShara thanks for your question but I think the progressive rendering is a decision/strategy I would leave to devs without forcing our own solution directly in the riot core. I am closing this issue

[2015-11-25 21:10] #1202 closed

[2015-11-25 21:16] GianlucaGuarini commented on #1182
@gregorypratt thanks for your awesome contribution but I am not a big fan or the github wikis. Please make a pull request [here](https://github.com/riot/riot.github.io)  probably we can add a section on the site to show other libraries using riot. I am closing this issue

[2015-11-25 21:16] #1182 closed

[2015-11-25 21:19] GianlucaGuarini commented on #1021
@duongphuhiep do you still have this problem in riot 2.3.11?

[2015-11-25 21:20] GianlucaGuarini commented on #967
riot does not support ie8 anymore. I am closing this issue

[2015-11-25 21:20] #967 closed

[2015-11-25 21:26] GianlucaGuarini commented on #564
This issue was solved using [the`<virtual>` tag](http://riotjs.com/guide/#the-virtual-tag)

[2015-11-25 21:26] #564 closed

[2015-11-25 21:34] GianlucaGuarini commented on #1336
Riot is definitely ready for production for small and big application. It allows you to write your framework without being stuck to any kind of technology or programming paradigm. @Mariick thanks for your question and I am closing this issue hoping you got enough answers

[2015-11-25 21:34] #1336 closed

[2015-11-25 21:39] GianlucaGuarini commented on #1108
This issue was solved in riot 2.3.11 http://jsfiddle.net/g0x6gmu6/

[2015-11-25 21:39] #1108 closed

[2015-11-25 22:05] brauliobo commented on #1242
Sorry, edited the issue, the script tag is put inside `my-tag`, but riot can't parse as there is no new line or space between tags.

[2015-11-25 22:22] gregorypratt commented on #1182
Will do 👍

[2015-11-26 02:07] ernestorocha commented on #1365
@GianlucaGuarini, thanks. I just wanted to be sure.

Given the minimal philosophy of Riot, this React thing, diffing stuff and all may sound out of scope and I think that would add a lot of extra weight to the library. And, that's something that I think shouldn't be the Riot's future.

But, what about some little optimizations, like mounting an invisible tag on the client side, toggling the visibi

[2015-11-26 03:07] cognitom commented on #1376
I couldn't find issues...
![2015-11-26 12_05_16](https://cloud.githubusercontent.com/assets/16032/11414219/14ba0818-9436-11e5-9344-e343fe7a9b45.gif)

[2015-11-26 04:09] aMarCruz commented on #871
I'll close this issue now, feel free to reopen it if you consider it necessary.

[2015-11-26 04:09] #871 closed

[2015-11-26 04:21] web3d0 commented on #1288
@GianlucaGuarini I abandoned this line of investigation when Immutable clocked in at 50k, which isn't really compatible with Riot's approach of 4k. The main problem is that if Riot itself uses === for Redux style checking, then user code mutates something, then the results are difficult to debug.

[2015-11-26 07:12] GianlucaGuarini commented on #1288
I am closing this issue in favor of https://github.com/riot/riot/issues/1118 I will be happy to discuss this topic in one place. @web3d0 thanks for your issue anyway

[2015-11-26 07:12] #1288 closed

[2015-11-26 07:15] GianlucaGuarini commented on #871
@aMarCruz the problem is that our users do not have a direct access to `riot-tmpl` probably we need to provide an interface to `errorHandler`

[2015-11-26 07:17] GianlucaGuarini commented on #1242
@brauliobo yes our compiler can not parse oneline markup. It's a limit but at least we have [good guidelines](https://github.com/riot/compiler/blob/dev/doc/guide.md)

[2015-11-26 08:16] aMarCruz commented on #933
This is working in v2.3, feel free to reopen this issue if you consider it necessary.

[2015-11-26 08:16] #933 closed

[2015-11-26 09:31] weepy commented on #1118
@GianlucaGuarini - hey you mentioned above you might be making a best practice example app. Did you get a chance ?

[2015-11-26 09:34] nippur72 commented on #871
@GianlucaGuarini isn't it
[code]
?

[2015-11-26 09:45] GianlucaGuarini commented on #871
@nippur72 you are right I forgot we expose it in that way. It does not look that nice anyway I will try to make it a bit more user friendly

[2015-11-26 10:01] brauliobo commented on #1242
@GianlucaGuarini the problem with that is that generated HTML from templates like Jade, Haml and Slim and others will probably have problems to be used with Riot.

[2015-11-26 10:54] madfriend commented on #1340
Sorry for the delay, here is a simple example: http://jsfiddle.net/madfriend/su3zofm6/1/

[2015-11-26 11:52] nippur72 commented on #1381
@GianlucaGuarini agree 100% if the whole app is hosted within riot, but if you have a mixed scenario, `_tag` is the bridge to between foreign JavaScript and your riot piece of code. E.g.:

[code]

[2015-11-26 12:03] GianlucaGuarini commented on #1381
You can always do:
[code]
Btw in the next release I will make public all the riot tag instances created and cached internally so you in theory could have access to all the tags via `riot.tags` or something similar

[2015-11-26 15:27] RanzQ commented on #994
:+1: @gihrig

With `html-loader` the template can also be in a separate file instead of multi-line strings. Works well in Sublime with Babel syntax hilight and `eslint`. Like this:

[code]

[2015-11-26 21:52] aMarCruz commented on #871
`riot.setErrorHandler(fn)` ?
and maybe `riot.setBrackets(str)` too.

[2015-11-26 22:08] aMarCruz commented on #1340
Your test.tag it is loaded successfully, but have a nested tag you try to load through `<script src="test2.tag">`. riot doesn't support this behavior.

btw: loading https://cdnjs.cloudflare.com/ajax/libs/riot/2.3.11/riot+compiler.min.js is sufficient, you do not need to load `riot.min.js` with it.

[2015-11-26 23:05] duongphuhiep opened #1384 "{hide} {show} don't work"
http://jsfiddle.net/duongphuhiep/xw8so3sq/

[code]
"HELLO WORLD" did not disapeared after 2 sec as expecting

[2015-11-26 23:07] duongphuhiep commented on #1384
oh sorry! a _this.update() is missing

[2015-11-26 23:07] #1384 closed

[2015-11-26 23:32] duongphuhiep opened #1385 "regression Bug of the router API?"
[code]

I expect that my callback is called on every change of the url (as in the version 2.3.4)

But it is not true in case the route is changed from `index.html#blog`  to `index.html#`
The callback in the `route.parser` is invoked with empty path, and the `riot.route` callback is not called

[2015-11-26 23:43] cognitom commented on #1385
@duongphuhiep thanks for reporting. Could you make an issue on this repo, with Plunker?
https://github.com/riot/route/issues
http://riotjs.com/examples/plunker/?app=bug-reporter

[2015-11-26 23:56] duongphuhiep commented on #1021
I gave up typescript and `riot --watch` for gulp + pure javascript. I might come back to test this fixture later.

[2015-11-27 00:02] duongphuhiep commented on #1385
done
https://github.com/riot/route/issues/30

I don't know how to generate route problem with plunker

[2015-11-27 00:02] #1385 closed

[2015-11-27 05:27] madfriend commented on #1340
@aMarCruz is this behavior (for `test2.tag`) going to change? Otherwise it seems impossible to incapsulate tag dependencies.

[2015-11-27 11:35] wonderix opened #1386 "JavaScript called multiple times within nesting"
See http://plnkr.co/edit/Xa7Iu4sh8izURLzOwUeP?p=preview

When I nest a tag like

[code]

multiple time

[code]

The console output for level 3 is called 3 times

[code]

[2015-11-27 14:06] weepy opened #1387 "Custom text in tag"
Hi I recently upgraded to 2.3.11 and I found that I get some bad looking compiled tags in situations where the content is interpolated text without an outer tag. Eg.

[code]

is compiled to
[code]

Am I doing something wrong ?

[2015-11-27 16:13] GianlucaGuarini commented on #1387
I think the new compiler does not work with this kind of custom tags probably because it's a tag without any template. But I guess it should be fixed. @aMarCruz Can you have a look please?

[2015-11-27 18:26] aMarCruz commented on #1387
@GianlucaGuarini , sure. I'll take a look.
Seems related [to this issue](https://github.com/riot/compiler/issues/6#issuecomment-150384238)

[2015-11-27 18:45] aMarCruz commented on #1340
@madfriend , not at short time.
but it will be supported in the next update of riot-cli, for including sources in the file system, in precompiled tags.
Anyway, I'm curious, why you need load each tag with XHR? It seems to me very inefficent, too many server (expensive) requests. Riot can read multiple tags from one .tag file or you can use precompiled js to encapsulate multiple files.

[2015-11-27 19:28] aMarCruz commented on #1387
@weepy , @GianlucaGuarini , I really don't know if we must support this construction.

From the riot guide [here](http://riotjs.com/guide/#tag-syntax):

From riot-compiler guide [here](https://github.com/riot/compiler/blob/dev/doc/guide.md#the-untagged-js-block):

How to differentiate html from JS without the html tags? think about:
[code]
I think the whole `<x>` is html, but in the riot context t

[2015-11-27 20:13] weepy commented on #1387
Well I'm not sure that you'll agree with me, but I've never particularly
liked the magic guessing of JS. Whilst clever, it seems brittle and
unnecessary. I always use a <script> tag, which also helps with syntax
highlighting and seems more in line with the HTML spec.

Alternatively we could allow <virtual> tags in this situation?

On Fri, 27 Nov 2015 19:28 Alberto Martínez <notifications@github.co

[2015-11-27 20:28] aMarCruz commented on #1387
I agree, and untagged js complicates the parsing.
Assuming remaining content as html seems more intuitive, but this would be a breaking change.

What do you mean with `<virtual>` tags?

[2015-11-27 20:29] weepy commented on #1387
So its just a hack. Virtual tags would be removed leaving only their
content.

On Fri, 27 Nov 2015 20:28 Alberto Martínez <notifications@github.com> wrote:

[2015-11-27 20:35] aMarCruz commented on #1387
I got it, with these we can fix the `<option>` in mixins problem too:
[code]
I don't like this solution for the untagged html issue here, but maybe we can impelent it.
Let's wait for @GianlucaGuarini , it needs a change in the riot core.

[2015-11-27 20:46] aMarCruz commented on #1387
@tipiirai , @cognitom , @rsbondi , @GianlucaGuarini ,
we must consider untagged content as html?
what do you think about virtual tag containers?

[2015-11-27 21:56] madfriend commented on #1340
I guess the correct way to do that would be to concatenate all the tag definitions in one file. But for developing/debugging puproses the separation of tag definitions into different files is better.
It seems unnatural for me that nested tags should be defined in place, not fetched via GET.

[2015-11-27 22:45] GianlucaGuarini commented on #1340
In your case you should simply use `riot.compile('path-to-the-other-tag', function() {})`. I have fixed your example http://jsfiddle.net/wb9ysuso/1/

[2015-11-27 22:48] GianlucaGuarini commented on #1386
Riot has some problems rendering recursive tags I am closing this issue because it's a duplicate and we are aware of this issue already mentioned somewhere else https://github.com/riot/riot/issues/1073
Thanks anyway

[2015-11-27 22:48] #1386 closed

[2015-11-27 22:52] GianlucaGuarini commented on #1381
@nippur72 thanks for your proposal but I want keep this property private and undocumented because It can be removed at any time. I am closing this issue. If also other users will demand this feature as well I may reconsider my decision :v:

[2015-11-27 22:52] #1381 closed

[2015-11-27 22:55] GianlucaGuarini commented on #1376
thanks @cognitom. @changalberto I guess the problem is somewhere else. I am closing this issue. Please open it again with an example where we can test your specific case [here](https://github.com/riot/route)

[2015-11-27 22:55] #1376 closed

[2015-11-27 23:09] backspaces commented on #1322
Moving to es6 brings up the module loader problem .. defined by whatwg not TC39/ECMA. I.e. not es6 so much as HTML.next.

How do you plan to load modules? Webpack & npm/babelify are popular but not as standard as SystemJS.

[2015-11-27 23:13] JonathanWolfe commented on #1322
Due to the fact that there is no native module loading anywhere I do think we should go with the most spec compliant which would be SystemJS or maybe Rollup like the current plan.

[2015-11-27 23:14] GianlucaGuarini commented on #1387
for @weepy I think your tag probably does not even need to be compiled I achieved the same result with 3 lines of js http://plnkr.co/edit/hCjfmsM2w5RDNjVMAtZk?p=preview I would not overcomplicate the core for features that can be done outside the framework. Something cool can be an extension library with special tags and mixins that we can host/maintain in our riot organization

[2015-11-27 23:19] weepy commented on #1387
Sure there's hacks around it. Just seems a very basic use case. It will
bite a lot of people so the very least it should be documented.

On Fri, 27 Nov 2015 23:15 Gianluca Guarini <notifications@github.com> wrote:

[2015-11-27 23:24] GianlucaGuarini commented on #1387
@weepy So we can add to the documentation something like:
Custom tags not containing any html template can not be properly compiled. For example:
[code]
In this case you may simply use:
[code]

@aMarCruz what do you think?

[2015-11-28 00:47] aMarCruz commented on #1387
@GianlucaGuarini , to make the @weepy example work, it is needed change `['', str]` to `[str, '']` in [this line](https://github.com/riot/compiler/blob/dev/lib/core.js#L472), but it is a breaking change, so I will update the docs.

[2015-11-28 00:56] aMarCruz commented on #1387
I don't like at all because it implies that there are froms that can not be used. e.g.
[code]
while we can always include JS through the `<script>` tag.

[2015-11-28 04:13] acousticseagull commented on #1387
Just throwing in my two cents... I've always used the script tags for similar reasons as @weepy. It seems weird that you can't do this.

[code]

[2015-11-28 08:39] madfriend commented on #1340
Thanks!

[2015-11-28 08:39] #1340 closed

[2015-11-28 17:04] aMarCruz commented on #1165
@fishermand46 , the [riot-compile module](https://github.com/riot/compiler) already include the methods `html`, `style`, and `js`, but I think we are not yet documented.

As regards scoped CSS, this is an internal post-processor running after the css parser and takes an already normalized string, so it should not be exposed, but can be called indirectly with the `style` method:
[code]

For in-brow

[2015-11-29 10:59] nippur72 commented on #1387
the breaking change can be less harmful if we require the enclosing `<script>` only for tags that are not wrapped in a container, and make it optional/suggested for the other cases. That would make 90% of the code out there still work.

[2015-11-29 15:47] kuashe commented on #1218
+1 On the slot idea

[2015-11-29 18:26] GianlucaGuarini commented on #1218
@Centaur could you change the tag name from `yield` to `slot`? I think it makes more sense

[2015-11-29 18:40] aMarCruz commented on #1387
@nippur72 , that results in the same.

[2015-11-29 18:51] nippur72 commented on #1387
@aMarCruz yes still a breaking change, but it's better than forcing people to use `<script>` all the time.

Anyway, I put my +1 on the breaking change, I value more to be able to write tags like `<x>{any}</x>` than preserving retro-compatibilty. The breaking change is easy to fix, so it isn't a real problem even if you have a large code base.

[2015-11-29 18:56] phillip-haydon commented on #1001
So is there any non-hackish way to do this?

`data-` isn't really an option if you have elements inside the element you're clicking...

i.e

`<button data-id="123"><i class="icon-save"></i> Save</button>`

If you click the i then dataset is undefined since it belongs to the button. Then you have to find the parent... and its all too complicated.

[2015-11-29 19:07] aMarCruz commented on #1387
@nippur72 , I agree with you, with the consensus of the team I hope that this change can be done.

[2015-11-29 21:30] weepy commented on #1001
@pitaj’s suggestion is non-hackish IMHO. Ie using .bind to prefill arguments

[2015-11-30 03:57] rkmax commented on #1001
@pitaj could you please provide an example

[2015-11-30 04:01] Centaur commented on #1218
@GianlucaGuarini  Done. But personally I don't care what the API look like, I like css-selector based api more. Should riot call it `slot` just because some other framework has done that? What really matters is that this feature is a must-have for a component framework as riot.

[2015-11-30 07:33] GianlucaGuarini commented on #1118
@weepy I've just started https://github.com/GianlucaGuarini/riot-app-example I will ping you guys when I am done

[2015-11-30 07:56] GianlucaGuarini commented on #1218
@Centaur no. Riot will use `slot` because it's the name used in the webcomponents specs https://w3c.github.io/webcomponents/spec/shadow/#slots and we must try to stick to the specs as much as possible

[2015-11-30 08:01] weepy commented on #1118
Nice one! What is it supposed to explain? I was expecting something
involving FR but it seems to be mainly about isomorphism?

On Mon, 30 Nov 2015 07:33 Gianluca Guarini <notifications@github.com> wrote:

[2015-11-30 08:05] Centaur commented on #1218
@GianlucaGuarini from the same document you linked:

[2015-11-30 08:09] GianlucaGuarini commented on #1118
@weepy It's about logic.. let me finish and you will find in the readme file how I think a riot app should handle its data without too much ceremony

[2015-11-30 08:10] weepy commented on #1118
Look forward to it

On Mon, 30 Nov 2015 08:09 Gianluca Guarini <notifications@github.com> wrote:

[2015-11-30 09:11] millette commented on #1286
See also https://mail.mozilla.org/pipermail/es-discuss/2015-November/044684.html where Adam Klein explains why he's withdrawing his O.o proposal from TC39.

[2015-11-30 09:15] GianlucaGuarini commented on #1286
@millette thanks this discussion is officially closed

[2015-11-30 09:15] #1286 closed

[2015-11-30 09:16] ckcollab opened #1389 "Commented styling breaks following styles?"
Heyo, first of all thanks for RiotJS! Loving this stuff so far :)

I seem to keep running into problems with CSS styling breaking, and I think I finally figured out why:
[code]

The `.bottom` style won't apply now, unless I delete the style above it. Maybe I'm misunderstanding something, but that seems like a bug? I may be doing something else wrong, apologies if so!

[2015-11-30 09:24] cheft opened #1390 "Doesn't eval on Java 8 Nashorn JavaScript Engine"

[2015-11-30 09:38] GianlucaGuarini commented on #1390
Could you provide more info please?

[2015-11-30 10:37] sapphiriq commented on #1118
@weepy I just published a repo with my [experiments](https://github.com/sapphiriq/riot-redux-experiments).
If you want just riot-redux part you can check [createComponent](https://github.com/sapphiriq/riot-redux-experiments/blob/master/src/app/utils/index.js#L8) function and [counter-example](https://github.com/sapphiriq/riot-redux-experiments/blob/master/src/app/components/CounterExample.js) tag

[2015-11-30 14:23] MartinMuzatko commented on #1373
I experienced a similar bug with tables.
This happens when the outer HTML depends on the HTML of the inner tag/HTML. So the tag gets evaluated as closed, since the content comes later. If I interpreted that right.

[2015-12-01 07:46] cognitom commented on #1387
I've never used it without `<script>` inside the tag definition... I prefer the idea "always `<script>`". But I guess @tipiirai likes the "loose" mode?

@weepy another hack could be like this:
[code]
http://plnkr.co/edit/uwJ2lmkgPOsSAejKLQFU?p=preview

[2015-12-01 07:56] weepy commented on #1387
Yes @tipiiari argues that riot strives for minimal boilerplate and it's easy to detect the difference between JS and HTML.

To which I would quote Einstein : "Everything should be made as simple as possible, but not simpler."

^_^

[2015-12-01 07:57] cognitom commented on #1387
BTW, I'm not sure it was already mentioned or not, the code below works. But only if it is written in one line :-)

[code]
http://plnkr.co/edit/PcsGADcbVKIaADOdaQ8t?p=preview

[2015-12-01 08:33] weepy commented on #1387
Why's that ?

On Tue, Dec 1, 2015 at 7:57 AM Tsutomu Kawamura <notifications@github.com>
wrote:

[2015-12-01 09:02] cognitom commented on #1387
The compiler assumes that the content of tag is HTML if just one line.
https://github.com/riot/riot/blob/master/test/specs/server/compiler/fixtures/oneline.tag

I was introduced at v2.0.10 to fix #253. The test code is here:
https://github.com/riot/compiler/blob/dev/test/specs/fixtures/oneline.tag

(Honestly, looks inconsistent a bit for me...)

[2015-12-01 10:39] uppalapati41 opened #1393 "Issue with Manual Tag creation"
Hello,

         I tried creating tag with manual constructor but when I try to pass style and attribute, tag is not getting created. This issue occurs when I define tag constructor and mount it with properties.
Here am attaching fiddle link.
Link: http://jsfiddle.net/h9kuozp5/186/

Error: TypeError: conf.fn.call is not a function

[2015-12-01 12:25] rsbondi commented on #1393
The example uses riot version 2.0.1, works fine with current version

http://jsfiddle.net/h9kuozp5/188/

[2015-12-01 12:27] GianlucaGuarini commented on #1393
@rsbondi thank you for your answer. I am closing this issue

[2015-12-01 12:27] #1393 closed

[2015-12-01 14:00] ilearnio opened #1394 "Can't compile ES7 async/await code with babel 6"
I'm trying to upgrade my Node 4 + babel 5 project to Node 5 + babel-core 6, but I'm stuck with compilation of my Riot components which contains async/await functions. Riot just can't compile them. What is strange is that async/await code is working well in the rest of my my .js code.

I've been debugging it a little and realized that it fails (absolutely silently) in riot-compiler/dist/compiler.js

[2015-12-01 14:07] GianlucaGuarini commented on #1394
Have you used `--type babel`?

[2015-12-01 14:12] ilearnio commented on #1394
I set type to 'babel', now it gives
[code]

[2015-12-01 14:28] ilearnio commented on #1394
I'm using it not from command line but from Node. From CLI it says that I need to install babel. I have it installed both locally and globally, but it's not working neither. But I'm never using it from CLI, usually through gulp-riot plugin, so it's OK for me

[2015-12-01 14:48] GianlucaGuarini commented on #1394
I will check it asap. Have you installed `babel-core`?

[2015-12-01 14:49] ilearnio commented on #1394
Yes., I installed. Thanks!
Just in case, I prepared a repo where you can test it quickly https://github.com/ilearnio/riot-test

[2015-12-01 15:15] MartinMuzatko opened #1395 "Support conditions with virtual tag"
Hi there!

It seems like virtual tag does only support `each`, but not `if`.
Is this by design currently? And if not: is it possible?

I need this especially for displaying items that depend on their parents styling (for example `ul > li` or `flex`)

See example here:
http://plnkr.co/edit/eDSU7Kt3LCBMtOYzNpUO?p=preview

[2015-12-01 15:57] rsbondi commented on #1395
Currently only `each` is supported.  `if` is in the plans but it has many other issues to resolve first.  You could use [this hack](https://github.com/riot/riot/issues/1020#issuecomment-156388012) in the mean time.

[updated with hack](http://plnkr.co/edit/yadQF6Sz9sAZvvdy13AP?p=preview)

[2015-12-01 17:16] acousticseagull opened #1396 "offsetWidth of child tag is 0 on updated"
On updated the parents offsetWidth is 200, but the child's offsetWidth is 0 though it should be 200. I have provided a Plunker.

Parent:

[code]

Child:

[code]

http://plnkr.co/edit/kSrI0XEDHWsD4Km3b1Hq?p=preview

[2015-12-01 18:02] GianlucaGuarini commented on #1396
I had exactly the same problem yesterday. I will release a patch asap. In the meantime you can use:
[code]

[2015-12-01 19:00] acousticseagull commented on #1396
Will do. Thanks!

Out of curiosity should http://plnkr.co/edit/kSrI0XEDHWsD4Km3b1Hq?p=preview work?

[2015-12-01 19:02] gihrig opened #1397 ""npm install riot" installs v 2.2.2"
There seems to be a glitch in the npm registry.
Using npm v2.14.7:
At about 10:30 am PST in ran "npm install riot --save" The version that installed was 2.2.2.
I then ran "npm install riot@2.3.11 --save" and version 2.3.11 was installed.

Details:

<prompt>$ npm install riot --save

  SOLINK_MODULE(target) Release/.node
  CXX(target) Release/obj.target/fse/fsevents.o
  SOLINK_MODULE(target) Releas

[2015-12-01 19:17] aMarCruz commented on #1387
@cognitom  :+1: , we need change the spec to take the content as html, for consistence with oneline.
@tipiirai , @GianlucaGuarini , @rsbondi ?

[2015-12-01 19:33] aMarCruz commented on #1240
btw: In v2.3.12 online compilation inserts a comment with the source url (XHR loaded). riot-compiler does it for external files too (from the file system), but the CLI is not updated yet with this feature.

[2015-12-01 19:36] dotnetchris commented on #564
Great middle ground solution with the virtual tag.

[2015-12-01 19:59] GianlucaGuarini commented on #1396
[this](http://plnkr.co/edit/vviBvvflEY6uK1yH2Rfb?p=preview) works but the issue is clear, we first mount all the children tags and then we render them in the parent tag all of them at once to optimize the performances. This means that when a child tag emits the `updated` event it's not in the DOM yet

[2015-12-01 20:02] GianlucaGuarini commented on #1240
@aMarCruz I hope to make a new release soon. I would like also to fix the babel issues in the compiler loading the babel presets and plugins directly from the `.babelrc` file

[2015-12-01 20:06] GianlucaGuarini commented on #1387
@aMarCruz this is a breaking change maybe we can introduce it in riot 2.4.0. I would like to focus on the other issues for now

[2015-12-01 20:07] GianlucaGuarini commented on #1397
You need to use node >=4.0.0

[2015-12-01 20:08] GianlucaGuarini commented on #1389
@aMarCruz could you check this issue please?

[2015-12-01 21:05] gihrig commented on #1397
$ node --version
v4.2.1
$ npm --version
2.14.7

OS X 10.10.5

[2015-12-01 23:10] aMarCruz commented on #1389
@GianlucaGuarini , sure.
@ckcollab sorry for the delay. Please send a jsbin/jsfiddle with your case, I think this is not related to riot.
For me, this:
[code]
inside a riot tag, generates the styles `.round>div>.top { border-bottom: 1px solid #efefef; } .round>div>.bottom { border-left: 1px solid #000; }` as expected.

[2015-12-02 00:46] ckcollab commented on #1389
Yeah I think I might be going crazy, can't re-produce in plunker. But just to be clear, the problem was with styles that are commented out and the styles below get removed...

Will continue to try to reproduce, apologies for wasting time if this ends up being a dumb error on my part!

[2015-12-02 01:27] aMarCruz commented on #1389
@ckcollab , no-prob, I'll close this issue now, feel free to reopen it if you consider it necessary.

[2015-12-02 01:27] #1389 closed

[2015-12-02 03:13] aMarCruz commented on #1387
@GianlucaGuarini , it is in my TODO for 2.4.0
thanks.

[2015-12-02 04:11] aMarCruz commented on #1373
@sntran , please note in this block of your plucker:
[code]
the yield is executed regardless of the value of `initialized`.

@GianlucaGuarini , for your test: the output of the compiler and tmpl seems correct.

[2015-12-02 09:09] nippur72 commented on #1397
I've checked it in machine (Windows) and it seems ok to me. Perhaps it's a npm cache problem.
[code]

[2015-12-02 09:22] GianlucaGuarini commented on #1397
@gihrig the easiest solution is to trigger `sudo npm install npm -g` to upgrade npm. It's definitely not a riot issue. Thanks for posting this issue anyway

[2015-12-02 09:22] #1397 closed

[2015-12-02 11:58] aMarCruz commented on #1394
@GianlucaGuarini , @ilearnio , I cloned your repo and run `node index` as-is: with your babel 6.x modules and the `es6` type. The ouput is:
[code]
[code]
I don't know if `regeneratorRuntime` and `Promise` is in context, but the output of both compilers is OK. @ilearnio , please delete node_modules and run `npm install` again.

@GianlucaGuarini , I'm really confused, is assumed that the `es6` type

[2015-12-02 12:16] aMarCruz commented on #744
I will close this issue. Raw HTML is WIP now. See [tmpl#2](https://github.com/riot/tmpl/issues/2) for details.

[2015-12-02 12:16] #744 closed

[2015-12-02 12:19] GianlucaGuarini commented on #1394
@aMarCruz babel automatically detects the `.babelrc` file if you use it via command line `babel-cli`. But if used it via `require('babel-core')` you need to pass its options explicitly. I have an idea for a solution but probably it should be directly in the `riot-compiler` repo. I will pull request

[2015-12-02 12:28] ilearnio commented on #1394
@aMarCruz, Thank you for response.

Yes, but when running a babel parser from `riot-compiler` it's probably not reads .babelrc. With babel 5 everything worked for me even without .babelrc file, I just had `require('babel/register');` and `require('babel-polyfill')` in my code. But Babel 6 is really a nightmare

[2015-12-02 12:31] ilearnio commented on #1394
```javascript```
"plugins": ["syntax-async-functions", "transform-regenerator"]
[code]

[2015-12-02 12:56] GianlucaGuarini commented on #1394
@ilearnio you have 2 solutions at moment:
1 - redefine the riot.parsers.js.babel with your own custom babel setup
2 - set the options on any script tag `<script type="babel" options="{ presets: ['whatever'] }" >`
We will fix  the issue soon

[2015-12-02 13:22] ilearnio commented on #1394
@GianlucaGuarini, I already rolled back to babel 5 so I'll probably upgrade it later. Many thanks! Riot rocks! :)

[2015-12-02 18:03] gihrig commented on #1397
Yes, an older global install was the cause of the issue.

Thanks for looking into it anyway :-)

$ npm list riot
<project version and root>
└── riot@2.3.11

$ npm list -g riot
...
/usr/local/lib
└── riot@2.2.2

Upgrading npm (2.14.2 -> 3.5.0) did resolve the issue.

Could also upgrade global riot install if one wanted to stay w/ npm 2.x for some reason.

$ npm uninstall -g riot
$ npm install -g ri

[2015-12-02 20:00] damusix opened #1398 "riot.observable(window)"
Anyway to bind events to Window? Currently, the error i receive is: `TypeError: Not allowed to define a non-configurable property on the WindowProxy object`. I saw that `document.on()` is already an existing function. Maybe window has it, too. Am I missing something?

[2015-12-02 21:34] GianlucaGuarini commented on #1398
I set all the observable properties strictly __not configurable__ https://github.com/riot/observable/blob/master/lib/index.js#L21 and the window object does not allow this behavior. This is a riot observable feature that is needed to protect the `on,one,trigger,off` methods avoiding to let someone  overriding them. You can use eventually `window.emitter = riot.observable()` that is a cleaner solut

[2015-12-02 21:34] #1398 closed

[2015-12-02 21:34] GianlucaGuarini commented on #1390
How can we reproduce this issue?

[2015-12-03 01:38] cheft commented on #1390
look https://github.com/facebook/react/issues/3037
support java8 Nashorn JavaScript Engine on react

[2015-12-03 01:41] cheft commented on #1390
If you can, we can use java to develop isomorphic products by riot

[2015-12-03 04:28] rsbondi commented on #1020
I was really hoping to use `each` internally to do this, it would automatically make `<virtual>` work with `if`.  Unfortunately there is a conflict [here](https://github.com/riot/riot/blob/master/test/tag/loop-conditional.tag) with `each` and `if` on the same element(not sure I like that approach).

[2015-12-03 07:22] GianlucaGuarini commented on #1390
@cheft so basically I need to test the `riot.render` on Nashorn right?

[2015-12-03 07:48] MartinMuzatko commented on #744
This issue popped up for a few times, happy you decided to make it possible.

[2015-12-03 08:25] simoami commented on #744
@aMarCruz Sounds good. Thanks for the update.

[2015-12-03 09:37] nippur72 commented on #1155
I'm closing this as too broad. I'll split it into small feature requests that are more likely to be accepted.

[2015-12-03 09:37] #1155 closed

[2015-12-03 09:40] stergio opened #1399 "Remove/Hide DOM elements when browser page not in focus"
Calling a function that should remove/hide a DOM element either using Jquery .remove()/.hide() or show={...} works fine when the page is in focus (Safari, Firefox and Chrome), but only works with the latest version of Firefox and Chrome Canary when the page is not in focus.

http://plnkr.co/edit/q6IhQNLubGJT4PADSnI5?p=preview
-A timer tag that should remove the \<p\> element #foo when the seconds

[2015-12-03 10:55] nippur72 commented on #1399
Don't have Safari to test it, but have you tried using `this.unmount()` in place of jquery's `remove`?
[code]

[2015-12-03 11:55] Ldiab commented on #1399
It works sometimes in Google Chrome 46.0.2490.86 m (64-bit), in Firefox, has worked me all the time, and in Internet Explorer has no failed, but, its hard to wait a minute for every try XD.

Also, it seems, the second time it tries, it usually gets the work done... But I think removing Riot tags with jQuery seems problematic, I mean it shouldn't because they are just 'tags' but the virtual dom opt

[2015-12-03 20:03] damusix commented on #1398
That's actually pretty genius. Thank you!

[2015-12-03 23:14] aMarCruz commented on #1155
@nippur72 , I'm an old-school programmer and do not entirely understand the es6 classes. Can you give me an example of the output that the compiler should generate with the following tag?:
[code]
currently, this is something like this:
[code]

[2015-12-03 23:35] adrianca commented on #955
This would be awesome!

[2015-12-04 00:13] amenadiel commented on #121
I made a humble requirejs loader plugin today:  https://github.com/amenadiel/requirejs-riot

It allows one to require tags dinamically like e.g. `riotloader!tags/timer`

[2015-12-04 01:19] cheft commented on #1390
haha, yes

[2015-12-04 01:55] aMarCruz commented on #955
I'm using [TabrisJS](https://tabrisjs.com) and is simple and (almost) pure javascript, but due to the strong dependence of riot in the dom, it can't be used with Tabris.
In the other hand NativeScript is for Android 4.3 and above :(

[2015-12-04 07:17] GianlucaGuarini commented on #955
Probably I am a bit naive but am I the only one thinking that native mobile apps should be written with the respective native programming language? Anyway I think we can make the riot renderer public in order to allow our users to render the components data however they want. But now we have other priorities I will come back to this topic asap

[2015-12-04 08:04] gihrig commented on #955
I have had good results creating desktop apps with web technologies and building for Mac, Linux and Windows 'native' apps using nwjs. In the desktop arena there is also Electron.

I have not used Cordova, Ion, or Intel XDK, or NativeScript but my experience with desktop apps built from web technologies suggests that these packages are getting to the point of general usability. There's a lot bright

[2015-12-04 09:44] nippur72 commented on #1155
The change needed is not in the compiler, but in the way riot creates the object instance for the mounting tag.

In the current Riot, the tag instance is made out of `new Tag()` (as far as I've understood).

To make it compatible with ES6 in a sound way, there should be a factory function for creating instances and then riot should extend such instances instead of creating its own. Thus, ES6 `.pro

[2015-12-04 10:05] GianlucaGuarini commented on #1155
@nippur72 Is this what you mean http://codepen.io/GianlucaGuarini/pen/BjaLwz I think it should be already possible

[2015-12-04 12:11] duongphuhiep opened #1401 "Form values stop to update"
Form values stop to propagate update

http://plnkr.co/edit/QsefII?p=preview

Am I doing something wrong?

[2015-12-04 13:19] chmanie commented on #1319
Actually I found this issue having the exact same problem. It took me a long time to debug my code to get what's going on here.
The thing is, it is all about expectations. I had this mental model, that on a parent's update the children are also updated. That makes sense and is easy to understand.
Then, when I update a single child tag in a parent tag, the parent doesn't get updated (which makes se

[2015-12-04 13:20] katyo opened #1402 "Using expression with riot-tag"
I'm newbie in riotjs, but I have experience with reactjs (not with jsx).

I tried to use expression in riot-tag attribute, but something went wrong...
http://plnkr.co/edit/BGT0znhqUvtGILWupmja?p=preview

It works only when I use string instead of expression. Of course, maybe I don't understand some concepts.

[2015-12-04 13:27] acousticseagull commented on #1401
I'm not sure why the debit field stops calling update, but if you do it like <a href="http://plnkr.co/edit/i9HZjfGhkD0JRMJRVTZA?p=preview">this</a> it works every time.

Also you may want to use oninput instead of onkeyup. Oninput allows for pasting content in the field.

[2015-12-04 13:44] Frozen opened #1403 "Doe's not change opts"
When i click on link, called "clicked" and value change to "", but nothing happens.

http://plnkr.co/edit/uDN5ZBar0HNAosucKQmm?p=preview

[2015-12-04 14:28] duongphuhiep commented on #1401
thanks @acousticseagull

The plunker show only the essential of the issue,

my real use case is more complicate, with multiple "debit" fields, and some other operation to generate the payementOrder from those field. Your work around is quite hard to implement But thanks for the quick answer

[2015-12-04 14:40] acousticseagull commented on #1401
If i understand correctly. Maybe have all the debit fields call the same function and have that function do all the calculations for all the fields? Or calculate all the fields on update?

[2015-12-04 14:43] acousticseagull commented on #1401
This is closer to what you were doing: http://plnkr.co/edit/DmtBbtdIJQ4Jk2Ak4fQv?p=preview

i just updated the value of the field when the tag is updated.

[2015-12-04 14:57] acousticseagull commented on #1403
It's because when update happens it's getting the value of 1 from the visible attribute on the tag.

[2015-12-04 14:58] amenadiel commented on #58
My pr #1400 fails because travis couldn't launch iOS and Safari.

[2015-12-04 15:14] acousticseagull commented on #1402
You could do it like this http://plnkr.co/edit/hR8cPwUJZE0sdEEQBgsA?p=preview

[2015-12-04 15:22] Frozen commented on #1403
thx, i understand. But here still problem
http://plnkr.co/edit/DnRrifUebnM1k9b2OwSI?p=preview
if i comment "this.visible = this.opts.visible;"
then initial value not working <my-tag visible="1"></my-tag>

if i remove comment, then functions does not works
what is the solution?

[2015-12-04 15:26] katyo commented on #1402
I assumed something like that, but I was not sure.
Great thanks. ^^

[2015-12-04 15:30] acousticseagull commented on #1403
How about this? http://plnkr.co/edit/dc5S93ord6n4B36mnM09?p=preview

[2015-12-04 15:43] Frozen commented on #1403
thanks, looks great

[2015-12-04 15:45] acousticseagull commented on #1403
Welcome

[2015-12-04 16:28] nippur72 commented on #1155
@GianlucaGuarini it's very close! Is there a way to register a such tag/class so that it can be used normally like any other riot tag?

[2015-12-04 17:47] GianlucaGuarini commented on #1155
@nippur72 can you make an example? What do you mean?

[2015-12-04 17:52] nippur72 commented on #1155
I mean using such a tag with `riot.mount('*')`, e.g.:
[code]
and then use it normally as in:
[code]
without mounting it manually.

[2015-12-04 22:53] aMarCruz commented on #955
Current movement is in Native UI + One-lenguage direction, mustly JavaScipt. Mastering Java, ObjeciveC, C++, and JavaScript is costly for companies or individuals, and mobile Web apps are slow and erratic, so it make sense to use one language and only deal with the UI. Tabris and others offer an (almost) standardized access to the UI.

[2015-12-05 00:17] kazzkiq opened #1404 "Riot tags fail to mount <use> SVG elements"
When using [SVG sprites approach](https://css-tricks.com/svg-symbol-good-choice-icons/) with `<use>` and dynamic attributes, the tag doesn't render the SVG in the DOM after mounted.

This is the structure of the HTML for SVG sprites:

[code]

The above code, written directly in HTML works as expected. But put it in a tag:

[code]

And the rendered SVG doesn't shows up. Here is a **[Plunkr with a t

[2015-12-05 00:30] kazzkiq commented on #1404
Taking a look at [this article](http://taye.me/blog/svg/a-guide-to-svg-use-elements/) I've found that `<use>` and other SVG-related tags, when created dynamically, must use `document.createElementNS()` instead of `document.createElement()` in order to pass the right [Namespace URIs](https://developer.mozilla.org/en-US/docs/Web/API/Document/createElementNS).

I imagine Riot is probably using `creat

[2015-12-05 08:20] nippur72 commented on #1404
there was a discussion before... see for example #1199

[2015-12-05 15:55] kazzkiq commented on #1404
Oops. Closing this one then.

[2015-12-05 15:55] #1404 closed

[2015-12-05 16:19] worldsayshi commented on #1390
In case it helps someone with similar problem: I just got nashorn to run my react code by adding `console.error = print;` to my polyfill.

[2015-12-05 16:35] chmanie opened #1405 "Browser-inconsistencies in router.start() and router.exec()"
When calling `riot.route.start()` in Safari it gets auto-executed immediately. When I pass `true` to this function my handler for the route is executed twice. This is only the case for Safari and not for FF or Chrome.

See this plunker:

http://plnkr.co/edit/uzjtYKZ9Rc5qb2T0XGaY?p=preview

Open it in Chrome and see the console:

[code]

Safari:

[code]

[2015-12-05 16:49] GianlucaGuarini commented on #1405
@chmanie thank you can you move this issue [here](https://github.com/riot/route/issues) please?

[2015-12-05 16:59] GianlucaGuarini commented on #1402
@acousticseagull thank you for your answer I am aware some users want to mount nested tags in runtime and I will work on a solution soon.

[2015-12-05 17:00] chmanie commented on #1405
Sorry, I'll open this issue again over there and close this one.

[2015-12-05 17:00] #1405 closed

[2015-12-05 17:02] GianlucaGuarini commented on #1403
@Frozen `opts` is a reserved property in riot. It's better don't touch it http://riotjs.com/api/#reserved-words
@acousticseagull thank you for you useful answer I am closing this issue

[2015-12-05 17:02] #1403 closed

[2015-12-05 17:02] GianlucaGuarini commented on #1405
@chmanie thank you ;)

[2015-12-05 17:05] GianlucaGuarini commented on #1401
@acousticseagull thank you for your help I think your solution works pretty well I am closing this issue @duongphuhiep feel free to open new issues if you still have problems

[2015-12-05 17:05] #1401 closed

[2015-12-05 19:46] GianlucaGuarini commented on #1396
I have fixed the issue http://plnkr.co/edit/h2qwIQexQkK4e8bUCCCc?p=preview
thank you for your issue

[2015-12-05 19:46] #1396 closed

[2015-12-05 19:57] acousticseagull commented on #1396
Awesome! Thanks!

[2015-12-05 21:22] GianlucaGuarini commented on #1218
this feature was added to riot using the `yield` tag it will land in the next riot release 2.3.12

[2015-12-05 21:22] #1218 closed

[2015-12-06 09:24] markgarrigan opened #1406 "Select tag default behavior"
Onchange events with select tags prevent options from being selected. Returning true does not work.

http://jsfiddle.net/markgarrigan/fyf85j1c/

There is a work around but it seems like this shouldn't need to be done just to keep the default behavior of a select tag.

http://jsfiddle.net/markgarrigan/ykpa51w2/

Without the each on the options... The onchange event is fired and option is selected

[2015-12-06 11:28] danceasarxx opened #1407 "Class attribute"
I tried this
[code]

and got this
[code]

After other tests I realised that the custom class attribute does not evaluate which is simply awful as it takes away a lot of possibilities. This simply shows that their is only one way of writing dynamic and that's not "library" like(so to speak). I don't understand why it is not possible to create generic custom attributes so we can at least extend this

[2015-12-06 11:33] cognitom commented on #1407
HTML doesn't allow duplicated attributes on a tag. This is not the problem of Riot. Try this:

[code]

[2015-12-06 11:33] #1407 closed

[2015-12-06 13:38] danceasarxx commented on #1407
Sorry, didn't see the first one. But I still think it will be worth it if we could create our own custom attribute s for non-riot tags

[2015-12-06 14:47] GianlucaGuarini commented on #1406
@markgarrigan [this](http://jsfiddle.net/L5du7yqa/) should be enough `e.preventUpdate = true` does the trick ;)

[2015-12-06 15:11] rsbondi commented on #1406
I say bug, [here](http://jsfiddle.net/L5du7yqa/1/) the `div` update is prevented.

[2015-12-06 15:32] markgarrigan commented on #1406
Thanks @GianlucaGuarini! That does do the trick. However, like @rsbondi said, it sort of breaks things if I need to use that value elsewhere in the program. Leaning towards bug also.

I tried to mess around with lines 33-36 in ```/lib/browser/tag/update.js``` to add select to the list of tags. But, that didn't work. Also, just wondering, why doesn't the documented ```return true``` work in this ca

[2015-12-06 19:31] GianlucaGuarini commented on #1406
@rsbondi @markgarrigan In theory if you call the update method you re-render the tag template so if in the template there is no option selected your select will be reset it's pretty clear and I don't think it's a bug. [This](http://jsfiddle.net/r2vh3ryj/) should be the correct way of handling it but it seems that [firefox has some problems](https://github.com/riot/riot/issues/1374) and I will try

[2015-12-06 19:46] cognitom commented on #1407
@danceasarxx you can add your own custom attributes on a no-riot tag in the `.tag` file.

[2015-12-06 20:09] rsbondi commented on #1406
ok, agreed, no bug.  [this](http://jsfiddle.net/r2vh3ryj/1/) works on ff now.

[2015-12-06 20:11] GianlucaGuarini commented on #1406
@rsbondi cool I will close this bug. Thank you guys

[2015-12-06 20:11] #1406 closed

[2015-12-06 20:26] duongphuhiep commented on #1401
thanks @acousticseagull,

I have about 150 input fields like debit to concatenate them in payment order. And when I click on Update form, I must to parse the Payment order to fill back the 150 input fields. For now, I used your work-around, to solve the problem [here](http://plnkr.co/edit/zZcXn0WRaqCP0LngtRNv?p=preview)

@GianlucaGuarini: I'm fine that you closed the issue, but I'd love to know wh

[2015-12-06 20:31] GianlucaGuarini commented on #1401
@duongphuhiep try this http://plnkr.co/edit/QGX2q0MHQCgbKiicabXT?p=preview

[2015-12-06 21:01] duongphuhiep commented on #1401
So it is how to work with textarea in a riot tag. It's perfect.
thanks @GianlucaGuarini

[2015-12-07 13:25] nippur72 opened #1409 "Can't change methods dynamically?"
I create a tag with methods, and then change (reassign) such methods dynamically at runtime.

But the old method is still being called instead of the new one.

See [this pluker](http://plnkr.co/edit/1cDjQK5dD0DbnfeCaXBc?p=preview).

Is that to be considered normal behaviour?

[2015-12-07 13:38] acousticseagull commented on #1409
I don't know if you noticed this, but the first time you click 'click me' the alert shows 'not' after that it shows 'ok'.

[2015-12-07 13:40] nippur72 commented on #1409
true! that's even stranger.

[2015-12-07 14:37] crisward commented on #871
Just to clarify, is this just in expressions? I seem to be getting errors swallowed from my riot-control stores. It's a real pain when try to track down issues during development.

[2015-12-07 14:56] GianlucaGuarini commented on #871
@crisward have you tried to listen the `error` events http://riotjs.com/api/observable/#on?

[2015-12-07 16:32] crisward commented on #871
Thanks... that worked.

[2015-12-07 16:58] hubciorz opened #1410 "Cannot resolve www.riotjs.com"
Did you notice that www.riotjs.com is unresolveable?

[2015-12-07 19:09] GianlucaGuarini commented on #1410
@tipiirai can you have a look please?

[2015-12-07 21:53] sntran opened #1411 "Fail to escape curly bracket in opts"
Example:

[code]

Inside `<special-input>`, if you `console.log(opts.pattern)`, you will see `[0-9]3`.

[2015-12-07 22:26] aMarCruz commented on #1411
@sntran , unless you change the default brackets, you will need to escape the first `{`:
`<special-input pattern="[0-9]\{3}"></special-input>`

https://github.com/riot/compiler/blob/dev/doc/guide.md#brackets-and-backslashes

[2015-12-07 22:28] sntran commented on #1411
Ah, I totally missed that. This is a non-issue then. Thanks!

[2015-12-07 22:28] #1411 closed

[2015-12-07 22:46] aMarCruz commented on #1409
Maybe if you call `self.update()` in your mount handler...

[2015-12-07 23:03] willvedd commented on #1020
+1

I'm happy I found this issue, I thought I was going crazy. I'm finding that this substantially impacts the performance of my applications. I'll look into the above workarounds but this either needs to be addressed in code or the the behavior more clearly defined in the docs.

[2015-12-07 23:43] nippur72 commented on #1409
@aMarCruz yeah... thanks!

[2015-12-07 23:43] #1409 closed

[2015-12-08 10:26] MartinMuzatko commented on #1395
thanks a lot for the hint @rsbondi ! I appreciate it :smiley:

[2015-12-08 12:19] nippur72 opened #1415 "Naming parent tags / tag aliases"
From [this forum post](http://riotjs.com/forum/#!/using:scopes-of-nested-custom-tag) (but I also remember we discussed about it here at least a couple of times).

It's the problem of the annoying `parent` references when you use child tags.

What I propose is that we add the possibility to name parent tags, so to make them available to all children. Similar to the existing named tags (`id` and `na

[2015-12-08 16:12] sntran opened #1416 "Issue with space in expression of "each""
With the following:

[code]

Riot.js fails to render the tags. If I change my `studios` to use `"NearbyLocations"` then it works.

[2015-12-08 18:20] enlait commented on #871
понедельник, 7 декабря 2015 г. пользователь Gianluca Guarini написал:

[2015-12-08 19:16] GianlucaGuarini commented on #1416
this is a bug http://plnkr.co/edit/?p=preview @aMarCruz can you have a look at it please?

[2015-12-08 20:13] Aprillion commented on #420
FYI the above link is no longer working

[2015-12-08 20:26] lmicra commented on #420
http://riotjs.com/api/#manual-construction

[2015-12-08 20:55] Aprillion opened #1417 "Dead links on riotjs.com/guide/compiler/"
There are dead links in documentation, e.g. on http://riotjs.com/guide/compiler/ the target of live demo links no longer exist, such as:

`<a href="http://muut.github.io/riotjs/demo/">In-browser compiled</a>`

(I have no idea which repository / issue tracking system is used for doc, please migrate as appropriate)

Expected:

working links, ideally automatically checked in all of documentation :)

[2015-12-08 21:14] GianlucaGuarini commented on #1417
Could you make a pull request removing that link? Or at least move the issue here https://github.com/riot/riot.github.io thanks

[2015-12-08 21:20] Aprillion commented on #1417
I have created https://github.com/riot/riot.github.io/issues/81, but I have no idea what is a correct link, I just wanted to have a look at the demo as a potential Riot user...

[2015-12-08 21:20] #1417 closed

[2015-12-08 22:14] aMarCruz commented on #1416
@GianlucaGuarini , looks like a bug, I'm checking.

[2015-12-08 22:28] aMarCruz commented on #1416
@GianlucaGuarini , it is the space in "Nearby Locations". Spaces are used to detect the end of the identifier. I think it is reasonable to support spaces in the key, so I'll fix in v2.3.14, before the next riot release.

[2015-12-08 22:32] GianlucaGuarini commented on #1416
@aMarCruz cool thanks

[2015-12-09 03:38] zeekay opened #1418 "Multiple <yield/> per tag, block support."
It would be extremely useful to support multiple named yields per tag. Something like:

[code]

Rendering to:
[code]

[2015-12-09 06:59] tipiirai commented on #1410
Now there:

![image](https://cloud.githubusercontent.com/assets/169330/11678730/275e5d76-9e53-11e5-9e02-b5e794d6d733.png)

Waiting for the DNS record to propagate.

[2015-12-09 07:16] GianlucaGuarini commented on #1410
thank you @tipiirai It looks fine from Zurich ;)

[2015-12-09 07:16] #1410 closed

[2015-12-09 07:18] GianlucaGuarini commented on #1418
this feature was already added... it will be available with the next riot release https://github.com/riot/riot/pull/1349

[2015-12-09 07:18] #1418 closed

[2015-12-09 07:19] zeekay commented on #1418
Awesome!

[2015-12-09 08:29] MartinMuzatko commented on #1410
This issue actually was reported a few weeks earlier on the forums:
http://riotjs.com/forum/#!/using:wwwriotjscom-is-not-redir

[2015-12-09 09:03] GianlucaGuarini commented on #1410
@MartinMuzatko I personally don't check the forum and I will take care only of the issues reported on github

[2015-12-09 09:23] MartinMuzatko commented on #1410
Alright, thanks @GianlucaGuarini

[2015-12-09 13:22] nippur72 commented on #1415
I've slightly improved the POC avoiding the recursion back to the root. Now every child tag inherit `_aliases` from its close parent and turns them into properties.

http://plnkr.co/edit/zae6gBZ9VwqGUGRUwZkE?p=preview

[2015-12-09 13:24] uppalapati41 opened #1419 "Doubt on riot define module core"
When require is loaded what is the point of pushing riot to window scope?

Liner number: 2243
version: 2.3.11

Sample Code:
riot.Tag = Tag
  // support CommonJS, AMD & browser
  /* istanbul ignore next */
  if (typeof exports === T_OBJECT)
    module.exports = riot
  else if (typeof define === 'function' && define.amd)
    define(function() { return (window.riot = riot) })
  else
    window.riot =

[2015-12-09 15:40] jalooc opened #1420 "Different approaches in iterable objects in different contexts of "each - in""
In documentation you present different approaches in handling iterable objects using `each` attribute:
1. **If it's an array**, the extracted in `each="{ name, i in arr }"` variables are: first one - value; second one - key.
2. **If it's an object**, the extracted in `each="{ name, value in obj }"` variables are: first one - key; second one - value.

In my opinion it would be better to maintain co

[2015-12-09 17:31] rsbondi commented on #1415
I like the concept, think `context` would be better than `alias`.  I am not sure how doing this natively would have much of an impact on performance?

I think it would be nice to have as a native feature, as long as it can some way not process it if not used.

You could set `self._aliases = self.parent._aliases || {};` and avoid the first loop, which grows down the hierarchy, you would also have t

[2015-12-09 17:37] whatda commented on #1415
I think it's good that you pointed out the issue, although I don't see why alias would be much better than parent. Ok, it's not so easy affected by changes, but why can't we just say that a custom tag inherits its scope, e. g. like (taken from the forum and slightly modified):
[code]
This would enable us to use custom elements, whose main purposes are semantic/styling reasons. Currently these are

[2015-12-09 17:42] aMarCruz commented on #1420
agree, also confused me the use of `name` for two different things.

[2015-12-09 20:47] nippur72 commented on #1415
@rsbondi I made a PR for this feature, so we can see what would be if natively supported. It's slightly different from the plunkr code, but also faster because there's no `self.update()`. My only concern is an ugly call to `walkAttributes`.

[2015-12-09 21:25] aMarCruz commented on #1415
@whatda , I can't see problems with your second block, it **must** works too.

[2015-12-09 21:26] GianlucaGuarini commented on #1415
@whatda can you make a live example please?

[2015-12-09 21:30] aMarCruz commented on #1415
It is [working in jsbin](http://jsbin.com/ponituzabu/1/edit?html,js,output)

[2015-12-09 21:42] GianlucaGuarini commented on #1415
@nippur72 I would prefer to inherit completely the parent properties instead of passing them via alias to the children tags, I think It should be still possible.

[2015-12-09 21:51] whatda commented on #1415
@aMarCruz
 @GianlucaGuarini

Sorry, I think my example requires one more nesting level to "not work":

http://jsbin.com/tuwokolaka/edit?html,js,console,output

Here it only works if you change `{myMethod}` to `{parent.myMethod}`.

[2015-12-09 22:41] nippur72 commented on #1415
@GianlucaGuarini do you mean like for `each` loops? The problem with it is that most nested tags get polluted very quickly, and also you have to make sure you are not using the same property names.

[2015-12-10 04:18] ccerrato147 opened #1425 "Cannot find name 'opts'."
While using typescript and the riot compiler I get the following error because I'm using the opts object in one of my custom tags:

Error: L3: Cannot find name 'opts'.

The command I run is:

riot --type typescript app/components-ts/component.tag app/components-js/app.js

I'm using OSX and I tried with node v0.12.7 and 5.2.0

If I don't include the file which makes use of the opts object then ever

[2015-12-10 06:00] xiechao06 opened #1426 "can't loop around an array containing "null" element"
* version 2.3.1
* example: http://plnkr.co/edit/yULXhgwyOCm4VM8KKokn?p=preview

## description

If an array contains a ***null***, the html tag loops around it will not be generated. for example:

[code]
will only produces
[code]
however, if ***null*** is changed to ""(empty string), it works properly.

[2015-12-10 06:41] aMarCruz commented on #1426
I think it is by design. null elements are [skipped here](https://github.com/riot/riot/blob/master/lib/browser/tag/util.js#L11).
I always wanted to know why, maybe @GianlucaGuarini or @tipiirai know it.

[2015-12-10 07:18] GianlucaGuarini commented on #1426
It look like a bug, but I didn't write the each function maybe @tipiirai knows why. I think we can fix it in the next release

[2015-12-10 09:33] crisward commented on #871
Finding my errors are being swallowed in all my components since I updated to 2.3.3. I seem to have to add `this.on('error',function(err){console.error(err);})` to every tag to get around this. Is there any way to stop catching errors for development?

[2015-12-10 09:46] nippur72 commented on #871
[code]

[2015-12-10 09:51] crisward commented on #871
Thanks... didn't see that anywhere on the docs site. Perhaps it should go here

http://riotjs.com/api/misc/

[2015-12-10 10:55] visopsys opened #1427 "UI is not rerendered inside an `if` condition"
I have the following block of code in the HTML template:

[code]
When the `selectedFieldValue` variable changes in the javascript, the `record-edit-text` is not updated. It seems to me that the `record-edit-text` does not detect data change. Is there any way to update `record-edit-text`?

[2015-12-10 10:59] GianlucaGuarini commented on #1427
Please make a live example

[2015-12-10 11:34] nanov opened #1428 "Possible bug in using <virtual /> tag inside table element"
Using the virtual tag inside table element breaks the loop, otherwise works as expected in other use cases ( demonstrated inside UL  ).
Using inside tables is needed when one would like to have two rows for each list/iteration item.

Possible bug can be seen here :
http://plnkr.co/edit/3IBiaLaxlXXQzKtDMsUL?p=preview

[2015-12-10 12:15] rsbondi commented on #1428
I don't see a `virtual` in the example, but you could use [multiple tbody](http://plnkr.co/edit/YKDXV2?p=preview) to get two rows for each iteration.

[2015-12-10 12:33] rsbondi commented on #1428
Also, the browser removes the `virtual` element before riot can evaluate, since it is not valid html

[2015-12-10 14:42] aMarCruz commented on #871
@crisward yeah, with so many changes I have not had time to sync the docs, but you can find two files with info in [riot-tmpl/doc](https://github.com/riot/tmpl/blob/dev/doc). These are WIP.

[2015-12-10 16:40] nanov commented on #1428
Oh, my bad, i have copy-pasted the wrong browser tab, here is an updated example.
http://plnkr.co/edit/FqlsCtttPpk1CNu2CJ8z?p=preview

I know that i can use multiple tbody, or choose any other suitable solution for my use case like display :table; or whatever, but I was trying to report a bug.

I didn't know that the browser is actually removing the virtual tag, thank you for pointing that up for

[2015-12-10 21:54] GianlucaGuarini commented on #1428
thanks to @rsbondi and thanks to you 4 asking I am closing this bug

[2015-12-10 21:54] #1428 closed

[2015-12-11 07:29] visopsys commented on #1427
Nevermind, this is a bug in my program.

[2015-12-11 07:29] #1427 closed

[2015-12-11 11:34] nippur72 commented on #1420
+1 the syntax should be `each={ value, indexer in obj }` in both cases.

[2015-12-11 12:34] idjhuang opened #1429 "Can't access opts by script with riot.mount(selector, tagName, opts)"
code example:
[code]
The result for tag1 is as expected, but console log of tag2 is:

{"id":"tag2","riotTag":"tag2"}

Can't access opts from script of tag2.

[2015-12-11 12:50] jalooc commented on #1420
Or imo better `{key, value}`

[2015-12-11 14:26] nippur72 commented on #1429
A [plunker of it here](http://plnkr.co/edit/PIGUOiri2D0bca1UwRb2?p=preview=).

In my test, even tag1 was wrong.

[2015-12-11 15:10] nikek commented on #1118
@sapphiriq Great experiment and inspiration!
I also played with the mix of redux and riot and it looks pretty minimal and great so far. Please try it out and feedback on this architecture https://github.com/nikek/redux-poc.
There are still a bunch of things I need to think through to make it awesome, like updating the url as if it were a view rendering the `route` variable. But that mostly has to

[2015-12-11 21:01] sylvainpolletvillard commented on #1420
it always confuse me too. Sure, this is annoying to change that now, but it makes sense.

[2015-12-11 22:44] naivefun opened #1430 "Why in nested tags we can only access properties via opts?"
In nested tag, I try to assign opts.data to this.data but got nothing:

[code]

[2015-12-12 01:25] aMarCruz commented on #1430
@naivefun , `opts` is accesible at initialization only, not in mount nor other event.
Please post a jsfiddle/jsbin with your case.

[2015-12-12 01:34] aMarCruz commented on #1430
I made [this jsbin](http://jsbin.com/nasedu/edit?html,output) for you. Here, `update()` is not neccesary because the change is interactive.

[2015-12-12 01:47] aMarCruz commented on #1430
please see [this bin], `data` is received by the constructor, via the `opts` parameter and saved in the closure by `<nested-custom><p>{opts.data.str} ...`

[2015-12-12 06:27] lukeed opened #1431 "ES2015 Rewrite (?)"
Pre-PR question:
I'd be willing to rewrite the library to utilize ES2015 & Babel. Along the way, there'd likely be some minor/implicit re-organizing of the code structure, too.

I'd expect the source code to decrease in size, and the minified output should be roughly the same size, or smaller.

If this is something you'd be interested in, I'll go ahead and get started.

Thanks ~

[2015-12-12 06:41] cognitom commented on #1431
@lukeed [riot-cli](https://github.com/riot/cli) has already turned into ES6 and it requires node >=4 now.
See also #1322 we have discussion about ES6.

[2015-12-12 13:36] GianlucaGuarini commented on #1431
@lukeed it's a great idea but I would let do this job to the maintainers instead. It would be a lot smarter to fix some more important bugs that affect the riot core codebase https://github.com/riot/riot/issues/1322 We accept pull requests but I am skeptical about a whole library rewrite in es6 for now

[2015-12-12 16:51] gdub22 commented on #1297
PR: https://github.com/riot/riot/pull/1432

[2015-12-12 18:27] nippur72 commented on #1415
Talking of `each` loops, I was thinking that this tag-naming could fix also the inconsistent behavior of loops which inherit properties and methods from the parent.

So in case PR #1422 is merged anytime, I propose we drop also loop inheritance in favor of explicit naming.

[2015-12-12 18:38] whatda commented on #1415
Imo explicit naming is against the principle of simplicity, which makes riot as great as it is. It just adds too much fluff to the code. At least for me it would be enough if riot custom tags would behave like regular html tags, when used in other custom tags. But I don't mean to be the center of the world, so alternate opinions are appreciated.

[2015-12-12 22:16] brandonaaskov commented on #1394
@GianlucaGuarini, using the babel/presets solution gives me an obscure error, "SyntaxError: Unexpected token p"

You can see this in action here (most basic example I could cook up): http://plnkr.co/edit/MJPOvMQmS4fsp5iE4xal

[2015-12-12 22:23] GianlucaGuarini commented on #1394
Guys I have just released the beta release of the new riot-cli can you check it please? Basically to compile the babel tags you just need to create your custom `.babelrc` in the root of your project using these options https://github.com/appedemic/babel-preset-es2015-riot/blob/master/index.js#L3-L22

[2015-12-12 22:34] ilearnio commented on #1394
@brandonaaskov , I had the same issue. Solution was to use valid JSON in <script option='...'>.
@GianlucaGuarini Thank you!! I'll try it tomorrow!

[2015-12-12 22:38] brandonaaskov commented on #1394
@GianlucaGuarini it's a little unclear how I'm supposed to integrate this. `riot-cli` only has a single release (no recent beta releases). Installing `babel-preset-es2015-riot` and updating my `.babelrc` file to have only this preset:
[code]

Trying to compile with riot gives me the same "SyntaxError: Unexpected token p" error. Is that how I'm supposed to test this out? Seems like I'm missing some

[2015-12-12 22:42] ilearnio commented on #1394
@brandonaaskov try to fix you script tag to the following `<script type="babel" options='{ "presets": ["es2015", "stage-2", "stage-0"] }'>`, should help

[2015-12-12 22:44] brandonaaskov commented on #1394
@ilearnio, that's in there. I'm using the same code I put in that Plunkr if you want to try it: http://plnkr.co/edit/MJPOvMQmS4fsp5iE4xal

[2015-12-12 22:45] aMarCruz commented on #1297
@gdub22 , I'm not sure if we must remove all the empty attributes. For booleans and classes it is necessary, but for the rest is not and I think this decision is a user's right, as their presence can be necessary or significant.
Also, you need check the zero for cases as `<table border={0} ...`

[2015-12-12 22:55] ilearnio commented on #1394
@brandonaaskov you're using single quotes. The code inside of `options='...'` passes through `JSON.parse()` so it accepts only double quotes. What you're trying to pass `{ presets: ['es2015', 'stage-2', 'stage-0'] }` is not JSON.
I fixed your code, but there's another error now http://plnkr.co/edit/JXMAFW6dLnyK8eSbPhLi

[2015-12-12 22:59] aMarCruz commented on #1415
@whatda you have a good point here

I will play with this idea.

[2015-12-12 23:00] brandonaaskov commented on #1394
@ilearnio I had assumed using double quotes was breaking things. The reason I thought that was because without the `options` attribute added at all, that same "TypeError: Cannot read property 'transform' of null" error comes out. As soon as I add presets (with single quotes), the error changes. I thought that was a sign of me getting closer, not further, but as you pointed out it needs to be valid

[2015-12-12 23:51] Ldiab opened #1433 "Tag opts update event"
Hi, so I was wondering If it's posible to include an opts update event... I mean, **when you change any opts, it produces an event with old and new values**, it would be awesome for things that works using ajax using the opts. My usecase is for example, I have a tag called "media", in this tag I insert an ID which in mount event it will get from the database the image or audio or whatever to show

[2015-12-13 00:42] GianlucaGuarini commented on #1394
@brandonaaskov steps to compile your tags with the new `riot-cli` and babel:

1. install the new `riot-cli` using `npm install riot-cli@2.3.13-beta`
2. install the new riot babel preset `npm install babel-preset-es2015-riot --save-dev`
2. create your tags in a subfolder of your project
3. create either a `.babelrc` file like it's described [here](https://github.com/riot/babel-preset-es2015-riot#us

[2015-12-13 00:52] GianlucaGuarini commented on #1416
@aMarCruz the problem is still present with the latest tmpl release http://plnkr.co/edit/6vnHINJRICujXCeqxrXs?p=preview

[2015-12-13 01:59] brandonaaskov commented on #1394
I snagged the latest riot-cli, the preset was there but I re-installed to be on the safe side, and it looks like my `.babelrc` file is fine. But then I got this error:
"The "babel" javascript preprocessor was not found. Have you installed it locally?"

![image](https://cloud.githubusercontent.com/assets/445778/11764929/a2657f10-a112-11e5-8255-8a78f5f150d9.png)

Is there something I'm missing here?

[2015-12-13 08:17] aMarCruz commented on #1416
@GianlucaGuarini yes and sorry, I forgot include this. The v2.3.15 in npm was an emergency update because a important bug in IE9/10, the v2.3.16 in the dev branch contains the fix above and others in `brackets` that require riot-compiler v2.3.16 (unpublished), which in turn requires the new riot-cli.

[2015-12-13 09:55] GianlucaGuarini commented on #1416
I have merged the riot-compiler dev and the riot-tmpl dev both into the master branch and published them on npm. Have I forgot anything? Can you publish for both a stable release on npm please?

[2015-12-13 09:58] GianlucaGuarini commented on #1394
@brandonaaskov it seems you've found another bug in the riot cli (the parsers errors do not get caught...) but I think babel is throwing because you forgot to add "stage-2" "stage-0" in your .babelrc
[code]

[2015-12-13 10:41] aMarCruz commented on #1416
@GianlucaGuarini sure, versions on the 'dev' branch are stable, I will publish v2.3.17 of both.

[2015-12-13 10:45] nippur72 commented on #1433
Looking for changes in `opts` would require some object observing system which I believe doesn't fit well with riot, see #1286. But of course it can be handled externally (for example with a mixin).

Anyway I'm not sure why you say you have to constantly check for opts, I guess you are using it the wrong way. In case, can you make a [live example](http://riotjs.com/examples/plunker/?app=bug-report

[2015-12-13 10:59] masterkrang commented on #282
This is a problem for me with https://cdn.jsdelivr.net/riot/2.3/riot+compiler.min.js not sure if @tipiirai's comment still stands, but could be more obvious in docs somewhere if it does :dancers:

[2015-12-13 11:08] masterkrang commented on #282
[code]

I suggest putting this as a "Note" under the riot.mount docs. I am new and preferred the riot+compiler.js from the CDN immediately because why do it manually if I don't have to? My guess is a lot of other are doing this. New devs will likely get to the riot.mount doc before getting to the compiler docs. They will think that mount is busted and waste of bunch of time like I did today. Happy

[2015-12-13 11:41] btakita commented on #376
ie8 & ie9 support can happen through

https://github.com/browserstate/history.js

Maybe there's a way of checking for push state support?

[2015-12-13 11:49] cognitom commented on #376
@btakita our new router (v2.3) is compatible with html5-history-api. This is the polyfill for ie9.
https://github.com/devote/HTML5-History-API
FYI, we have dropped the support for ie8 already.

[2015-12-13 12:27] GianlucaGuarini commented on #282
@masterkrang can you make a pull request here please https://github.com/riot/riot.github.io?

[2015-12-13 12:50] btakita commented on #376
@cognitom Great!

I noticed that the the url anchor is still being used. Is there a way to have the entire url be replaced via pushState?

[2015-12-13 13:10] cognitom commented on #376
No prob. Now history API is supported. Try it ;-)
http://riotjs.com/api/route/#riot-route-base-base

[2015-12-13 13:15] cognitom commented on #376
@btakita have a look at this example, too.
https://github.com/riot/examples/tree/gh-pages/router-complex

[2015-12-13 14:58] aMarCruz commented on #1416
v2.3.18 of riot-compiler and riot-tmpl are in npm now.

[2015-12-13 15:02] GianlucaGuarini commented on #1416
@aMarCruz thanks let's make this new riot release ;)

[2015-12-13 15:24] nippur72 commented on #1431
I suggest an es6 conversion in very small steps, carefully considering what features to use. For example if we switch to use `class`es, we have to take into account that Babel has its own peculiar way or rendering them on ES5 (with lot of overhead code that might have an impact on performances).

So my suggestion is: since ES5 is a subset of ES6, let's compile current unmodified code in ES6 (that

[2015-12-13 15:37] GianlucaGuarini commented on #1431
I [would](https://github.com/riot/compiler/blob/dev/dist/es6.compiler.js) [like](https://github.com/riot/tmpl/blob/dev/dist/es6.tmpl.js) to [start](https://github.com/riot/observable/blob/master/dist/es6.observable.js) from the [modules system](https://github.com/riot/route/blob/master/dist/es6.route.js)

[2015-12-13 15:42] GianlucaGuarini commented on #1394
@brandonaaskov I have tested the new riot-cli in beta here https://github.com/GianlucaGuarini/riot-preset-babel-test and the output seems to be correct

[2015-12-13 16:18] GianlucaGuarini commented on #1416
@aMarCruz I still see the problem http://plnkr.co/edit/6vnHINJRICujXCeqxrXs?p=preview I am using the last compiler, tmpl from npm

[2015-12-13 19:57] btakita commented on #376
Thank you!

[code]

[2015-12-14 00:49] aMarCruz commented on #1416
@GianlucaGuarini I see, it is not the regex. Working on this.

[2015-12-14 00:49] masterkrang commented on #282
@GianlucaGuarini my pleasure: https://github.com/riot/riot.github.io/pull/83

[2015-12-14 01:08] aMarCruz commented on #1416
@GianlucaGuarini  I got it, the double quotes in the html is the problem. It is regession of riot/riot#1120 . Sure was my error, I checked it days ago and have problems parsing encoding double quotes in attributes, this is why I remove the enconding.
I'm confused, seems that the behavior is different depending if the source comes from XHR or the html page, and the placement of the generated code.

[2015-12-14 06:47] flash1293 opened #1435 ""Experimental" section in comparison with Polymer out of date"
The "Experimental"-section in the Polymer-comparison (http://riotjs.com/compare/#experimental) is out of date - the support is much better now (http://jonrimmer.github.io/are-we-componentized-yet/) and microsoft will implement webcomponents eventually (https://blogs.windows.com/msedgedev/2015/07/15/microsoft-edge-and-web-components/)

Especially the last sentence ("It’s uncertain whether Web Compo

[2015-12-14 07:10] GianlucaGuarini commented on #1435
Please make a pull request or open the issue here https://github.com/riot/riot.github.io

[2015-12-14 07:23] tipiirai commented on #1426
FYI: It was originally designed to loop DOM nodes where `null` doesn't make sense.

[2015-12-14 07:26] GianlucaGuarini commented on #1426
@tipiirai thanks it was fixed using `forEach` instead

[2015-12-14 07:53] flash1293 commented on #1435
Moved to https://github.com/riot/riot.github.io/issues/84

[2015-12-14 07:53] #1435 closed

[2015-12-14 10:31] mrft opened #1436 "How to add attributes to html-elements-as-tags"
I was trying to take my very first steps with riot and I quickly ran into the following problem: #295

But there is a a solution for that: http://riotjs.com/guide/#html-elements-as-tags.

But in the thing that I was trying to do (just for the sake of testing what riot can do, but a very likely use-case for me), there is another reason besides CSS, why the included custum-tag inside the DOM causes

[2015-12-14 10:56] mrft commented on #1436
Ok, maybe this is related to #1199, but I think the 'invalid' elements are still a problem.

[2015-12-14 12:33] nippur72 commented on #1436
What about something like [this](http://plnkr.co/edit/C3nGlbMZH2tfq0HOrRbN?p=preview)?

[2015-12-14 13:56] nippur72 opened #1437 "Native tag extension replacement in compiler"
Custom tags that are a replacement of a native HTML tag currently need to be defined with the `riot-tag` attribute, as in
[code]
instead of
[code]
But if we could tell someway that `mycustomli` is an extension of `li`, then the compiler could replace `<mycustomli>` with `<li riot-tag="mycustomli">` directly at compile time, with the result of making custom tags appear like native tags.

To define

[2015-12-14 14:48] acousticseagull commented on #1436
It can also be done like <a href="http://plnkr.co/edit/umNcwlJY4y8ZNzL3YzeA?p=preview">this</a> without the extra Javascript.

[2015-12-14 15:05] phillip-haydon commented on #1387
Would this allow you to write the tags into the page with data without having to mount them?

i.e

[code]

Instead of having to do:

[code]

[2015-12-14 16:08] nippur72 commented on #1436
@acousticseagull oh yes, much better!

[2015-12-14 16:55] rsbondi commented on #1437
I think an external custom html parser would be the way to go if this feature is desired.  It should not be too difficult to create one.  I think it would over-complicate things as a core feature.

[2015-12-14 17:15] aMarCruz commented on #1437
I agree, this is for an external parser.

[2015-12-14 17:38] aMarCruz commented on #1387
@phillip-haydon no.

With regard to the main discussion, I have found a problem that must be the reason why it was originally decided to take as JS the untagged content: In a page nested script tags can't be used.
This restriction comes from the html spec. So, if the content defaults to html, this can't be done:
[code]

[2015-12-14 18:15] phillip-haydon commented on #1387
Ok, yeah the two things I was trying to do was either pass attributes in via the root tag. (like you do in nested tags), or assign JSON inside the tag from within the root (my previous example) for automounting.

Would be awesome to automount in the future if possible.

Thanks for clearing that up.

[2015-12-14 19:53] mrft commented on #1436
@accousticseagul I tried that but for some reason it didn't work. Probably a typo somewhere that I have yet to find.

Thanks for the hints.

[2015-12-14 19:53] #1436 closed

[2015-12-14 22:27] andyrj commented on #1118
I am kind of late to this thread, but I put together a simple riot-redux project as well.  Thought I would share, I need to style it but it works well regardless of it's appearance.
https://github.com/andyrj/riot-redux-starter-kit

[2015-12-15 07:49] weepy commented on #1387
@aMarCruz - interesting! you mean you can't do

[code]

How useful is embedding tags within HTML ?

[2015-12-15 08:00] tipiirai commented on #1387
I think automounting is "magic" and causes unexpected surprises of build inside the core. It's very easy to build automounting inside your application using a specific CSS class, such as `<my-widget class="automount"></my-widget>`.

@weepy: You and Einstein are right. The "loose" mode is exactly that magic causing unexpected surprises. I personally prefer the loose mode because of the brevity. But

[2015-12-15 08:14] phillip-haydon commented on #1387
I'm not sure how automounting becomes magic inside core. The fact I have to manually mount the data now makes it feel less like I'm making reusable web components and more like I'm just adding placeholders to the page and throwing HTML Templates everywhere.

Don't get me wrong, Riot is bloody awesome and I absolutely love it. It's more in line with how I feel we should be building web components.

[2015-12-15 08:35] tipiirai commented on #1387
Not sure either. Just guessing here without a real use case.

I'm mostly thinking about timing. Should be clear when custom tags are mounted. Sometimes users wants to override a tag before it's mounted.

I hope you are right! I'm always up to ideas that save redundant work/keystrokes.

[2015-12-15 08:54] phillip-haydon commented on #1387
I would be happy if it was opt in.

`riot.autoMount()`

Rather than

`riot.mount("*")`

Altho would it be any different than say:

[code]

Which I'm effectively doing now.

So if the `riot.mount("*")` or `riot.mount("something-else")` was read as `options` argument is null or undefined, mount any attributes that happen to be on that tag.

That would be the beez kneez. That way I could just mount a

[2015-12-15 10:27] BirdieMcFly opened #1439 "injectStyle css bloating the browser at tag declaration"
Hello,

we have been using RiotJS for building an application that has now dozens of tags (120 for now, each having more or less script and scoped style) and everything is going pretty well. However with the number of tags growing, we realized that the page loading increased exponentially with each new tag. We managed to find where the problem comes from.

During each tag declaration (when riot.ta

[2015-12-15 10:49] cognitom commented on #1439
@BirdieMcFly great insight and research. Thanks. How about such options?:

- Option A: load style at the first mount
- Option B: provide an option to export CSS independently on pre-compilation

At this point, already we can use B with the custom style compiler, FYI.

[2015-12-15 10:59] GianlucaGuarini commented on #1439
This option is already enabled:
[code]

[2015-12-15 11:00] cognitom commented on #1439
@GianlucaGuarini oh, really? Great!

[2015-12-15 11:02] GianlucaGuarini commented on #1439
@cognitom `riot -h` to know the new available options.. I will publish the new riot release with the new cli today or tomorrow, but you can test it already using `npm install riot-cli -g`

[2015-12-15 11:03] cognitom commented on #1439
Cool :smile:

[2015-12-15 11:07] BirdieMcFly commented on #1439
@cognitom for Option A: it would be very nice to have style injected on mount and removed when all instances of a given tag are unmounted. However i'm wondering if there is a way to do that and keep having good performances.
For Option B : I didn't want to feel obligated to pre-compile tags to address that issue. Compiling in browser has magically good performances and is more practical in a devel

[2015-12-15 12:39] nippur72 commented on #1439
As I see it, `riot.tag()` should not call `injectStyle()` directly but should accumulate `css` in a variable. Real style injection should occur in a single batch during `riot.mount()`. I can cook a PR if the idea is accepted.

Of course this can be already solved with pre-compiled tags, which is something you might want to do if you have 120 custom tags :-)

[2015-12-15 12:47] GianlucaGuarini commented on #1439
@nippur72 yes pr are welcome :)

[2015-12-15 17:47] aMarCruz commented on #1387
@weepy, right. This is why I changed my mind about this issue.

About embedding, I only use tags on a page for testing, external .tag are less restrictive. The utility depends on the type of application and preferences of each. riot gives this freedom.

[2015-12-15 17:52] kazzkiq opened #1440 "Add Middleware to route"
It would be interesting to have the option of middlewares on routes, executing before they get properly handled. E.g.

[code]

The idea is that middleware would always return a boolean. `true` firing the route callback, `false` preventing it from being handled.

[2015-12-15 19:52] aMarCruz commented on #921
There have been changes in the compiler, some of them are explained in [doc/guide.md](https://github.com/riot/compiler/blob/dev/doc/guide.md). Note this doc is WIP.

[2015-12-15 20:00] Ldiab commented on #1433
I see, not, my usecase I simply something like this:
[code]

So what I want is as soon as I change the user.avatarImage property and update, my media, which is for general purpose, knows that the media has been change, so It will go to the server to fetch the new image url to display there.

Do you have a solution for this?, Sorry if I can't explain as good as it should. Thanks!

[2015-12-15 20:10] aMarCruz commented on #1165
Please see [doc/guide.md](https://github.com/riot/compiler/blob/dev/doc/guide.md) in the compiler repo, the API for `compiler.style` will be deprecated. The replacement is `css(source, parserName, extraOptions)`.
To compile scoped CSS with no parser:
[code]

[2015-12-15 20:11] Ldiab commented on #1440
Something like this has been posted here https://github.com/riot/route/issues/25 (By me :P ) and it's in the Roadmap for the route https://github.com/riot/route/issues/39 Do you think is a good aproach for your issue?

[2015-12-15 20:29] GianlucaGuarini commented on #1440
@kazzkiq please move this request [here](https://github.com/riot/route/issues/) we can discuss it there

[2015-12-15 20:32] GianlucaGuarini commented on #1416
This issue was fixed http://plnkr.co/edit/6vnHINJRICujXCeqxrXs?p=preview

[2015-12-15 20:46] kazzkiq commented on #1440
Hmm didn't knew about the opened Issue. But as the discussion about it started inside another Issue, I will be opening a specific anyways.

riot/route#40

[2015-12-15 20:46] #1440 closed

[2015-12-15 21:09] #1297 closed

[2015-12-15 21:09] #1426 closed

[2015-12-15 21:16] GianlucaGuarini commented on #1416
riot 2.3.12 is out and it contains the fix I am closing this issue

[2015-12-15 21:16] #1416 closed

[2015-12-15 21:56] GianlucaGuarini commented on #1394
With the new riot 2.3.12 you should be able to configure babeljs however you want using the `.babelrc` file. I am closing this bug

[2015-12-15 21:56] #1394 closed

[2015-12-15 21:59] GianlucaGuarini commented on #467
this issue was fixed with riot 2.3.12 https://github.com/riot/compiler/blob/dev/lib/parsers.js#L101

[2015-12-15 21:59] #467 closed

[2015-12-15 22:04] GianlucaGuarini commented on #814
this issue was resolved directly on gulp-riot. The new compiler allows external tools ( gulp, grunt...) to extract even single entities from the riot tags. I am closing this bug.

[2015-12-15 22:04] #814 closed

[2015-12-15 22:07] GianlucaGuarini commented on #888
It seems that babel override the default node `require` module and we can not do a lot. I would like to provide a new solution to load our tags on the server. I am closing this bug happy to continue [here](https://github.com/riot/riot/issues/1208) the discussion

[2015-12-15 22:07] #888 closed

[2015-12-15 22:09] GianlucaGuarini commented on #858
This feature will not land in riot https://github.com/riot/riot/issues/1362

[2015-12-15 22:09] #858 closed

[2015-12-15 22:20] GianlucaGuarini commented on #949
Our riot render is just [this](https://github.com/riot/riot/blob/master/lib/server/index.js#L29-L35) And i am sure you can do the same in 5 lines of code. There is no need to add this feature to the core:
[code]

[2015-12-15 22:20] #949 closed

[2015-12-15 22:20] nippur72 commented on #1433
I think [this](http://plnkr.co/edit/CvmeeKTMljeBEziFayxE?p=preview) is what you are looking for.

The trick is listening for the update event in `media`, looking when the opt has changed respect to what is being shown.

[2015-12-15 22:23] GianlucaGuarini commented on #921
With the new `riot-cli` you can specify the parsers using simply a config file http://riotjs.com/guide/compiler/#es6-config-file I am closing this issue because our compiler now it's really flexible and a lot more powerful

[2015-12-15 22:23] #921 closed

[2015-12-15 22:24] GianlucaGuarini commented on #905
this issue was solved in riot 2.3.12

[2015-12-15 22:24] #905 closed

[2015-12-15 22:31] GianlucaGuarini commented on #1001
@rkmax [this is the example](http://riotjs.com/examples/live-editor/#%3Csample%3E%0A%20%20%3Cp%20onclick%3D{%20hi.bind%28this%2C%20%27there%27%29%20}%3EHi%3C%2Fp%3E%0A%0A%20%20%3Cscript%3E%0A%20%20%20%20hi%28msg%29%20{%0A%20%20%20%20%20%20alert%28msg%29%0A%20%20%20%20}%20%0A%20%20%3C%2Fscript%3E%0A%0A%20%20%0A%3C%2Fsample%3E%0A) I am closing this question because you got many different solutions t

[2015-12-15 22:31] #1001 closed

[2015-12-15 22:45] amenadiel commented on #1208
Regarding #888, babel-require does break things by default. Quoting from [babeljs.io](http://babeljs.io/docs/setup/#babel_register):

However, you can pass it several options, including ignore regex:

[code]

so there's a big chance Riot can coexist with babel if we find the right options.

[2015-12-15 22:49] GianlucaGuarini commented on #1021
this issue does not exist anymore with the new riot compiler+riot-cli

[2015-12-15 22:49] #1021 closed

[2015-12-15 23:24] johnsq opened #1441 "Unmounted tag instances stay in memory and still listen to events.. How to tear them completely down?"
Hello,

I love using riot but this one issue is frustrating me...

When you unmount a tag, why is it just set to "isMounted = false" and not destroyed out of memory?

Please check out my fiddle below to understand more what I mean.

http://jsfiddle.net/johnsq/49ptzeq0/3/.

So.. you have your app. You mount a tag (creating a new instance of a riot tag) but when you unmount it (to remove it from the

[2015-12-15 23:28] weepy commented on #1001
Mb consider adding to the docs as it a FAQ

On Tue, 15 Dec 2015 23:02 Gianluca Guarini <notifications@github.com> wrote:

[2015-12-16 03:02] DylanPiercey opened #1442 "Full page rendering."
With #512 we got the ability to render riot on the server side finally enabling isomorphic riot applications.

The one thing that seems missing for me is full page rendering with riot. By this I mean the ability to use riot to render the entire document (not just inside the body), allowing for things like modifying the `<title>` and `<meta>` tags dynamically on the client or server.

Currently in

[2015-12-16 07:13] changalberto commented on #1376
@cognitom I set base twice in the process. It's not working for me even with the newest update 2.3.12

First as ``riot.route.base('/#/');``
And then later as ``riot.route.base('/#/event/ZgNzEWjCfHi')`` after determining from what ID as been passed into the routes.

[2015-12-16 07:24] changalberto commented on #1376
Here's my routing logic:

[code]

[2015-12-16 09:04] rvanzon opened #1443 "Tags with JavaScript-errors mounted in a solved route don't show errors"
If a Tag is mounted after a route is solved and it contains JavaScript errors, those errors aren't shown in the console. This, of course, makes Tags hard to debug. I found out mounting the Tag after a timeout of 0 seconds makes it show errors:

This example shows mounting with and without timeout:
http://embed.plnkr.co/oVyh5FnytRpuB7NKq3sU/

[2015-12-16 09:11] nippur72 commented on #1439
[Here](http://plnkr.co/edit/byZubFSvaWn7J69phhig?p=preview) is @BirdieMcFly 's test case with the PR I'm working on.

To test it, just comment/uncomment the `<!-- script>`. On my PC it goes from 9 seconds to 40 milliseconds.

[2015-12-16 09:55] BirdieMcFly commented on #1439
Hi @nippur72 ,

The change you made is very efficient!
However i think in the `inject` function you should test if the variable that accumulates css is not empty before touching the style DOM node. I think even when you append an empty string to existing css style DOM node, it forces the browser to interpret it again (which is the source of the lag) and i fear that if it's not checked there will b

[2015-12-16 09:56] nippur72 commented on #1441
You cannot simply "destroy" a tag, you have to shut off listeners, timers and so on.

In your case:
[code]

[2015-12-16 10:17] nippur72 commented on #1439
@BirdieMcFly yes, that makes sense, [I've fixed it](https://github.com/nippur72/riot/commit/c5f5c06bed31d28bb1239957268a53679767a7de).

[2015-12-16 10:21] cognitom commented on #1376
@changalberto how about `riot.route.base('#')` and `riot.route.base('#e/ZgNzEWjCfHi')` without a prefixed slash?

[2015-12-16 10:40] changalberto commented on #1376
@cognitom Nope, that doesn't work neither. I tried multiple patterns already. I'm exactly sure where it's chocking. Might have something to do with the update code between line [128 - 132](https://github.com/riot/route/commit/e49e40134a58a0b56cbb63b5f53fb493948457b0#diff-8becdff0b70fe9b1be17332b0e442efe)

[2015-12-16 11:00] johnsq commented on #1441
Thanks nippur72. Adding those lines to my unmount procedure does, as you suggest, stop the unmounted instances of the tag from receiving events, but I am still wishing to understand why every discarded instance of the tag still exists (each with a unique _riot_id). It just seems weird.

What I'm thinking is, when you mount a tag the following occurs..

1. Riot creates an instance of the tag and gi

[2015-12-16 11:10] GianlucaGuarini commented on #1441
@johnsq riot does all you said already https://github.com/riot/riot/blob/master/lib/browser/tag/tag.js#L235 but if you add an extra observable with its own listeners to your tags you need unbind the events when any tag gets unmounted this is enough:
[code]

[2015-12-16 12:02] johnsq commented on #1441
Ah, ok.. Thank you @GianlucaGuarini.

[2015-12-16 13:35] BirdieMcFly commented on #1439
:+1: nice

[2015-12-16 14:11] nippur72 opened #1445 "templating styles (aka dynamic CSS)"
With the recent discussion following #1439, I think I've found a simple idea how to also add support for dynamic CSS (previously discussed in #176) with just some lines of additional code.

(Dynamic CSS is particularly useful when you want to add theming capabilities to your UI).

The idea is: if PR #1444 will be merged, `<styles>` will be added to the DOM in a single batch, instead of adding them

[2015-12-16 19:48] aMarCruz commented on #1445
@nippur72 , I like this.
I'm just thinking in:
[code]
but your solution avoids the breaking change (maybe in riot 3.0 we can do it).
Be aware that the original style element is [destoyed here](https://github.com/riot/riot/blob/master/lib/browser/tag/util.js#L466-L469), so it is needed copy the `id` before this.
(with `type="text/css"` we don't need recreate the element).

In addition, this will be

[2015-12-16 21:17] GianlucaGuarini commented on #1443
this is an observable issue https://github.com/riot/observable/blob/master/lib/index.js#L104-L109 It was a terrible idea to hide the errors in this way I will revert to the previous version removing the try/catch in the next release

[2015-12-16 22:29] rvanzon commented on #1443
I was looking for something to "swallow" the errors in the router code, like I talked about on Gitter. But it explains a lot that the problem is actually located in the observable.
Thank you for your time!

[2015-12-16 23:10] GianlucaGuarini commented on #1443
@rvanzon I was fighting with the same issue so I can understand the pain

[2015-12-17 00:59] aMarCruz commented on #1443
@GianlucaGuarini , perhaps checking if `error` has any handler, throwing if not.

[2015-12-17 05:19] rubenmch opened #1448 "Riot compiler parses and removes content from string declaration"
With riot.js 2.3.12 (compiling in browser) from:
https://cdn.jsdelivr.net/riot/2.3.12/riot+compiler.min.js

If a custom tag has javascript code containing a string with comments or `<script>` tags inside it, riot tries to parse the content inside the string.

Compiling the following tag throws an error:

[code]

Compiling the following works but `` is removed:

[code]

[2015-12-17 06:43] aMarCruz commented on #1448
@rubenmch this is a bug, will be fixed soon, thanks.

[2015-12-17 06:51] aMarCruz commented on #1448
@rubenmch , I will test, but one "best practice" from old-school should be an workaround:
[code]
and
[code]

[2015-12-17 07:11] GianlucaGuarini commented on #1443
@aMarCruz the idea of throwing errors through an observer is really bad.. in the router there are observers not even public so I have decided to remove to remove the try/catch block asap. In the `tmpl` you can use the context to throw errors but this should not be our default strategy

[2015-12-17 09:21] BirdieMcFly commented on #1445
:+1:
@nippur72 this is a nice idea that we did use extensively in the project i'm working on so i can confirm this is very useful to centralize colors, some sizes, responsive breakpoints values, etc... To do that we hooked externally the riot.tag function to apply a regexp replace on css code ( we used a `var()` ) syntax. However values of variables had to be ready before the app runtime (before a

[2015-12-17 09:58] nippur72 commented on #1445
@aMarCruz in PR I'm working, the `<style type='riot'>` placeholder is not replaced, it's simply recycled. Is that OK? Is there any particular reason for replacing it instead of recycling?

The reason I recycle it is that the user has to be able to locate it (via `id` or other way). I was also thinking that riot could return the reference to that style tag, to avoid the fuss of locating it (e.g. `r

[2015-12-17 10:34] aMarCruz commented on #1445
@nippur72 , I keep `injectStyle` with its previous behavior, I guess the reason is that the element is marked with a `type="riot"` and not `type="text/css"` and some browsers can't change it after parsing. I don't checked this.

Sure brackets cannot be `{}`, the compiler doesn't process styles for the associated cost, but there are parsers for that. The replacement can be done with a simple, custo

[2015-12-17 10:42] aMarCruz commented on #1445
e.g. for sass users:
[code]

[2015-12-17 11:32] nippur72 commented on #1445
I've just finished the PR and have also updated the [plunker example](http://plnkr.co/edit/o0Nxr3zQI2fP1tUcR341?p=preview).

To sum up:
* styles are added in batch and subject to riot's templating engine (`tmpl()`)
* styles are injected into riot's global style node (the one with `<style type='riot'>`)
* for simplicity, that style node is also available as `riot.styleNode`
* data for the templatin

[2015-12-17 11:34] nippur72 commented on #1445
@aMarCruz I've reverted back to the old way of replace the placeholder style tag. Since now the tag is available as `riot.styleNode` there is no need to copy id or other attributes.

[2015-12-17 11:42] ilearnio opened #1450 "Server side rendering + routing with Riot.js?"
I'm using Node + Riot.js + Grapnel routing library (which can work on both client and server). I managed how to set up routing on the client but I can't figure the way to make it work on the server.

The current functionality of my client router is simple. I'm just sending `opts.route` to the proper component and then it mounts the requested page (which is also a component) to a `div`.
[code]
But

[2015-12-17 13:17] Havunen opened #1451 "ES6 class syntax with child tags"
Hi,

I'm having problem trying to understand how we could use es6 class hierarchy with Riot. Creating and mounting a single tag works ok. (Following this documentation:
http://riotjs.com/api/#riot-tag-impl-conf-innerhtml ), but when another tag needs to be inside this tag Riot doesn't know it exists.

I noticed that for riot to recognize those custom tags in html the tag must be in:
<code>
__tagIm

[2015-12-17 15:58] nippur72 commented on #1445
@aMarCruz regarding your custom parser suggestion, I was thinking that perhaps we could make it configurable, leaving to the user the choice to use `tmpl()` or not.

In such case, I would remove `riot.styleNode.opts` and `riot.styleNode.brackets` in favour of
[code]

[2015-12-17 16:48] nippur72 commented on #1451
Regarding to `this` context, in [RiotTS](https://github.com/nippur72/RiotTS) I have the following trick that works most of the time:
[code]
where `transformFunction` is the `function(opts)` for `riot.tag()`.

[2015-12-17 17:17] nippur72 commented on #1445
Ok, I've updated the PR with the custom parser option, now it makes a lot more sense.

Here is the updated [plunker example](http://plnkr.co/edit/bedBL0SmgQGfZNkfQcjy?p=preview).

So to sum up again:
- styles are added in batch and injected into riot's global style node (the one with `<style type='riot'>`)
- for simplicity, that style node is also available as `riot.styleNode`
- if there's a parse

[2015-12-17 19:32] rubenmch commented on #1448
@aMarCruz Thanks for checking this bug, I used something similar as a workaround, I replaced the character `<` with its unicode espace sequence  `\u003C`

[2015-12-17 20:44] aMarCruz commented on #1451
@Havunen,
`riot.tag2` is an internal function used by the compiler, shown in the riot-tmpl docs for debugging purposes, the format of its parameters is subject to change.

[2015-12-17 20:46] aMarCruz commented on #1445
:+1:

[2015-12-17 21:51] Synvox opened #1452 "Yield trips on content of <code>"
I made a fiddle for ya'll to fiddle with.

Do you any ideas on what might cause this? I know it has to do with the unescaped code there but that's the output that `marked.js` gave me.

[2015-12-17 22:25] Ldiab commented on #1433
Thanks @nippur72 This is what I has been doing, but I think it could be simplier... I know, I know they are just 6 lines of code but... XD I will think in a way to get this simpler. Thanks! I will close this for now

[2015-12-17 22:25] #1433 closed

[2015-12-18 00:46] idjhuang commented on #1429
I found a way to work around for this issue:
first, In tag which would be mounted, add a method to receive opts, for example:
[code]
then, after invoke riot.mount, invoke the method to pass the opts, for example:
[code]
you may have to update the tag in that method.

[2015-12-18 01:56] Vanuan opened #1453 "Conditional attribute"
Is it possible to add/delete attribute based on condition?

I tried to use "disabled={ condition }" but "disabled=false" doesn't actually enable element. You have to remove this attribute.

[2015-12-18 03:35] aMarCruz commented on #1453
@Vanuan , acutally `<tag disabled={ condition }>` does remove the attribute if `condition` is falsy, i.e. enable the element. However, `<tag disable=false>` is quivalent to `<tag disable>`, i.e. not enable.

Please take a look to the [doc/attributes.md](https://github.com/riot/compiler/blob/dev/doc/attributes.md) in the riot-compiler repo.
I'll close this issue now, it isn't about a riot issue, fe

[2015-12-18 03:35] #1453 closed

[2015-12-18 03:53] danny-andrews commented on #1118
I put together a little riot mixin that is modeled off of react-redux, albeit a much more slimmed-down version of it. https://github.com/danny-andrews/riot-redux/

[2015-12-18 09:43] nippur72 commented on #1452
Of course the problem is that `{` and ` }` in your `<code>` tag are interpreted as riot expressions delimiters.

You need to escape them or substitute with `&#123;` and `&#125;`.

[2015-12-18 10:05] nippur72 opened #1454 "Some tests fails on Windows due to \r\n"
I'm trying to build riot on a Windows machine, but some tests fails due to newline characters being handled as `\r\n` in Windows:

[code]

is there something I can do? some switch to enable somewhere?

[2015-12-18 10:17] aMarCruz commented on #1452
@Synvox , escaping both left brackets should be enough. I'm not sure if &#123; works.

[2015-12-18 10:21] Havunen commented on #1451
Thanks for reply guys!
I tried your code snippet @nippur72 , however that gives me error on line

<code>
classObject.apply(this, [opts]); // => "Cannot call a class as a function" (babel runtime check)
</code>

@aMarCruz yeah we are aware of that, its fine if we can get this working :)

Havu

[2015-12-18 10:27] aMarCruz commented on #1454
@nippur72 the compiler inserts only LF. How do you load the js? With git?

[2015-12-18 10:44] aMarCruz commented on #1454
if so, in a dos prompt CD to the root of your riot repo and enter:
[code]
(omit `--global` if you wanna config the repo only)

[2015-12-18 10:55] marrone opened #1455 "Setting a value attribute on option elements fails server-side"
It seems like there are issues with setting value attributes on looped option elements. The issue only appears in nodejs, rendering on the client is fine

[code]
None of the items render in the loop. If I remove the **value={ title }** attribute, it does render fine. If I use something static for the value attribute it also renders fine (e.g. **value=“foo”**)

[2015-12-18 11:43] nippur72 commented on #1454
@aMarCruz fantastic, thanks!

[2015-12-18 11:43] #1454 closed

[2015-12-18 11:50] nippur72 commented on #1451
@Havunen as far as I know (see this [RiotTS issue](https://github.com/nippur72/RiotTS/issues/11)), Babel has its own peculiar way of transforming ES6 classes into ES5: it adds a runtime check that you can't turn off (see also [this babel closed issue](https://github.com/babel/babel/issues/798)). TypeScript is more friendly in this regard.

[2015-12-18 14:21] JasonKeirstead opened #1457 "<script> includes should be evaluated inside tags so you can include other tags"
Currently, script includes inside tag definitions are not evaluated. This makes it not  possible to have a tag that includes another tag inside it (see my post here on the forum http://riotjs.com/forum/#!/using:can-tags-include-nested-tag ). The lack of this capability makes structuring a Riot app a lot less modular than it should be - IE, I can't make a generic tag library that can be included in

[2015-12-18 15:13] GianlucaGuarini commented on #1457
Have you checked this issue https://github.com/riot/riot/issues/1340 ? I guess we have already answered to this question

[2015-12-18 15:19] JasonKeirstead commented on #1457
@GianlucaGuarini That seems to work if I re-call riot.mount() after doing that.. thanks.

But, <script> elements are still not evaluated inside tag files.. I still think this RFE should be implemented. The only work-around I have found to use jQuery's .getScript() function but this is kind of a pain and seems against what Riot is trying to do.

[2015-12-18 17:22] sntran commented on #1218
Does this new feature expect the `<yield to="">` as immediate children of the tag?

The following does not work

### Tag definition

[code]

### Tag mount

[code]

### Expected
[code]

### Actual
[code]

[2015-12-18 18:09] GianlucaGuarini commented on #1218
@sntran can you open a new issue with a jsfiddle please?

[2015-12-18 18:16] nippur72 commented on #1429
@GianlucaGuarini I think this is a bug, if you see [this plunker](http://plnkr.co/edit/PIGUOiri2D0bca1UwRb2?p=preview=) there's something wrong with calling `riot.mount`:
[code]

@idjhuang if I am not wrong, `opts` is passed as inherited object (don't know the exact reason) so your `opts.name` is actually in `opts.__proto__.name`; you can't display it with `JSON.stringify()` but you can still acce

[2015-12-18 19:45] sntran opened #1458 "Yield slot not working when nested"
Follow up from #1218, does this new feature expect the `<yield to="">` as immediate children of the tag?

The following does not work (also see http://embed.plnkr.co/v5miAuEsD3FHxjgn33L1/)

### Tag definition

[code]

### Tag mount

[code]

### Expected
[code]

### Actual
[code]

[2015-12-18 20:24] GianlucaGuarini commented on #1457
The idea behind riot (and also the webcomponents in general) is that you should build your apps on the top of small standalone components. What you want to do can be considered a bad practice if you have planned to do it in runtime but if you want to build your tags in a bundle our compiler or any other tool like webpack or browserify will allow you to achieve what you are asking here in the follo

[2015-12-18 20:26] GianlucaGuarini commented on #1441
@johnsq cool I am closing this issue

[2015-12-18 20:26] #1441 closed

[2015-12-18 20:28] GianlucaGuarini commented on #1430
thanks @aMarCruz for your example I am closing this issue

[2015-12-18 20:28] #1430 closed

[2015-12-18 20:32] JasonKeirstead commented on #1457
I think we may  be having the same goals, but are speaking past eachother - how can I create a re-useable component if said component can not include all it's dependancies? I want to have a library of tags (.tag files) that can be used in many different applications all connected using a Flux storage model. I don't want applications to have to worry about what dependancies the tags they use may or

[2015-12-18 21:03] GianlucaGuarini commented on #1451
I think in the next release I will provide a better `riot.Tag` class that will be able to do the same things you can do with `riot.tag`.

[2015-12-18 21:11] GianlucaGuarini commented on #1457
In our readme file we have many [demos](https://github.com/riot/riot#demos) and [tutorials](https://github.com/riot/riot#tutorials) about how you can do all what you are asking here ( in our [documentation as well](http://riotjs.com/guide/application-design/#modularity)). Have you checked also the [mixins](http://riotjs.com/guide/#mixins)?
Do you think our documentation, demos, videos and tutorial

[2015-12-18 21:15] GianlucaGuarini commented on #1452
@aMarCruz can you solve this issue directly in the compiler? Can we fix it somehow or do you think it will be hard for the next release?

[2015-12-18 21:17] GianlucaGuarini commented on #1356
This should work and @jellytux has provided no code to test the issue so I am closing it. Feel free to reopen it with an example we can test

[2015-12-18 21:17] #1356 closed

[2015-12-18 21:23] GianlucaGuarini commented on #1361
does this issue still exists in riot 2.3.12 I am unable to reproduce this issue

[2015-12-18 21:25] GianlucaGuarini commented on #1361
ah I probably know what's the issue.. the children property gets inherited from the parent if it's undefined that's why items without any children appears to have them as well this seems to be a bug

[2015-12-18 21:28] GianlucaGuarini commented on #1312
I think this issue should be moved [here](https://github.com/jimsparkman/RiotControl/issues) It's not riot specific. I am closing this issue hoping that @jimsparkman can solve this problem in the next riotControl release

[2015-12-18 21:28] #1312 closed

[2015-12-18 21:32] GianlucaGuarini commented on #1074
there is already a guy who had developed a meteor.js riot adapter https://atmospherejs.com/baysao/riotjs please have a look at it. At moment we have plans to combine riot with meteor js. I am closing this bug

[2015-12-18 21:32] #1074 closed

[2015-12-19 01:31] #1448 closed

[2015-12-19 02:08] aMarCruz commented on #1452
@GianlucaGuarini  not right now, I made some tests and at first glance seems not possible without refactoring many code, but I will continue looking for a simple solution.

[2015-12-19 05:54] aMarCruz commented on #1429
In the last case `riot.mount('*')` is remounting the tag with no opts. Try `riot.mount('*', {a: 55} )`

[2015-12-19 06:05] aMarCruz commented on #1429
@idjhuang , in your case, it is working with v2.3.12, see [this plunker](http://plnkr.co/edit/LunxsK?p=preview) please.

I'll close this issue now, feel free to reopen it if you consider it necessary.

[2015-12-19 06:05] #1429 closed

[2015-12-19 09:31] Havunen commented on #1451
I found quite a simple way to make this work but it requires small changes in riot. The main reason it doesn't work as expected is because riot is internally calling new Tag, which always makes new Tag even when there is new tag extended from this.

Wrapping making new Tag construction into this kind of function would solve the problem, while also keeping backwards support.
[code]
This way we also

[2015-12-19 11:19] ericrange opened #1462 "riot.mount(jQuery, tagName, [opts])"
what about
[code]
?

[2015-12-19 13:27] GianlucaGuarini commented on #1462
what about `riot.mount($('#my-fancy-id')[0], 'my-tag', opts)`? We don't need to reinvent the wheel jquery is just javascript and riot plays well with it like with any other js framework. I am closing this issue hoping my suggestion was enough

[2015-12-19 13:27] #1462 closed

[2015-12-19 13:32] GianlucaGuarini commented on #1450
I am working on a simple isomorphic riot app [here](https://github.com/GianlucaGuarini/riot-app-example) and in this case I have abstracted my [routes](https://github.com/GianlucaGuarini/riot-app-example/blob/master/shared/routes.js) combining them on the [server](https://github.com/GianlucaGuarini/riot-app-example/blob/master/server/index.js#L30-L43) and on the [client](https://github.com/Gianluc

[2015-12-19 14:18] ilearnio commented on #1450
@GianlucaGuarini Thanks for response. I have looked at your code and now I see the difference at how you implemented routing here https://github.com/GianlucaGuarini/riot-app-example/blob/master/shared/components/src/app.tag#L4. You applied `name` attribute to html tag instead of `id` as I did, so this way it is possible to access the tag on the server with `this.main`.
I tried to do the same and n

[2015-12-19 14:18] #1450 closed

[2015-12-19 14:56] #1348 closed

[2015-12-19 14:58] GianlucaGuarini commented on #1348
In the next riot release you will be able to listen all the events in a more consistent way:
[code]

[2015-12-19 18:44] nippur72 commented on #853
@web3d0 what do you mean exactly with

[2015-12-19 20:26] aMarCruz commented on #853
@web3d0 working with precompiled (.js) tags does not change the fact that Riot injects unevaluated expressions (within the html tag content) into the DOM, and then read from there. This happen in the `mkdom` function and causes some encoding issues and  confussion.

[2015-12-19 21:09] nippur72 commented on #1199
@joshcartme I tried to have a look at this problem and it seems to me there is a rather easy way to discern namespace. Simply, the namespace is in `.namespaceURI` as a string, so it would be enough to extend `mkdom()` and `mkel()` with an extra parameter `namespace` (that could be `undefined` for the normal case).

In code:
[code]
this way namespace would be propagated down to:
[code]
I tried to i

[2015-12-20 03:26] rstacruz opened #1468 "Spaces in expressions"
Nice work on Riot, I'm loving how it's very slim.

I'm encountering some strange behavior with `if`'s though. These two snippets behave differently:

[code]

[code]

Can anyone explain why?

[2015-12-20 03:28] rstacruz commented on #1468
Ah, i see now... it's being parsed by the browser's DOM parser. Quoting them makes it work:

[code]

[2015-12-20 05:25] IngwiePhoenix opened #1469 "Using with Babel JSX?"
Is it possible to run this using Babel's JSX transform?

Thanks!

[2015-12-20 07:59] aMarCruz commented on #1469
I don't understand why someone would want to do that, can you explain?

[2015-12-20 08:15] web3d0 commented on #853
@nippur72 Console in developer tools. It would match @aMarCruz's note about all of the creation, mounting, etc points having gone past, so there are no unevaluated expressions left.

[2015-12-20 08:26] IngwiePhoenix commented on #1469
I was merely curios since Babel’s JSX transform is able to use stuff other than React. So I decided to ask. Riot is a really tiny library compared to React, so that would’ve been very nice.

[2015-12-20 11:00] nippur72 commented on #1171
Isn't this the same issue in #1199 ? (looping over an `<svg:image>`)

[2015-12-20 11:15] Havunen commented on #1451
After lot of testing I found its not that simple, because options must be updated. Now we if we call updateOpts at the end of Tag constructor then everything seems to work, but there is issue that child tags get options before parent. So parent cant override things in constructor to change opts for children.
And if we call updateOpts in Mount then constructor never gets updated options and whole c

[2015-12-20 11:36] kysonic opened #1470 "Double curly brackets."
Hi everyone!

Supposing i've released some riot component using double curly brackets into html markup. And another person wants to use my component but his project contains components with single curly brackets only. Is there any possibility to resolve this conflict?

[2015-12-20 13:59] nippur72 commented on #1470
This should be already working as #1122 was closed, but I did some [quick test](http://plnkr.co/edit/Qvn762CapFafkFSC6vbn) and it doesn't seem to work.

Looking at the source code, it seems strange to me that the `bpair` argument is discarded [here](
https://github.com/riot/riot/blob/dev/lib/browser/index.js#L62-L66).

[2015-12-20 14:22] nippur72 commented on #1470
When compiled, the double curly braced tag will be translated to single-braces so it should be possible to mix the two.

See this [quick example](http://plnkr.co/edit/Qvn762CapFafkFSC6vbn?p=preview).

[2015-12-20 15:45] Vantraninthena commented on #1470
Meaning making a new build of the components with the current version of riot.js should compile into the new riot.tag2 instead of riot.tag and therefore be universally depolyable ?

[2015-12-20 17:13] nippur72 commented on #1470
Yes, recompiling the tags will produce new tag definitions where the `{{` are turned into `{`.

The only drawback is that you have to switch using compiled tags, I'm not sure you can use `.tag` files directly.

[2015-12-20 17:16] kysonic commented on #1470
Okay. Thanks. Anyway i use gulp-riot for compilation, because i have to combine all tags in one file.

[2015-12-20 17:16] #1470 closed

[2015-12-20 17:44] GianlucaGuarini commented on #1171
yes it is..I am closing it in favor of #1199 it's a duplicate

[2015-12-20 17:44] #1171 closed

[2015-12-20 17:48] GianlucaGuarini commented on #1469
@IngwiePhoenix I am sorry but this question makes no sense. React uses jsx riot uses simply javascript so no transformation is needed. Eventually if you are using a riot component in a tag file and you want use babel you can compile your stuff to js using our compiler like it's described [here](http://riotjs.com/guide/compiler/#babel-6)
I am closing this issue hoping that you could have a look at

[2015-12-20 17:48] #1469 closed

[2015-12-20 17:54] GianlucaGuarini commented on #1468
@aMarCruz I have tried your example and it works in both ways http://plnkr.co/edit/SsHsmEbvbvLv5Dm042eA?p=preview

[2015-12-21 04:40] aMarCruz commented on #1468
@GianlucaGuarini , I'm not in my pc now but @rstacruz is right, for riot tags _inside the html page_ the browser's DOM parser is the culprit, as I explained it in other posts.
External tags should have no these problems.

[2015-12-21 04:58] aMarCruz commented on #1470
Sorry but no. Currently, the internal `riot.tag2` function is doing the same as the public `riot.tag`. This feature needs more testing before being implemented.

[2015-12-21 07:10] GianlucaGuarini commented on #1468
ah now I got it sorry @rstacruz @aMarCruz .. yes of course ` if={"movies#index"==action}` is not valid markup unless you use it in a riot template but you can always use the quotes :)
I am closing this issue @rstacruz feel free to open other issue if something is not clear

[2015-12-21 07:10] #1468 closed

[2015-12-21 13:18] nippur72 commented on #1458
I've fixed the bug, mostly due to using `querySelector` and so not getting nested `yield from`.

I've rewritten the logic, now it loops over "yield from" nodes picking back the corresponding "yield to" node.

- If there are more than one "to" nodes pointing to the same "from", the first will be used
- if a "from" node does not have a corresponding "to" its content is cleared
- if a "to" node does

[2015-12-21 13:22] rstacruz commented on #1468
Ah, right, I'm actually using:

[code]

[2015-12-21 13:30] Havunen commented on #1451
@GianlucaGuarini Is it currently possible to have any kind of OOP hierarchy with tags? We gave up the idea with ES6 classes and tried to implement it with classic prototypes, but that didn't work either. Any ideas?

[2015-12-21 18:36] ilearnio opened #1473 "Async support for `riot.render`"
I have set up API for my project to make requests to DB directly from components (similar to GraphQL). This code is working fine on the client, but not on the server because `riot.render` is working synchronously.

[code]

So I'm always getting "0 users" on the server. Is it possible to run `riot.render` asynchronously?

[2015-12-21 18:38] neonquill opened #1474 "Please follow semantic versioning spec"
It appears that 2.3 has two backward-incompatible changes even though the major version number stayed the same:

 * [route.start](http://riotjs.com/api/route/#riot-route-start): "Note: before v2.3 Riot started the router automatically. The behavior was changed"
 * [route(to)](http://riotjs.com/api/route/#riot-route-to-title): Adding the base path to the router now means that '#' is no longer requi

[2015-12-21 19:48] GianlucaGuarini commented on #1474
For me the upgrade from 2.2.* to 2.3.* is a minor update and it contains only new features and bug fixes. We take very seriously the semantic versioning and try to avoid breaking changes providing always [release notes](http://riotjs.com/release-notes/) on each release. I personally do not consider the examples about the router breaking changes because all you could do with previous one can be don

[2015-12-21 19:50] GianlucaGuarini commented on #1473
You may write your own riot render function to support your special case it should not be [that hard](https://github.com/riot/riot/blob/master/lib/server/index.js#L30-L34)

[2015-12-21 19:53] GianlucaGuarini commented on #1468
@rstacruz why are you not using the riot compiler? Have you experienced any issue compiling your tags?

[2015-12-21 20:41] ilearnio commented on #1473
Thanks for your response. As far as I understood from code, `riot.render` just passes the tag instance through simple-dom serializer, which compiles html but seems doesn't even look to component's javascript code.

But how does Riot runs component's scripts on the server in order to do some manipulation with html?

Could you give me any hints, please? I'm in desperate need of this feature. I may e

[2015-12-21 21:06] ilearnio commented on #1473
Seems I understood a little how it works. Riot runs JS the moment when compiled `.js` component is `require`d in Node, or in other words, when `riot.tag2` function triggers. Which makes it even harder to run rendering function after all async functions completed. Probably, it's not that easy to implement, because `riot.tag2` also needs to be async :(

[2015-12-21 21:51] neonquill commented on #1474
I completely understand the desire to avoid a major version bump for a minor change.  I also appreciate the well-written documentation and release notes, they definitely help in these situations.

My issue is that these types of changes don't follow the semver spec, yet that seems to be the stated goal of the project.  The key phrase from my perspective is "almost in the same way."  My interpretat

[2015-12-21 22:26] ilearnio commented on #1473
I think I will just register each API request (which are just DB queries when it's server side) called from components, then do `riot.mount`, wait untill all of the queries finished and then do `riot.render`. Think it shoul work out. Thanks anyways!

[2015-12-21 22:26] #1473 closed

[2015-12-21 22:29] GianlucaGuarini commented on #1473
@ilearnio it's always better pass your data to the riot components handling your logic elsewhere I would not recommend to rely on the riot views for an async rendering I am happy you have found better a solution I would do the same

[2015-12-22 07:21] kokujin commented on #1118
Are there any starter projects that use Gulp instead of Webpack?

[2015-12-22 12:19] GianlucaGuarini commented on #1458
@aMarCruz probably this feature should be handled using regex instead of relying on `document.querySelector` ( not supported serverside ) what do you think?

[2015-12-22 12:23] GianlucaGuarini commented on #1431
I started refactoring the code in the `rollup` branch that will be a work in progress for a while. But there will be no complete rewrite at moment in ES2015. I am closing this issue

[2015-12-22 12:23] #1431 closed

[2015-12-22 16:33] Synvox commented on #1452
Sorry for not replying quickly, I totally forgot that I filed this issue. Pre-processing the code solved the problem for me.

`<yield />` is replaced by the `innerHTML` of the mounted tag, *then* it is compiled. I wonder if this is the desired behavior... I made a fiddle to illustrate my point.

[2015-12-22 16:39] aMarCruz commented on #1458
@GianlucaGuarini , sure it is possible, I will see that it can be.

[2015-12-22 17:09] GianlucaGuarini commented on #1452
@Synvox try [this](https://jsfiddle.net/thznr5ow/)

[2015-12-22 18:02] Synvox commented on #1452
Yeah, that's the easy solution, until you have to chain up to the scope you want... `parent.parent.parent.parent.attr` isn't a nice solution. Ideally you wouldn't have to know the implementation of a specific tag right? You shouldn't have to know the specifics of the `<yield/>` tag.

Perhaps `<yield/>` should be replaced after the parent evaluates that content... I'm not sure how easy this would b

[2015-12-22 18:04] shrunyan commented on #1118
@kokujin we are using [gulp](https://github.com/zesty-io/app-skeleton/blob/master/gulpfile.js) for ours. I haven't updated to the mixin style everyone else is using so be aware our implementation of redux with riot is not optimal.

[2015-12-22 18:06] GianlucaGuarini commented on #1452
@Synvox isn't [this](http://riotjs.com/api/#yield-and-loops) a good use case?

[2015-12-22 18:49] nippur72 commented on #1445
@BirdieMcFly what you are describing can be already done with `riot.parsers.css`.

Closing this as the feature is no longer to be implemented.

[2015-12-22 18:49] #1445 closed

[2015-12-22 19:02] Synvox commented on #1452
@GianlucaGuarini I guess that's a good example, but I could argue that it is unlikely you'd be accessing the child element from the parent element in the first place (with the exception of `each`).

[2015-12-22 21:55] aMarCruz commented on #1458
@GianlucaGuarini , I misunderstood this feature, it is a bit complex and I guess can interfere with the fix for the `if` activation.
Anyway, I'm working on it. Just for clarify:
* There's an one2many relation, the parent is the html element (the first yield with "to").
* Unused "to" are left in the DOM (they will be overridden on `mount`).
* "from" with no "to" are removed.
* No expressions in the

[2015-12-22 22:16] GianlucaGuarini commented on #1458
Yes exactly all the `yield from` having the same id will receive html from the single `yield to`

yes they will be wiped from the mount event

yes it will be easier to understand what goes wrong for debugging

yes

yes

yes

yes

yes `<yield from="foo"> | <yield from="foo"></yield> | <yield from="foo" /> ` should be all valid

[2015-12-22 22:22] aMarCruz commented on #1458
@GianlucaGuarini , and no nested `<yield> <yield></yield> </yield>` for sure. Thanks.

[2015-12-23 07:43] uppalapati41 opened #1477 "Named elements Scope issue"
Named elements are not getting pushed into tag Instance scope in dynamic cases. Here is the example
div if='{ isSelected}'
input type="text" name="inputTitle"
div
div if='{ !isSelected}'
input type="text" name="inputDesc"
div
input type='button'

Now on button click event when we try change instance of inputDesc its not available.

[2015-12-23 08:01] GianlucaGuarini commented on #1477
can you make a live example please?

[2015-12-23 08:43] BirdieMcFly commented on #1445
@nippur72 From what i understand in the documentation, riot.parsers.css is processed at compilation phase and can only be used on server by pre-compiling tags (your solution was processed at declaration phase). So if i want to use variables in my CSS it becomes mandatory to pre-compile tags and not to be able to change values at runtime.
Also, for example if i want to propose a bundle of tags, alr

[2015-12-23 09:13] nippur72 commented on #1445
@BirdieMcFly well, you are right, they need to be recompiled.

BTW, I like your solution of intercepting `riot.tag` and that's what I'm going to use in my app:
[code]

[2015-12-23 09:14] GianlucaGuarini commented on #1445
@BirdieMcFly with the current riot release you can already parse your [css in runtime](http://plnkr.co/edit/YZBx5unBzZvb6wy9Clts?p=preview) so basically there is no need to support something that riot already does in 2 different ways it can be confusing. The current implementation is a bit different from the @nippur72 solution because the css are injected only once and there is no way to update th

[2015-12-23 09:40] uppalapati41 commented on #1477
Here am attaching example: http://plnkr.co/edit/iI9HntK7rjxYCjKVLGTZ?p=preview

Steps to reproduce:
1) Fill the fields and click create
2) Hover on Untitled Question and click on edit

Now I have a div which will be shown, inside that named tag am not getting instance. Tags which are outside instance is available.

Named Instance: inputQuestionTitle

[2015-12-23 09:43] nippur72 commented on #1445
@GianlucaGuarini we posted on the same minute :-)

Well, there are several ways this issue can be addressed, so no need to have in Riot, considering also that this feature isn't commonly used.

[2015-12-23 10:03] BirdieMcFly commented on #1445
@GianlucaGuarini looking at your exemple it seems i misread the documentation however the subsection `riot.parsers.css [tagName, css]` is under the section `On server` at this URL : http://riotjs.com/api/compiler/

I understand the strategy here i wanted to be sure i didn't miss something important :).
Thank you both for the answers!

[2015-12-23 10:11] GianlucaGuarini commented on #1445
@BirdieMcFly you are right probably we need to extend the doc showing that the runtime parsers work clientside as well however there is a [nice example](https://github.com/riot/examples/tree/gh-pages/pre-process-less) in our examples repo doing exactly the same thing with less

[2015-12-23 10:36] GianlucaGuarini commented on #1477
I've made a more readable example [here](http://plnkr.co/edit/miQibUSaHJIlqU1xprH7?p=preview) it seems that the named elements in a loop + if directive are not detected

[2015-12-23 10:38] GianlucaGuarini commented on #1477
no wait they are detected properly when the if condition becomes true.. http://plnkr.co/edit/miQibUSaHJIlqU1xprH7?p=preview

[2015-12-23 10:50] uppalapati41 commented on #1477
Correct, but in order to get instance it will be captured only on update
complete. So can there be any other work around?

On Wed, Dec 23, 2015 at 4:08 PM, Gianluca Guarini <notifications@github.com>
wrote:

--
*Thanks,*
*Krishna Chaitanya.*

[2015-12-23 10:56] GianlucaGuarini commented on #1477
The current riot behavior is correct, how can riot know the named elements before they get event created in the DOM? But honestly I need to clean up your example to understand what's wrong there is too much stuff in there

[2015-12-23 11:01] uppalapati41 commented on #1477
My point is I have a named element under if and each which is not rendered
on DOM so what exactly I was looking for is upon edit click and change of
value in textbox and save was trying to take instance of textbox in order
to update my object that is the point where I got issue for now am using id
to get value which I feel is not correct.

On Wed, Dec 23, 2015 at 4:26 PM, Gianluca Guarini <notific

[2015-12-23 11:13] GianlucaGuarini commented on #1477
Ok I was able to reproduce the issue http://plnkr.co/edit/miQibUSaHJIlqU1xprH7?p=preview I will fix this bug asap @uppalapati41 thank you for reporting it ;)

[2015-12-23 11:15] uppalapati41 commented on #1477
Thank you!! Great library!! 👍

On Wed, Dec 23, 2015 at 4:43 PM, Gianluca Guarini <notifications@github.com>
wrote:

--
*Thanks,*
*Krishna Chaitanya.*

[2015-12-23 12:00] nippur72 opened #1478 "riot.update() flushing __virtualDom ?"
From [the forum](http://riotjs.com/forum/#!/using:bug-riot-crashes-after-man), apparently `riot.update()` returns an empty array.

I tried to debug it, at a certain point `unmountRedundant()` is called and `__virtualDom` is flushed, but I can't get further than this.

Since it was working on the previous releases I guess it's a bug?

[2015-12-23 12:43] RazorTeo commented on #1478
thanks @nippur72 for escalating this. If anyone could help it would be greatly appreciated - I'm on a tight timeline on a major project and my career is more or less on the line...

[2015-12-23 14:12] samuelmesq opened #1479 "[Question] Why riot is not listed as a WebComponent Library?"
http://webcomponents.org/

[2015-12-23 14:38] matteodem opened #1480 "Server side rendering and ES6 import / export"
Thank you for this library, really enjoying this approach to creating components. I got a question regarding server side rendering with babel and ES6 / ES2015 syntax. Let's say I got a .tag file for a todo component.

[code]

This works perfectly on the client side with webpack and babel transpilation. I already had a look in the riot docs (http://riotjs.com/guide/compiler/#pre-processors and http

[2015-12-23 16:16] nippur72 commented on #1479
simply because it does not use the WebComponents technology.

Riot is self contained, does not depend on external libraries or polyfills.

[2015-12-23 20:36] aMarCruz commented on #1480
@matteodem , I'm not a Babel user but riot parses scripts inside custom tags only.
Try moving the import declarations there:
[code]

[2015-12-23 20:52] matteodem commented on #1480
I can try again and upload a repo to show the behavior.

[2015-12-23 21:07] matteodem commented on #1480
Do following to reproduce it

[code]

After navigating to http://localhost:4000/ I get an error in the node console

[code]

[2015-12-23 21:37] aMarCruz commented on #1452
@GianlucaGuarini , about the issue, the behavior is by design, the compiler see text inside a html element. We can parse and skip the tag, modify `tmpl`, etc. ...or use `riot.util.brackets.set()`

[2015-12-23 21:58] aMarCruz commented on #1480
@matteodem , I have a "Permission denied (publickey)." with your repo. Anyway, I overlooked this is server-side issue and I can't help with these, sorry, perhaps @GianlucaGuarini can do it.

[2015-12-24 03:43] acousticseagull opened #1482 "riot.mount returning undefined"
Here is a plunker http://plnkr.co/edit/DKrCIqMER6RDymdccr4D?p=preview

[2015-12-24 08:42] nippur72 commented on #1478
I wonder if we can just drop `riot.update()` from the API, as IMO it promotes unhealthy patterns.

[2015-12-24 15:38] nippur72 commented on #1482
This could be related to #1478

[2015-12-24 16:09] GianlucaGuarini commented on #1482
From riot [doc](http://riotjs.com/api/#mount):

[2015-12-24 16:09] #1482 closed

[2015-12-24 17:51] RazorTeo commented on #1478
I think there may still be use-cases for it. The project we're working on will actually end up having two riot apps on one page (long story, don't ask) - being able to update both at once may be necessary.
That said, there are certainly other ways to achieve this goal, and the only reason I was using riot.update in this instance was because child tags were failing to update with their parents in p

[2015-12-24 19:36] rsbondi commented on #1174
This really is not a bug, more of the design of how `riot.mount` works, riot is mounting, not the tag.  I think the solution is implementing `riot-tag={ expression }`, right now `riot-tag` is not dynamic and only evaluated on `riot.mount`.  I have a [WIP version](http://plnkr.co/edit/EJ9WEw?p=preview)(sorry for the complex example)  that I need to clean up and hopefully submit by year end.  I thin

[2015-12-25 18:32] rstacruz opened #1483 "Reporting errors"
It seems like errors in tag expressions get silently discarded. Is there any way they can be seen?

In this case, it seems to silently fail:

[code]

http://plnkr.co/edit/mDbZYZUTpjuQczGqVUeD?p=preview

[2015-12-25 18:36] rstacruz commented on #1483
Errors in `.on('update')` are also silently discarded.

[code]

http://plnkr.co/edit/Fms25fQXqpDY13wJoSEp?p=preview

[2015-12-25 19:43] rsbondi commented on #1483
for expression errors
[code]

for observable errors(tags are observables)
[code]

http://plnkr.co/edit/ykqoJg?p=preview

[2015-12-25 20:40] rstacruz commented on #1483
is there any way to make that happen globally for `tag.on('error')`?

[2015-12-25 23:34] GianlucaGuarini commented on #1483
@rstacruz this behavior will disappear in the next riot release so the errors in the observable will be always normally thrown..please hold on a couple of weeks

[2015-12-26 21:22] whatda opened #1484 "Request: Pass element to event handlers"
Hi,

when handling an event like `onclick`, I cannot change the scope of the handler, if I want to get details of the element which triggered the event.

It would be cool, if the element could be passed to the event handler, so one could change the scope of the handler.

[code]

Let me know if this is a stupid idea or not, thanks.

[2015-12-26 21:55] GianlucaGuarini commented on #1484
try `e.currentTarget`

[2015-12-26 22:02] whatda commented on #1484
Thanks, it works.

[2015-12-26 22:02] #1484 closed

[2015-12-27 04:09] cognitom opened #1485 "How to make riot.route optional?"
We've decided to make `riot.route` optional. #1322
I'm guessing what's the best way...
### A

It could be like this:
- riot.js
- riot+route.js
- riot+compiler.js
- riot+compiler+route.js
### B

Another option is loading separately:

[code]

But it feels bit inconsistent.
### B'

Should we separate `compiler`, too?

[code]

Any thoughts? Thanks!

[2015-12-27 04:09] cognitom commented on #1485
BTW, for Browserify and WebPack, it'll be more simpler:

[code]

or just:

[code]

[2015-12-27 18:36] wiz opened #1486 "Tag loses opts provided in riot.mount for DOM element"
I've been mounting my tag on a freshly created DOM element added to document. It renders well, however `opts` provided with `riot.mount` are nowhere to be seen.

https://jsfiddle.net/azrwn6xv/2/

After brief tracing through riot code I've identified the culprit to be `inherit(conf.opts)` where it tries some prototype magic (sorry, I'm no expert on `this`). Attributes that were assigned to the elem

[2015-12-27 19:02] aMarCruz commented on #1485
@cognitom , please **B**. I just was thinking about the parsers.

I think we must remove all the parsers and release riot with a subfolder with these and other optional "core" components, like the router, the compiler, maybe an alternate styleManager, and so on (custom `tmpl` for precompiled expressions).

Example: Include a pre-made default version of riot for browsers only --i.e. unminified, no

[2015-12-27 19:07] aMarCruz commented on #1485
I already do something like this with the compiler using [jspreproc](http://amarcruz.github.io/jspreproc/). This allows me to generate optimized versions for the CLI and riot with the same code base.

[2015-12-28 04:14] wiz commented on #1486
Okay, got this by wrapping my opts in a class. Perhaps its a documentation issue after all.

[2015-12-28 05:52] debjeet-sarkar commented on #767
This issue seems to persist. The tags get rendered without the event handlers if we don't mount the tag again on the client side and provide it with the underlying data. If we only render the server side content , the event handlers seems to be absent in the tags.

[2015-12-28 06:12] phillip-haydon commented on #1485
Optional route! YAY.

[2015-12-28 08:51] nippur72 commented on #1486
options are passed correctly, but since they are in the prototype they won't show when you print them with `JSON.stringify()`. But they are still there, e.g. try `opts.foo` as in [this jsfiddle](https://jsfiddle.net/9t02aL5u/).

[2015-12-28 10:42] #1486 closed

[2015-12-28 11:09] xiechao06 opened #1487 "How could I reset an input element in a reasonable manner?"
assume the following scenario:
An entity should be updated, the updated contents are sent to server but an invalid response returned. so the form should be reset. However, I can't restore the value unless I assign the value to the input element manually.

for example:
[code]

plunker: http://plnkr.co/edit/dWlpKITNQ18EQkJ7czje?p=preview
you could change the age/name and submit, and the form won't b

[2015-12-28 11:56] thinkloop commented on #725
Is riot no longer indent-sensitive?

[2015-12-28 12:22] GianlucaGuarini commented on #725
@thinkloop the old indentation issues were fixed but there are some restrictions https://github.com/riot/compiler/blob/dev/doc/guide.md#indentation

[2015-12-28 12:38] thinkloop commented on #725
Thank you @GianlucaGuarini - to summarize, it seems now the only space/indent sensitive code is the opening and closing tag, and none of the contents?

[2015-12-28 13:06] jrx-jsj opened #1488 "TypeError: Cannot read property 'replace' of undefined when compiling in Node a tag with an import in its less stylesheet"
I'm trying to compile a custom tag with an import in its less stylesheet:

    <demo-button>
        <button><yield/></button>
        <style scoped type="less">
            @import "css/demo.less";

            :scope {
                display: inline-block;
            }

            button {
                background: @primary;
                color: fadeout(@base, @textfadeout);

[2015-12-28 13:24] GianlucaGuarini commented on #1488
@jrx-jsj have you tried using a custom compiler? http://riotjs.com/guide/compiler/#es6-config-file You can use something like `my-less` to find a setup that fits better to your needs

[2015-12-28 14:09] jrx-jsj commented on #1488
What I am doing right now is adding the parameter into the riot compiler code. The original method looks like this:

    less: function(tag, css, opts, url) {
      var less = _req('less'),
        ret

      less.render(css, extend({
        sync: true,
        compress: true
      }, opts), function (err, result) {
        // istanbul ignore next
        if (err) throw err
        ret = result.c

[2015-12-28 14:43] GianlucaGuarini commented on #1488
this seems to be more a less.js issue... @jrx-jsj can you do a pull request [here](https://github.com/riot/compiler) please

[2015-12-28 15:56] nippur72 commented on #1487
does your plunker link points to something else?

[2015-12-28 16:11] nippur72 commented on #1487
Perhaps the problem is in how you use the "submit" function, see [this simplified version](http://plnkr.co/edit/fvtln4jxAC8q9xmfeARi?p=preview) that uses `onlick`.

[2015-12-28 17:33] whatda commented on #1415
@aMarCruz Have you had time to test yet?

I'm developing a web app with riot.js, using some other frameworks. It all works pretty well, except for the issue of having to specify things like `parent.parent.parent.propName`. This makes working with nested custom elements definitely harder and more laborious.

I think we could see some cool frontend techniques and frameworks, if riot would make the c

[2015-12-28 18:59] nippur72 commented on #1415
@whatda this feature won't be merged in Riot, so I've closed the PR.

The problem is still open, but I think @GianlucaGuarini wants to solve it with some form of inheritance.

All other frameworks (angular/polymer/react-templates) don't have this issue because they bind expressions to the calling tag's context. That makes a lot of sense, because when I define a tag, it's likely that I need to work

[2015-12-28 19:17] #1488 closed

[2015-12-28 20:57] whatda commented on #1415
@nippur72

Yeah, I totally agree. The way of the others seems more intuitive here and would be consistent with using normal html elements, as I've hopefully pointed out, too.

Maybe no one has thought about this before?

BTW, addition to my previous post: I think only rewriting the `inheritFromParent` function, as mentioned above, would only help the children accessing parent variables, but not gr

[2015-12-28 23:37] aMarCruz commented on #1487
riot do not sets the `defaultValue` for most elements.

[2015-12-28 23:39] aMarCruz commented on #725
@thinkloop , yes.

[2015-12-29 00:42] GianlucaGuarini commented on #1118
Hi guys I am happy to announce that my demo app is ready and you can check it [here](https://github.com/GianlucaGuarini/riot-app-example) It's polymorphic, it's build using ajax + websockets + HTML5 history api and it retains the state of any app component. I hope it's not too complicated and it could be a valid alternative to redux, flux or whatever you want to use. I need to write a bit more doc

[2015-12-29 01:29] xiechao06 commented on #1487
@nippur72  sorry, it should be http://plnkr.co/edit/dWlpKITNQ18EQkJ7czje?p=preview

[2015-12-29 01:38] xiechao06 commented on #1487
@nippur72  thanks a lot, your example works, after read the source code roughly, I've finally found that:
each expression (eg {person.name} ) cache its value. that means an expression changes its value only when "someTag.update()" is executed. so If I don't make update before restoring the value. riot will consider nothing changes.
please compare http://plnkr.co/edit/dWlpKITNQ18EQkJ7czje?p=info
wi

[2015-12-29 01:42] xiechao06 commented on #1487
@aMarCruz  please see my last comment, though I finally resolve this problem, I found it very confusing and error-prone. May I suggest adding some warnings in the documents? Thanks a lot

[2015-12-29 01:45] #1487 closed

[2015-12-29 02:12] dmitriz opened #1489 "Lack of prefixes?"
Coming from Angular and exploring Riot,
I wonder what was the reason to decide against prefixes?

For instance, in Angular you do
[code]
but in Riot I see the same `class` used for both.

In Angular we learn to prefix any custom attributes for easy separation from HTML-native markup.
Without it, I find it hard to tell which one is which. Is anyone else feeling that way or it is only me? :)

[2015-12-29 02:25] andyrj opened #1490 "Have you guys looked into incremental-dom?"
Just wondering if Riot.JS team has looked into https://github.com/google/incremental-dom ?

I was messing around making a little todo app with it, using https://github.com/davidjamesstone/superviews.js, which has a very similar syntax to the riot tags for the most part.

The performance numbers on http://vdom-benchmark.github.io/vdom-benchmark/ , put it roughly ~7-8x faster than react, and it uses

[2015-12-29 03:20] bigopon commented on #1489
normally i would use
[code]
or
[code]
or
[code]
I think it's quite clear to figure out when looking at the brackets **{** and **}**

[2015-12-29 04:58] dmitriz commented on #1489
Hm... is the use of `{ }` inside attribute values mandatory?
What about this:
[code]

[2015-12-29 11:28] GianlucaGuarini commented on #1489
nope

[2015-12-29 12:04] GianlucaGuarini commented on #1490
@andyrj Thanks for your input but riot is mainly a __standalone library__ and I don't think that including new external dependencies or changing the current way the template engine renders the expressions will make it better. Riot [is already superfast](https://github.com/riot/riot/blob/master/test/performance/db-monster/index.html) and I would like to improve the current codebase without changing

[2015-12-29 12:06] GianlucaGuarini commented on #1480
@matteodem have you used https://github.com/riot/babel-preset-es2015-riot?

[2015-12-29 12:07] GianlucaGuarini commented on #1478
Closing this issue it's a duplicate https://github.com/riot/riot/issues/1353

[2015-12-29 12:07] #1478 closed

[2015-12-29 13:21] noneim opened #1491 "unmount bug (if tag in tag exists)"
please replace __virtualDom.splice(__virtualDom.indexOf(self), 1)  to
var index_unmount = __virtualDom.indexOf(self);
    if(index_unmount != -1)
    {
      __virtualDom.splice(__virtualDom.indexOf(self), 1)
    }

[2015-12-29 14:09] matteodem commented on #1480
Yes, without any success.

[2015-12-29 14:24] rsbondi commented on #1490
riot definitely needs to remain standalone.

[2015-12-29 17:21] hatched opened #1492 "Stop script tags from being evaluated with serverside riot.render"
I have a component that needs to include third party scripts but when rendering server side it tries to fetch the file instead of just passing it through. Is there a flag I can put on the tag to tell the riot compiler to not fetch?

[code]
[code]

[code]

[2015-12-30 01:43] whatda commented on #1492
Have you tried creating an empty script block below the one you want to pass?

E. g.:

[code]

[2015-12-30 07:28] jpodwys commented on #767
@gdub22 I'm seeing the same problem you are, but I'm able to mitigate the issue by not mounting on initial page load. This works for me because `1)` I'm using page.js for client-side routing and I don't dispatch on page load: `page({dispatch: false});` and` 2)` my demo app is isomorphic, so everything still works without initial mounting.

I know it's likely silly to see not mounting on initial pa

[2015-12-30 08:14] pajtai commented on #871
This worked:

[code]

But this did not:

[code]

---

In terms of why this is so important, during dev it's really easy to accidentally create errors in the templating, and it's really hard to find them without seeing the errors.

[2015-12-30 08:52] watert commented on #1381
It's better to have some method to access the tag instead of this private property, maybe something like this:
`riot.getTag( $("tagname")[0] )`

[2015-12-30 09:50] GianlucaGuarini commented on #871
@pajtai the first will be removed in the next riot release.. all the observable/tags/route errors will be __always__ thrown

[2015-12-30 11:30] pajtai commented on #871
@GianlucaGuarini thanks for the info, good to know - that makes them easy to catch ;)

[2015-12-30 12:34] GianlucaGuarini commented on #767
I want to leave my [demo app link](https://github.com/GianlucaGuarini/riot-app-example) as well hoping it will help someone

[2015-12-30 12:36] GianlucaGuarini commented on #1365
I tried to make a simple [demo app](https://github.com/GianlucaGuarini/riot-app-example) and honestly the switch (server/client rendering) was really smooth just using a bit of css

[2015-12-30 13:49] GianlucaGuarini commented on #1491
Good catch maybe this can be the fix for https://github.com/riot/riot/issues/1353

[2015-12-30 14:34] gdub22 commented on #767
@jpodwys I have an isomorphic app and simply not mounting would be unacceptable.  For example, there is a menu button click event that would not work.  However, I just end up mounting with the same exact data and it is so fast and seamless you can't even tell.  I just wanted to point out to the maintainers that this is issue is not actually fixed/closed.

[2015-12-30 18:17] GianlucaGuarini commented on #767
@gdub22 we know about the problem and we have left https://github.com/riot/riot/issues/1365 opened btw you can check how I ve solved the issue in my demo app

[2015-12-30 18:24] GianlucaGuarini commented on #1480
@matteodem I have tried using import in [my test](https://github.com/GianlucaGuarini/riot-preset-babel-test) and everything works as expected

[2015-12-30 18:37] GianlucaGuarini commented on #1399
@stergio  this is not a riot issue it's related to how the different browsers handle `setInterval` [more info](http://stackoverflow.com/a/16033979/1804336)

[2015-12-30 18:37] #1399 closed

[2015-12-30 18:37] #1489 closed

[2015-12-30 18:38] #1483 closed

[2015-12-30 18:38] #1479 closed

[2015-12-30 19:36] jpodwys commented on #1365
@GianlucaGuarini I had this same idea. Can you please link to the specific bit of CSS you used in your demo app? Wanting to see if you just did a simple transition or something more. Thanks!

[2015-12-30 21:51] jpodwys commented on #1455
This error seems to be true of both `<input>` and `<textarea>` elements as well. The below code causes a stack overflow when I attempt to render it in node:

[code]

It also fails if I do this:

[code]

or if I replace the `<textarea>` with an `<input>`.

Here's the console output:

[code]

Has anyone made progress on this or does anyone know of a workaround? This is a deal-breaker for me. If riot

[2015-12-30 22:10] jpodwys commented on #1455
OK, I looked at @marrone's commit reference and modifying that line of code as follows:

[code]

fixes the issue. Perhaps there was no issue with `<input>` tags after all.

[2015-12-30 22:24] matteodem commented on #1480
why is this required https://github.com/GianlucaGuarini/riot-preset-babel-test/blob/master/component.js? Since it's possible to `require` the tag files I thought this code is not needed. Can you explain the code in more detail, as in the index.js file that contains an empty function.

[2015-12-31 10:00] GianlucaGuarini commented on #1480
@matteodem any riot tag can be required on the server as it is if it does not need to be parsed by any other js parser. In your case you want to use the es6 modules that are not supported in node ( neither on the modern browsers ) so this means that your tags must be pre-compiled using babel. If you want to compile a tag with riot you need to use our [command line tool](http://riotjs.com/guide/com

[2015-12-31 14:26] GianlucaGuarini commented on #1365
@jpodwys [this](https://github.com/GianlucaGuarini/riot-app-example/blob/master/client/assets/sass/_common.sass#L13) + [a default velocity transition](https://github.com/GianlucaGuarini/riot-app-example/blob/master/shared/components/mixins.js#L14) + [nprogress](http://ricostacruz.com/nprogress/) were enough to create a smooth user experience

[2015-12-31 16:28] GianlucaGuarini commented on #1480
I have also created a [webpack template](https://github.com/GianlucaGuarini/riot-webpack-babel-template) testing the import and everything works fine. I will close this issue

[2015-12-31 16:28] #1480 closed

[2015-12-31 20:17] thomfoolery commented on #1076
+1
Any progress on this?
Would really love to run my riot.js powered packaged app outside of the severely disabled sandbox mode.

[2016-01-02 08:07] tipiirai commented on #1490
Sure I agree. I don't see performance issues on Riot and so far all the issues have been solved. Riot is based on tags that can be nested and looped indefinitely. Not sure what incremental-dom would bring to the table or whether it could solve our problems. And there are no indicators whether it is faster.

[2016-01-02 21:53] midnightSuyama opened #1495 "Warning of input tag value"
For example

[code]

and, browser warning

This warning has occurred by innerHTML assign.
Do you have any good idea for remove warning?

[2016-01-03 04:30] aMarCruz commented on #1495
@midnightSuyama I will fix this issue soon.
The fix is in https://github.com/riot/compiler/blob/dev/dist/compiler.js#L370-L371

[2016-01-03 15:51] midnightSuyama commented on #1495
@aMarCruz  I get the point, Thanks!

[2016-01-03 18:07] lmicra commented on #1458
Perhaps I can explain. <yield to=""> is expected as immediate children of the tag. Think of this as passing html to your tag options. And using your tag to place the html in the correct slots. The example shown on the first post is actually switched. Your tag definition is responsible for the presentation. When you insert your tag in the html it should be used as a component with options (some of

[2016-01-04 20:33] jpodwys opened #1496 "Feature: async server-side rendering"
I'm really enjoying riot's ability to render on the server. It would help isomorphic applications to stay DRY if  `riot.render` was capable of executing async calls located within a tag's `<script>` block before returning.

Here's my use case.

When mounting on the client, I can make an async service call from within a tag's `<script>` and then call `this.update();` as follows:

[code]

This is gr

[2016-01-04 20:35] GianlucaGuarini commented on #1490
I am closing this issue I think this discussion will bring us nowhere @andyrj thanks for your input anyway

[2016-01-04 20:35] #1490 closed

[2016-01-04 23:36] jpodwys commented on #1496
Here's my stab at it. With limited testing, it's working great with my project. #1497

[2016-01-04 23:46] gdub22 commented on #1496
@jpodwys I have done something similar to get this working.

One problem I encountered is that this only accounts for a single tag.  I think we'll have to account for async rendering in nested tags too, which makes it more complicated.

[2016-01-05 00:14] jpodwys commented on #1496
@gdub22 Hmmm that's a good point. Another idea I had thought of is to add an array to each tag's `opts` object, perhaps calling it `opts.promises`. If it was there, then we could kick off some promises and push them into `opts.promises`. Maybe as the `createTag` function runs, it can`.concat` all nested `opts.promises` occurrences and then do a `promise.all(aggregatedOptsDotPromises).then(function

[2016-01-05 01:14] gdub22 commented on #1496
@jpodwys That sounds like a good general approach.  A possible issue I see is that all of the promises can't always run in parallel. The async result of one tag may need to be passed to a child.  Also, deciding whether or not to go all-in with promises, or implement it using callbacks.

[2016-01-05 03:33] jpodwys commented on #1496
Here's a possible solution that bypasses the promise vs. callback discussion:

Whenever `riot.renderAsync` is called, two local variables are set.

[code]
In every custom tag where I want to execute some async logic, I must also set `opts.renderAsync = true;`. Then, as `createTag` is running, when it encounters a tag with `opts.renderAsync`, it emits an event `incrementAsyncPending` which will, of

[2016-01-05 10:40] eliot-akira commented on #1322
Just wanted to mention something I found related to the topic of child/parent event inheritance (on the to-do list no. 2) and #1205 (extending child tag scope). I saw that @cognitom has a [mixin which child tags can use to access parent tag's methods](https://github.com/cognitom/riot-bootstrap/blob/master/mixins/parent-scope.js) with a shorter syntax (without parent, parent.parent..), unless that

[2016-01-06 02:33] #1495 closed

[2016-01-06 02:36] cognitom commented on #1495
@aMarCruz cool!

[2016-01-06 03:07] mnichols opened #1498 "Pre-processor documentation omission"
The docs [here](http://riotjs.com/guide/#pre-processor) do not include `babel` as an option for 'type'. That had me banging my head for babel 6 until i saw the link to the small example that has it listed.

[2016-01-06 07:20] GianlucaGuarini commented on #1498
I am sorry if you didn't find the doc about `babel 6` but we have tried our best [here](http://riotjs.com/guide/compiler/#babel-6) If you think we can improve our doc you can contribute sending a pull request [here](https://github.com/riot/riot.github.io) I am closing this bug, you can reopen it eventually [here](https://github.com/riot/riot.github.io/issues)

[2016-01-06 07:20] #1498 closed

[2016-01-06 07:24] GianlucaGuarini commented on #1496
@jpodwys I think you should handle your logic outside your tags, you can check how I render my tags [here](https://github.com/GianlucaGuarini/riot-app-example) I would like to avoid adding new riot methods that can be easily handled from the outside

[2016-01-06 07:26] GianlucaGuarini commented on #1496
Being more specific [async on the server](https://github.com/GianlucaGuarini/riot-app-example/blob/master/server/index.js#L50-L59) | [async on the client](https://github.com/GianlucaGuarini/riot-app-example/blob/master/client/assets/js/src/index.js#L33-L38)

[2016-01-06 08:08] jpodwys commented on #1496
@GianlucaGuarini That's how I'm currently doing it from the server.

Leaving the data retrieval logic outside the tag requires that, as in the demo you linked, every service call be duplicated on the server and client rather than simply existing as part of the tag they exist to serve. Riot's home page boasts isomorphic support--seems incomplete if it requires this kind of code duplication to get i

[2016-01-06 09:01] GianlucaGuarini commented on #1496
@jpodwys I can imagine that if each tag contains the async logic to render itself probably it's easier that instead of using simply one way to retrieve your data you will end having a lot more code duplication and your app will lose consistency across your tags. I would like to hear some other opinion about this topic. Anyway I think riot may support async rendering as well somehow I will check wh

[2016-01-06 09:20] jpodwys commented on #1496
Thank you for your quick responses! Another potential use case is for data retrieval with nested custom tags. Because of how riot works with rendering nested tags (meaning you have to pass data into the top-level tag and let it emit or propagate down to the children custom tags), allowing each tag to execute its own service calls bypasses the need to pass all data to the top-level tag. I feel like

[2016-01-06 12:39] gdub22 commented on #1496
@jpodwys I've been working on a solution here: https://github.com/gdub22/riot-render-async

It doesn't require any api additions to riot core. Right now it only does single tag rendering.  Nested tags have been difficult because of the pattern you mentioned of passing data in via the top-level tag.  But the repo is a good starting point to hack on, with tests.

[2016-01-06 22:05] jpodwys commented on #1496
@gdub22 great work! I've been working hard on my implementation and I'm still having trouble. After working through a couple of algorithms, I think it would be easiest if each tag wraps all logic in a promise and then every tag with children does a promise.all with it's own promise and all of its children's promises. That way, the top-level tag can just promise.all and know everything's done when

[2016-01-07 03:22] jpodwys commented on #1485
I use browserify so I don't care how you separate them, but I'm excited for this!

[2016-01-07 03:43] For-Eleven opened #1500 "problem with tag instance clone"
I've got an issue when i dynamic clone a tag witch include the <yield /> . the yield html repeatedly appears twice.

<app>

    <btn>Add</btn>

    <div>clone the btn</div>
    <div id="div"></div>

      var self= this;
      this.on('update', function(){
        console.log(self.tags.btn);
        var btn = self.tags.btn;
        var btn_root = btn.root;
         var clone = btn_root.cloneNode(t

[2016-01-07 03:43] cognitom commented on #1485
Thanks for your feedbacks, guys!
@aMarCruz ok, let's go with **B**.

#### TODO:
- [ ] make a copy of [this file](https://github.com/riot/route/blob/master/dist/riot.route.js) into the root directory of `riot/riot`
- [ ] remove the tests for `riot/route` from `riot/riot`
- [ ] update the documents

[2016-01-07 03:51] For-Eleven commented on #1500
I am building a datatable component , code like:
[code]
the column tag's inner tag need to be cloned and mount a new instance.

[2016-01-07 03:57] For-Eleven commented on #1500
![image](https://cloud.githubusercontent.com/assets/4785594/12161825/82b2bef8-b535-11e5-8668-5566523e2a5c.png)
The SwitchBtn tag is ok, it has no yield. and the btn repeatedly appears twice.
who knows the right way clone a tag? help~

[2016-01-07 04:05] jpodwys commented on #1496
This text from the [riot API page](http://riotjs.com/guide/#nested-tags) just caused me to wonder if server-side async rendering would end up being bad for performance:

Sounds like tag rendering is serial. Does this mean that, if we get async rendering working, it would cause service calls contained within nested tags to happen in serial? If so, there's no way this will work from a performance st

[2016-01-07 07:09] mikkame commented on #1150
I also encountered the same problem.
It was resolved by this in my case

[code]

"\n" to "\\\\n"

[2016-01-07 10:52] ryan-codingintrigue commented on #1194
For version **2.3.12**, I had to modify @GianlucaGuarini's loadTag method slightly:

[code]

Not sure if there's a better way to do this by now though? Can't see anything in the docs

[2016-01-08 04:23] silveryiris opened #1501 "How do the tag script access other elements inside the other tag ?"
I have  a `side.tag` and `top.tag` , they both mount on `main.js` .

 `top.tag`
[code]

`side.tag`
[code]

`main.js`
[code]

When the `displayLargeView` event triggers , How can I access the elements on `top.tag`?

[2016-01-08 07:14] GianlucaGuarini commented on #1501
You can use the a global riot.observer, for example:
`side.tag`
[code]
`top.tag`
[code]
`main.js`
[code]

[2016-01-08 10:28] jpodwys commented on #1496
OK, I've simply made my services and middleware functions isomorphic so I can now load data in middleware before rendering my tags regardless of environment. I'll leave this open a bit longer in case anyone else wants to comment on whether they think it's important.